<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<%include _head%>
</head>
<body>


<div id="wrapper">

    <%include _login_bar%>

    <%Include _top%>

    <%include _search%>

	<div id="idx_cnt2">
		<div id="left">


			<div class="area1 jobarea">
				<div class="hd">
					<div class="tit">
						<span class="fright"><a href="" class="black">更多&raquo;</a></span>
						<a href="" class="h2_hr1"><h2>推荐展会</h2></a>
					</div>
				</div>
				<div class="cnt">

					<div id="hr_best">
						<ul>
							<li><a href="#"><img src="{config.WebURL}templates/{config.TemplatePath}/images/temp/pic_hr_compy1.jpg" width="320" height="60" alt="" /></a></li>
							<li><a href="#"><img src="{config.WebURL}templates/{config.TemplatePath}/images/temp/pic_hr_compy2.jpg" width="320" height="60" alt="" /></a></li>
							<li><a href="#"><img src="{config.WebURL}templates/{config.TemplatePath}/images/temp/pic_hr_compy3.jpg" width="320" height="60" alt="" /></a></li>
							<li><a href="#"><img src="{config.WebURL}templates/{config.TemplatePath}/images/temp/pic_hr_compy6.jpg" width="320" height="60" alt="" /></a></li>
							<div class="clr"></div>
						</ul>
						<div class="clr"></div>
					</div>
					<div class="clr"></div>

					<div id="best_exhi">
						<ul>
							<li>
								<div class="lt"><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/temp_pic_24.gif" width="108" height="58" alt="" /></a></div>
								<div class="rt">
									<h3><a href="" class="black">第二届中国青岛国际厨具、餐具展览会</a></h3>
									<p><a href="">餐具展览会于2009年6月7日在青岛国际会展中心圆满胜利闭幕。</a></p>
								</div>
								<div class="clr"></div>
							</li>
							<li>
								<div class="lt"><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/temp_pic_23.gif" width="108" height="58" alt="" /></a></div>
								<div class="rt">
									<h3><a href="" class="black">第二届国际中国玻璃展销博览会</a></h3>
									<p><a href="">第二届国际中国玻璃展销博览会第二届国际中国玻璃展销博览会</a></p>
								</div>
								<div class="clr"></div>
							</li>
							<div class="clr"></div>
						</ul>
					</div>


				</div>
			</div>

			<div class="spacer" style="height:8px;"></div>

			<div class="area1 jobarea" >
				<div class="hd">
					<div class="tit">
						<span class="fright"><a href="" class="black">更多&raquo;</a></span>
						<a href="" class="h2_hr2"><h2>国内展会</h2></a>
					</div>
				</div>
				<div class="cnt">
					<div class="joblist1">
					    <ul>
						    {XY_JobIndex_ZhaoPinXinXi16}
						</ul>
					</div>
				</div>
			</div>

			<div class="spacer" style="height:8px;"></div>

			<div class="area1 jobarea">
				<div class="hd">
					<div class="tit">
						<span class="fright"><a href="" class="black">更多&raquo;</a></span>
						<a href="" class="h2_hr3"><h2>国际展会</h2></a>
					</div>
				</div>
				<div class="cnt">

					<div class="joblist1">
						<ul>
						    {XY_JobIndex_QiuZhiXinXi16}
						</ul>
					</div>
				</div>
			</div>

		</div>
		<div id="right">
            
                     
			<div class="MTitle_01">
				<h2 id="h201" class=""><a target="_blank" href="#"><strong>职位搜索</strong></a></h2>
			</div>
			<div id="con01" class="Mblk_01">
			    
				<div class="expo_sch">
				<table>
				    <tr>
					    <td>职位类型：</td>
					    <td>
					    <span id="classType"></span>
					    <input id="typeid" runat="server" type="hidden" value="" />
                        <script type="text/javascript">
                        var claPost = new ClassType("claPost",'job','classType','typeid');
                        claPost.Mode ="select";
                        claPost.Init();
                        </script>
                        </td>
			        </tr>
			    <tr>
					<td>发布日期:</td>
					<td>
					    <select id="date">
                        <option value="">所有时间</option>
                        <option value="1">1天内</option>
                        <option value="3">3天内</option>
                        <option value="7">7天内</option>
                        <option value="15">15天内</option>
                        <option value="30">30天内</option>
                        </select>
                    </td>
				</tr>
				<tr>
					<td>地　点：</td>
					<td><span id="areadiv"></span>
					<input type ="hidden" id="areaid"  name="areaid" />
                    <script type="text/javascript">
                    var claArea = new ClassType("claArea",'area','areadiv','areaid',1);
                    claArea.Mode ="select";
                    claArea.Init();
                    </script>
                    </td>
                </tr>
                <tr>
                    <td>招聘类型:</td>
                    <td>
                    <input type="radio" name="jobtype" value="" checked/>全部<input type="radio" name="jobtype" value="1"/>全职<input type="radio" name="jobtype" value="0" />兼职
                    </td>
                </tr>
                <tr>
					<td>关键字：</td>
					 <td><input type="text" class="inp" id="txtkeyword" /></td>
	
				</tr>
				<tr>
					<td colspan="2">　　　　
					    <img  onclick="JobListSearch();" src="{config.WebURL}templates/{config.TemplatePath}/images/btn_expo_sch.gif" />
					</td>
				</tr>
				</table>
				</div>
				
			</div>
			
			
			<div class="MTitle_01">
				<h2 id="h201" class=""><a target="_blank" href="#"><strong>人才搜索</strong></a></h2>
			</div>
			<div id="con01" class="Mblk_01">
				<div class="expo_sch">
				<table>
				    <tr>
					        <td>职位关键字:</td>
					        <td><input type="text" id="jobkeyword" onblur="isnonull();"/></td>
					</tr>
					<tr>
						    <td>毕业学校:</td>
						    <td><input type="text" id="schoolname"  onblur="isnonull();"/></td>					    
					</tr>
					<tr>
					    <td>期望城市:</td>
					    <td><span id="Span2"></span>
					    <input type ="hidden" id="hopecityid"  name="hopecityid" />
                        <script type="text/javascript">
                        var claArea1 = new ClassType("claArea1",'area','Span2','hopecityid',1);
                        claArea1.Mode = "select";
                        claArea1.Init();
                        </script>
                        </td>
                    </tr>
                    <tr>
					    <td>教育程度:</td>
					     <td>
					     <select id="Schoolage">
	                     <option value="1" selected>不限</option>
	                     <option value="初中">初中</option>
                         <option value="中专">中专</option>
                         <option value="高中">高中</option>
                         <option value="大专">大专</option>
                         <option value="本科" >本科</option>
                         <option value="硕士">硕士</option>
                         <option value="博士">博士</option>
                         <option value="更高">更高</option>
	                     </select>
	                     </td>
					</tr>
					<tr>
					    <td>工作年限:</td>
					    <td>
					        <select id="JobYear">
	                        <option value="1" Selected>不限</option>
	                        <option value="在读学生">在读学生</option>
                            <option value="应届毕业生">应届毕业生</option>
                            <option value="一年以上" >一年以上</option>
                            <option value="二年以上">二年以上</option>
                            <option value="三年以上">三年以上</option>
                            <option value="五年以上">五年以上</option>
                            <option value="八年以上">八年以上</option>
                            <option value="十年以上">十年以上</option>
	                        </select>
	                    </td>
					</tr>
					<tr>
						<td>薪水要求:</td>
						<td><input type="text" name="Intentpay1" maxlength="6" size="6"/>~<input type="text" name="Intentpay2" maxlength="6" size="6"/></td>
					</tr>
					<tr>
					    <td colspan=2>　　
					        <img  onclick="ResumeListSearch();" src="{config.WebURL}templates/{config.TemplatePath}/images/btn_expo_sch.gif" />
					    </td>
				    </tr>
				</table>
				</div>
				
			</div>
			
			<div id="hr_btns">
				<a href="/user"><img src="{config.WebURL}templates/{config.TemplatePath}/images/btn_hr_1.gif" width="125" height="37" alt="" /></a> &nbsp; <a href="/person"><img src="{config.WebURL}templates/{config.TemplatePath}/images/btn_hr_2.gif" width="125" height="37" alt="" /></a>
			</div>

			<div class="MTitle_01" style="margin-top:6px;">
				<h2 id="h201" class=""><a target="_blank" href="#"><strong>优秀人才</strong></a></h2>
			</div>
			<div class="Mblk_01">
				<div id="hr_best_p">
					<ul class="ci">
						{XY_JobIndex_YouXiuRenCai2}
					</ul>
				</div>

			</div>

			<div class="MTitle_01">
				<h2 id="h201" class=""><a target="_blank" href="#"><strong>展会动态</strong></a></h2>
			</div>
			<div id="con01" class="Mblk_01">
				<div class="com_pages">
					<ul>
						<li><a target="_blank" href="#">头条：阿泰去湖人是谣言！</a></li>
						<li><a target="_blank" href="#">亡羊补牢未为晚矣 四方为姚明伤停买单</a></li>
						<li><a target="_blank" href="#">姚明值不值1.33亿的顶薪合同？</a></li>
						<li><a target="_blank" href="#">分析“姚时代”后的男篮 郭家军令人担忧</a></li>
						<li><a target="_blank" href="#">给中国男篮的4点建议 切忌进攻太急</a></li>
					</ul>
				</div>
			</div>

			<div class="MTitle_01">
				<h2 id="h201" class=""><a target="_blank" href="#"><strong>展会技巧</strong></a></h2>
			</div>
			<div id="con01" class="Mblk_01">
				<div class="com_pages">
					<ul>
						<li><a target="_blank" href="#">头条：阿泰去湖人是谣言！</a></li>
						<li><a target="_blank" href="#">亡羊补牢未为晚矣 四方为姚明伤停买单</a></li>
						<li><a target="_blank" href="#">姚明值不值1.33亿的顶薪合同？</a></li>
						<li><a target="_blank" href="#">分析“姚时代”后的男篮 郭家军令人担忧</a></li>
						<li><a target="_blank" href="#">给中国男篮的4点建议 切忌进攻太急</a></li>
					</ul>
				</div>
			</div>

		</div>
		<div class="clr" style="height:10px;"></div>
	</div>

	<div class="hy_brand clr">
		<div class="tit">行业推荐品牌</div>
		<div class="brand_pic">
			<ul>
				{XY_Index_HangYePinPai}
				<div class="clr"></div>
			</ul>
			<div class="clr"></div>
		</div>

	</div>
    
    <%include _footer%>

</div>

</body>
</html>