<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<%include _head%>
</head>
<body onload="{pageinfo.OnLoadEvents}">

<div id="wrapper">

    <%include _login_bar%>

    <%Include _top%>

    <%include _search%>

	<div id="idx_cnt2">
		<div id="left">

			<div class="area1">
				<div class="hd">
					<div class="tit">
						<span class="fright"></span>
						<a href="" class="h2_hr2"><h2>国内展会</h2></a>
					</div>
				</div>
				<table class="jobList">
				    <tr>
				        <th width="25%">职位名称</th>
				        <th width="40%">招聘企业</th>
				        <th width="10%">性质</th>
				        <th width="10%">人数</th>
				        <th width="15%">结束日期</th>
				    </tr>
				    {XY_JobList}
					<tr>
				        <td colspan="5" align="center">{pageinfo.PreviousPage}{pageinfo.NumPage}{pageinfo.NextPage} </td>
				    </tr>
				</table>
			</div>


		</div>
		<div id="right">
            
                     
			<div class="MTitle_01">
				<h2 id="h201" class=""><a target="_blank" href="#"><strong>职位搜索</strong></a></h2>
			</div>
			<div id="con01" class="Mblk_01">
			    
				<div class="expo_sch">
				<table>
				    <tr>
					    <td>职位类型：</td>
					    <td>
					    <span id="classType"></span>
					    <input id="typeid" runat="server" type="hidden" value="" />
                        <script type="text/javascript">
                        var claPost = new ClassType("claPost",'job','classType','typeid',1);
                        claPost.Mode ="select";
                        //claPost.Init();
                        </script>
                        </td>
			        </tr>
			    <tr>
					<td>发布日期:</td>
					<td>
					    <select id="date">
                        <option value="">所有时间</option>
                        <option value="1">1天内</option>
                        <option value="3">3天内</option>
                        <option value="7">7天内</option>
                        <option value="15">15天内</option>
                        <option value="30">30天内</option>
                        </select>
                    </td>
				</tr>
				<tr>
					<td>地　点：</td>
					<td><span id="areadiv"></span>
					<input type ="hidden" id="areaid"  name="areaid" />
                    <script type="text/javascript">
                    var claArea = new ClassType("claArea",'area','areadiv','areaid',1);
                    claArea.Mode ="select";
                    //claArea.Init();
                    </script>
                    </td>
                </tr>
                <tr>
                    <td>招聘类型:</td>
                    <td>
                    <input type="radio" name="jobtype" value="" checked/>全部<input type="radio" name="jobtype" value="1"/>全职<input type="radio" name="jobtype" value="0" />兼职
                    </td>
                </tr>
                <tr>
					<td>关键字：</td>
					 <td><input type="text" class="inp" id="txtkeyword" /></td>
	
				</tr>
				<tr>
					<td colspan=2>　　　　
					    <img  onclick="JobListSearch();" src="{config.WebURL}templates/{config.TemplatePath}/images/btn_expo_sch.gif" />
					</td>
				</tr>
				</table>
				</div>
				
			</div>
			
			
			<div id="hr_btns">
				<a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/btn_hr_1.gif" width="125" height="37" alt="" /></a> &nbsp; <a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/btn_hr_2.gif" width="125" height="37" alt="" /></a>
			</div>

			<div class="MTitle_01" style="margin-top:6px;">
				<h2 id="h2_2" class=""><a target="_blank" href="#"><strong>优秀人才</strong></a></h2>
			</div>
			<div class="Mblk_01">
				<div id="hr_best_p">
					<ul class="ci">
						{XY_JobIndex_YouXiuRenCai2}
					</ul>
				</div>

			</div>


		</div>
		<div class="clr" style="height:10px;"></div>
	</div>

    
    <%include _footer%>

</div>

</body>
</html>