@charset "utf-8";
/* CSS Document */

div, ul, li, h3,p{ margin: 0px; padding: 0px; list-style: none; }
img{border:0 none;} 
.box { width: 1000px; margin:0 auto; clear:both;}
/* 
 ------------------------------
 CSS Common
 ------------------------------
 */


/* clearfixmenu */
.clearfixmenu:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfixmenu {
	display: inline-block;
}
html[xmlns] .clearfixmenu {
	display: block;
}
* html .clearfixmenu {
	height: 1%;
}
/* 
 ------------------------------
 nav-menu 
 ------------------------------
 */
 
/*主导航菜单*/
#nav-menu {
	height: 35px;	
	background-image: url(../images/menubg1.gif);
	background-repeat: no-repeat;
}
#nav-menucon {
	height: 36px;
	background-image: url(../images/menubg1.gif);
	background-repeat: no-repeat;
	background-position: 0px -37px;
}
#nav-menucon .con{
	height: 36px;
	line-height: 36px;
	text-align: right;
	padding-right: 20px;
}
#nav-menu .container {position: relative;overflow: visible; z-index: 99;}

#nav-menu .menu {padding: 0 0 0 14px;}
#nav-menu .menu li {
	position: relative;
	float: left;
	padding: 0 8px 0 5px;
	display: inline;
	font-size: 14px;
	background-position: right -622px;
}
#nav-menu .menu li h3 {font-weight: normal; display: inline-block; float: left;}
#nav-menu .menu li a.xialaguang {margin-top: 5px; display: inline-block; color: #FFF;text-decoration: none; font-size:14px;}
#nav-menu .menu li a.selected,
#nav-menu .menu li a.navhover,
#nav-menu .menu li a.xialaguang:hover {color: #911531; 
    background-image: url(../images/menubg1.gif);
	background-repeat: no-repeat;
	background-position: left -83px;
}
#nav-menu .menu li a.navhover, #nav-menu .menu li a.xialaguang:hover {background-color: #FFF;}
#nav-menu .menu li a.xialaguang span {height: 30px; line-height: 25px; margin: 0 0 0 16px; padding: 0 16px 0 0; display: inline-block;font-weight:bold;}
#nav-menu .menu li a.selected span,
#nav-menu .menu li a.navhover span,
#nav-menu .menu li a.xialaguang:hover span {
	cursor: pointer;
	background-image: url(../images/menubg1.gif);
	background-repeat: no-repeat;
	background-position: right -83px;
}
#nav-menu .menu li a.navhover span, #nav-menu .menu li a.xialaguang:hover span {background-color: #FFF}

#nav-menu .menu li.overlay {
	position: relative;
	left: -4px;
	width: 8px;
	height: 28px;
	padding: 0;
	margin: 0;
	background-image: url(../images/menubg1.gif);
	background-position: center top;
}

#nav-menu .menu ul.children {
	display: none;
	position: absolute;
	top: 35px;
	left: 3px;
	width: 225px;
	padding: 5px 0 0 0;
	background: #FFF;
	border: 2px solid #d92640;
	border-top: 0;
	line-height: normal;
}
#nav-menu .menu ul.sleft {
	left: auto;
	right: 6px; _right: 5px;
}
#nav-menu .menu ul.children li.noborder {border: none;}
#nav-menu .menu ul.children li {
	float: left;
	width: 110px;
	padding: 1px;
	display: inline-block;
	background-image: none;
	border-right: 1px solid #FFCFCF;
	font-size: 12px;
}
#nav-menu .menu ul.children li h3 {display: block; width: 100%;}
#nav-menu .menu ul.children li a {
	width: 100%;
	height: 16px;
	line-height: 17px;
	overflow: hidden;
	padding: 3px 0;
	display: block;
	color: #911531;
	text-indent: 20px;
	background-position: 8px -658px;text-decoration: none; font-size:12px;
}
#nav-menu .menu ul.children li a:hover {background-color: #FFE1E1;text-decoration: none;}

#nav-menu .menu ul.children li.count {clear: both;}
#nav-menu .menu ul.children li.count div {width: 223px; margin: 5px 0 0; padding: 3px 0; background-color: #FFE1E1; color: #911531; text-indent: 8px;}

.stmenu {
	background-image: url(../images/stmenu.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
