    
    <title> xyecom 3.0 首页 </title>
	<meta name="description" content="xyecom" />
	<meta name="keywords" content="xyecom" />
	<meta name="robots" content="all"  />
	<meta http-equiv="Content-Type" content="text/html; charset=gb2312"" />
	<link rel="stylesheet" href="{config.WebURL}common/css/XYLib.css" type="text/css" media="screen" />
	<link href="{config.WebURL}templates/{config.TemplatePath}/css/global.css" rel="stylesheet" type="text/css" />
	<link href="{config.WebURL}templates/{config.TemplatePath}/css/index.css" rel="stylesheet" type="text/css" />
	<link href="{config.WebURL}templates/{config.TemplatePath}/css/channel.css" rel="stylesheet" type="text/css" />
	


    <script type="text/javascript" src="{config.WebURL}common/js/base.js" language="javascript"></script>	
	<script type="text/javascript" src="{config.WebURL}templates/{config.TemplatePath}/js/login.js" language="javascript"></script>
    <script type="text/javascript" src="{config.WebURL}templates/{config.TemplatePath}/js/validate.js" language="javascript"></script>