<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	
	<%include _head%>
	
</head>
<body>

<div id="wrapper">

     <%Include _login_bar%>

	 <%Include _top%>
	 
	 <%Include _search%>

	<div id="best_cmpy">
		<ul>
			<li><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/temp_pic_1.jpg" width="191" height="62" alt="" /></a></li>
			<li><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/temp_pic_2.jpg" width="191" height="62" alt="" /></a></li>
			<li><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/temp_pic_3.jpg" width="191" height="62" alt="" /></a></li>
			<li><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/temp_pic_4.jpg" width="191" height="62" alt="" /></a></li>
			<li><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/temp_pic_3.jpg" width="191" height="62" alt="" /></a></li>
			<li><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/temp_pic_4.jpg" width="191" height="62" alt="" /></a></li>
			<li><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/temp_pic_1.jpg" width="191" height="62" alt="" /></a></li>
			<li><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/temp_pic_2.jpg" width="191" height="62" alt="" /></a></li>
			<li><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/temp_pic_1.jpg" width="191" height="62" alt="" /></a></li>
			<li><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/temp_pic_2.jpg" width="191" height="62" alt="" /></a></li>
		</ul>
	</div>

	<div id="idx_cnt2">
		<div id="left">

			<div class="spacer" style="height:8px;"></div>

			<div class="area1 jobarea">
				<div class="hd">
					<div class="tit">
						<span class="fright"><a href="" class="black">更多&raquo;</a></span>
						<a href="" class="h2_exhi1"><h2>推荐展会</h2></a>
					</div>
				</div>
				<div class="cnt">

					<div id="best_exhi">
						<ul>
							{XY_ShowIndex_TuijianZhanHui}
						</ul>
					</div>

					<div class="exhi_page">
						<div class="exhi_list">
							<ul class="bd">
								<li class="l1 bold">展会标题</li>
								<li class="l2 bold">开展时间</li>
								<li class="l3 bold">地点</li>
							</ul>

							<ul>
								{XY_ShowIndex_TuijianZhanHui01}
							</ul>

							
						</div>
					</div>

				</div>
			</div>

			<div class="spacer" style="height:8px;"></div>

			<div class="area1 jobarea">
				<div class="hd">
					<div class="tit">
						<span class="fright"><a href="" class="black">更多&raquo;</a></span>
						<a href="" class="h2_exhi2"><h2>国内展会</h2></a>
					</div>
				</div>
				<div class="cnt">

					<div class="exhi_page">
						<div class="exhi_list">
							<ul class="bd">
								<li class="l1 bold">展会标题</li>
								<li class="l2 bold">开展时间</li>
								<li class="l3 bold">地点</li>
							</ul>

							<ul>
								{XY_ShowIndex_GuoNeiZhanHui}
							</ul>
						</div>
					</div>

				</div>
			</div>

			<div class="spacer" style="height:8px;"></div>

			<div class="area1 jobarea">
				<div class="hd">
					<div class="tit">
						<span class="fright"><a href="" class="black">更多&raquo;</a></span>
						<a href="" class="h2_exhi3"><h2>国际展会</h2></a>
					</div>
				</div>
				<div class="cnt">

					<div class="exhi_page">
						<div class="exhi_list">
							<ul class="bd">
								<li class="l1 bold">展会标题</li>
								<li class="l2 bold">开展时间</li>
								<li class="l3 bold">地点</li>
							</ul>

							<ul>
								{XY_ShowIndex_GuoWaiZhanHui}
							</ul>
						</div>
					</div>

				</div>
			</div>

		</div>
		<div id="right">
            <!--
			<div class="MTitle_01" style="margin-top:6px;">
				<h2 id="h201" class=""><a target="_blank" href="#"><strong>展会搜索</strong></a></h2>
			</div>
			<div id="con01" class="Mblk_01">
				<div class="expo_sch">
				    <div class="i">
						展会类别：
						<select id="Select1">
							<option value="" selected="selected">国内会展</option>
							<option value="">国外会展</option>
						</select>
					</div>
					<div class="i">
						区域类别：
						<select id="">
							<option value="" selected="selected">国内会展</option>
							<option value="">国歪会展</option>
						</select>
					</div>
					<div class="i">关键字：<input type="text" class="inp" id="" /></div>
					<div class="i">　　　　<img src="{config.WebURL}templates/{config.TemplatePath}/images/btn_expo_sch.gif" /></div>
				</div>
			</div>
-->
			<div class="MTitle_01" style="margin-top:6px;">
				<h2 id="h201" class=""><a target="_blank" href="#"><strong>会展服务</strong></a></h2>
			</div>
			<div id="exhi_service" class="Mblk_01">
				<ul>
					<li><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/pic_exhi_s_1.gif" width="66" height="56" alt="" /></a><div>展台设计</div></li>
					<li><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/pic_exhi_s_2.gif" width="66" height="56" alt="" /></a><div>展台设计</div></li>
					<li><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/pic_exhi_s_3.gif" width="66" height="56" alt="" /></a><div>展台设计</div></li>
					<li><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/pic_exhi_s_4.gif" width="66" height="56" alt="" /></a><div>展台设计</div></li>
					<li><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/pic_exhi_s_5.gif" width="66" height="56" alt="" /></a><div>展台设计</div></li>
					<li><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/pic_exhi_s_6.gif" width="66" height="56" alt="" /></a><div>展台设计</div></li>
					<li><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/pic_exhi_s_7.gif" width="66" height="56" alt="" /></a><div>展台设计</div></li>
					<li><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/pic_exhi_s_8.gif" width="66" height="56" alt="" /></a><div>展台设计</div></li>
					<li><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/pic_exhi_s_9.gif" width="66" height="56" alt="" /></a><div>展台设计</div></li>
				</ul>
				<div class="clr"></div>
			</div>

			<div class="news_exhi">
				<ul>
					<li><a href="#" ><img src="{config.WebURL}templates/{config.TemplatePath}/images/temp_meeting_1.gif" alt='展会合作'></a></li>
					<li><a href="#" ><img src="{config.WebURL}templates/{config.TemplatePath}/images/temp_meeting_2.gif" alt='展会合作'></a></li>
					<li><a href="#" ><img src="{config.WebURL}templates/{config.TemplatePath}/images/temp_meeting_3.gif" alt='展会合作'></a></li>
				</ul>

			</div>

			<div class="MTitle_01">
				<h2 id="h201" class=""><a target="_blank" href="#" class="big"><strong>展会动态</strong></a></h2>
			</div>
			<div id="con01" class="Mblk_01">
				<div class="com_pages">
					<ul>
						{XY_ShowIndex_News}
					</ul>
				</div>
			</div>

			<div class="MTitle_01">
				<h2 id="h201" class=""><a target="_blank" href="#" class="big"><strong>展会技巧</strong></a></h2>
			</div>
			<div id="con01" class="Mblk_01">
				<div class="com_pages">
					<ul>
						<li><a target="_blank" href="#">多国暴发甲型H1N1流感</a></li>
						<li><a target="_blank" href="#">胡锦涛出席上合峰会</a></li>
						<li><a target="_blank" href="#">伊朗大选引发政局动荡</a></li>
						<li><a target="_blank" href="#">成都公交车发生燃烧</a></li>
						<li><a target="_blank" href="#">法航空客A330客机坠毁</a></li>
						<li><a target="_blank" href="#">成都公交车发生燃烧</a></li>
						<li><a target="_blank" href="#">法航空客A330客机坠毁</a></li>
					</ul>
				</div>
			</div>

		</div>
		<div class="clr" style="height:10px;"></div>
	</div>

	<div class="hy_brand clr">
		<div class="tit">行业推荐品牌</div>
		<div class="brand_pic">
			<ul>

				{XY_Index_HangYePinPai}s
				<div class="clr"></div>

			</ul>
			<div class="clr"></div>
		</div>

	</div>
    
    <%include _footer%>
    
</div>

</body>
</html>