<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	
	<%include _head%>
	
</head>
<body>


<div id="wrapper">

     <%Include _login_bar%>

	 <%Include _top%>
	 
	 <%Include _search%>

	<div id="news_bread" style="width:100%;border:0;margin-top:6px;">
		<em>您现在的位置：{pageinfo.Navigation}</em>
	</div>

	<div id="idx_cnt2">
		<div id="left">
			<div class="exhi_pages">
				<h1>{showinfo.Infotitle}</h1>
				<div class="cate"><h2>展会基本信息</h2></div>
				<div class="main">
					<table width="540" border="0" cellpadding="0" cellspacing="1" bgcolor="#c6c6c6" style="padding:4px;">
					<tr>
					<td width="16%" bgcolor="#f5f5f5">展会时间：</td>
					<td width="35%" bgcolor="#f5f5f5"> {showinfo.BeginTime}至{showinfo.EndTime} </td>
					<td width="16%" bgcolor="#f5f5f5">展会地点：</td>
					<td width="33%" bgcolor="#f5f5f5">{showinfo.District} </td>

					</tr>
					<tr>
					<td bgcolor="#f5f5f5">主办单位：</td>
					<td bgcolor="#f5f5f5">{showinfo.Sponsor}</td>
					<td bgcolor="#f5f5f5">承办单位：</td>
					<td bgcolor="#f5f5f5">{showinfo.Undertake}</td>
					</tr>
					<tr>

					<td bgcolor="#f5f5f5">展会类型：</td>
					<td bgcolor="#f5f5f5">{showinfo.Type}</td>
					<td bgcolor="#f5f5f5">展会网址：</td>
					<td bgcolor="#f5f5f5">{showinfo.URL}</td>
					</tr>
					</table><br /><FONT face=Verdana>{showinfo.Infotitle}<p>一、展会时间：{showinfo.BeginTime}至{showinfo.EndTime} <p>二、展会地点：{showinfo.District}
				</div>

				<div class="cate"><h2>展会简介</h2></div>
				<div class="main">
                    <p>{showinfo.Contents}</p>
					
					
				</div>


				<div class="clr"></div>
			</div>

		</div>
		<div id="right">

            <!--
			<div class="MTitle_01" style="margin-top:6px;">
				<h2 id="h201" class=""><a target="_blank" href="#"><strong>展会搜索</strong></a></h2>
			</div>
			<div id="con01" class="Mblk_01">
				<div class="expo_sch">
					<div class="i">
						类　别：
						<select id="">
							<option value="" selected="selected">国内会展</option>
							<option value="">国歪会展</option>
						</select>
					</div>
					<div class="i">
						时　间：
						<select id="">
							<option value="" selected="selected">年份</option>
						</select>
						<select id="">
							<option value="" selected="selected">月份</option>
						</select>
					</div>
					<div class="i">地　点：<input type="text" class="inp" id="" /></div>
					<div class="i">关键字：<input type="text" class="inp" id="" /></div>
					<div class="i">　　　　<img src="{config.WebURL}templates/{config.TemplatePath}/images/btn_expo_sch.gif" /></div>
				</div>
			</div>
            -->
			<div class="MTitle_01">
				<h2 id="h201" class=""><a target="_blank" href="#"><strong>会展服务</strong></a></h2>
			</div>
			<div id="exhi_service" class="Mblk_01">
				<ul>
					<li><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/pic_exhi_s_1.gif" width="66" height="56" alt="" /></a><div>展台设计</div></li>
					<li><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/pic_exhi_s_2.gif" width="66" height="56" alt="" /></a><div>展台设计</div></li>
					<li><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/pic_exhi_s_3.gif" width="66" height="56" alt="" /></a><div>展台设计</div></li>
					<li><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/pic_exhi_s_4.gif" width="66" height="56" alt="" /></a><div>展台设计</div></li>
					<li><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/pic_exhi_s_5.gif" width="66" height="56" alt="" /></a><div>展台设计</div></li>
					<li><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/pic_exhi_s_6.gif" width="66" height="56" alt="" /></a><div>展台设计</div></li>
					<li><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/pic_exhi_s_7.gif" width="66" height="56" alt="" /></a><div>展台设计</div></li>
					<li><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/pic_exhi_s_8.gif" width="66" height="56" alt="" /></a><div>展台设计</div></li>
					<li><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/pic_exhi_s_9.gif" width="66" height="56" alt="" /></a><div>展台设计</div></li>
				</ul>
				<div class="clr"></div>
			</div>

			<div class="news_exhi">
				<ul>
					<li><a href="#" ><img src="{config.WebURL}templates/{config.TemplatePath}/images/temp_meeting_1.gif" alt='展会合作'></a></li>
					<li><a href="#" ><img src="{config.WebURL}templates/{config.TemplatePath}/images/temp_meeting_2.gif" alt='展会合作'></a></li>
					<li><a href="#" ><img src="{config.WebURL}templates/{config.TemplatePath}/images/temp_meeting_3.gif" alt='展会合作'></a></li>
				</ul>

			</div>

			<div class="MTitle_01">
				<h2 id="h201" class=""><a target="_blank" href="#" class="big"><strong>展会动态</strong></a></h2>
			</div>
			<div id="con01" class="Mblk_01">
				<div class="com_pages">
					<ul>
						<li><a target="_blank" href="#">多国暴发甲型H1N1流感</a></li>
						<li><a target="_blank" href="#">胡锦涛出席上合峰会</a></li>
						<li><a target="_blank" href="#">伊朗大选引发政局动荡</a></li>
						<li><a target="_blank" href="#">成都公交车发生燃烧</a></li>
						<li><a target="_blank" href="#">法航空客A330客机坠毁</a></li>
						<li><a target="_blank" href="#">成都公交车发生燃烧</a></li>
						<li><a target="_blank" href="#">法航空客A330客机坠毁</a></li>
					</ul>
				</div>
			</div>

			<div class="MTitle_01">
				<h2 id="h201" class=""><a target="_blank" href="#" class="big"><strong>展会技巧</strong></a></h2>
			</div>
			<div id="con01" class="Mblk_01">
				<div class="com_pages">
					<ul>
						<li><a target="_blank" href="#">多国暴发甲型H1N1流感</a></li>
						<li><a target="_blank" href="#">胡锦涛出席上合峰会</a></li>
						<li><a target="_blank" href="#">伊朗大选引发政局动荡</a></li>
						<li><a target="_blank" href="#">成都公交车发生燃烧</a></li>
						<li><a target="_blank" href="#">法航空客A330客机坠毁</a></li>
						<li><a target="_blank" href="#">成都公交车发生燃烧</a></li>
						<li><a target="_blank" href="#">法航空客A330客机坠毁</a></li>
					</ul>
				</div>
			</div>

		</div>
		<div class="clr" style="height:10px;"></div>
	</div>

	<div class="hy_brand clr">
		<div class="tit">行业推荐品牌</div>
		<div class="brand_pic">
			<ul>

				<li>
					<a  target='_blank' href='/brand/brandInfo_4.html'><img alt='永平烘干设备' src='http://images.glass.cn/brand/20096/633801523524876250.jpg' /></a><span><a target='_blank' href='/brand/brandInfo_4.html'>永平烘干设备</a></span>
				</li>

				<li>
					<a  target='_blank' href='/brand/brandInfo_28.html'><img alt='福耀玻璃' src='http://images.glass.cn/brand/20096/633801557578938750.jpg' /></a><span><a target='_blank' href='/brand/brandInfo_28.html'>福耀玻璃</a></span>
				</li>

				<li>
					<a  target='_blank' href='/brand/brandInfo_16.html'><img alt='晶创玉石玻璃' src='http://images.glass.cn/brand/20096/633801541650032500.jpg' /></a><span><a target='_blank' href='/brand/brandInfo_16.html'>晶创玉石玻璃</a></span>
				</li>

				<li>
					<a  target='_blank' href='/brand/brandInfo_15.html'><img alt='德清三星玻璃' src='http://images.glass.cn/brand/20096/633801586130970000.jpg' /></a><span><a target='_blank' href='/brand/brandInfo_15.html'>德清三星玻璃</a></span>
				</li>

				<li>
					<a  target='_blank' href='/brand/brandInfo_25.html'><img alt='索奥斯' src='http://images.glass.cn/brand/20096/633801555128001250.jpg' /></a><span><a target='_blank' href='/brand/brandInfo_25.html'>索奥斯</a></span>
				</li>

				<li>
					<a  target='_blank' href='/brand/brandInfo_26.html'><img alt='犀马化工' src='http://images.glass.cn/brand/20096/633801556362532500.jpg' /></a><span><a target='_blank' href='/brand/brandInfo_26.html'>犀马化工</a></span>
				</li>

				<li>
					<a  target='_blank' href='/brand/brandInfo_29.html'><img alt='Glaston' src='http://images.glass.cn/brand/20096/633801559926751250.jpg' /></a><span><a target='_blank' href='/brand/brandInfo_29.html'>Glaston</a></span>
				</li>

				<li>
					<a  target='_blank' href='/brand/brandInfo_34.html'><img alt='贵友玻璃软件' src='http://images.glass.cn/brand/20096/633801564902376250.jpg' /></a><span><a target='_blank' href='/brand/brandInfo_34.html'>贵友玻璃软件</a></span>
				</li>

				<li>
					<a  target='_blank' href='/brand/brandInfo_37.html'><img alt='浙江大明玻璃' src='http://images.glass.cn/brand/20096/633801568250501250.jpg' /></a><span><a target='_blank' href='/brand/brandInfo_37.html'>浙江大明玻璃</a></span>
				</li>

				<li>
					<a  target='_blank' href='/brand/brandInfo_51.html'><img alt='飞鸿安全玻璃' src='http://images.glass.cn/brand/20096/633801581973157500.jpg' /></a><span><a target='_blank' href='/brand/brandInfo_51.html'>飞鸿安全玻璃</a></span>
				</li>

				<li>
					<a  target='_blank' href='/brand/brandInfo_56.html'><img alt='北玻集团' src='http://images.glass.cn/brand/20096/633801589480501250.jpg' /></a><span><a target='_blank' href='/brand/brandInfo_56.html'>北玻集团</a></span>
				</li>

				<li>
					<a  target='_blank' href='/brand/brandInfo_60.html'><img alt='洛阳唐人玻璃' src='http://images.glass.cn/brand/20096/633801593127220000.jpg' /></a><span><a target='_blank' href='/brand/brandInfo_60.html'>洛阳唐人玻璃</a></span>
				</li>

				<li>
					<a  target='_blank' href='/brand/brandInfo_69.html'><img alt='耀优工程玻璃' src='http://images.glass.cn/brand/20096/633801621142845000.jpg' /></a><span><a target='_blank' href='/brand/brandInfo_69.html'>耀优工程玻璃</a></span>
				</li>

				<li>
					<a  target='_blank' href='/brand/brandInfo_79.html'><img alt='上海多林化工' src='http://images.glass.cn/brand/20096/633801634062220000.jpg' /></a><span><a target='_blank' href='/brand/brandInfo_79.html'>上海多林化工</a></span>
				</li>

				<li>
					<a  target='_blank' href='/brand/brandInfo_87.html'><img alt='耀华皮尔金顿' src='http://images.glass.cn/brand/20096/633801643804251250.jpg' /></a><span><a target='_blank' href='/brand/brandInfo_87.html'>耀华皮尔金顿</a></span>
				</li>

				<li>
					<a  target='_blank' href='/brand/brandInfo_88.html'><img alt='深圳采时颜料' src='http://images.glass.cn/brand/20096/633801644419720000.jpg' /></a><span><a target='_blank' href='/brand/brandInfo_88.html'>深圳采时颜料</a></span>
				</li>

				<li>
					<a  target='_blank' href='/brand/brandInfo_94.html'><img alt='晶博特玻璃' src='http://images.glass.cn/brand/20096/633801649406126250.jpg' /></a><span><a target='_blank' href='/brand/brandInfo_94.html'>晶博特玻璃</a></span>
				</li>

				<li>
					<a  target='_blank' href='/brand/brandInfo_112.html'><img alt='浙江东亚玻璃' src='http://images.glass.cn/brand/20096/633801664486282500.jpg' /></a><span><a target='_blank' href='/brand/brandInfo_112.html'>浙江东亚玻璃</a></span>
				</li>

				<li>
					<a  target='_blank' href='/brand/brandInfo_123.html'><img alt='中山中益油墨' src='http://images.glass.cn/brand/20096/633801674279251250.jpg' /></a><span><a target='_blank' href='/brand/brandInfo_123.html'>中山中益油墨</a></span>
				</li>

				<li>
					<a  target='_blank' href='/brand/brandInfo_129.html'>
						<img alt='瑞宝绿色纳米' src='http://images.glass.cn/brand/20096/633803380612376250.jpg' /></a><span><a target='_blank' href='/brand/brandInfo_129.html'>瑞宝绿色纳米</a></span>
				</li>
				<div class="clr"></div>

			</ul>
			<div class="clr"></div>
		</div>

	</div>

    <%include _footer%>

</div>

</body>
</html>