<style type="text/css"> 
<!--
	.ProList{padding-top:20px;margin:0 13px}
	.ProList1{padding-top:20px;margin:0 13px}
	.ProLine{border-bottom:1px dashed #D1D1D1;padding-bottom:20px;}
		.ProCheckBox{width:30px;float:left;}
		.ProPhoto{width:130px;float:left;overflow:hidden;}
			.ProPhotoBG{background:#fff url(/images/productbgSng.gif) no-repeat 0 0;height:104px;width:104px;overflow:hidden;line-height:104px;padding-top:1px;display:table-cell; vertical-align:middle;text-align:center}
			.ProPhotoBG img{_margin-top: expression(( 100 - this.height ) / 2);}	

			.ProPhotoBG_108{background:#fff url(/images/productbg.gif) no-repeat 0 0;height:106px;width:104px;overflow:hidden;line-height:108px;padding-top:2px;padding-right:4px;display:table-cell; vertical-align:middle;text-align:center;}
			.ProPhotoBG_108 img{_margin-top: expression(( 100 - this.height ) / 2);}	
			
			.ProResults{padding-top:8px;color:#898989;}
			.ProResults a{color:#898989;font-size:12px;text-decoration:underline;}
		.ProInfo{width:410px;float:left;overflow:hidden;padding-right:30px;line-height:180%;color:#818181}
			.ProInfoTitleA{font-size:14px;text-decoration:underline;}
			.ProInfoTitleA:hover{color:#f60;}
			.ProInfoKeyA{color:#898989;text-decoration:underline;}
			
		.ProContact{width:120px;float:left;text-align:center;overflow:hidden;line-height:130%;font-family: Tahoma,Verdana, Arial,'宋体'}
			.ProPrice{color:#f60;font-size:14px;}
			.ProContact img{margin-top:6px;}
-->
</style>

<div class="proList">
    <div class="proCheckBox">
        <input name="proID" type="checkbox" value="0" disabled="disabled" />
    </div>
    <div class="prophoto">
        <div class="prophotoBG_108">
            <a href="{link}" target="_blank">
                <img src="{image}" alt="{title}" border="0" onload="LoadImg(100,100,this)" /></a>
        </div>
    </div>
    <div class="proInfo">
        <strong><a href="{link}" class="proInfoTitleA" target="_blank">{title}</a></strong><br />
        {desc}<br />
        <a href="{userlink}" target="_blank" class="proInfoKeyA"><strong>{companyname}</strong>
        </a>&nbsp;&nbsp; <a href="{userlink}" target="_blank">
            <img src="/templates/default/images/contactIcon.gif" alt="查看联系方式" width="69" height="21"
                border="0" style="vertical-align: middle" />
        </a>
    </div>
    <div class="proContact">
        <a href="{userlink}" target="_blank">
            <img src="/templates/default/images/inquireIcon.gif" width="69" height="21" border="0" /></a><br />
    </div>
    <div style="clear: left;" class="proLine">
    </div>
</div>
