	<div id="footer">
		<a href="">集团首页</a> | <a href="/about/index.htm" target="_blank">关于我们</a> | <a href="">免责声明</a> | <a href="">媒体报道</a> | <a href="">诚聘英才</a> | <a href="">代理专区</a> | <a href="">广告专区</a> | <a href="">友情链接</a> | <a href="">联系我们</a> | <a href="">网站地图</a>
	</div>


	<div id="copyright">
		<div id="copy_info">
			<ul>
				<li>Copyright &copy; 2005-2009  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="#" target="_blank">京ICP备05003331号</a></li>
				<li><img src="{config.WebURL}templates/{config.TemplatePath}/images/ico_phone.gif" align="absmiddle">电话：86-010-62669815 传真：86-010-86818791  <img src="{config.WebURL}templates/{config.TemplatePath}/images/ico_email.gif" />E-Mail：<a href="#">info@xyecom.com </a></li>
				<li>版权所有　纵横易商软件 - 致力于中小企业电子商务应用技术服务　未经授权请勿转载</li>
			</ul>			
			
		</div>
		<div class="copyright_i">
		 <div class="com copyright_i1"><p class="p"><a href="#" target="_blank">深圳网络警察报警平台</a></p></div>
		 <div class="com copyright_i2"><p class="p">公共信息安全网络监察</p></div>
		 <div class="com copyright_i3"><p class="p"><a href="#" target="_blank">经营性网站备案信息</a></p></div>
		 <div class="com copyright_i4"><p class="p"><a href="#" target="_blank">不良信息举报中心</a></p></div>
		</div>
	 </div>