	<!--未登录显示-->
	<div class="B_8 r" style="display:none;"  id="xy_login_nologin">
		<div class="B_8">
			<div class="B_9">立即登录</div>
			<div class="B_10"><a class="white" href="{config.weburl}user">进入商务管理后台</a></div>
		</div>
		<div class="B_11_2 clr">
			<div class="B_12">
				<div class="B_12">
					<div class="B_13">用户名：</div>
					<div class="B_15"><input type="text" tabindex="1" class="tf1" name="_lbox_username" id="_lbox_username" onkeydown ="_xy_KeyPress('_btnBoxLogin');"/></div>
				</div>
				<div class="B_12">
					<div class="B_13">密   码：</div>
					<div class="B_15"><input type="password" tabindex="2" class="tf1" name="_lbox_password" id="_lbox_password" onkeydown ="_xy_KeyPress('_btnBoxLogin');"/></div>
				</div>
			    <%if config.IsEnabledVCode("login")%>
			    <div class="B_12">
					<div class="B_13">验证码：</div>
					<div class="B_15">{pageinfo.GetValidateCodeHTML("_lbox_vcode","_lbox_vcodeimg")}</div>
				</div>
                <%/if%>
				<div class="B_16 clr" style="padding-top:5px;">
				    <input id="_btnBoxLogin" height="29" width="108" type="image" src="{config.WebURL}templates/{config.TemplatePath}/images/dabn6.gif" onclick="return xy_BoxLogin();"/> 
				    <a href="{config.weburl}getpassword.{config.suffix}">忘记密码？</a>
				</div>
			</div>

			<div class="login_links">
				<ul class="service">
					<li class="s_1"><a href="{config.weburl}user/"><strong>发布信息</strong></a></li>
					<li class="s_2"><a href="{config.weburl}register.{config.suffix}"><strong>注册会员</strong></a></li>
				</ul>
				<div class="clr"></div>
			</div>
		</div>
	</div>

    <!--登录后显示-->
	<div class="B_8 r" id="xy_login_logined">
		<div class="B_8">
			<div class="B_9">欢迎登录</div>
			<div class="B_10"><a class="white" href="" id="_lbox_ucenter">进入商务管理后台</a></div>
		</div>
		<div class="B_11 clr">
			<div class="E_1"><font class="huei14">欢迎您！</font> <span id="_lbox_uname"></span> [<a target="_self" class="hui12i" href="{config.weburl}logout.{config.suffix}">退出</a>]</div>
			<div class="B_12 clr">
				<div class="E_6"><a href="{config.weburl}user/infoselect.{config.suffix}">发布产品</a> | <a href="{config.weburl}user/addnews.{config.suffix}">发布资讯</a> | <a href="{config.weburl}user/receivemessagelist.{config.suffix}">我的留言</a></div>
				<div style="padding-top:20px;padding-left: 37px;" class="E_6 mt10"><a href="/user/"><img src="{config.WebURL}templates/{config.TemplatePath}/images/enterUserCenter.jpg"/></a></div>
			</div>
			<div class="login_links clr">
				<ul class="service">
					<li class="s_1"><a href="{config.weburl}user/infoselect.{config.suffix}"><strong>发布信息</strong></a></li>
					<li class="s_2"><a href="{config.weburl}register.{config.suffix}"><strong>注册会员</strong></a></li>
				</ul>
				<div class="clr"></div>
			</div>
		</div>
	</div>
	<script type="text/javascript">Login2();</script>
