	<div class="search">
		<div class="sh_tab">
			<div class="order">
				<a href="{config.WebURL}keyword/">订购固定排名</a>
			</div>
			<ul id="_xy_big_menu_box">
				<li><a id="_xymenu_index" href="{config.WebURL}" class="tabactive"><span>首 页</span></a></li>
				<li><a id="_xymenu_news" href="{config.WebURL}news/index.aspx"><span>新闻资讯</span></a></li>
				<li><a id="_xymenu_offer" href="{config.WebURL}offer/index.aspx"><span>产品中心</span></a></li>
				<li><a id="_xymenu_investment" href="{config.WebURL}investment/index.aspx"><span>招商加盟</span></a></li>
				<li><a id="_xymenu_company" href="{config.WebURL}company/index.aspx"><span>行业公司</span></a></li>
				<li><a id="_xymenu_job" href="{config.WebURL}job/index.aspx"><span>人才招聘</span></a></li>
				<li><a id="_xymenu_brand" href="{config.WebURL}brand/index.aspx"><span>行业品牌</span></a></li>				
				<li><a id="_xymenu_exhibition" href="{config.WebURL}exhibition/index.aspx"><span>展会信息</span></a></li>
				<li><a id="_xymenu_survey" href="{config.WebURL}survey/index.aspx"><span>调查问卷</span></a></li>
				<li style="display:none;"><a href="#"><span>社区交流</span></a></li>
				<div class="clr"></div>
			</ul>
			<script type="text/javascript">xy_Sel_CurBigMenu();</script>
		</div>
		<div class="sh_cnt">
			<div id="main">

				<input type="text" id="txtsearchkey" name="sch_text" class="textsearch" onkeydown="_xy_KeyPress('DoSearch');"/>
				<div class="soSelect" onclick="xy_ShowSearchMenu();">
					<div class="option_current" id="headSlected" >产品</div>
					<div class="option_arrow">
						<a href="#"><span class="arrow"></span></a>
					</div>
					<div class="clr"></div>
					<ul onmouseover="drop_mouseover('head')" onmouseout="drop_mouseout('head');" style="display: none;" class="options" id="headSel">
					    <li><a href="#" onclick="xy_SelectSearchMenu('产品','offer','sell');">产品</a></li>
					    <li><a href="#" onclick="xy_SelectSearchMenu('求购','buy','buy');">求购</a></li>
					    <li><a href="#" onclick="xy_SelectSearchMenu('招商','investment','sell');">招商</a></li>
					    <li><a href="#" onclick="xy_SelectSearchMenu('加盟','investment','buy');">加盟</a></li>
					    <li><a href="#" onclick="xy_SelectSearchMenu('融资','venture','sell');">融资</a></li>
					    <li><a href="#" onclick="xy_SelectSearchMenu('服务','service','sell');">服务</a></li>
					    <li><a href="#" onclick="xy_SelectSearchMenu('企业','company','sell');">企业</a></li>
					    <li><a href="#" onclick="xy_SelectSearchMenu('资讯','news','');">资讯</a></li>
					    <li><a href="#" onclick="xy_SelectSearchMenu('人才','job','');">人才</a></li>
					    <li><a href="#" onclick="xy_SelectSearchMenu('品牌','brand','');">品牌</a></li>
					    <li><a href="#" onclick="xy_SelectSearchMenu('展会','exhibition','');">展会</a></li>
					</ul>
				</div>
				<input type="hidden" id="xy_FlagName" value="offer"/>
				<input type="hidden" id="xy_InfoType" value="sell"/>
				<button value="搜索" id="DoSearch" name="DoSearch" class="btsearch" onclick="xy_search();"/>搜索</button>
				<a href="/search/advanced_search.{config.Suffix}" class="black">[高级搜索]</a>
				<a href="{config.weburl}contributor.{config.Suffix}" class="black">[投稿]</a>
				<a href="{config.weburl}post.{config.Suffix}" class="black">[发布信息]</a>
				<a href="{config.weburl}baike/index.{config.Suffix}" class="black">[百科]</a>
			</div>
			<div id="sch_bnr"><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/temp_pic_5.jpg" width="170" height="77" alt="" /></a></div>
			<div id="hot_schs">
				<ul>
					<li><strong>热门搜索词：</strong></li>
					<li>
						<ul>
							{XY_Index_ReMenSouSuoGuanjianzi}
						</ul>
					</li>
				</ul>
			</div>

		</div>
	</div>