 <div id="UploadFile">
    <input id="Upload_TabName" name="Upload_TabName" type="hidden" value="{tablename}"/>
    <input id="Upload_IDs" name="Upload_IDs" type="hidden" value="{ids}" />
    <input id="Upload_Files" name="Upload_Files" type="hidden" value="{files}" />
    <input id="Upload_DelIDs" name="Upload_DelIDs" type="hidden" />
    <input id="Upload_UpIDs" name="Upload_UpIDs" type="hidden" />
    <input id="Upload_MaxAmount" name="Upload_MaxAmount" type="hidden" value="{maxamount}" />
    <input id="Upload_IsWaterMark" name="Upload_IsWaterMark" type="hidden" value="{iswatermark}" />
    
    <script language="javascript" type="text/javascript">UploadInit();</script>
</div>
  
