<%if pageinfo.PageError==1%>
    <%Include _msgbox%>
    <%end%>
<%/if%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<script language ="javascript" type ="text/javascript" src ="{config.WebURL}common/js/base.js"></script> 
<script language ="javascript" type ="text/javascript" src ="{config.WebURL}common/js/alert.js"></script>
<script type="text/javascript" src="{config.WebURL}templates/{config.TemplatePath}/js/validate.js" language="javascript"></script>
<script language ="javascript" type ="text/javascript" src ="{config.WebURL}templates/{config.TemplatePath}/js/common.js"></script>      
<script language ="javascript" type ="text/javascript" src ="{config.WebURL}templates/{config.TemplatePath}/js/login.js"></script>

</head>
<head>
	<%Include _head%>
	<link href="{config.WebURL}templates/{config.TemplatePath}/css/login.css" rel="stylesheet" type="text/css" />
</head>
<body>


<div id="wrapper">

	<%include _login_bar%>
 
    <%Include _top%>
             
	<div class="clr"></div>
	<div class="clr"></div>

	<br />
    <div id="currentposition">
         <h3>您现在的位置：<a href="{config.WebURL}">首页</a> > <strong>登录</strong></h3>
	     <div class="clear"></div>
    </div>
	

  <div id="layout">

		<div id="layoutL">
			<div class="leftList"><img src="{config.WebURL}templates/{config.TemplatePath}/images/LoginLogo.gif" /></div>
			<div class="leftList"><strong class="fontGray Font14">还没有商机网帐号？</strong></div>
			<div class="leftList"><a href="{config.WebURL}register.{config.Suffix}" target="_blank"><img src="{config.WebURL}templates/{config.TemplatePath}/images/regicon.gif" width="93" height="20" border="0" /></a></div>
			<div class="leftList">如有疑问，马上<a href="/about/Contact.htm" target="_blank" class="orange">联系我们</a></div>
			<div class="leftList"><strong class="fontGray">{config.webname}特别推荐：</strong></div>
			<div class="leftList"><a href="{config.WebURL}register.{config.Suffix}" target="_blank"><img src="http://info.ryp.cn/images/goldIcon.gif" width="87" height="19" border="0" /></a>&nbsp;<a href="{config.WebURL}register.{config.Suffix}" target="_blank"><img src="http://info.ryp.cn/images/rytIcon.gif" width="87" height="19" border="0" /></a></div>
		</div>

    <div id="layoutR">
			<div class="leftList fontGray" style="line-height:180%;">
				<strong>您知道吗？</strong><br />
				{config.webname}已经有<strong class="orange">12</strong>万家企业发布了<strong class="orange">10</strong>万个产品!</div>
				<form action="" method="post" name="form1" id="form1">
					<div class="leftList"><strong class="redLink Font14">登录“我的商务助手”</strong></div>

					<div class="leftList">
						<table width="400" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td width="46" height="30">会员名</td>
								<td colspan="2"><input name="username" type="text" onkeydown ="LoginKeyPress();" id="username" class="tb" onfocus="this.className='InputOn'"  onblur="this.className='InputOff'" size="24" maxlength="32" value="" /></td>
								</tr>
							<tr>

								<td height="30">密  码</td>
								<td colspan="2"><input name="password" id="password" type="password" onkeydown ="LoginKeyPress();" class="tb" onfocus="this.className='InputOn'"  onblur="this.className='InputOff'" size="24" maxlength="32" />
									<a href="{config.WebURL}getPassword.{config.Suffix}" class="orange">忘记登录名/密码? </a></td>
								</tr>
							<%if config.IsEnabledVCode("login")%>
							<tr>
	
	                          <td height="30">验证码：</td>
								<td colspan="2"> {pageinfo.GetValidateCodeHTML()}</td>
								<td></td>
							</tr>
							<%/if%>
							<tr>
								<td height="24">&nbsp;</td>
								<td colspan="2"><input name="ForGet" type="checkbox" value="" id="saveinfo" checked="checked" /><span class="fontGray">在此电脑上记住用户名</span></td>
								</tr>
							<tr>
								<td height="10" colspan="3"></td>

								</tr>
							<tr>
								<td height="30">&nbsp;</td>
								<td colspan="2">
								    <a href="#" onclick="return UserLogin(true);"><img src="{config.WebURL}templates/{config.TemplatePath}/images/login_btn.gif" border="0"  alt=""/></a>

									<a href="{config.WebURL}register.{config.Suffix}" onclick ="window.location.href='{config.WebURL}register.{config.Suffix}';" target="_blank"><img src="{config.WebURL}templates/{config.TemplatePath}/images/reg_btn.gif"" width="91" height="30" border="0" /></a>
									<input name="send" type="hidden" value="login" />
							    </td>
							</tr>
						</table>
					</div>

				</form>
			</div>
			<div class="clr"></div>
	 </div>
	</div>


    <%include _footer%>

</div>

</body>
</html>