<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>{config.WebName}-登出</title>
    {pageinfo.Meta}
    <link href="/templates/{config.TemplatePath}/css/global.css" type="text/css" rel="Stylesheet" />
</head>
<body style="background-color:#f2f2f2">
    <div id="syslogout">
    <ul>
        <li class="msg">{pageinfo.MsgboxText}</li>
        <li><a href="{pageinfo.MsgboxURL}">{pageinfo.MsgboxURL}</a></a></li>
        <li><a href="/">返回首页</a></li>
    </ul>
    </div>
</body>
</html>
