<%if pageinfo.PageError==1%>
    <%Include _msgbox%>
    <%end%>
<%/if%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>快速录入商业信息</title>
    <link href="/common/css/XYLib.css" type="text/css" rel="Stylesheet" />
    <link href="/templates/{config.TemplatePath}/css/global.css" type="text/css" rel="Stylesheet" />
    <link href="/templates/{config.TemplatePath}/css/post.css" type="text/css" rel="Stylesheet" />
    <script language ="javascript" type ="text/javascript" src ="/common/js/base.js"></script> 
    <script language ="javascript" type="text/javascript"  src="/common/js/UploadControl.js"></script>
    <script language ="javascript" type="text/javascript"  src="/templates/{config.TemplatePath}/js/post.js"></script>
    <script language ="javascript" type ="text/javascript" src ="/templates/{config.TemplatePath}/js/login.js"></script>
</head>
<body>

    <div class="head">
        <div class="logo"><a href="/"><img src="{config.weblogo}" alt="返回首页" border="0" /></a></div>
        <div class="nav"><a href="/">网站首页</a>|{pageinfo.LoginStatus}</div>
    </div>
    <form action="post_input.{config.suffix}" method="post" id="frmQuickPostInfo">
    <div class="guest_post">
        <!--当模块数量大于0时显示-->
        <%if moduleItems.Count>0 %>
            <div class="step_title">第一步:请选择信息类型</div>
                <div class="step_select">
                    <p>请选择要发布的信息类型：</p>
                    <ul>
                    <%loop (XYECOM.Configuration.ModuleInfo) item moduleItems%>
                        <li>
                        <%if item__loop__id==1%>
                            <input type="radio" id="rado{item.EName}" name="module" checked="checked" value="{item.EName}");"><span>{item.CName}</span> ( {item.Description} )
                        <%else%>
                            <input type="radio" id="Radio1" name="module" value="{item.EName}" ><span>{item.CName}</span>( {item.Description} )
                        <%/if%>
                        </li>
                    <%/loop%>
                </ul>
            </div>
        <%else%>
            <input type="hidden" name="module" value="{moduleName}"/>
        <%/if%>

        <%if null==userinfo%>
        <div class="step_link">请输入用户信息</div>

        <!--游客联系信息-->
        <table class="tab_step2">
        <tr>
        <th>您的身份：</th>
        <td>
            <input type="radio" name="usertype" value="guest" checked="checked" onclick="SelectUser('guest');"/>我是游客
            <input type="radio" name="usertype" value="user"  onclick="SelectUser('user');"/>我已经是注册会员
        </td>
        </tr>
        </table>

        <!--信息提示区-->
        <div id="step_msg" class="step_msg">
            请输入以下信息，完成会员快速注册
        </div>

        <!--会员登录区-->
        <table class="tab_step2" id="tab_user_info" style="display:none;">
            <tr>
                <th>用户名：<em>*</em></th>
                <td>
                    <input type="text" name="username" id="username"  maxlength="25" size="20"/>  
                </td>
            </tr>
            <tr>
                <th>密码：<em>*</em></th>
                <td>
                    <input type="password" name="userpwd" id="userpwd"  maxlength="25" size="21"/>
                </td>
            </tr>
         </table>
         
     

        <!--游客录入信息区域-->
        <table class="tab_step2" id="tab_guest_info" style="display:;">
            <tr>
                <th>用户名：<em>*</em></th>
                <td>
                    <input type="text" name="guestusername" maxlength="25" size="20" /><br/><em>4-15位,只限数字(0-9)或英文(a-z)</em>
                </td>
            </tr>
            <tr>
                <th>密码：<em>*</em></th>
                <td>
                    <input type="password" name="guestuserpwd" maxlength="25" size="20" /><br/><em>6-20位，不能与用户名相同；只限英文字母(a-z)和数字(0-9) </em>
                </td>
            </tr>
            <tr>
                <th>企业名称：<em>*</em></th>
                <td>
                    <input type="text" name="unitname" maxlength="100" size="50" />
                </td>
            </tr>    

            <tr>
                <th>联系人：<em>*</em></th>
                <td>
                    <input type="text" name="linkman" maxlength="20" size="10" />
                </td>
            </tr>    
            <tr>
                <th>固定电话：<em>*</em></th>
                <td>
                    <input type="text" name="telephone" maxlength="100" size="50" /><br/><em>多个号码之间用,号隔开;格式：010-88888888</em>
                </td>
            </tr>
            <tr>
                <th>手机：<em>*</em></th>
                <td>
                    <input type="text" name="mobile" maxlength="100" size="50" /><br/><em>固定电话和手机至少填一项</em>
                </td>
            </tr>

            <tr>
                <th>电子邮箱：<em>*</em></th>
                <td>
                    <input type="text" name="email" maxlength="50" size="50" />
                </td>
            </tr>
        </table>

        <%if config.IsEnabledVCode("quickpost")%>
            <table class="tab_step2">
            <tr>
                <th>验证码：<em>*</em></th>
                <td>
                    {pageinfo.GetValidateCodeHTML()}
                </td>
            </tr>
            </table>
        <%/if%>
        
        <%/if%> 
    	 
	      <div class="step_next"><input type="button" value="下一步" id="btnStep1" onclick="return UserInfoCheck();"/></div>
     </div>
      
    </form>
    Copyright &copy; 2008 {XY_Copyright}.All right reserved. 
</body>
</html>
