<%if pageinfo.PageError==1%>
    <%Include _msgbox%>
    <%end%>
<%/if%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>在线调查</title>
    <link rel="stylesheet" href="{config.WebURL}templates/{config.TemplatePath}/css/vote.css" type="text/css"/>
</head>
<body>
<br/>
<h1>{title}</h1>
<h2>{desc}</h2>
<div class="rst">
    <form action="" method="post">
    <table cellpadding="1" cellspacing="0">
    <%loop (DataRow) data subject%>
        <tr>
            <th>{data[subject]}</th>
        </tr>
        <tr>
            <td>
            <%set str=GetInputHTML(data["subjectId"].ToString(),data["type"].ToString());%>
             {str}
            </td>
        </tr>
    <%/loop%>
    <tr>
        <td>
            <input type="submit" value="提交"/>
        </td>
    </tr>
    </table>
    </form>
</div>
</body>
</html>