<%if pageinfo.PageError==1%>
    <%Include _msgbox%>
    <%end%>
<%/if%>

<!DOCTYPE html PUBLIC "-//W3C//DTD html 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<TITLE>个人中心</TITLE>
<meta http-equiv=Content-Type content="text/html; charset=gb2312">
<meta content="个人中心" name="keywords">
<meta content="" name="description">
<link href="/common/css/XYLib.css" type="text/css" rel="Stylesheet" />
<link href="{config.WebURL}templates/{config.TemplatePath}/person/css/main.css" rel="stylesheet" type="text/css" />
<script language ="javascript" type="text/javascript"  src="{config.WebURL}common/js/base.js"></script>
<script language ="javascript" type="text/javascript"  src="{config.WebURL}common/js/UploadControl.js"></script>
<script language ="javascript" type="text/javascript"  src="{config.WebURL}common/js/date.js"></script>
<script language ="javascript" type="text/javascript"  src="{config.WebURL}templates/{config.TemplatePath}/person/js/common.js"></script>
<script language ="javascript" type="text/javascript"  src="{config.WebURL}templates/{config.TemplatePath}/person/js/validate.js"></script>
</head>
<body onload="{pageinfo.OnLoadEvents}">


<div class=div_body>
    <div class=New_top>
        <div class=more>
            <ul>
              <li><a class="zeroc" href="{config.weburl}">首页</a> </li>
              <li><a class="zeroc" href="{config.weburl}news/">行业资讯</a> </li>
              <li><a class="zeroc" href="{config.weburl}offer/">产品库</a> </li>
              <li><a class="zeroc" href="{config.weburl}investment/">招商加盟</a> </li>
              <li><a class="zeroc" href="{config.weburl}exhibition/">展会</a> </li>
              <li><a class="zeroc" href="{config.weburl}job/">人才</a> </li>
            </ul>
        </div>
        <div class="r">
            <a href="{config.weburl}logout.{config.suffix}">退出</a> | <a href="">帮助</a>&nbsp; 
        </div>
    </div>
</div>


<div class=Head>

    <div class="Head_4"> 
        <div class="index"><div class="act"><a href="index.{config.suffix}">主 页</a></div></div>
    </div>
</div>


<div class="div_body" style="WIDTH: 994px">

    <div class="body_bg">
        <div><img src="{config.WebURL}templates/{config.TemplatePath}/person/images/p1.jpg"></div>
        <div class="bodyW">