<div class="Al">
    <div class="Al_1">
        个人服务列表:</div>
    <div class="Al_2">
        <dl>
            <dt><a class="" id="a1" style="padding-right: 10px;" href="javascript:void(0);">
                <img src="{config.weburl}/templates/{config.TemplatePath}/user/images/a9.gif">
                会员账户管理 </a></dt>
            <dd id="div_1" style="display: block">
                <a href="/person/individuallist.{config.Suffix}">查看注册信息</a><br />
                <a href="/person/individualinfo.{config.Suffix}">维护个人资料</a><br />
                <a href="/person/resume.{config.Suffix}">维护个人简历</a><br />
                <a href="/person/edituserpassword.{config.Suffix}">修改登陆密码</a><br />
                <a href="/person/editpaypassword.aspx">修改支付密码</a><br />
                <a href="/person/resumesend.{config.Suffix}">职位申请记录</a><br />
            </dd>
        </dl>
        <dl>
            <dt><a class="" id="a2" style="padding-right: 10px;" href="javascript:void(0);">
                <img src="{config.weburl}/templates/{config.TemplatePath}/user/images/1.gif" />
                留言信息管理 </a></dt>
            <dd id="div_2" style="display: block">
                <a href="/person/receivemessagelist.{config.Suffix}">我收到的留言信息</a><br />
                <a href="/person/sendmessagelist.{config.Suffix}">我发出的留言信息</a><br />
                <a href="/person/postadministratormessage.{config.Suffix}">给管理员留言</a><br />
            </dd>
        </dl>
        <dl>
            <dt><a class="" id="a3" style="padding-right: 10px;" onclick="javascript:switchShow('3')"
                href="javascript:void(0);">
                <img src="{config.weburl}/templates/{config.TemplatePath}/user/images/5.gif" />
                财务管理 </a></dt>
            <dd id="div_3" style="display: block">
                <a href="/person/cashacount.{config.Suffix}">帐户信息</a><br />                
                <a href="/person/invoice.{config.Suffix}">申请发票</a><br />
                <a href="/person/remit.{config.Suffix}">汇款确认</a><br />
            </dd>
        </dl>
        <dl>
            <dt><a class="" id="a4" style="padding-right: 10px;" onclick="javascript:switchShow('4')"
                href="javascript:void(0);">
                <img src="{config.weburl}templates/{config.TemplatePath}/user/images/5.gif" />
                我的交易信息 </a></dt>
            <dd id="div_4" style="display: block">
                <a href="/person/BuyerOrderList.aspx">采购管理</a><br />
                <a href="/person/ListBuyerContract.aspx">合同管理</a><br />
                <a href="/person/TeamBuy/TeamBuyerOrderList.aspx">团购订单管理</a><br />
            </dd>
        </dl>
        <dl>
            <dt><a class="" id="a5" style="padding-right: 10px;" onclick="javascript:switchShow('5')"
                href="javascript:void(0);">
                <img src="{config.weburl}templates/{config.TemplatePath}/user/images/5.gif" />
                我的求购信息 </a></dt>
            <dd id="div_5" style="display: block">
                <a href="/person/adv_postbuy.aspx">发布求购</a><br />
                <a href="/person/supplybuy.aspx">采购管理</a><br />
            </dd>
        </dl>
    </div>
</div>
