<%Include _head%>
<%Include _menu%>
<div id="right">
    <ul class="topNav">
        <li><a href="index.{config.Suffix}">商务中心</a> &gt; 发布求购信息 </li>
    </ul>
    <form action="#" method="post">
    <h3>
        发布求购信息</h3>
    <table class="contentl" id="tab_guest_info" width="80%">
        <tr>
            <th>
                求购状态：<em>*</em>
            </th>
            <td>
                <%if id>0 && jinji==1%>
                <input type="radio" name="jinji" id="jinji0" value="0">普通求购&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <input type="radio" name="jinji" id="jinji1" value="1" checked="checked">紧急求购
                <%else%>
                <input type="radio" name="jinji" id="jinji0" value="0" checked="checked">普通求购&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <input type="radio" name="jinji" id="jinji1" value="1">紧急求购
                <%/if%>
                <br />
                <em>你要求购的产品标题，很重要，请正确填写。</em>
            </td>
        </tr>
        <tr>
            <th>
                标题：<em>*</em>
            </th>
            <td>
                <input type="text" name="title" id="title" maxlength="45" size="20" style="width: 250px;"
                    value="{title}" /><br />
                <em>你要求购的产品标题，很重要，请正确填写。</em>
            </td>
        </tr>
        <tr>
            <th>
                关键字：<em>*</em>
            </th>
            <td>
                <input type="text" name="keyword" id="keyword" maxlength="25" size="20" style="width: 250px;"
                    value="{keyword}" /><br />
                <em>尽量简短，正确描述，有利于商家搜索到你，如：压力变送器</em>
            </td>
        </tr>
        <tr>
            <th>
                数量：<em>*</em>
            </th>
            <td>
                <input type="text" name="num" id="num" maxlength="25" size="20" value="{num}" onblur="IsNum(this)"
                    style="width: 250px;" /><br />
                <em>求购数量</em>
            </td>
        </tr>
        <tr>
            <th>
                所在地区*
            </th>
            <td>
                <div id="classType">
                </div>
                <input type="hidden" id="citytypeid" name="citytypeid" />
                <input type="hidden" id="provinceid" name="provinceid" />
                <input type="hidden" id="areatypeid" name="areatypeid" value="{info.Area_id}" />
                <script type="text/javascript">
                    var cla = new ClassType("cla", 'area', 'classType', 'areatypeid');
                    cla.Mode = "select";
                    cla.Init();
                </script>
            </td>
        </tr>
        <tr>
            <th>
                产品要求：<em>*</em>
            </th>
            <td>
                <textarea cols="50" rows="10" name="contents" id="contents">{contents}</textarea>
                <br />
                <em>必填，描述清楚</em>
            </td>
        </tr>
        <tr>
            <th>
                联系人：<em>*</em>
            </th>
            <td>
                <input type="text" name="linkman" id="linkman" maxlength="20" size="10" style="width: 250px;"
                    value="{linkMan}" />
                <br />
                <em>必填，让客户联系到你</em>
            </td>
        </tr>
        <tr>
            <th>
                电话：<em>*</em>
            </th>
            <td>
                <input type="text" name="tel" id="tel" maxlength="100" size="50" style="width: 250px;"
                    value="{tel}" /><br />
                <em>多个号码之间用,号隔开;格式：010-88888888</em>
            </td>
        </tr>
      <!--  <if !(ugpinfo!=null && !ugpinfo.IsUseQuession)%>
        <tr>
            <th align="right">
                <strong class="Font14_1">验证问题:</strong> <span class="red">*</span>
            </th>
            <td>
                <div>
                    <span id="v_question"></span><a href="javascript:void(0);" onclick="reloadnewquestion();">
                        换个问题 </a>
                </div>
                <div>
                    <input type="text" id="txtValidateQuestion" onmouseout="_checkanswer(this.value);"
                        onblur="_checkanswer(this.value)" name="txtValidateQuestion" style="width: 255px" />
                    <input type="hidden" id="v_questionid" />
                    <em id="errquestion"></em>
                </div>
            </td>
        </tr>
        <script type="text/javascript">
            var reloadnewquestion = function () {
                var ajax = new Ajax("xy201", "&rm=" + Math.random());
                ajax.onSuccess = function () {
                    if (ajax.state.result == "1") {
                        document.getElementById("v_question").innerHTML = ajax.data.Question;
                        document.getElementById("v_questionid").value = ajax.data.QuestionId;
                    } else {
                        document.getElementById("v_question").innerHTML = "";
                        document.getElementById("v_questionid").value = "";
                    }
                }
            }

            reloadnewquestion();

            var _checkanswer = function (val) {
                var v_answer = document.getElementById("txtValidateQuestion").value;
                if (v_answer.length < 1) {
                    document.getElementById("flag").value = "error";
                    document.getElementById("errquestion").innerHTML = "请输入答案！";
                    return false;
                } else {
                    document.getElementById("errquestion").innerHTML = "";
                }
                var questionid = document.getElementById("v_questionid").value;

                var ajax = new Ajax("xy202", "&questionid=" + questionid + "&answer=" + v_answer + "&rm=" + Math.random());
                ajax.onSuccess = function () {
                    if (ajax.state.result != "1") {
                        document.getElementById("errquestion").innerHTML = "请输入正确答案！";
                        document.getElementById("flag").value = "error";
                    } else {
                        document.getElementById("errquestion").innerHTML = "";
                        document.getElementById("flag").value = "";
                    }
                }

                var msg = document.getElementById("flag").value;
                if (msg == "error") {
                    return false;
                }
                return true;
            }
        </script>
        /if%>-->
     <!--   if !(ugpinfo!=null && !ugpinfo.IsUseCode)%>-->
        <tr>
            <td colspan="2" style="width: 1005">
                <table class="contentl mt8">
                    <tr>
                        <th align="right">
                            <strong class="Font14_1">验证码</strong> <span class="red">*</span>
                        </th>
                        <td>
                            <input id="vcode" type="text" name="vcode" style="width: 50px" />
                            <img src="/Common/ValidateCode.ashx" alt="看不清点我" id="imgCode" onclick="this.src='/Common/ValidateCode.ashx?='+Math.random();"
                                style="cursor: pointer; vertical-align: middle;" />
                            <em id="codeerror"></em>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <script type="text/javascript">

            var validateFun = function () {
                var val = document.getElementById("vcode").value;
                if (val.length < 1) {
                    document.getElementById("codeflag").value = "error";
                    document.getElementById("codeerror").innerHTML = "请输入验证码！";
                    return false;
                } else {
                    document.getElementById("codeerror").innerHTML = "";
                }
                var ajax = new Ajax("xy200", "&vcode=" + val);
                ajax.onSuccess = function () {
                    if (ajax.state.result == 0 && ajax.data.content == "err") {
                        document.getElementById("codeflag").value = "error";
                        document.getElementById("codeerror").innerHTML = "请输入正确验证码！";
                    } else if (ajax.state.result == 1) {
                        document.getElementById("codeflag").value = "";
                        document.getElementById("codeerror").innerHTML = "";
                    }
                }
            }
            document.getElementById("vcode").onmouseout = validateFun;
        </script>

        <tr>
            <td colspan="2" style="text-align: center">
                <input type="hidden" id="codeflag" />
                <input type="hidden" id="flag" />
                <input type="submit" value="写好了提交" id="btnStep1" class="button" />
                <script type="text/javascript">
                    document.getElementById("btnStep1").onclick = function () {
                        var msg = document.getElementById("codeflag").value;
                        var flag=document.getElementById("flag").value;
                        var areaId=document.getElementById("areatypeid").value;
                        if(CheckValuebuy()){
                        if (areaId=='0') {
                                 return alertmsg(false, '请选择求购地区！');
                            }
                         
                             if (msg=='error') {         
                                return false;
                            }
                          
                            return true;
                        }else{
                            return false;
                        }
                    }
                </script>
            </td>
        </tr>
    </table>
    </form>
</div>
<%Include _footer%>