<%Include _head%>

<div class="location fia"><a href="index.{config.suffix}">会员中心</a> &gt;网站币帐号管理</div>

<%Include _menu%>

<div id="right">
<form id="Consumption" action="#" method="post">
	 	 <div class="ly_100">
<div class="ly_tit3">
 <ul>
 <li class="out"><a  href ="{config.WebURL}person/cashacount.{config.Suffix}"  >现金帐户明细</a></li>
 <li class="out"><a href ="{config.WebURL}person/fictitiouacount.{config.Suffix}"  >网站币帐户</a></li>
 <li class="out"><a href ="{config.WebURL}person/inputmoney.{config.Suffix}"  >充值明细</a></li>
<!-- <li class="out"><a href ="{config.WebURL}person/consumptioninfo.{config.Suffix}"  >现金消费明细</a></li>-->
 <li class="on"><a href ="{config.WebURL}person/FictitiouConsumptionInfo.{config.Suffix}"  >网站币消费明细</a></li>
 </ul>
</div>

</div>
  <table  class="content"> 
  <caption>网站币消费明细</caption> 
    <thead>
   <tr>
    <th>消费编号</th>
     <th>用户名</th>
     <th>消费金额</th>
     <th>消费时间</th>
     <th>消费说明</th>    
   </tr>
   </thead>
   <tbody>
     <%loop (DataRow)  uc infolist%>
     <tr>
       <td>{uc[FC_ID]}</td>
      <td>{uc[U_Name]}</td>
      <td>{uc[FC_Count]}</td>
      <td>{uc[FC_Time]}</td>
	   <td><%left(uc[FC_Explain],40)%></td>
     </tr>
     <%/loop%>
   </tbody>
  </table>
  <div class="page">
  当前是第 <span >{pageinfo.PageIndex}</span> 页 &nbsp;（共 <span >{pageinfo.PageCount}</span> 页） &nbsp;{pageinfo.FirstPage} &nbsp;{pageinfo.PreviousPage} &nbsp;{pageinfo.NextPage} &nbsp;{pageinfo.LastPage}
 </div>
  </form>
  </div>

<%Include _footer%>