
<%Include _head%>
<div class="location fia"><a href="index.{config.suffix}">会员中心</a> &gt; 修改信息 </div>
<%Include _menu%>

 <!--右边区域-->
<div id="right">
    <form method ="post">
      <table  class="contentl">
      <caption><span>个人基本信息（*为必填项）</span></caption>
      <tr>
        <th>用户名：<em class="red">*</em></th>
        <td>
	    <input  name="username" type="text" value="{userinfo.loginname}" id="username" maxlength="20" size="30" disabled="disabled" />	
	    <em>用户名是唯一不可修改的</em>
	    </td>
      </tr>
         <tr>
        <th>真实姓名：<em class="red">*</em><span></span></th>
        <td>
	    <input  name="txtname" type="text" id="txtname" maxlength="20" size="30"  value="{userinfo.realname}"/><input id="sexy" type="radio" value="1" onclick ="shousex(1);"/>先生<input id="sexn" type="radio" value ="0"  onclick ="shousex(2);"/>女士
            <input type ="hidden" id="sext"  name="sext" />	
        </td>
      </tr>
       <tr>
       <th>注册邮箱：<em class="red">*</em> </th>
        <td>
         <input id="email"  maxlength="35" type="text" value="{userinfo.email}" name ="email" size ="35"  onchange="validateemail(this);"/>
         </td>
      </tr>  
      

       <tr>
     <th>上传照片提示：</th>
     <td><%Include _UploadControl%><br/></td></tr>

       <tr>
        <th>
            身份证号：</th>
        <td>
         <input  name="txtcode" type="text" value="{userinfo.idcode}" id="txtcode" maxlength="18" size="20" /></td>
      </tr>

      <tr>
        <th>手机：<em class="red">*</em></th>
        <td>
         <input  name="txtMobile" type="text" value="{userinfo.mobile}" id="txtMobile" maxlength="66" size="60"  />
          <em>多个号码之间请用','号（逗号）隔开</em>
        </td>
      </tr>
        
      <tr>
        <th>
            联系电话：</th>
        <td>     
          <input id="txtphone" maxlength="100" size="60" name="txtphone" type="text"  value="{userinfo.telephone}"/>
          <em>格式：010-88888888,多个号码之间请用','号（逗号）隔开</em>
	     </td>
      </tr>
      

     
    <tr>
    <th>
        所在地区：<em class="red">*</em></th>
    <td>
            <div id="classType"></div>

    <input type ="hidden" id="areatypeid"  name="areatypeid" value="{userinfo.areaid}" />
        <script type="text/javascript">
        var cla = new ClassType("cla",'area','classType','areatypeid');
        cla.Mode ="select";
        cla.Init();
        </script>
    </td>
    </tr>
    <tr>
       <th>邮编：<em class="red">*</em> </th>
        <td>
         <input id="txtpostcard" maxlength="6" type="text" value="{userinfo.zipcode}" name ="txtpostcard" size ="10"/>
         </td>
      </tr> 
      <tr>
        <th style="height: 26px">
            联系地址：<em class="red">*</em></th>
        <td style="height: 26px">
         <input  name="txtaddress" type="text" value="{userinfo.address}" id="txtaddress" maxlength="20" size="60" /></td>
      </tr> 
      </table>
    <input type="hidden" id="oldEmail" value="{userinfo.email}" name="oldEmail" />
    <input type ="hidden" id="type" value ="update" name ="type"/>
    <div class="content_action">
        <nobr>
        <input name="but01" type ="submit" value="确定" onclick ="return Individualinfo();" class ="button" />
        <input name="but02" type="button" value="取消" onclick ="window.location.href='/person/index.{config.Suffix}'"  class ="button"/>
        </nobr>
    </div>
    </form>
</div> 


<%Include _footer%>


