
<%Include _head%>

<div class="location fia"><a href="index.{config.suffix}">会员中心</a> &gt; 我收到的商业信息留言</div>

<%Include _menu%>

<div id="right">
    <form method="post" id="news">
        <h2>
        <span><a href="{config.WebURL}person/receiveoffermessagelist.{config.Suffix}?nosee=0"><img src="{config.WebURL}templates/{config.TemplatePath}/person/images/ly_img3.gif" />未读</a> | <a href="{config.WebURL}person/receiveoffermessagelist.{config.Suffix}?nosee=1"><img src="{config.WebURL}templates/{config.TemplatePath}/person/images/ly_img2.gif" />已读</a></span>
        我收到的商业信息留言
        </h2>
        <div class="ly_100">
            <div class="ly_tit3">
             <ul>
             <li class="out"><a  href ="{config.WebURL}person/receivemessagelist.{config.Suffix}">所有留言</a></li>
             <li class="on"><a  href ="{config.WebURL}person/receiveoffermessagelist.{config.Suffix}">商业信息留言</a></li>
             <li class="out"><a  href ="{config.WebURL}person/receiveinvestmentmessagelist.{config.Suffix}">系统留言</a></li>
             </ul>
            </div>
        </div>
    <table class="ly_tab2 ly_w1">
    <thead><tr><td></td><td></td><td>标题</td><td>发自</td></tr></thead>
    <tbody>
    <%loop (DataRow)  s infolist%>
     <tr>s
      <td><input name="sd_id" id="sd_id" type="checkbox" value="{s[M_ID]}"/></td>
      <td valign="top">
      <%if {s[M_HasReply]}=="False"%>
      <img src="{config.WebURL}templates/{config.TemplatePath}/person/images/ly_img3.gif" />
      <%else%>
       <img src="{config.WebURL}templates/{config.TemplatePath}/person/images/ly_img2.gif" />
       <%/if%>
      </td>
      <td>
      <a href="{config.WebURL}person/receivemessageinfo.{config.Suffix}?m_id={s[M_ID]}">{s[M_Title]}</a><br />{s[M_AddTime]}
    </td>
    <td>
    <%if {s[U_ID]}=="0"%>
        {s[M_UserName]}<em >(游客)</em> <br />{s[M_CompanyName]}
        <%else%>  
        <a href="javascript:;">{s[M_UserName]}</a> 
               <%if {s[At_Path]}==""%>
               <img src="{config.WebURL}templates/{config.TemplatePath}/person/images/WelcomeInfro_32.gif" width="20" height="20"/><br />{s[M_CompanyName]}
               <%else%>
                <img src="{s[S_URL]}{s[At_Path]}" width="20" height="20" /><br />{s[M_CompanyName]}
               <%/if%> 
        <%/if%>     
       </td>
     </tr>
     <%/loop%>
     </tbody> 
    </table>
    <table class="content_action">
    <tr >
    <td>
    <input id="chkAll" name="chkAll" type="checkbox" value="" onclick="CheckedAll();"/>全选<input name="message"  class="button" type="submit" value="删除"  onclick="return bntDelete()"/>
    </td>
    </tr>
    </table>
    <div class="page">
    当前是第 <span>{pageinfo.PageIndex}</span> 页 &nbsp;（共 <span>{pageinfo.PageCount}</span> 页） &nbsp;{pageinfo.FirstPage} &nbsp;{pageinfo.PreviousPage} &nbsp;{pageinfo.NextPage} &nbsp;{pageinfo.LastPage}
     </div>

    <input type="hidden" id="isDelete" name="isDelete" value="" />
    </form>
</div> 

<%Include _footer%>