<%Include _head%>

<div class="location fia"><a href="index.{config.suffix}">会员中心</a> &gt; 职位申请记录</div>

<%Include _menu%>
 <!--右边区域-->
 
<div id="right">
    <form action="#" id="" method="post">
       <table   class="content">
      <caption>您共申请了<em>({Countss})</em>职位！</caption> 
     <thead>
	      <tr>	    
	          <th style="height: 20px;">选者</th>
	          <th style="height: 20px">单位名称</th>
		      <th style="height: 20px" >申请职位</th>		  
		      <th style="height: 20px" >申请时间</th>
		       <th style="height: 20px" >对方状态</th>	
	      </tr>
      </thead>
      <tbody>
      <%loop (DataRow)  sd infolist%> 
      <tr> 
       <td><input id="sd_id" name="sd_id" type="checkbox" value="{sd[ER_ID]}" /></td>
      <td>
      <a href="
      <%if {sd[U_HtmlPage]}!=""%>{sd[U_HtmlPage]}
      <%else%>
      <%if config.IsDomain==true%> http://{sd[U_Name]}.{domainhost}/<%else%> {config.WebURL}shop/{sd[U_Name]}/index.{config.Suffix}<%/if%>
      <%/if%>
      " target="_blank" >{sd[UI_Name]}</a>
      
      </td>
      <td><a href="
      <%if {sd[EI_HtmlPage]}!=""%>{sd[EI_HtmlPage]}
      <%else%> 
       <%if config.IsDomain==true%>
        <%if config.BogusStatic==true%> http://{sd[U_Name]}.{domainhost}/job-{sd[EI_ID]}.{config.Suffix}
        <%else%>http://{sd[U_Name]}.{domainhost}/job.{config.Suffix}?u_name={sd[U_Name]}&id={sd[EI_ID]}
        <%/if%>
       <%else%>
        <%if config.BogusStatic==true%>{config.WebURL}shop/{sd[U_Name]}/job-{sd[EI_ID]}.{config.Suffix}
        <%else%>{config.WebURL}shop/job.{config.Suffix}?u_name={sd[U_Name]}&id={sd[EI_ID]}
        <%/if%>  
       <%/if%>
      <%/if%>
      " target="_blank" >{sd[EI_Job]}</a></td>  
      <td><%formatdatetime(sd[RE_AddDate],yyyy-MM-dd)%></td>
      <td>
       <%if {sd[RE_Estate]}=="1"%>
        暂未查看
        <%/if%>
         <%if {sd[RE_Estate]}=="2"%>
        暂未表态
        <%/if%>
         <%if {sd[RE_Estate]}=="3"%>
        拒绝面试
        <%/if%>
          <%if {sd[RE_Estate]}=="4"%>
        同意面试
        <%/if%>
        </td>
      </tr>
      <%/loop%>
      </tbody>

    </table>
    <table class="content_action" >
    <tr >
    <td >
    <input id="chkAll" name="chkAll" type="checkbox" value="" onclick="CheckedAll();"/>全选
    <input name="Supply"  class="button" type="submit" value="删除"  onclick="return bntDelete()"/>
    <input type="hidden" id="isDelete" value="Delete" />
    </td>
    </tr>
    </table>

    <div class="page">当前是第 <span>{pageinfo.PageIndex}</span> 页 &nbsp;（共 <span>{pageinfo.PageCount}</span> 页）&nbsp;{pageinfo.FirstPage}&nbsp;{pageinfo.PreviousPage}&nbsp;{pageinfo.NextPage}&nbsp;{pageinfo.LastPage}</div>
    </form>
</div>

<%Include _footer%>
 
