<%Include _head%>

<div class="location fia"><a href="index.{config.suffix}">会员中心</a> &gt; 简历信息</div>

<%Include _menu%>

 <!--右边区域-->
<div id="right">
<form method ="post">  
   <table  class="contentl">
  <caption>
     填写最高教育学历（*为必填项）</caption>
   <tr>
    <th style="height: 26px">
        毕业学校：<em class="red">*</em><span></span></th>
    <td style="height: 26px">
	<input  name="schoolname" type="text"  id="schoolname" maxlength="20" size="20" value="{school}" />	</td>
  </tr>
    <tr>
    <th>
        所学专业：<em class="red">*</em><span></span></th>
    <td>     
        <input id="Speciality" name="Speciality" type ="text" maxlength="20" size="20" value="{Speciality}"/>
       </td>
  </tr>

    <tr>
    <th>
        毕业时间：<em class="red">*</em><span></span></th>
    <td>
	<input onclick="getDateString(this);" id="Gyear" maxlength="15" readonly="readonly" name="Gyear" value="{Gyear}" readonly="readonly"/></td>
  </tr>
   <tr>
    <th>
        教育程度：<em class="red">*</em><span></span></th>
    <td>
	 <select id="Schoolage" name="Schoolage"  size="1">
     <option value="初中">初中</option>
     <option value="中专">中专</option>
     <option value="高中">高中</option>
     <option value="大专">大专</option>
     <option value="本科" selected>本科</option>
     <option value="硕士">硕士</option>
     <option value="博士">博士</option>
     <option value="更高">更高</option>
     </select>
     </td>
  </tr>     
  </table> 
  <table  class="contentl">
  <caption>
      欲从事工作</caption>
   <tr>
    <th>
        职位：<em class="red">*</em><span></span></th>
    <td>    
   <input type="text" id="Intentjob" name="Intentjob" maxlength="20" size="20" value="{Intentjob}"/>
	</td>
  </tr>
   <tr>
    <th>
        薪水要求：<em class="red">*</em><span></span></th>
    <td>    
   <input type="text" id="Intentpay" name="Intentpay" maxlength="10" size="10" value="{Intentpay}" />元
	</td>
  </tr>
   <tr>
    <th>
        期望所在城市：<em class="red">*</em><span></span></th>
    <td>    
  <div id="classType"></div>
<input type ="hidden" id="areatypeid"  name="areatypeid" value="{AreaID}" />
    <script type="text/javascript">
    var cla = new ClassType("cla",'area','classType','areatypeid');
    cla.Mode ="select";
    cla.Init();
    </script>
	</td>
  </tr>
    
  </table>
  
  <table  class="contentl">
  <caption>
      工作经验</caption>
     <tr>
    <th>
        工作年限：</th>
    <td>   
    <select name="JobYear" id="JobYear" size="1">
                <option value="在读学生">在读学生</option>
                <option value="应届毕业生">应届毕业生</option>
                <option value="一年以上" Selected>一年以上</option>
                <option value="二年以上">二年以上</option>
                <option value="三年以上">三年以上</option>
                <option value="五年以上">五年以上</option>
                <option value="八年以上">八年以上</option>
                <option value="十年以上">十年以上</option>
                </select> 
    
	</td>
  </tr>
   <tr>
    <th>
        工作经验：</th>
    <td>    
    <textarea id="Experience" cols="60" rows="9" name="Experience">{Experience}</textarea>
	</td>
  </tr>
  
    
  </table>
  
  <table  class="contentl">
  <caption>
      自我评价/职业目标（必填项）</caption>
   <tr>
    <th>
        自我评价：<em class="red">*</em><span></span></th>
    <td>    
    <textarea id="txtResume" cols="60" rows="9" name="txtResume">{ResumeInfo}</textarea>
	</td>
  </tr>
    
  </table> 
<div class="content_action"><input name="but01" type ="submit" value=" 确定" onclick ="return Addresume();" class ="button" /><input type="hidden" value="update" id="Type" name="Type" />
<input name="but02" type="button" value="取消" onclick ="window.location.href='/user/index{config.Suffix}'"  class ="button"/>
</div>
</form>
</div> 

<%Include _footer%>


