
<%Include _head%>

<div class="location fia"><a href="index.{config.suffix}">会员中心</a> &gt;&gt; 我发出的留言</div>

<%Include _menu%>


<div id="right">
<form method ="post">
<h2>我发出的留言</h2>
<div id="ly_box1">
  <div class="titles"><a href="javascript:;"><img title="回复留言" src="{config.WebURL}templates/{config.TemplatePath}/person/images/ly_fuifu.gif" /></a></div>
  <ul>
    <li class="xline">
	 <strong>主题：{title}</strong><br />
	 时间：{messagetime}
    </li>
	<li>
	  <strong>主要内容：</strong>
	  <p>{content}</p>
	</li>
	

    </li>
	
  </ul>
</div>
</form>
</div>

<%Include _footer%>




