<%Include _head%>

<div class="location fia"><a href="index.{config.suffix}">会员中心</a> &gt; 我发出的留言</div>

<%Include _menu%>

<div id="right">
    <form method="post" id="news">
        <h2>我发出的留言</h2>
        <div class="ly_100">
            <div class="ly_tit3">
             <ul>
             <li class="on">所有留言</li>
             </ul>
            </div>
        </div>
    <table class="ly_tab2 ly_w1">
        <thead><tr><td></td><td>状态</td><td>标题</td><td>接收者</td></tr></thead>
        <tbody>
        <%loop (DataRow)  s infolist%>
         <tr>
          <td><input id="sd_id" name="sd_id" type="checkbox" value="{s[M_ID]}" /></td>
          <td><span>
          <%if {s[M_HasReply]}=="True"%>
            对方已读
           <%else%>
            对方未读
            <%/if%>
            </span><br />
             <%if {s[M_Restore]}=="True"%>
            对方已回复
           <%else%>
            对方未回复
            <%/if%>
            </td>
          <td><a href="{config.WebURL}person/sendmessageinfo.{config.Suffix}?m_id={s[M_ID]}">{s[M_Title]}</a><br />{s[M_AddTime]}</td>
          <td><%if {s[UI_linkMan]}==""%>管理员<%/if%>{s[UI_LinkMan]}<br />{s[UI_Name]}</td>
         </tr>
         <%/loop%>
         </tbody>
    </table>
    <div class="gq_quanx"><input id="Checkbox1" name="chkAll" type="checkbox" value="" onclick="CheckedAll();"/>全选<input name="message"  class="button" type="submit" value="删除"  onclick="return bntDelete()"/></div>
    <div class="page">当前是第 <span>{pageinfo.PageIndex}</span> 页 &nbsp;（共 <span>{pageinfo.PageCount}</span> 页）&nbsp;{pageinfo.FirstPage}&nbsp;{pageinfo.PreviousPage}&nbsp;{pageinfo.NextPage}&nbsp;{pageinfo.LastPage}</div>


    <input type="hidden" id="isDelete" name="isDelete" value="" />
    </form>
</div> 

<%Include _footer%>