<%Include _head%>
<!--<div class="location fia">
    <a href="index.{config.Suffix}">个人中心</a> &gt; 商业信息 &gt; 求购信息管理</div>-->
<%Include _menu%>
<div id="right">
 <ul class="topNav"><li>
  <a href="index.{config.Suffix}">个人中心</a> &gt; 商业信息 &gt; 求购信息管理
    </li></ul>
    <form action="#" method="post">
    <h2>
        <span>
            <input type="button" class="button" value="发布新的求购信息" onclick="window.location.href='{config.WebURL}person/adv_postbuy.aspx'" />
        </span>管理求购信息
    </h2>
    <div class="ly_100">
        <div class="ly_tit3">
            <ul>
                <li class="out"><a href="{config.WebURL}user/supplybuy.aspx">
                    已发布上网({auditedcount})</a></li>
                <li class="on"><a href="{config.WebURL}user/supplybuydoing.aspx">
                    审核中({auditingcount})</a></li>
                <li class="out"><a href="{config.WebURL}user/supplybuynopass.aspx">
                    审核未通过({notauditedcount})</a></li>
            </ul>
        </div>
        <div class="ly_tit32">
            产品名称：<input type="text" id="key" maxlength="50" name="key" value="{key}" />
            <select id="infotype" name="infotype">
                <option value="">所有</option>
                <option value="1">紧急求购</option>
                <option value="0">普通求购</option>
            </select>
      
            <input type="submit" class="button" name="submit_search" value="查询" />
        </div>
    </div>
    <table class="ly_tab2 ly_w1" id="supplyauditing">
        <thead>
            <tr>
                <td>
                    选择
                </td>
                <td>
                    标题
                </td>
                <td>
                    发布日期
                </td>
                <td>
                    审核状态
                </td>
                <td>
                    求购状态
                </td>
                <td>
                    求购数量
                </td>
                <td>
                    修改
                </td>
            </tr>
        </thead>
        <tbody>
            <input name="sdid" id="sdid" type="hidden" value="" />
            <%loop (DataRow) SD infolist%>
            <tr>
                <td>
                    <input name="sd_id" id="sd_id" type="checkbox" value="{SD[SD_ID]}" />
                </td>
                <td valign="top">
                    {SD[Title]}
                </td>
                <td class="wbg_setTime">
                    {SD[PublishDate]}
                </td>
                <td >
                    <%set state=GetAuditingState(XYECOM.Core.MyConvert.GetInt32(SD["AuditingState"].ToString()))%>
                    {state}
                </td>
                <td>
                    <%if {SD[Emergency]}=="True"%>
                    <span style="color:#f60;">紧急求购</span>
                    <%else%>
                    <span style="color: #336600; ">普通求购</span>
                    <%/if%>
                </td>
                <td>
                    {SD[BuyNum]}
                </td>
                <td>
                    <input type="button" class="button" value="修改" onclick="location.href='{config.WebURL}user/adv_postbuy.aspx?ID={SD[SD_ID]}';" />
                </td>
            </tr>
            <%/loop%>
            <tr>
                <td colspan="7">
                    <input id="chkAll" name="chkAll" type="checkbox" value="" onclick="CheckedAll();" />全选&nbsp;&nbsp;&nbsp;
                    <input name="Supply" class="button" type="submit" value="删除" onclick="return bntDelete()" />&nbsp;
                </td>
            </tr>
        </tbody>
    </table>
    <div class="page">
        当前是第 <span>{pageinfo.PageIndex}</span> 页 &nbsp;（共 <span>{pageinfo.PageCount}</span>
        页）&nbsp;{pageinfo.FirstPage}&nbsp;{pageinfo.PreviousPage}&nbsp;{pageinfo.NextPage}&nbsp;{pageinfo.LastPage}</div>
    <input type="hidden" id="isSetPause" name="isSetPause" value="" />
    <input type="hidden" id="isDelete" name="isDelete" value="" />
    </form>
</div>
<%Include _footer%>