@charset "utf-8";
/* CSS Document */

/*---------------------页面基础定义----------------------------*/
body {
	margin: 0px;
	height: auto; overflow:auto; font-size:13px;font-family:Tahoma, Arial, Helvetica, Sans-serif; text-align:left
}
ul{ list-style:none}
table{border-collapse:collapse;/*细线表格*/}

/*---------------------链接定义---------------------------------*/
a {
	color: #333333;
	text-decoration: none;
}
a:hover {
	color: #FF0000;
	text-decoration:underline;
}
a:active{
	color: #FF0000;
	text-decoration: none;
}
h2 a{
	color:#FFF;
	text-decoration:none;
}

/*---------------------首页top--------------------------*/

#header{width:1000px; height:108px;background:#fff; margin:0 auto }
#header .logo{width:270px; float:left;height:67px; margin:0 auto;background:url('../images/logo.gif') no-repeat left bottom;}
#header .loginmiddle{ width:199px; float:left; text-align:center}
#header .loginmiddle h3{ margin-top:10px; color:#CC3300; margin-bottom: 7px;}
#header .logoright{ width:202px; float:right; height:67px; text-align:right; padding-right:30px; line-height:40px;}
/*---------------------菜单样式---------------------------------*/
#menu{
	height:32px; font-size:14px; width:998px;
	margin:0 auto; background-color:#D6000C; float:left
}
#menu ul{
	margin-left:10px; width:564px; 
height:32px;
	list-style-type:none; padding:0px; margin-top:0px; margin-bottom:0px;
}
.m_li{
	float:left; width:114px; line-height:32px;  text-align:center; margin-right:-2px; margin-left:-2px;
}
.m_li a{
	display:block; color:#FFFFFF; width:114px; font-weight:bold
}
.m_line{
	float:left; width:1px; height:32px;
	line-height:32px;   /*ff下有效(图片垂直居中)*/
}
.m_line img{
	margin-top:8px;   /*ie下有效(图片垂直居中)*/
}
.m_li_a{
	float:left; width:114px; line-height:32px; text-align:center; padding-top:3px; font-weight:bold;
	background-image: url(../images/menu_bg.jpg); position:relative; height:32px; margin-top:-3px; margin-right:-2px; margin-left:-2px;
}
.m_li_a a{
	display:block; color:#FF0000; width:114px;
}
#list table{ width:100%;border-top:1px solid #ddd; cellpadding:0; cellspacing:0} 
#trtop{height:30px; background-image:url(../images/border_bg.jpg); font-size:13px;color:#333}

/*---------------------middle----------------------------------*/
#all{ width:1000px; height:auto; overflow:hidden; margin:0 auto}

#middle{width:1000px; height:auto; overflow:hidden;margin:10px auto}

/*---------------------left----------------------------------*/

#left{ width:730px;float:left; height:auto;overflow:hidden;}
#left1{position:relative;overflow:hidden;height:190px;width:730px; }

#fader{position:relative;overflow:hidden;height:190px;width:730px; margin-top:3px;}
#fader li{position:absolute;left:0;top:0;}
.fader-nav{display:inline-block;margin-right:8px;color:#fff;padding:2px 6px;background:#333;border:1px solid #fff;font-family:Tahoma;font-weight:bold;font-size:12px;cursor:pointer;}
.fader-cur-nav{display:inline-block;margin-right:8px;color:#fff;padding:2px 6px;background:#ff7a00;border:1px solid #fff;font-family:Tahoma;font-weight:bold;font-size:12px;cursor:pointer;}





#left2{ width:730px;float:left; background-image:url(../images/tb.gif); height:100px; margin-top:5px; border-top:1px solid #ccc;border-bottom:1px solid #ccc; height:auto}
#left2 ul { margin-top:50px; text-align:center; margin-left:30px;height: 44px;}
#left2 ul li{ width:130px;float:left; list-style:none; height: 23px;}
#left2 ul li a{ text-decoration:none;}


#left3{width:728px;float:left; margin-top:5px; border:1px solid #ddd}
#zqlist1{height: 25px;width: 726px; text-align:center}
.box{height:230px; overflow:hidden;width: 727px; }
#zqlist2{ width:724px;text-align:center; margin-left:3px;}
#zqlist2 td{ height:25px; line-height:25px;}
#zqtj{ background:url(../images/tjbg.gif); width:724px; height:80px; margin-left:2px; text-align:center}
#zqtj img{width:21px; height:15px; float:left; margin-left:15px;}


#left4{width:728px;float:left;margin-top:5px; border:1px solid #ddd}
#dztb{ width:350px; margin:3px auto}
#dztb td{width:350px; padding-bottom:5px;}
#dztb td img{ width:100px;height:100px; float:left}
#dztb strong{ color:#f60000}
#dztb font{ font-size:13px;}
#dztb a{ float:right; text-decoration:underline}
#dztb p{ width:200px; float:left; margin:4px 10px}
/*---------------------table----------------------------------*/
.tdtitle{ width:220px; text-align:left; padding-left:4px}
.tdtitle img{ padding-left:1px; padding-right:3px}
.tdprice{width:100px;}
.tdarea{width:90px;}
.tdtime{width:100px;}
.tdnumber{width:60px;}
/*---------------------right----------------------------------*/

#right{ width:262px; float:right; height:auto;overflow:hidden;}
#right strong{ font-size:14px;}
#right1{width:260px; height:auto; overflow:hidden; background:url(../images/lit.gif) repeat-x; line-height:37px;border:1px solid #ddd;}
#right2{width:260px; height:auto; overflow:hidden; background:url(../images/lit.gif) repeat-x; line-height:37px;border:1px solid #ddd; margin-top:5px;}

.qul ul{ width:250px;float:left; margin-left:0px; padding-left:0px}
.qul ul li{height:24px;line-height:24px;text-align:left}
.qul ul li font{ color:#D6000C;font-size:12px;}

#right3{margin:5px auto; width:262px}
#right4{ border:1px solid #ddd; width:260px; height:180px;}

#rightdzmain{height:auto; overflow:hidden; border:1px solid #ddd; margin:5px auto}
#rightdzmain h2{font-size:17px;color:#C00; margin:10px 10px; width:720px;}
#dzbase{ margin:8px 0}
.dzbasetb{ width:720px; margin:8px auto}
.dzbasetb td{ border:1px solid #F3F2F0; height:20px;}
.dzbasetb .info1{width:120px; background:#FFF7DE;}

#dzbasepic{ width:720px; margin:5px auto}
#dzbasepic img{width:100px; height:100px;border:1px solid #ddd; margin:10px 10px}
.basetbjj table{ width:720px;}
.basetbjj table td{border-bottom:1px solid #F3F2F0}

.rhr{ background:#C00; height:2px;}

/*---------------------bottom----------------------------------*/
#bottom{ width:998px;margin:5px auto;height:auto;border:1px solid #D9D9D9; background:#F9F9F9; padding-bottom:5px;overflow:hidden}
#bottom a{ text-decoration:none; color:#666; font-size:13px;}
#bottom a:hover{ text-decoration:underline; color:#f00}
#bottom ul{list-style:none; width:192px;
float:left; margin:0; padding-top:10px
}
#bottom ul li{ font-size:14px; line-height:23px; text-align:left; padding-left:60px;}

/*---------------------footer----------------------------------*/
#footer{ font-size:13px;width:1000px;height:150px;text-align:center; margin:2px auto}
#footer a{ font-size:13px; text-decoration:none; color:#333; font-weight:bold}
#footer img{ float:right;}
#footer h2{ float:left; font-size:14px;color:#cc0000; font-weight:bold;}
#footer table{ width:1000px; height:50px; border:1px solid #ddd}
#footer table td{ width:160px;}
#footer p{ margin:10px;color:#666; width:900px}

