@charset "utf-8";
html,body,ul{margin:0;padding:0}
body{font:12px/1.5 Tahoma, Verdana, Simsun, Microsoft YaHei, Arial Unicode MS, Mingliu, Arial, Helvetica;text-align:center;background-color:#fff}
ul,ol { list-style:none}
a{color:#333;text-decoration:none}a.blue{color:#014cc9}a.blue:hover{color:#014cc9;text-decoration:underline}a.org{color:#ff4e00}
a:hover,a.org:hover{color:#ff4e00;text-decoration:underline}
.head{text-align:left;color:#666666}.head a:link,.head a:visited,#foot a:link,#foot a:visited{color:#666666;text-decoration:none}.head a:hover,.head a:active,#foot a:hover,#foot a:active{color:#ff4e00;text-decoration:underline}




.vipnew_nav{width:418px;
margin:0 auto 10px;text-align:left; float:left; background:#D6000C
}
.vipnew_hnav{float:left;height:32px;padding-left:2px;position:relative;z-index:3; background-color:#D6000C}
.vipnew_hnav li{float:left;width:100px;background-position:-279px -46px;background-color:#D6000C;}.vipnew_hnav li.vipnew_green{background:none}.vipnew_hnav li.vipnew_nhome{width:70px;background-position:-301px -46px;}
.vipnew_arrd{display:inline-block;height:0;width:0;overflow:hidden;font-size:0;line-height:0;border-style:solid dashed dashed dashed;border-width:4px;border-color:#f5d88f transparent transparent transparent}

.vipnew_hnav li .vipnew_hnav_a{display:block;margin-right:1px;height:32px;line-height:32px;text-align:center;font-size:14px;padding-right:7px; font-weight:bold}.vipnew_hnav li.vipnew_nhome .vipnew_hnav_a{padding-right:0}.vipnew_hnav .vipnew_hnav_a:link,.vipnew_hnav .vipnew_hnav_a:visited{color:#ffffff}.vipnew_hnav .vipnew_hnav_a:hover{color:#f5d88f;text-decoration:none;background-position:9px -46px}.vipnew_hnav .vipnew_nhome a:hover{background-position:0px -46px}.vipnew_hnav .vipnew_npriv{width:122px;position:relative}.vipnew_hnav .vipnew_npriv .vipnew_hnav_a{position:relative}.vipnew_hnav .vipnew_npriv .vipnew_hnav_a .vipnew_arrd{position:absolute;top:14px;left:100px}.vipnew_hnav .van_hover .vipnew_hnav_a{margin:2px 1px 0 0;height:28px;line-height:26px;border:solid #cfa242;border-width:2px 2px 0;background-color:#fff;color:#bf2f28;z-index:2;font-weight:bold}
.vipnew_hnav .van_hover .vipnew_hnav_a:link,.vipnew_hnav .van_hover .vipnew_hnav_a:visited{color:#a2180b}.vipnew_hnav .van_hover .vipnew_hnav_a .vipnew_arrd{top:10px;left:98px;border-top-color:#a2180b}
.vipnew_anav{display:none;position:absolute;top:30px;left:0;width:117px;border:2px solid #cfa242;z-index:1;background:#fff}
.van_hover .vipnew_anav{display:block}
.van_hover .vipnew_anav li{padding:0;margin:0;background:none;width:117px}
.van_hover .vipnew_anav li a{padding:0;margin:0;line-height:25px;display:block;padding-left:19px;color:#bf2f28}
.van_hover .vipnew_anav li a:hover{background:#ffedce}.
vipnew_rnav{height:32px;padding-right:10px;line-height:34px}
.vipnew_rnav li{float:right;padding:0 10px}