<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
	<title> 高级搜索 - {config.webname}</title>
	<meta name="description" content="xyecom" />
	<meta name="keywords" content="xyecom" />
	<meta name="robots" content="all"  />
	<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
	<link href="{config.WebURL}common/css/xylib.css" rel="stylesheet" type="text/css" />
	<link href="{config.WebURL}templates/{config.TemplatePath}/css/global.css" rel="stylesheet" type="text/css" />
	<link href="{config.WebURL}templates/{config.TemplatePath}/css/search.css" rel="stylesheet" type="text/css" />
	
	<script type="text/javascript" src="{config.WebURL}common/js/base.js" language="javascript"></script>
	<script type="text/javascript" src="{config.WebURL}templates/{config.TemplatePath}/js/search.js" language="javascript"></script>
	<script type="text/javascript" src="{config.WebURL}templates/{config.TemplatePath}/js/login.js" language="javascript"></script>
	<script language ="javascript" type="text/javascript"  src="{config.WebURL}common/js/date.js"></script>
</head>
<body>

<div id="wrapper">

	<%Include _login_bar%>

	<%Include _top%>

    <div id="s_body">
    <ul class="s_comment">
        <li class="choiceon" id="tab1"><a href="javascript:;" onclick="selectSearchBox(1)">产品搜索</a></li>
        <li class="choiceout" id="tab2"><a href="javascript:;" onclick="selectSearchBox(2)">加工搜索</a></li>
        <li class="choiceout" id="tab3"><a href="javascript:;" onclick="selectSearchBox(3)">招商代理搜索</a></li>
        <li class="choiceout" id="tab4"><a href="javascript:;" onclick="selectSearchBox(4)">服务搜索</a></li>
        <li class="choiceout" id="tab5"><a href="javascript:;" onclick="selectSearchBox(5)">企业搜索</a></li>
        <li class="choiceout" id="tab6"><a href="javascript:;" onclick="selectSearchBox(6)">资讯搜索</a></li>
     
    </ul>
   <!--供求搜索-->
   <div id="contentBox1" style="display: block;">
   
   <table border="0" cellpadding="0" cellspacing="0" class="tabBody">
    <tr>
        <th>信息类型：</th>
        <td>
            <input type="radio" name="offerInfoType" value="sell" checked="checked" />供应
            <input type="radio" name="offerInfoType" value="buy" />求购
        </td>
      </tr>
      <tr>
        <th>关键字：</th>
        <td><input type="text" id="offerkey" name="offerkey" value="" size="40" maxlength="40" class="s_txt"/></td>
      </tr>
      <tr>
        <th>产品类型：</th>
        <td>
            <div id="supply" style="display:block;" ></div>
            <input id="offerTypeId" runat="server" type="hidden" value="" />
            <script type="text/javascript">
            var cla = new ClassType("cla",'offer','supply','offerTypeId');
            cla.Mode ="select";
            cla.Init();
            </script>
        </td>
       </tr>
       <tr>
        <th>地区：</th>
        <td>
            <div id="areaByOffer"></div>
            <input type ="hidden" id="areaIdByOffer"  name="areaIdByOffer"/>
            <script type="text/javascript">
            var cla1 = new ClassType("cla1",'area','areaByOffer','areaIdByOffer',2);
            cla1.Mode ="select";
            cla1.Init();
            </script>
        </td>
       </tr>
       <tr>
        <th>时间：</th>
        <td>
            <input type="radio" name="dateByOffer" value="0" checked/>全部
            <input type="radio" name="dateByOffer" value="1" />今天
            <input type="radio" name="dateByOffer" value="3" />3天内
            <input type="radio" name="dateByOffer" value="7" />7天内
            <input type="radio" name="dateByOffer" value="15" />15天之内
            <input type="radio" name="dateByOffer" value="30" />30天之内
        </td>
        </tr>
        <tr>
            <th></th>
            <td><input  type="button" value =" 搜索 " id="btnOfferSearch" class="s_btn" onclick="OfferSearch();"/></td>
        </tr>
   </table>

    </div> 
    <!--加工搜索-->
    <div id="contentBox2" style="display: none;">
    <table border="0" cellpadding="0" cellspacing="0" class="tabBody">
    <tr>
        <th>信息类型：</th>
        <td>
            <input type="radio" name="machiningInfoType" value="sell" checked="checked" />加工信息
            <input type="radio" name="machiningInfoType" value="buy" />寻求加工
        </td>
      </tr>
      <tr>
        <th>关键字：</th>
        <td><input type="text" id="machiningkey" name="machiningkey" value="" size="40" maxlength="40" class="s_txt"/></td>
      </tr>
      <tr>
        <th>加工类型：</th>
        <td>
            <div id="divMachining" style="display:block;" ></div>
            <input id="machiningTypeId" runat="server" type="hidden" value="" />
            <script type="text/javascript">
                var cla2 = new ClassType("cla2", 'ventureType', 'divMachining', 'machiningTypeId');
            cla2.Mode ="select";
            cla2.Init();
            </script>
        </td>
       </tr>
       <tr>
        <th>地区：</th>
        <td>
            <div id="areaByMachining"></div>
            <input type ="hidden" id="areaIdByMachining"  name="areaIdByMachining"/>
            <script type="text/javascript">
            var cla3 = new ClassType("cla3",'area','areaByMachining','areaIdByMachining',2);
            cla3.Mode ="select";
            cla3.Init();
            </script>
        </td>
       </tr>
       <tr>
        <th>时间：</th>
        <td>
            <input type="radio" name="dateByMachining" value="0" checked/>全部
            <input type="radio" name="dateByMachining" value="1" />今天
            <input type="radio" name="dateByMachining" value="3" />3天内
            <input type="radio" name="dateByMachining" value="7" />7天内
            <input type="radio" name="dateByMachining" value="15" />15天之内
            <input type="radio" name="dateByMachining" value="30" />30天之内
        </td>
        </tr>
        <tr>
            <th></th>
            <td><input  type="button" value =" 搜索 " id="btnMachiningSearch" class="s_btn" onclick="MachiningSearch();"/></td>
        </tr>
   </table>
    </div> 
    
    <!--招商搜索-->
    <div id="contentBox3" style="display: none;">
    <table border="0" cellpadding="0" cellspacing="0" class="tabBody">
    <tr>
        <th>信息类型：</th>
        <td>
            <input type="radio" name="investmentInfoType" value="sell" checked="checked" />诚招代理
            <input type="radio" name="investmentInfoType" value="buy" />代理企业
        </td>
      </tr>
      <tr>
        <th>关键字：</th>
        <td><input type="text" id="investmentkey" name="investmentkey" value="" size="40" maxlength="40" class="s_txt"/></td>
      </tr>
      <tr>
        <th>招商类型：</th>
        <td>
            <div id="divInvestment" style="display:block;" ></div>
            <input id="investmentTypeId" runat="server" type="hidden" value="" />
            <script type="text/javascript">
            var cla4 = new ClassType("cla4",'investment','divInvestment','investmentTypeId');
            cla4.Mode ="select";
            cla4.Init();
            </script>
        </td>
       </tr>
       <tr>
        <th>地区：</th>
        <td>
            <div id="areaByInvestment"></div>
            <input type ="hidden" id="areaIdByInvestment"  name="areaIdByInvestment"/>
            <script type="text/javascript">
            var cla5 = new ClassType("cla5",'area','areaByInvestment','areaIdByInvestment',2);
            cla5.Mode ="select";
            cla5.Init();
            </script>
        </td>
       </tr>
       <tr>
        <th>时间：</th>
        <td>
            <input type="radio" name="dateByInvestment" value="0" checked/>全部
            <input type="radio" name="dateByInvestment" value="1" />今天
            <input type="radio" name="dateByInvestment" value="3" />3天内
            <input type="radio" name="dateByInvestment" value="7" />7天内
            <input type="radio" name="dateByInvestment" value="15" />15天之内
            <input type="radio" name="dateByInvestment" value="30" />30天之内
        </td>
        </tr>
        <tr>
            <th></th>
            <td><input  type="button" value =" 搜索 " id="btnInvestmentSearch" class="s_btn" onclick="InvestmentSearch();"/></td>
        </tr>
   </table>
    </div> 

    <!--服务搜索-->
    <div id="contentBox4" style="display: none;">
    <table border="0" cellpadding="0" cellspacing="0" class="tabBody">
    <tr>
        <th>信息类型：</th>
        <td>
            <input type="radio" name="serviceInfoType" value="sell" checked="checked" />服务信息
            <input type="radio" name="serviceInfoType" value="buy" />寻求服务
        </td>
      </tr>
      <tr>
        <th>关键字：</th>
        <td><input type="text" id="servicekey" name="servicekey" value="" size="40" maxlength="40" class="s_txt"/></td>
      </tr>
      <tr>
        <th>服务类型：</th>
        <td>
            <div id="divService" style="display:block;" ></div>
            <input id="serviceTypeId" runat="server" type="hidden" value="" />
            <script type="text/javascript">
            var cla6 = new ClassType("cla6",'service','divService','serviceTypeId');
            cla6.Mode ="select";
            cla6.Init();
            </script>
        </td>
       </tr>
       <tr>
        <th>地区：</th>
        <td>
            <div id="areaByService"></div>
            <input type ="hidden" id="areaIdByService"  name="areaIdByService"/>
            <script type="text/javascript">
            var cla7 = new ClassType("cla7",'area','areaByService','areaIdByService',2);
            cla7.Mode ="select";
            cla7.Init();
            </script>
        </td>
       </tr>
       <tr>
        <th>时间：</th>
        <td>
            <input type="radio" name="dateByService" value="0" checked/>全部
            <input type="radio" name="dateByService" value="1" />今天
            <input type="radio" name="dateByService" value="3" />3天内
            <input type="radio" name="dateByService" value="7" />7天内
            <input type="radio" name="dateByService" value="15" />15天之内
            <input type="radio" name="dateByService" value="30" />30天之内
        </td>
        </tr>
        <tr>
            <th></th>
            <td><input  type="button" value =" 搜索 " id="btnServiceSearch" class="s_btn" onclick="ServiceSearch();"/></td>
        </tr>
   </table>
    </div>
    
    <!--企业搜索-->
    <div id="contentBox5" style="display: none;">
    <table border="0" cellpadding="0" cellspacing="0" class="tabBody">
   
      <tr>
        <th>关键字：</th>
        <td><input type="text" id="userkey" name="userkey" value="" size="40" maxlength="40" class="s_txt"/></td>
      </tr>
      <tr>
        <th>企业分类：</th>
        <td>
            <div id="classTypecompany"></div>
            <input type ="hidden" id="userTypeId"  name="userTypeId"/>
            <script type="text/javascript">
            var clacompany = new ClassType("clacompany",'company','classTypecompany','userTypeId');
            clacompany.Mode ="select";
            clacompany.Init();
            </script>           
        </td>
       </tr>
       <tr>
        <th>地区：</th>
        <td>
            <div id="areaByUser"></div>
            <input type ="hidden" id="areaIdByUser"  name="areaIdByUser"/>
            <script type="text/javascript">
            var cla8 = new ClassType("cla8",'area','areaByUser','areaIdByUser',2);
            cla8.Mode ="select";
            cla8.Init();
            </script>
        </td>
       </tr>
        <tr>
            <th></th>
            <td><input  type="button" value =" 搜索 " id="btnUserSearch" class="s_btn" onclick="UserSearch();"/></td>
        </tr>
   </table>
    </div>
    
    <!--资讯搜索-->
    <div id="contentBox6" style="display: none;">
    <table border="0" cellpadding="0" cellspacing="0" class="tabBody">
      <tr>
        <th>关键字：</th>
        <td><input type="text" id="newskey" name="newskey" value="" size="40" maxlength="40" class="s_txt"/></td>
      </tr>
      <tr>
        <th>资讯栏目：</th>
        <td>
            <div id="divNews"></div>
            <input type="hidden" id="newstitleid" />
            <script type="text/javascript">
            var cla9 = new ClassType("cla9",'news','divNews','newstitleid');
            cla9.Mode ="select";
            cla9.Init();
            </script>
        </td>
       </tr>
       <tr>
        <th>发布时间：</th>
        <td>
            从
            <input onclick="getDateString(this);" id="newsStartDate"  readonly="readonly" name ="newsStartDate" class="s_txt s_date" size="10"/>
            至
            <input onclick="getDateString(this);" id="newsEndDate"  readonly="readonly" name ="newsEndDate" class="s_txt s_date" size="10"/>
        </td>
        </tr>
        <tr>
            <th>资讯类型：</th>
            <td>
                <input type="radio" name="newsType" value="" checked="checked"/>全部
                <input type="radio" name="newsType" value="1" />普通新闻
                <input type="radio" name="newsType" value="2" />图片新闻
                <input type="radio" name="newsType" value="3" />标题新闻
            </td>
        </tr>
        <tr>
            <th>是否推荐：</th>
            <td>
                 <input type="radio" name="isCommend" value="" checked="checked"/>全部
                <input type="radio" name="isCommend" value="1" />推荐
                <input type="radio" name="isCommend" value="0" />不推荐      
            </td>
        </tr>
        <tr>
            <th></th>
            <td><input  type="button" value =" 搜索 " id="btnNewsSearch" class="s_btn" onclick="AdvNewsSearch();"/></td>
        </tr>
   </table>
    </div>
 </div> 
 
    <br />

	<%include _footer%>

</div>

</body>
</html>