<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
	<title> 信息图片 - {config.webname}</title>
	<meta name="description" content="xyecom" />
	<meta name="keywords" content="xyecom" />
	<meta name="robots" content="all"  />
	<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
	<link href="{config.WebURL}common/css/xylib.css" rel="stylesheet" type="text/css" />
	<link href="{config.WebURL}templates/{config.TemplatePath}/css/global.css" rel="stylesheet" type="text/css" />
	<link href="{config.WebURL}templates/{config.TemplatePath}/css/search.css" rel="stylesheet" type="text/css" />
	
	<script type="text/javascript" src="{config.WebURL}common/js/base.js" language="javascript"></script>
	<script type="text/javascript" src="{config.WebURL}templates/{config.TemplatePath}/js/login.js" language="javascript"></script>
	<script type="text/javascript" src="{config.WebURL}templates/{config.TemplatePath}/js/ShowImg.js" language="javascript"></script>
</head>
<body>

<div id="wrapper">

	<%Include _login_bar%>
	
	<div id="gq_guide">
		您现在的位置：<a href="{config.weburl}">首页</a> > 图片展示
	</div>

    <div id="s_body">
        <div class="picSmall" id="piclist">

        </div>

        <div class="picBig" id="picshow">

        </div>
        <script type="text/javascript">
        var imgarr = [];
        <%set array = GetImages()%>
        <%loop (string) path array%>
            imgarr[imgarr.length] = "{path}";
        <%/loop%>
                
        var imgobj = new ImageShow("imgobj",imgarr,"picshow","piclist");
        imgobj.Init();
        </script>
    </div>
    <%include _footer%>

</div>

</body>
</html>

