<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%include _head%>
</head>
<body>
    <div id="wrapper">
        <%include _login_bar%>
        <%Include _top%>
        <%Include _search%>
        <div id="search_nav">
            <strong>您现在的位置：</strong> {pageinfo.Navigation}
        </div>
        <div id="search_main">
            <div id="left">
                <div class="sch_cates" id="xy_PClassList">
                    <h2>
                        <img src="{config.WebURL}templates/{config.TemplatePath}/images/bg_invest_tit.gif"
                            width="12" height="12" alt="" align="absmiddle" />
                        类目选择：</h2>
                    <div class="sch_cnts" id="xy_ClassList">
                    </div>
                </div>
                <%if pageinfo.ModuleFlag=="offer"%>
                <div class="sch_cates">
                    <h2>
                        <img src="{config.WebURL}templates/{config.TemplatePath}/images/bg_invest_tit.gif"
                            width="12" height="12" alt="" align="absmiddle" />
                        属性选择：</h2>
                    <div class="sch_cnts" id="xy_fleldList">
                    </div>
                    <script type="text/javascript" src="{config.WebURL}common/js/base.js" language="javascript"></script>
                    <script type="text/javascript" src="{config.WebURL}templates/{config.TemplatePath}/js/attribute.js"
                        language="javascript"></script>
                    <input type="hidden" name="hidProductTypeId" id="hidProductTypeId" value="{ptid}" />
                    <input type="hidden" name="hidProductTypeIdAndAttribute" id="hidProductTypeIdAndAttribute"
                        value="{p_id}" />
                </div>
                <%/if%>
                <div id="FilterDiv">
                    <div id="FilterDivA">
                        <span>每页显示数量:
                            <select name="pageNum" id="pageNum" onchange="funpagesize(this.options[this.selectedIndex].value);">
                                <option value="10">10</option>
                                <option value="20" selected="selected">20</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                            </select>
                        </span><strong class="Font14 redLink">缩小范围:</strong>
                        <label id="classType">
                        </label>
                        <input type="hidden" id="areatypeid" name="areatypeid" />
                        <script type="text/javascript">
                            var cla = new ClassType("cla", 'area', 'classType', 'areatypeid', 1);
                            cla.Mode = "select";
                        </script>
                        <select name="postTime" id="selectlistdid">
                            <option value="">产品发布时间</option>
                            <option value="1">显示今日最新</option>
                            <option value="3">显示最近3天</option>
                            <option value="5">显示最近5天</option>
                            <option value="7">显示最近7天</option>
                            <option value="15">显示最近15天</option>
                            <option value="30">显示最近30天</option>
                            <option value="60">显示最近60天</option>
                            <option value="180">显示最近半年</option>
                            <option value="1000">显示所有产品</option>
                        </select>
                        <input type="text" size="8" id="txtkeyword" onkeydown="listSearchKeyDown();" />
                        <input type="button" name="Submit" value="筛选" onclick="listsearch()" />
                    </div>
                    <div id="FilterDivB">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <!--只有商业信息对比功能才能使用-->
                                <%if pageinfo.ModuleFlag=="offer"||pageinfo.ModuleFlag=="venture"||pageinfo.ModuleFlag=="investment"||pageinfo.ModuleFlag=="service"%>
                                <td width="4%" style="padding-left: 4px;">
                                    <img src="{config.WebURL}templates/{config.TemplatePath}/images/list_than.gif" width="13"
                                        height="13" />
                                </td>
                                <td width="14%">
                                    <input type="button" value="对比产品" onclick="compareinfo();" />
                                </td>
                                <%/if%>
                                <td width="51%">
                                    <img src="{config.WebURL}templates/{config.TemplatePath}/images/list_Order_icon.gif" /><a
                                        href="javascript:void(null);" onclick="xy_setOrder('');">默认排序</a>&nbsp;
                                    <img src="{config.WebURL}templates/{config.TemplatePath}/images/list_Order_icon.gif" /><a
                                        href="javascript:void(null);" onclick="xy_setOrder('grade');">按会员级别</a>&nbsp;
                                    <img src="{config.WebURL}templates/{config.TemplatePath}/images/list_Order_icon.gif" /><a
                                        href="javascript:void(null);" onclick="xy_setOrder('time');">按发布时间</a>&nbsp;
                                    <img src="{config.WebURL}templates/{config.TemplatePath}/images/list_Order_icon.gif" /><a
                                        href="javascript:void(null);" onclick="xy_setOrder('active');">按活跃数</a>
                                </td>
                                <td width="31%" align="right">
                                    <a href="{config.weburl}keyword/" class="orange" target="_blank">申请固定排名,让您的产品排在前三位</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!--很重要，不能删除-->
                <input type="hidden" id="orderby" value="" />
                <input type="hidden" id="hidmoduleflag" value="{pageinfo.ModuleFlag}" />
                <script language="javascript">
                    window.onload = function () {
                        {pageinfo.OnLoadEvents}
                    }
                </script>
                <!--供求信息-->
                <div id="FixName">
                </div>
                <%if pageinfo.ModuleFlag=="offer"%>
                <div id="FixText">
                    {XY_SellOfferSaleNo1} {XY_SellOfferSaleNo2} {XY_SellOfferSaleNo3}
                </div>
                <div id="ProDiv">
                    {XY_OfferList}
                </div>
                <%/if%>
                <!--加工信息-->
                <%if pageinfo.ModuleFlag=="venture"%>
                <div id="FixName">
                </div>
                <div id="FixText">
                    {XY_MachiningNo1} {XY_MachiningNo2}
                </div>
                <div id="ProDiv">
                    {XY_MachiningList}
                </div>
                <%/if%>
                <!--招商信息-->
                <%if pageinfo.ModuleFlag=="investment"%>
                <div id="FixName">
                </div>
                <div id="FixText">
                    {XY_InvestmentNo1} {XY_InvestmentNo2}
                </div>
                <div id="ProDiv">
                    {XY_InvestmentList}
                </div>
                <%/if%>
                <!--服务信息-->
                <%if pageinfo.ModuleFlag=="service"%>
                <div id="FixName">
                </div>
                <div id="FixText">
                    {XY_ServiceNo1} {XY_ServiceNo2}
                </div>
                <div id="ProDiv">
                    {XY_ServiceList}
                </div>
                <%/if%>
                <!--展会信息-->
                <%if pageinfo.ModuleFlag=="exhibition"%>
                <div id="ProDiv">
                    {XY_ExhibitionList}
                </div>
                <%/if%>
                <!--品牌信息-->
                <%if pageinfo.ModuleFlag=="brand"%>
                <div id="ProDiv">
                    {XY_BrandList}
                </div>
                <%/if%>
                <!--企业信息-->
                <%if pageinfo.ModuleFlag=="company"%>
                <div id="ProDiv">
                    {XY_CompanyList}
                </div>
                <%/if%>
                <!--普通列表结束-->
                <div id="ProFind">
                    <strong class="orange">还没有找到合适的产品?</strong> 赶快<a href="{config.weburl}user/" target="_blank">发布求购信息</a>，让供应商主动来找您！</div>
                <div id="ProThan">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <!--只有商业信息对比功能才能使用-->
                            <%if pageinfo.ModuleFlag=="offer"||pageinfo.ModuleFlag=="venture"||pageinfo.ModuleFlag=="investment"||pageinfo.ModuleFlag=="service"%>
                            <td width="4%" style="padding-left: 4px;">
                                <span style="padding-left: 4px;">
                                    <img src="{config.WebURL}templates/{config.TemplatePath}/images/list_than.gif" width="13"
                                        height="13" /></span>
                            </td>
                            <td width="57%">
                                <input type="button" value="对比产品" onclick="compareinfo();" />
                            </td>
                            <%/if%>
                        </tr>
                    </table>
                </div>
                </form>
                <div id="splitPage">
                    <div id="Pages">
                        {pageinfo.PreviousPage}{pageinfo.NumPage}{pageinfo.NextPage} &nbsp;&nbsp;&nbsp;
                        直接转到&nbsp;
                        <input name="pageformat" type="hidden" value=".html">
                        <input name="page" id="cpage" size="3" maxlength="3" style="height: 13px;" value="{pageinfo.PageIndex}">&nbsp;页&nbsp;
                        <input type="submit" value="确定>>" style="height: 20px;" onclick="xy_GoToPage(cpage.value);">
                        <input type="hidden" id="totalPage" value="{pageinfo.PageCount}" />
                    </div>
                    <span style="font-size: 14px;">共 <strong class="orange">{pageinfo.TotalRecord}</strong>
                        条记录&nbsp;&nbsp;&nbsp;当前为第 <strong class="orange">{pageinfo.PageIndex}</strong> 页&nbsp;&nbsp;&nbsp;共
                        <strong class="orange">{pageinfo.PageCount}</strong> 页&nbsp;&nbsp;&nbsp;</span>
                </div>
                <!-- 左侧结束 -->
            </div>
            <div id="right">
                <div class="MTitle_01">
                    <center>
                        <a target="_blank" href="#" class="red big"><strong>黄金展位</strong></a></center>
                </div>
                <div class="Mblk_01">
                    <br />
                    <div class="news_exhi">
                        <ul>
                            <%set data=GetClassAds()%>
                            <%loop (DataRow) ads data%>
                            <li><a href="{ads[link]}" target="_blank">
                                <img src="{ads[imageurl]}" alt='{ads[desc]}' width="150" height="100" /></a></li>
                            <%/loop%>
                            <div class="clr">
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="MTitle_01">
                    <h2 id="h201" class="">
                        <a target="_blank" href="#"><strong>怎样推广我的产品？</strong></a></h2>
                </div>
                <div id="con01" class="Mblk_01">
                    <div class="com_pages">
                        <ul>
                            <li><a target="_blank" href="#">多国暴发甲型H1N1流感</a></li>
                            <li><a target="_blank" href="#">胡锦涛出席上合峰会</a></li>
                            <li><a target="_blank" href="#">伊朗大选引发政局动荡</a></li>
                            <li><a target="_blank" href="#">成都公交车发生燃烧</a></li>
                            <li><a target="_blank" href="#">法航空客A330客机坠毁</a></li>
                            <li><a target="_blank" href="#">成都公交车发生燃烧</a></li>
                            <li><a target="_blank" href="#">法航空客A330客机坠毁</a></li>
                        </ul>
                    </div>
                </div>
                <div class="MTitle_01">
                    <h2 id="h2_1" class="">
                        <a target="_blank" href="#"><strong>展会技巧</strong></a></h2>
                </div>
                <div id="Div1" class="Mblk_01">
                    <div class="com_pages">
                        <ul>
                            <li><a target="_blank" href="#">多国暴发甲型H1N1流感</a></li>
                            <li><a target="_blank" href="#">胡锦涛出席上合峰会</a></li>
                            <li><a target="_blank" href="#">伊朗大选引发政局动荡</a></li>
                            <li><a target="_blank" href="#">成都公交车发生燃烧</a></li>
                            <li><a target="_blank" href="#">法航空客A330客机坠毁</a></li>
                            <li><a target="_blank" href="#">成都公交车发生燃烧</a></li>
                            <li><a target="_blank" href="#">法航空客A330客机坠毁</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clr">
            </div>
        </div>
        <%include _footer%>
    </div>
</body>
</html>
