<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%include _head%>
</head>
<body>
    <div id="wrapper">
        <%Include _login_bar%>
        <%Include _top%>
        <%Include _search%>
        <div class="content">
            <!--left-->
            <div class="left">
                <%if votedata.Rows.Count>0%>
                <%loop (DataRow) vote votedata%>
                <div class="su-div-l">
                    <p class="su-l2">
                        <a href="{config.weburl}vote.{config.suffix}?voteid={vote[voteid]}">{vote[title]}</a></p>
                    <p class="height1">
                        {vote[desc]}</p>
                    <p class="height1">
                        开始时间：{vote[startTime]} | 结束时间：{vote[endtime]}</p>
                </div>
                <%/loop%>
                <%/if%>
                <p class="pajes">
                    当前是第 <span>{pageinfo.PageIndex}</span> 页 &nbsp;（共 <span>{pageinfo.PageCount}</span>
                    页）&nbsp;{pageinfo.FirstPage}&nbsp;{pageinfo.PreviousPage}&nbsp;{pageinfo.NextPage}&nbsp;{pageinfo.LastPage}
                </p>
            </div>
            <!--right-->
            <div class="right">
                <h2 class="su-h2">
                    热点新闻排行</h2>
                <div class="su-div1">
                    <p class="t1">
                        <a href="">北京有限公司撒旦发射点法大范甘迪萨芬广东佛山</a></p>
                    <p class="t2">
                        <a href="">北京有限公司撒旦发射点法大范甘迪</a></p>
                    <p class="t3">
                        <a href="">北京有限公司撒旦发射点</a></p>
                    <p class="t4">
                        <a href="">北京有限公司</a></p>
                    <p class="t5">
                        <a href="">北京有限公司撒旦发射点法大范甘迪萨芬广东佛山</a></p>
                    <p class="t6">
                        <a href="">北京有限公司撒旦发射点法大范甘迪</a></p>
                    <p class="t7">
                        <a href="">北京有限公司撒旦发射点</a></p>
                    <p class="t8">
                        <a href="">北京有限公司</a></p>
                    <p class="t9">
                        <a href="">北京有限公司撒旦发射点法大范甘迪萨芬广东佛山</a></p>
                    <p class="t10">
                        <a href="">北京有限公司撒旦发射点法大范甘迪</a></p>
                </div>
                <h2 class="su-h21">
                    <span class="nav-left">最新企业</span><span class="span-right"><a href="#">更多</a></span></h2>
                <div class="su-div1">
                    <p class="t4">
                        <a href="">北京有限公司</a></p>
                    <p class="t5">
                        <a href="">北京有限公司撒旦发射点法大范甘迪萨芬广东佛山</a></p>
                    <p class="t6">
                        <a href="">北京有限公司撒旦发射点法大范甘迪</a></p>
                    <p class="t7">
                        <a href="">北京有限公司撒旦发射点</a></p>
                    <p class="t8">
                        <a href="">北京有限公司</a></p>
                </div>
                <h2 class="su-h21">
                    <span class="nav-left">推荐企业</span><span class="span-right"><a href="#">更多</a></span></h2>
                <div class="su-div1">
                    <p class="p1">
                        地方噶士大夫撒旦撒地方啊斯蒂芬</p>
                    <ul class="su-ul1">
                        <div class="su-pr">
                            <a href="">
                                <img src="{config.weburl}templates/default/images/su.jpg" width="105" height="73"></a></div>
                        的方法士大夫撒旦啊斯蒂芬撒地方阿萨德啊斯蒂芬啊斯蒂芬暗室逢灯大师傅士大夫似的啊斯蒂芬啊斯蒂芬啊斯蒂芬啊斯蒂
                    </ul>
                    <p class="height1">
                        <b>目标人群：所有的消费者</b></p>
                    <p class="height1">
                        <b>完成调查的奖励：</b></p>
                    <p class="width">
                        ￥200元(1名幸运者)</p>
                    <p class="width">
                        ￥100元(2名幸运者)</p>
                    <p class="width">
                        ￥10元(25名幸运者)</p>
                    <p class="width">
                        ￥5元(每位填写者)</p>
                </div>
            </div>
        </div>
    </div>
    <%include _footer%>
</body>
</html>
