<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    </configSections>
    <appSettings>        
        <add key="OrderScanHz" value="3"/>
        <add key="TeamOrderScanHz" value="3"/>
        <add key="ContractScanHz" value="3"/>
    </appSettings>
    <connectionStrings>
        <add name="XYWebData" connectionString="Data Source=YIAPP-010;User ID=sa; Password=0;Initial Catalog=ShanDongYiJia;Pooling=true" providerName="System.Data.SqlClient"/>
        <!--
        <add name="XYWebData" connectionString="Data Source=61.150.91.119,1433;User ID=lihui; Password=lihui2011;Initial Catalog=ShanDongYiJia;Pooling=true" providerName="System.Data.SqlClient"/>
        -->
    </connectionStrings>
    <startup>
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <log4net debug="false">
        <!--服务运行日志-->
        <appender name="ServiceFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="_LogData/Service.config"/>
            <appendToFile value="true"/>
            <maxSizeRollBackups value="10"/>
            <maximumFileSize value="10MB"/>
            <param name="StaticLogFileName" value="true"/>
            <param name="RollingStyle" value="Size"/>
            <layout type="log4net.Layout.PatternLayout">
                <ConversionPattern value="异常时间：%d [%t] 异常级别：%-5p %n异 常 类：%c [%x] %n%m%n"/>
                <!--
                <ConversionPattern value="&lt;HR COLOR=red&gt;%n异常时间：%d [%t] &lt;BR&gt;%n异常级别：%-5p 
&lt;BR&gt;%n异 常 类：%c [%x] &lt;BR&gt;%n%m &lt;BR&gt;%n &lt;HR Size=1&gt;" />
                -->
            </layout>
        </appender>
        <logger name="ServiceError">
            <level value="ALL"/>
            <appender-ref ref="ServiceFileAppender"/>
        </logger>
    </log4net>
</configuration>
