<?xml version="1.0"?>
<configuration>
  <system.web>
    <httpRuntime maxRequestLength = "40960" useFullyQualifiedRedirectUrl="true"/>
    <globalization requestEncoding="gb2312" responseEncoding="gb2312"/>
    <authentication mode="Windows"/>
    <customErrors mode="Off" defaultRedirect="~/error.htm">
      <error statusCode="404" redirect="~/page404.htm"/>
    </customErrors>
    <httpModules>
      <add type="XYECOM.URL.HttpModule, XYECOM.URL" name="HttpModule"/>
    </httpModules>
    <httpHandlers>
      <add path="*.aspx" verb="*" type="System.Web.UI.PageHandlerFactory"/>
    </httpHandlers>
    <pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" enableViewStateMac="false">
      <controls>
        <add tagPrefix="XYECOM" tagName="Page" src="~/xymanage/UserControl/page.ascx"/>
        <add tagPrefix="XYECOM" tagName="UploadImage" src="~/xymanage/UserControl/UploadImage.ascx"/>
        <add tagPrefix="FCKeditorV2" assembly="FredCK.FCKeditorV2" namespace="FredCK.FCKeditorV2"/>
      </controls>
    </pages>
    <identity impersonate="false"/>
    <compilation debug="true"/>
  </system.web>
  <connectionStrings>
    <add name="XYWebData" connectionString="Data Source=hds-024.hichina.com;User ID=hds0240042; Password=318sanysxbao;Initial Catalog=hds0240042_db ;Pooling=true" providerName="System.Data.SqlClient"/>
    <!--<add name="XYWebData" connectionString="Data Source=192.168.1.111;User ID=sa; Password=0;Initial Catalog=ShanDongYiJia;Pooling=true" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <!--  设置由XYECS接管http请求-->
      <add type="XYECOM.URL.HttpModule, XYECOM.URL" name="HttpModule"/>
    </modules>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
