<?xml version="1.0" encoding="utf-8"?>
<urls>

  <rewrite name="exhibitioninfo" path="/exhibition/info-{0}.aspx" pattern="/exhibition/info-(\d+)?.aspx" page="/exhibition/info.aspx" querystring="infoid=$1" />
  <rewrite name="brandinfo" path="/brand/info-{0}.aspx" pattern="/brand/info-(\d+)?.aspx" page="/brand/info.aspx" querystring="infoid=$1" />
  <rewrite name="newsinfo" path="/news/content-{0}-{1}.aspx" pattern="/news/content-(\d+)?(-(\d+))?.aspx" page="/news/content.aspx" querystring="ns_id=$1^index=$3" />
  <rewrite name="newschannel" path="/news/channel-{0}-{1}.aspx" pattern="/news/channel-(\d+)?(-(\d+))?.aspx" page="/news/channel.aspx" querystring="nt_id=$1^pageindex=$3" />
  <rewrite name="newscomment" path="/news/comment-{0}-{1}.aspx" pattern="/news/comment-(\d+)?(-(\d+))?.aspx" page="/news/comment.aspx" querystring="ns_id=$1^pageindex=$3" />
  <rewrite name="xms" path="/news/xms/index.aspx" pattern="/news/xms/index.aspx" page="/news/xms/index.aspx" querystring="" />
  <rewrite name="joblist" path="/job/list-{0}-{1}-{2}-{3}-{4}-{5}-{6}-{7}-{8}-{9}.aspx" pattern="/job/list-(\d+)?-(\d+)?-(\d+)?-(\d+)?-(\d+)?-(\w+)?-(\w+)?-(\w+)?-(\d+)?-(\d+)?.aspx" page="/job/list.aspx" querystring="p_id=$1^provinceid=$2^cid=$3^areaid=$4^date=$5^keyword=$6^ckeyword=$7^showstyle=$8^pagesize=$9^pageindex=$10" />
  <rewrite name="corporationlist" path="/corporation/list-{0}-{1}.aspx" pattern="/corporation/list-(\d+)(-(\d+))?.aspx" page="/corporation/list.aspx" querystring="provinceid=$1^pageindex=$3" />
  <rewrite name="picture" path="/search/picture-{0}-{1}.aspx" pattern="/search/picture-([^\[\]\{\}\s]+)?-(\d+)?.aspx" page="/search/picture.aspx" querystring="flag=$1^id=$2" />
  <rewrite name="pic" path="/search/pic-{0}-{1}.aspx" pattern="/search/pic-([^\[\]\{\}\s]+)?-(\d+)?.aspx" page="/search/picture.aspx" querystring="flag=$1^at_id=$2" />
  <rewrite name="sellersearch" path="/search/seller_search-{0}-{1}-{2}-{3}-{4}-{5}-{6}-{7}-{8}-{9}.aspx" pattern="/search/seller_search-([^\s]+)-(\d+)?-([^\x00-\xff]*[\w]*)?-(\d+)?-(\d+)?-(\d+)?-(\d+)?-(\w+)?-(\d+)?-(\d+)?.aspx" page="/search/seller_search.aspx" querystring="flag=$1^pt_id=$2^keyword=$3^provinceid=$4^cid=$5^areaid=$6^date=$7^showstyle=$8^pagesize=$9^pageindex=$10" />
  <rewrite name="buyersearch" path="/search/buyer_search-{0}-{1}-{2}-{3}-{4}-{5}-{6}-{7}-{8}-{9}.aspx" pattern="/search/buyer_search-([^\s]+)-(\d+)?-(\w+)?-(\d+)?-(\d+)?-(\d+)?-(\d+)?-(\w+)?-(\d+)?-(\d+)?.aspx" page="/search/buyer_search.aspx" querystring="flag=$1^pt_id=$2^keyword=$3^provinceid=$4^cid=$5^areaid=$6^date=$7^showstyle=$8^pagesize=$9^pageindex=$10" />
  <rewrite name="sell" path="/search/sell-{0}-{1}.aspx" pattern="/search/sell-([^\[\]\{\}\s]+)-(\d+)?.aspx" page="/search/sell.aspx" querystring="flag=$1^infoid=$2" />
  <rewrite name="buy" path="/search/buy-{0}-{1}.aspx" pattern="/search/buy-([^\[\]\{\}\s]+)-(\d+)?.aspx" page="/search/buy.aspx" querystring="flag=$1^infoid=$2" />
  <rewrite name="order" path="/search/orderadd-{0}-{1}.aspx" pattern="/search/orderadd-([^\[\]\{\}\s]+)-(\d+)?.aspx" page="/search/orderadd.aspx" querystring="flag=$1^infoid=$2" />
  <rewrite name="shopjobinfo" path="/shop/{0}/job-{1}.aspx" pattern="/shop/([^\[\]\{\}\s]+)/job-(\d+)?.aspx" page="/shop//job.aspx" querystring="u_name=$1^ei_id=$2" />
  <rewrite name="shopindex" path="/shop/{0}/index.aspx" pattern="/shop/([^\[\]\{\}\s]+)/index.aspx" page="/shop//index.aspx" querystring="u_name=$1" />
  <rewrite name="shopjoblist" path="/shop/{0}/joblist.aspx" pattern="/shop/([^\[\]\{\}\s]+)/joblist(-(\d+))?.aspx" page="/shop//joblist.aspx" querystring="u_name=$1^pageindex=$3" />
  <rewrite name="shopintroduction" path="/shop/{0}/introduction.aspx" pattern="/shop/([^\[\]\{\}\s]+)/introduction.aspx" page="/shop//introduction.aspx" querystring="u_name=$1" />
  <rewrite name="shopcontact" path="/shop/{0}/contact.aspx" pattern="/shop/([^\[\]\{\}\s]+)/contact.aspx" page="/shop//contact.aspx" querystring="u_name=$1" />
  <rewrite name="shopnewslist" path="/shop/{0}/newslist-{1}.aspx" pattern="/shop/([^\[\]\{\}\s]+)/newslist(-(\d+))?.aspx" page="/shop//newslist.aspx" querystring="u_name=$1^pageindex=$3" />
  <rewrite name="shopnewsinfo" path="/shop/{0}/newsinfo-{1}.aspx" pattern="/shop/([^\[\]\{\}\s]+)/newsinfo-(\d+)?.aspx" page="/shop//newsinfo.aspx" querystring="n_id=$2" />
  <rewrite name="shopbrandlist" path="/shop/{0}/brandlist-{1}.aspx" pattern="/shop/([^\[\]\{\}\s]+)/brandlist(-(\d+))?.aspx" page="/shop//brandlist.aspx" querystring="u_name=$1^pageindex=$3" />
  <rewrite name="shopbrandinfo" path="/shop/{0}/brandinfo-{1}.aspx" pattern="/shop/([^\[\]\{\}\s]+)/brandinfo-(\d+)?.aspx" page="/shop//brandinfo.aspx" querystring="u_name=$1^b_id=$2" />
  <rewrite name="shopoffer" path="/shop/{0}/offer-{1}.aspx" pattern="/shop/([^\[\]\{\}\s]+)/offer(-(\d+))?.aspx" page="/shop//offer.aspx" querystring="u_name=$1^pageindex=$3" />
  <rewrite name="shopmachining" path="/shop/{0}/machining-{1}.aspx" pattern="/shop/([^\[\]\{\}\s]+)/machining(-(\d+))?.aspx" page="/shop//machining.aspx" querystring="u_name=$1^pageindex=$3" />
  <rewrite name="shopinvestment" path="/shop/{0}/investment-{1}.aspx" pattern="/shop/([^\[\]\{\}\s]+)/investment(-(\d+))?.aspx" page="/shop//investment.aspx" querystring="u_name=$1^pageindex=$3" />
  <rewrite name="shopservice" path="/shop/{0}/service-{1}.aspx" pattern="/shop/([^\[\]\{\}\s]+)/service(-(\d+))?.aspx" page="/shop//service.aspx" querystring="u_name=$1^pageindex=$3" />
  <rewrite name="shopproduct" path="/shop/{0}/product-{1}.aspx" pattern="/shop/([^\[\]\{\}\s]+)/product(-(\d+))?.aspx" page="/shop//product.aspx" querystring="u_name=$1^pageindex=$3" />
  <rewrite name="shopexhibition" path="/shop/{0}/exhibition-{1}.aspx" pattern="/shop/([^\[\]\{\}\s]+)/exhibition(-(\d+))?.aspx" page="/shop//exhibition.aspx" querystring="u_name=$1^pageindex=$3" />
  <rewrite name="shopcred" path="/shop/{0}/cred.aspx" pattern="/shop/([^\[\]\{\}\s]+)/cred.aspx" page="/shop//cred.aspx" querystring="u_name=$1" />
  <rewrite name="shopcertificateinfo" path="/shop/{0}/certificateinfo-{1}.aspx" pattern="/shop/([^\[\]\{\}\s]+)/certificateinfo(-(\d+))?.aspx" page="/shop//certificateinfo.aspx" querystring="u_name=$1^ce_id=$3" />
  <rewrite name="dshopindex" path="{0}.xyecs.cn/index.aspx" pattern="([^\[\]\{\}\s]+).xyecs.cn/index.aspx" page="/shop//index.aspx" querystring="u_name=$1" />
  <rewrite name="djobinfo" path="{0}.xyecs.cn/job-{1}.aspx" pattern="([^\[\]\{\}\s]+).xyecs.cn/job-(\d+)?.aspx" page="/shop//job.aspx" querystring="u_name=$1^ei_id=$2" />
  <rewrite name="djoblist" path="{0}.xyecs.cn/joblist.aspx" pattern="([^\[\]\{\}\s]+).xyecs.cn/joblist.aspx" page="/shop//joblist.aspx" querystring="u_name=$1" />
  <rewrite name="dintroduction" path="{0}.xyecs.cn/introduction.aspx" pattern="([^\[\]\{\}\s]+).xyecs.cn/introduction.aspx" page="/shop//introduction.aspx" querystring="u_name=$1" />
  <rewrite name="dcontact" path="{0}.xyecs.cn/contact.aspx" pattern="([^\[\]\{\}\s]+).xyecs.cn/contact.aspx" page="/shop//contact.aspx" querystring="u_name=$1" />
  <rewrite name="dnewslist" path="{0}.xyecs.cn/newslist-{1}.aspx" pattern="([^\[\]\{\}\s]+).xyecs.cn/newslist(-(\d+))?.aspx" page="/shop//newslist.aspx" querystring="u_name=$1^pageindex=$3" />
  <rewrite name="dnewsinfo" path="{0}.xyecs.cn/newsinfo-{1}.aspx" pattern="([^\[\]\{\}\s]+).xyecs.cn/newsinfo-(\d+)?.aspx" page="/shop//newsinfo.aspx" querystring="n_id=$2" />
  <rewrite name="dbrandlist" path="{0}.xyecs.cn/brandlist-{1}.aspx" pattern="([^\[\]\{\}\s]+).xyecs.cn/brandlist(-(\d+))?.aspx" page="/shop//brandlist.aspx" querystring="u_name=$1^pageindex=$3" />
  <rewrite name="dbrandinfo" path="{0}.xyecs.cn/brandinfo.aspx" pattern="([^\[\]\{\}\s]+).xyecs.cn/brandinfo-(\d+)?.aspx" page="/shop//brandinfo.aspx" querystring="u_name=$1^b_id=$2" />
  <rewrite name="doffer" path="{0}.xyecs.cn/offer-{1}.aspx" pattern="([^\[\]\{\}\s]+).xyecs.cn/offer(-(\d+))?.aspx" page="/shop//offer.aspx" querystring="u_name=$1^pageindex=$3" />
  <rewrite name="dmachining" path="{0}.xyecs.cn/machining-{1}.aspx" pattern="([^\[\]\{\}\s]+).xyecs.cn/machining(-(\d+))?.aspx" page="/shop//machining.aspx" querystring="u_name=$1^pageindex=$3" />
  <rewrite name="dinvestment" path="{0}.xyecs.cn/investment-{1}.aspx" pattern="([^\[\]\{\}\s]+).xyecs.cn/investment(-(\d+))?.aspx" page="/shop//investment.aspx" querystring="u_name=$1^pageindex=$3" />
  <rewrite name="dservice" path="{0}.xyecs.cn/service-{1}.aspx" pattern="([^\[\]\{\}\s]+).xyecs.cn/service(-(\d+))?.aspx" page="/shop//service.aspx" querystring="u_name=$1^pageindex=$3" />
  <rewrite name="dproduct" path="{0}.xyecs.cn/product-{1}.aspx" pattern="([^\[\]\{\}\s]+).xyecs.cn/product(-(\d+))?.aspx" page="/shop//product.aspx" querystring="u_name=$1^pageindex=$3" />
  <rewrite name="dexhibition" path="{0}.xyecs.cn/exhibition-{1}.aspx" pattern="([^\[\]\{\}\s]+).xyecs.cn/exhibition(-(\d+))?.aspx" page="/shop//exhibition.aspx" querystring="u_name=$1^pageindex=$3" />
  <rewrite name="dcred" path="{0}.xyecs.cn/cred.aspx" pattern="([^\[\]\{\}\s]+).xyecs.cn/cred.aspx" page="/shop//cred.aspx" querystring="u_name=$1" />
  <rewrite name="dcertificateinfo" path="{0}.xyecs.cn/certificateinfo-{1}.aspx" pattern="([^\[\]\{\}\s]+).xyecs.cn/certificateinfo(-(\d+))?.aspx" page="/shop//certificateinfo.aspx" querystring="u_name=$1^ce_id=$3" />
  <rewrite name="keywordinfo" path="/keyword/info-{0}.aspx" pattern="/keyword/info-(\d+)?.aspx" page="/keyword/info.aspx" querystring="ktid=$1" />
</urls>