<?xml version="1.0" encoding="utf-8"?>
<urls>

  <rewrite name="exhibitioninfo" path="/exhibition/info-{0}.html" pattern="/exhibition/info-(\d+)?.html" page="/exhibition/info.html" querystring="infoid=$1" />
  <rewrite name="brandinfo" path="/brand/info-{0}.html" pattern="/brand/info-(\d+)?.html" page="/brand/info.html" querystring="infoid=$1" />
  <rewrite name="newsinfo" path="/news/content-{0}-{1}.html" pattern="/news/content-(\d+)?(-(\d+))?.html" page="/news/content.html" querystring="ns_id=$1^index=$3" />
  <rewrite name="newschannel" path="/news/channel-{0}-{1}.html" pattern="/news/channel-(\d+)?(-(\d+))?.html" page="/news/channel.html" querystring="nt_id=$1^pageindex=$3" />
  <rewrite name="newscomment" path="/news/comment-{0}-{1}.html" pattern="/news/comment-(\d+)?(-(\d+))?.html" page="/news/comment.html" querystring="ns_id=$1^pageindex=$3" />
  <rewrite name="userinfo" page="/company/info.html" pattern="/company/info-(\d+)?.html" querystring="userid=$1" path="/company/info-{0}.html" />
  <rewrite name="xms" path="/news/xms/index.html" pattern="/news/xms/index.html" page="/news/xms/index.html" querystring="" />
  <rewrite name="joblist" path="/job/list-{0}-{1}-{2}-{3}-{4}-{5}-{6}-{7}-{8}-{9}.html" pattern="/job/list-(\d+)?-(\d+)?-(\d+)?-(\d+)?-(\d+)?-(\w+)?-(\w+)?-(\w+)?-(\d+)?-(\d+)?.html" page="/job/list.html" querystring="p_id=$1^provinceid=$2^cid=$3^areaid=$4^date=$5^keyword=$6^ckeyword=$7^showstyle=$8^pagesize=$9^pageindex=$10" />
  <rewrite name="corporationlist" path="/corporation/list-{0}-{1}.html" pattern="/corporation/list-(\d+)(-(\d+))?.html" page="/corporation/list.html" querystring="provinceid=$1^pageindex=$3" />
  <rewrite name="picture" path="/search/picture-{0}-{1}.html" pattern="/search/picture-([^\[\]\{\}\s]+)?-(\d+)?.html" page="/search/picture.html" querystring="flag=$1^id=$2" />
  <rewrite name="pic" path="/search/pic-{0}-{1}.html" pattern="/search/pic-([^\[\]\{\}\s]+)?-(\d+)?.html" page="/search/picture.html" querystring="flag=$1^at_id=$2" />
  <rewrite name="sellersearch" path="/search/seller_search-{0}-{1}-{2}-{3}-{4}-{5}-{6}-{7}-{8}-{9}.html" pattern="/search/seller_search-([^\s]+)-(\d+)?-([^\x00-\xff]*[\w]*)?-(\d+)?-(\d+)?-(\d+)?-(\d+)?-(\w+)?-(\d+)?-(\d+)?.html" page="/search/seller_search.html" querystring="flag=$1^pt_id=$2^keyword=$3^provinceid=$4^cid=$5^areaid=$6^date=$7^showstyle=$8^pagesize=$9^pageindex=$10" />
  <rewrite name="buyersearch" path="/search/buyer_search-{0}-{1}-{2}-{3}-{4}-{5}-{6}-{7}-{8}-{9}.html" pattern="/search/buyer_search-([^\s]+)-(\d+)?-(\w+)?-(\d+)?-(\d+)?-(\d+)?-(\d+)?-(\w+)?-(\d+)?-(\d+)?.html" page="/search/buyer_search.html" querystring="flag=$1^pt_id=$2^keyword=$3^provinceid=$4^cid=$5^areaid=$6^date=$7^showstyle=$8^pagesize=$9^pageindex=$10" />
   <rewrite name="newssearch"
           page="/search/news_search.html"
           pattern="/search/news_search-(\d+)?-(\d+)?-([\u0391-\uFFE5\w]*[,]{0,1}[\u0391-\uFFE5\w]*)?-([/\w]+)?-([a-z]+)?-(\d+)?-(\d+)?-(\w+)?.html"
           querystring="type=$1^typeid=$2^keyword=$3^date=$4^showstyle=$5^pagesize=$6^pageindex=$7^custom=$8" path="/search/seller_search-{0}-{1}-{2}-{3}-{4}-{5}-{6}-{7}.html" />

  <rewrite name="sell" path="/search/sell-{0}-{1}.html" pattern="/search/sell-([^\[\]\{\}\s]+)-(\d+)?.html" page="/search/sell.html" querystring="flag=$1^infoid=$2" />
  <rewrite name="buy" path="/search/buy-{0}-{1}.html" pattern="/search/buy-([^\[\]\{\}\s]+)-(\d+)?.html" page="/search/buy.html" querystring="flag=$1^infoid=$2" />
  <rewrite name="order" path="/search/orderadd-{0}-{1}.html" pattern="/search/orderadd-([^\[\]\{\}\s]+)-(\d+)?.html" page="/search/orderadd.html" querystring="flag=$1^infoid=$2" />
  <rewrite name="shopjobinfo" path="/shop/{0}/job-{1}.html" pattern="/shop/([^\[\]\{\}\s]+)/job-(\d+)?.html" page="/shop//job.html" querystring="u_name=$1^ei_id=$2" />
  <rewrite name="shopindex" path="/shop/{0}/index.html" pattern="/shop/([^\[\]\{\}\s]+)/index.html" page="/shop//index.html" querystring="u_name=$1" />
  <rewrite name="shopjoblist" path="/shop/{0}/joblist.html" pattern="/shop/([^\[\]\{\}\s]+)/joblist(-(\d+))?.html" page="/shop//joblist.html" querystring="u_name=$1^pageindex=$3" />
  <rewrite name="shopintroduction" path="/shop/{0}/introduction.html" pattern="/shop/([^\[\]\{\}\s]+)/introduction.html" page="/shop//introduction.html" querystring="u_name=$1" />
  <rewrite name="shopcontact" path="/shop/{0}/contact.html" pattern="/shop/([^\[\]\{\}\s]+)/contact.html" page="/shop//contact.html" querystring="u_name=$1" />
  <rewrite name="shopnewslist" path="/shop/{0}/newslist-{1}.html" pattern="/shop/([^\[\]\{\}\s]+)/newslist(-(\d+))?.html" page="/shop//newslist.html" querystring="u_name=$1^pageindex=$3" />
  <rewrite name="shopnewsinfo" path="/shop/{0}/newsinfo-{1}.html" pattern="/shop/([^\[\]\{\}\s]+)/newsinfo-(\d+)?.html" page="/shop//newsinfo.html" querystring="n_id=$2" />
  <rewrite name="shopbrandlist" path="/shop/{0}/brandlist-{1}.html" pattern="/shop/([^\[\]\{\}\s]+)/brandlist(-(\d+))?.html" page="/shop//brandlist.html" querystring="u_name=$1^pageindex=$3" />
  <rewrite name="shopbrandinfo" path="/shop/{0}/brandinfo-{1}.html" pattern="/shop/([^\[\]\{\}\s]+)/brandinfo-(\d+)?.html" page="/shop//brandinfo.html" querystring="u_name=$1^b_id=$2" />
  <rewrite name="shopoffer" path="/shop/{0}/offer-{1}.html" pattern="/shop/([^\[\]\{\}\s]+)/offer(-(\d+))?.html" page="/shop//offer.html" querystring="u_name=$1^pageindex=$3" />
  <rewrite name="shopmachining" path="/shop/{0}/machining-{1}.html" pattern="/shop/([^\[\]\{\}\s]+)/machining(-(\d+))?.html" page="/shop//machining.html" querystring="u_name=$1^pageindex=$3" />
  <rewrite name="shopinvestment" path="/shop/{0}/investment-{1}.html" pattern="/shop/([^\[\]\{\}\s]+)/investment(-(\d+))?.html" page="/shop//investment.html" querystring="u_name=$1^pageindex=$3" />
  <rewrite name="shopservice" path="/shop/{0}/service-{1}.html" pattern="/shop/([^\[\]\{\}\s]+)/service(-(\d+))?.html" page="/shop//service.html" querystring="u_name=$1^pageindex=$3" />
  <rewrite name="shopproduct" path="/shop/{0}/product-{1}.html" pattern="/shop/([^\[\]\{\}\s]+)/product(-(\d+))?.html" page="/shop//product.html" querystring="u_name=$1^pageindex=$3" />
  <rewrite name="shopexhibition" path="/shop/{0}/exhibition-{1}.html" pattern="/shop/([^\[\]\{\}\s]+)/exhibition(-(\d+))?.html" page="/shop//exhibition.html" querystring="u_name=$1^pageindex=$3" />
  <rewrite name="shopcred" path="/shop/{0}/cred.html" pattern="/shop/([^\[\]\{\}\s]+)/cred.html" page="/shop//cred.html" querystring="u_name=$1" />
  <rewrite name="shopcertificateinfo" path="/shop/{0}/certificateinfo-{1}.html" pattern="/shop/([^\[\]\{\}\s]+)/certificateinfo(-(\d+))?.html" page="/shop//certificateinfo.html" querystring="u_name=$1^ce_id=$3" />
  <rewrite name="dshopindex" path="{0}.htmlecs.cn/index.html" pattern="([^\[\]\{\}\s]+).htmlecs.cn/index.html" page="/shop//index.html" querystring="u_name=$1" />
  <rewrite name="djobinfo" path="{0}.htmlecs.cn/job-{1}.html" pattern="([^\[\]\{\}\s]+).htmlecs.cn/job-(\d+)?.html" page="/shop//job.html" querystring="u_name=$1^ei_id=$2" />
  <rewrite name="djoblist" path="{0}.htmlecs.cn/joblist.html" pattern="([^\[\]\{\}\s]+).htmlecs.cn/joblist.html" page="/shop//joblist.html" querystring="u_name=$1" />
  <rewrite name="dintroduction" path="{0}.htmlecs.cn/introduction.html" pattern="([^\[\]\{\}\s]+).htmlecs.cn/introduction.html" page="/shop//introduction.html" querystring="u_name=$1" />
  <rewrite name="dcontact" path="{0}.htmlecs.cn/contact.html" pattern="([^\[\]\{\}\s]+).htmlecs.cn/contact.html" page="/shop//contact.html" querystring="u_name=$1" />
  <rewrite name="dnewslist" path="{0}.htmlecs.cn/newslist-{1}.html" pattern="([^\[\]\{\}\s]+).htmlecs.cn/newslist(-(\d+))?.html" page="/shop//newslist.html" querystring="u_name=$1^pageindex=$3" />
  <rewrite name="dnewsinfo" path="{0}.htmlecs.cn/newsinfo-{1}.html" pattern="([^\[\]\{\}\s]+).htmlecs.cn/newsinfo-(\d+)?.html" page="/shop//newsinfo.html" querystring="n_id=$2" />
  <rewrite name="dbrandlist" path="{0}.htmlecs.cn/brandlist-{1}.html" pattern="([^\[\]\{\}\s]+).htmlecs.cn/brandlist(-(\d+))?.html" page="/shop//brandlist.html" querystring="u_name=$1^pageindex=$3" />
  <rewrite name="dbrandinfo" path="{0}.htmlecs.cn/brandinfo.html" pattern="([^\[\]\{\}\s]+).htmlecs.cn/brandinfo-(\d+)?.html" page="/shop//brandinfo.html" querystring="u_name=$1^b_id=$2" />
  <rewrite name="doffer" path="{0}.htmlecs.cn/offer-{1}.html" pattern="([^\[\]\{\}\s]+).htmlecs.cn/offer(-(\d+))?.html" page="/shop//offer.html" querystring="u_name=$1^pageindex=$3" />
  <rewrite name="dmachining" path="{0}.htmlecs.cn/machining-{1}.html" pattern="([^\[\]\{\}\s]+).htmlecs.cn/machining(-(\d+))?.html" page="/shop//machining.html" querystring="u_name=$1^pageindex=$3" />
  <rewrite name="dinvestment" path="{0}.htmlecs.cn/investment-{1}.html" pattern="([^\[\]\{\}\s]+).htmlecs.cn/investment(-(\d+))?.html" page="/shop//investment.html" querystring="u_name=$1^pageindex=$3" />
  <rewrite name="dservice" path="{0}.htmlecs.cn/service-{1}.html" pattern="([^\[\]\{\}\s]+).htmlecs.cn/service(-(\d+))?.html" page="/shop//service.html" querystring="u_name=$1^pageindex=$3" />
  <rewrite name="dproduct" path="{0}.htmlecs.cn/product-{1}.html" pattern="([^\[\]\{\}\s]+).htmlecs.cn/product(-(\d+))?.html" page="/shop//product.html" querystring="u_name=$1^pageindex=$3" />
  <rewrite name="dexhibition" path="{0}.htmlecs.cn/exhibition-{1}.html" pattern="([^\[\]\{\}\s]+).htmlecs.cn/exhibition(-(\d+))?.html" page="/shop//exhibition.html" querystring="u_name=$1^pageindex=$3" />
  <rewrite name="dcred" path="{0}.htmlecs.cn/cred.html" pattern="([^\[\]\{\}\s]+).htmlecs.cn/cred.html" page="/shop//cred.html" querystring="u_name=$1" />
  <rewrite name="dcertificateinfo" path="{0}.htmlecs.cn/certificateinfo-{1}.html" pattern="([^\[\]\{\}\s]+).htmlecs.cn/certificateinfo(-(\d+))?.html" page="/shop//certificateinfo.html" querystring="u_name=$1^ce_id=$3" />
  <rewrite name="keywordinfo" path="/keyword/info-{0}.html" pattern="/keyword/info-(\d+)?.html" page="/keyword/info.html" querystring="ktid=$1" />
</urls>