<?xml version="1.0" encoding="utf-8"?>
<XYConfig>
  <!--是否启用整合-->
  <Enabled>False</Enabled>
  <!--整合程序版本-->
  <BBSVersion>Discuz!NT 2.6</BBSVersion>
  <!--Dnt PasswordKey-->
  <PasswordKey>Z00PJR42NH</PasswordKey>
  <!--数据库类型(SQLServer,Access)-->
  <DBType>SQLServer</DBType>
  <!--Cookie域-->
  <CookieDomain>xyecs.cn</CookieDomain>
  <!--DNT 数据库连接字符串-->
  <ConnectionString>Data Source=(local);User ID=sa;Password=0;Initial Catalog=dnt2.6;Pooling=true</ConnectionString>
  <!--BBS访问域名-->
  <BBSURL>http://bbs.xyecs.cn/</BBSURL>
  <!--DNT表前缀-->
  <DNTTablePrefix>dnt_</DNTTablePrefix>
</XYConfig> 