<?xml version="1.0" encoding="utf-8"?>
<XYConfig>
  <Number>5</Number>
  <IsInherit>True</IsInherit>
  <Price>
    <Item Step="1" Price="880" />
    <Item Step="2" Price="632" />
    <Item Step="3" Price="400" />
    <Item Step="4" Price="200" />
    <Item Step="5" Price="1" />
  </Price>
</XYConfig>