<?xml version="1.0" encoding="utf-8"?>
<XYConfig>
  <Item>
    <Key>ICP</Key>
    <Value>京8888888822</Value>
  </Item>
  <Item>
    <Key>Tel</Key>
    <Value>13555555555</Value>
  </Item>
  <Item>
    <Key>MSN</Key>
    <Value>MSN@Hotmail.com</Value>
  </Item>
  <Item>
    <Key>QQ</Key>
    <Value>&lt;a href=tencent://message/?uin=68267102&amp;Site=纵横易商&gt;&lt;img border="0" SRC=http://wpa.qq.com/pa?p=7:68267102:7 alt="点击这里给我发消息"&gt;&lt;/a&gt;</Value>
  </Item>
  <Item>
    <Key>Live</Key>
    <Value>&lt;!-- Live800在线客服图标:TTT[浮动型] 开始--&gt;&lt;div style='display:none;'&gt;&lt;a href='http://www.live800.com'&gt;在线客服&lt;/a&gt;&lt;/div&gt;&lt;script language="javascript" src="http://chat16.live800.com/live800/chatClient/floatButton.js?jid=4060436819&amp;companyID=107142&amp;configID=19997&amp;codeType=custom"&gt;&lt;/script&gt;&lt;div style='display:none;'&gt;&lt;a href='http://www.live800.com'&gt;在线客服系统&lt;/a&gt;&lt;/div&gt;&lt;!-- Live800在线客服图标:TTT[浮动型] 结束--&gt;&lt;!-- Live800默认跟踪代码: 开始--&gt;&lt;script language="javascript" src="http://chat16.live800.com/live800/chatClient/monitor.js?jid=4060436819&amp;companyID=107142&amp;configID=19990&amp;codeType=custom"&gt;&lt;/script&gt;&lt;!-- Live800默认跟踪代码: 结束--&gt;</Value>
  </Item>
</XYConfig>