<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net"  type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    </configSections>

    <log4net debug="false">
        <!--前台错误-->
        <appender name="LogFileAppender" type="log4net.Appender.FileAppender" >
            <file value="_LogData/log.config"/>
            <appendToFile value="true"/>
            <maxSizeRollBackups value="10"/>
            <maximumFileSize value="10MB"/>
            <param name="StaticLogFileName" value="true" />
            <param name="RollingStyle" value="Size" />
            <layout type="log4net.Layout.PatternLayout">
                <ConversionPattern value="&lt;HR COLOR=red&gt;%n异常时间：%d [%t] &lt;BR&gt;%n异常级别：%-5p 
&lt;BR&gt;%n异 常 类：%c [%x] &lt;BR&gt;%n%m &lt;BR&gt;%n &lt;HR Size=1&gt;" />
            </layout>
        </appender>

        <!--后台错误-->
        <appender name="ManageLogFileAppender" type="log4net.Appender.FileAppender" >
            <file value="_LogData/manage.config"/>
            <appendToFile value="true"/>
            <maxSizeRollBackups value="10"/>
            <maximumFileSize value="10MB"/>
            <param name="StaticLogFileName" value="true" />
            <param name="RollingStyle" value="Size" />
            <layout type="log4net.Layout.PatternLayout">
                <ConversionPattern value="&lt;HR COLOR=red&gt;%n异常时间：%d [%t] &lt;BR&gt;%n异常级别：%-5p 
&lt;BR&gt;%n异 常 类：%c [%x] &lt;BR&gt;%n%m &lt;BR&gt;%n &lt;HR Size=1&gt;" />
            </layout>
        </appender>

        <!--用户中心错误-->
        <appender name="UserFileAppender" type="log4net.Appender.RollingFileAppender" >
            <file value="_LogData/user.config"/>
            <appendToFile value="true"/>
            <maxSizeRollBackups value="10"/>
            <maximumFileSize value="10MB"/>
            <param name="StaticLogFileName" value="true" />
            <param name="RollingStyle" value="Size" />
            <layout type="log4net.Layout.PatternLayout">
                <ConversionPattern value="&lt;HR COLOR=red&gt;%n异常时间：%d [%t] &lt;BR&gt;%n异常级别：%-5p 
&lt;BR&gt;%n异 常 类：%c [%x] &lt;BR&gt;%n%m &lt;BR&gt;%n &lt;HR Size=1&gt;" />

            </layout>
        </appender>
        <logger name="Error">
            <level value="ALL" />
            <appender-ref ref="LogFileAppender" />
        </logger>

        <logger name="ManageError">
            <level value="ALL" />
            <appender-ref ref="ManageLogFileAppender" />
        </logger>

        <logger name="UserError">
            <level value="ALL" />
            <appender-ref ref="UserFileAppender" />
        </logger>
    </log4net>
</configuration>

