<?xml version="1.0" encoding="utf-8"?>
<modules>
  <mnode ename="offer" sename="offer" cname="供求信息" pename="" order="1" description="供求信息" state="True">
    <item id="1" prefix="供应" postfix="" infotype="sell" />
    <!--<item id="2" prefix="求购" postfix="" infotype="buy" />
    <item id="3" prefix="紧急求购" postfix="" infotype="buy" />-->
  </mnode>
    <mnode ename="buy" sename="buy" cname="求购信息" pename="" order="1" description="求购信息" state="True">
        <item id="1" prefix="求购" postfix="" infotype="buy" />
    </mnode>
</modules>