<?xml version="1.0" encoding="utf-8"?>
<XYConfig>
  <Alipay enabled="True">
    <service>create_direct_pay_by_user</service>
    <partner>userid</partner>
    <inputcharset>gbk</inputcharset>
    <email>useraccount</email>
    <securitycode>code</securitycode>
  </Alipay>
  <ChinaBank enabled="True">
    <v_mid>userid</v_mid>
    <key>userkey</key>
  </ChinaBank>
  <_99Bill enabled="True">
    <merchant_id>usercode</merchant_id>
    <merchant_key>userkey</merchant_key>
  </_99Bill>
</XYConfig>    