<?xml version="1.0" encoding="utf-8"?>
<XYConfig>
  <PasswordKey>075151345303036314658126</PasswordKey>
  <!--系统AES加密密钥,不了解密钥规则请不要修改，否则系统将运行异常-->
  <AESKey>0x01,0x02,0x03,0x04,0x05,0x06,0x07,0xa8,0x09,0x10,0x11,0x12,0x13,0x14,0xde,0x16</AESKey>
  <!--验证码开启项-->
  <ValidateCodeItem>register,1|login,0|comment,0|message,0|order,1|quickpost,1</ValidateCodeItem>
  <!--禁止Ip列表，多个以|隔开-->
  <ForbidIP>
  </ForbidIP>
  <!--验证码长度-->
  <VCodeLength>2</VCodeLength>
  <!--验证码扭曲度-->
  <VCodeTortuosity>3</VCodeTortuosity>
  <!--验证码字符池-->
  <VCodeCharPool>2,3,4,5,6,7,8,9,a,b,c,d,e,f,g,h,j,k,m,n,p,q,r,s,t,u,v,w,x,y,z,A,B,C,D,E,F,G,H,J,K,L,M,N,P,Q,R,S,T,U,V,W,X,Y,Z</VCodeCharPool>
</XYConfig>