<?xml version="1.0" encoding="utf-8"?>
<XYConfig>
  <appendWebName>True</appendWebName>
  <indexpage>
    <page modulename="webindex" title="演示站" description="行业网站,电子商务系统,商务程序" keywords="行业网站,电子商务系统,商务程序" isrobots="True" />
    <page modulename="brand" title="品牌首页标题1" description="品牌首页描述1" keywords="品牌首页关键字1" isrobots="True" />
    <page modulename="company" title="conpany-index-title" description="conpany-index-desc" keywords="conpany-index-keywords" isrobots="True" />
    <page modulename="news" title="新闻首页标题" description="新闻首页描述" keywords="新闻首页关键词" isrobots="True" />
    <page modulename="job" title="人才首页标题" description="人才首页描述" keywords="人才首页关键词" isrobots="True" />
    <page modulename="offer" title="供求首页标题" description="供求首页描述" keywords="供求首页关键词" isrobots="True" />
    <page modulename="venture" title="加工首页标题" description="加工首页描述" keywords="加工首页关键词" isrobots="True" />
    <page modulename="investment" title="招商首页标题" description="招商首页描述" keywords="招商首页关键词" isrobots="True" />
    <page modulename="service" title="服务首页标题" description="服务首页描述" keywords="服务首页关键词" isrobots="True" />
    <page modulename="exhibition" title="展会首页标题" description="展会首页描述" keywords="展会首页关键词" isrobots="True" />
  </indexpage>
  <listpage>
    <page modulename="brand" title="品牌列表页标题1" description="品牌列表页描述1" keywords="品牌列表页关键词1" ismatch="True" />
    <page modulename="company" title="conpany-list-title" description="conpany-list-desc" keywords="conpany-list-keywords" ismatch="True" />
    <page modulename="news" title="新闻列表页标题" description="新闻列表页描述" keywords="新闻列表页关键词" ismatch="True" />
    <page modulename="job" title="人才列表页标题" description="人才列表页描述" keywords="人才列表页关键词" ismatch="False" />
    <page modulename="offer" title="供求列表页标题" description="供求列表页描述" keywords="供求列表页关键词" ismatch="False" />
    <page modulename="venture" title="加工列表页标题" description="加工列表页描述" keywords="加工列表页关键词" ismatch="False" />
    <page modulename="investment" title="招商列表页标题" description="招商列表页描述" keywords="招商列表页关键词" ismatch="False" />
    <page modulename="service" title="服务列表页标题" description="服务列表页描述" keywords="服务列表页关键词" ismatch="False" />
    <page modulename="exhibition" title="展会列表页标题" description="展会列表页描述" keywords="展会列表页关键词" ismatch="False" />
  </listpage>
  <infopage>
    <page modulename="brand" title="品牌信息页标题1" description="品牌信息页描述1" keywords="品牌信息页关键词1" ismatch="False" />
    <page modulename="company" title="{keyword}" description="conpany-list-keywords" keywords="conpany-list-keywords" ismatch="True" />
    <page modulename="news" title="{keyword}" description="{keyword}" keywords="{keyword}" ismatch="True" />
    <page modulename="job" title="人才信息页标题" description="人才信息页描述" keywords="人才信息页关键词" ismatch="False" />
    <page modulename="offer" title="供求信息页标题" description="供求信息页描述" keywords="供求信息页关键词" ismatch="False" />
    <page modulename="venture" title="加工信息页标题" description="加工信息页描述" keywords="加工信息页关键词" ismatch="False" />
    <page modulename="investment" title="招商信息页标题" description="招商列表页描述" keywords="招商列表页关键词" ismatch="False" />
    <page modulename="service" title="服务信息页标题" description="服务信息页描述" keywords="服务信息页关键词" ismatch="False" />
    <page modulename="exhibition" title="展会信息页标题" description="展会信息页描述" keywords="展会信息页关键词" ismatch="False" />
  </infopage>
</XYConfig>   