<?xml version="1.0" encoding="utf-8"?>
<XYConfig>
  <IndexNewProNumber>10</IndexNewProNumber>
  <IndexOfferNumber>10</IndexOfferNumber>
  <ProductPageSize>2</ProductPageSize>
  <InfoPageSize>10</InfoPageSize>
  <NewsPageSize>10</NewsPageSize>
  <BrandPageSize>10</BrandPageSize>
  <JobPageSize>10</JobPageSize>
</XYConfig>