<?xml version="1.0" encoding="utf-8"?>
<urls>

    <rewrite name="areasite" page="/area//index.aspx" pattern="/area/([^\[\]\{\}\s]+)-index.aspx" querystring="fn=$1" path="/area/{1}-index.aspx" group="area" />
    <rewrite name="dareasite" page="/area//index.aspx" pattern="([^\[\]\{\}\s]+).botao.com/index.aspx" querystring="fn=$1" path="{0}.botao.com/index.aspx" group="area"/>


    <rewrite name="dnewschannel" page="/news//channel.aspx" pattern="([^\[\]\{\}\s]+).botao.com/channel-(\d+)?(-(\d+))?.aspx" querystring="nt_id=$2^pageindex=$4" path="{0}.botao.com/channel-{1}-{2}.aspx" group="news" />
    <rewrite name="dnewsindex" page="/news//index.aspx" pattern="([^\[\]\{\}\s]+).botao.com/index.aspx" querystring="" path="{0}.botao.com/index.aspx" group="news" />
    <rewrite name="dnewsinfo" page="/news//content.aspx" pattern="([^\[\]\{\}\s]+).botao.com/content-(\d+)?(-(\d+))?.aspx" querystring="ns_id=$2^index=$4" path="{0}.botao.com/content-{1}-{2}.aspx" group="news" />

    <rewrite name="cnewsindex" page="/news//index.aspx" pattern="/news/([^\[\]\{\}\s]+)/index.aspx" querystring="" path="/news/{0}/index.aspx" group="news" />
    <rewrite name="cnewschannel" page="/news//channel.aspx" pattern="/news/([^\[\]\{\}\s]+)/channel-(\d+)?(-(\d+))?.aspx" querystring="nt_id=$2^pageindex=$4" path="/news/{0}/channel-{1}-{2}.aspx" group="news" />
    <rewrite name="cnewsinfo" page="/news//content.aspx" pattern="/news/([^\[\]\{\}\s]+)/content-(\d+)?(-(\d+))?.aspx" querystring="ns_id=$2^index=$4" path="/news/{0}/content-{1}-{2}.aspx" group="news" />

    <rewrite name="newsinfo" page="/news/content.aspx" pattern="/news/content-(\d+)?(-(\d+))?.aspx" querystring="ns_id=$1^index=$3" path="/news/content-{0}-{1}.aspx" group="" />
    <rewrite name="newschannel" page="/news/channel.aspx" pattern="/news/channel-(\d+)?(-(\d+))?.aspx" querystring="nt_id=$1^pageindex=$3" path="/news/channel-{0}-{1}.aspx" group="" />
    <rewrite name="newscomment" page="/news/comment.aspx" pattern="/news/comment-(\d+)?(-(\d+))?.aspx" querystring="ns_id=$1^pageindex=$3" path="/news/comment-{0}-{1}.aspx" group="" />

    <!--亿家-->  
    <rewrite name="newssearch" page="/search/news_search.aspx" pattern="/search/news_search-(\d+)?-(\d+)?-([\u0391-\uFFE5\w]*[,]{0,1}[\u0391-\uFFE5\w]*)?-([/\w]+)?-([a-z]+)?-(\d+)?-(\d+)?-(\w+)?.aspx" querystring="type=$1^typeid=$2^keyword=$3^date=$4^showstyle=$5^pagesize=$6^pageindex=$7^custom=$8" path="/search/seller_search-{0}-{1}-{2}-{3}-{4}-{5}-{6}-{7}.aspx" group="" />
   

  <rewrite name="shopindex" page="/shop//index.aspx" pattern="/shop/([^\[\]\{\}\s]+)/index.aspx" querystring="u_name=$1" path="/shop/{0}/index.aspx" group="sp" />
    
    <rewrite name="shopjoblist" page="/shop//joblist.aspx" pattern="/shop/([^\[\]\{\}\s]+)/joblist(-(\d+))?.aspx" querystring="u_name=$1^pageindex=$3" path="/shop/{0}/joblist.aspx" group="sp" />
    <rewrite name="shopintroduction" page="/shop//introduction.aspx" pattern="/shop/([^\[\]\{\}\s]+)/introduction.aspx" querystring="u_name=$1" path="/shop/{0}/introduction.aspx" group="sp" />
    <rewrite name="shopcontact" page="/shop//contact.aspx" pattern="/shop/([^\[\]\{\}\s]+)/contact.aspx" querystring="u_name=$1" path="/shop/{0}/contact.aspx" group="sp" />
    <rewrite name="shopcred" page="/shop//cred.aspx" pattern="/shop/([^\[\]\{\}\s]+)/cred.aspx" querystring="u_name=$1" path="/shop/{0}/cred.aspx" group="sp" />
    <rewrite name="shopcertificateinfo" page="/shop//certificateinfo.aspx" pattern="/shop/([^\[\]\{\}\s]+)/certificateinfo(-(\d+))?.aspx" querystring="u_name=$1^id=$3" path="/shop/{0}/certificateinfo-{1}.aspx" group="sp" />
</urls>
