<?xml version="1.0" encoding="utf-8"?>
<urls>

    <rewrite name="tradesite" page="/trade//index.aspx" pattern="/trade/([^\[\]\{\}\s]+)-index.aspx" querystring="fn=$1" path="/trade/{1}-index.aspx" group="trade" />
    <rewrite name="dtradesite" page="/trade//index.aspx" pattern="([^\[\]\{\}\s]+).botao.com/index.aspx" querystring="fn=$1" path="{0}.botao.com/index.aspx" group="trade"/>

    <rewrite name="procate" page="/cate//index.aspx" pattern="/cate/([^\[\]\{\}\s]+)-index.aspx" querystring="fn=$1" path="/cate/{1}-index.aspx" group="cate" />
    <rewrite name="dprocate" page="/cate//index.aspx" pattern="([^\[\]\{\}\s]+).botao.com/index.aspx" querystring="fn=$1" path="{0}.botao.com/index.aspx" group="cate"/>

    <rewrite name="areasite" page="/area//index.aspx" pattern="/area/([^\[\]\{\}\s]+)-index.aspx" querystring="fn=$1" path="/area/{1}-index.aspx" group="area" />
    <rewrite name="dareasite" page="/area//index.aspx" pattern="([^\[\]\{\}\s]+).botao.com/index.aspx" querystring="fn=$1" path="{0}.botao.com/index.aspx" group="area"/>


    <rewrite name="dnewschannel" page="/news//channel.aspx" pattern="([^\[\]\{\}\s]+).botao.com/channel-(\d+)?(-(\d+))?.aspx" querystring="nt_id=$2^pageindex=$4" path="{0}.botao.com/channel-{1}-{2}.aspx" group="news" />
    <rewrite name="dnewsindex" page="/news//index.aspx" pattern="([^\[\]\{\}\s]+).botao.com/index.aspx" querystring="" path="{0}.botao.com/index.aspx" group="news" />
    <rewrite name="dnewsinfo" page="/news//content.aspx" pattern="([^\[\]\{\}\s]+).botao.com/content-(\d+)?(-(\d+))?.aspx" querystring="ns_id=$2^index=$4" path="{0}.botao.com/content-{1}-{2}.aspx" group="news" />

    <rewrite name="cnewsindex" page="/news//index.aspx" pattern="/news/([^\[\]\{\}\s]+)/index.aspx" querystring="" path="/news/{0}/index.aspx" group="news" />
    <rewrite name="cnewschannel" page="/news//channel.aspx" pattern="/news/([^\[\]\{\}\s]+)/channel-(\d+)?(-(\d+))?.aspx" querystring="nt_id=$2^pageindex=$4" path="/news/{0}/channel-{1}-{2}.aspx" group="news" />
    <rewrite name="cnewsinfo" page="/news//content.aspx" pattern="/news/([^\[\]\{\}\s]+)/content-(\d+)?(-(\d+))?.aspx" querystring="ns_id=$2^index=$4" path="/news/{0}/content-{1}-{2}.aspx" group="news" />

    <rewrite name="exhibitioninfo" page="/exhibition/info.aspx" pattern="/exhibition/info-(\d+)?.aspx" querystring="infoid=$1" path="/exhibition/info-{0}.aspx" group="" />
    <rewrite name="brandinfo" page="/brand/info.aspx" pattern="/brand/info-(\d+)?.aspx" querystring="infoid=$1" path="/brand/info-{0}.aspx" group="" />
    <rewrite name="newsinfo" page="/news/content.aspx" pattern="/news/content-(\d+)?(-(\d+))?.aspx" querystring="ns_id=$1^index=$3" path="/news/content-{0}-{1}.aspx" group="" />
    <rewrite name="newschannel" page="/news/channel.aspx" pattern="/news/channel-(\d+)?(-(\d+))?.aspx" querystring="nt_id=$1^pageindex=$3" path="/news/channel-{0}-{1}.aspx" group="" />
    <rewrite name="newscomment" page="/news/comment.aspx" pattern="/news/comment-(\d+)?(-(\d+))?.aspx" querystring="ns_id=$1^pageindex=$3" path="/news/comment-{0}-{1}.aspx" group="" />
    <rewrite name="userinfo" page="/company/info.aspx" pattern="/company/info-(\d+)?.aspx" querystring="ui=$1" path="/company/info-{0}.aspx" group="" />
    <rewrite name="joblist" page="/job/list.aspx" pattern="/job/list-(\d+)?-(\d+)?-(\d+)?-(\d+)?-([\u0391-\uFFE5\w]*[,]{0,1}[\u0391-\uFFE5\w]*)?-(\d+)?-(\d+)?-(\w+)?.aspx" querystring="typeid=$1^areaid=$2^date=$3^jobtype=$4^keyword=$5^pagesize=$6^pageindex=$7^custom=$8" path="/job/list-{0}-{1}-{2}-{3}-{4}-{5}-{6}-{7}.aspx" group="" />
    <rewrite name="resumelist" page="/job/resumelist.aspx" pattern="/job/resumelist-([\u0391-\uFFE5\w]*[,]{0,1}[\u0391-\uFFE5\w]*)?-(\d+)?-([\u0391-\uFFE5\w]*[,]{0,1}[\u0391-\uFFE5\w]*)?-([\u0391-\uFFE5\w]*[,]{0,1}[\u0391-\uFFE5\w]*)?-(\d+)?-(\d+)?-([\u0391-\uFFE5\w]*[,]{0,1}[\u0391-\uFFE5\w]*)?-(\d+)?-(\d+)?-(\w+)?.aspx" querystring="jobkeyword=$1^hopecityid=$2^Schoolage=$3^JobYear=$4^Intentpay1=$5^Intentpay2=$6^schoolname=$7^pagesize=$8^pageindex=$9^custom=$10" path="/job/list-{0}-{1}-{2}-{3}-{4}-{5}-{6}-{7}-{8}-{9}.aspx" group="" />
    <rewrite name="resumeinfo" page="/job/resume.aspx" pattern="/job/resume-(\d+)?.aspx" querystring="id=$1" path="/job/resume-{0}.aspx" group="" />
    <rewrite name="picture" page="/search/picture.aspx" pattern="/search/picture-([^\[\]\{\}\s]+)?-(\d+)?.aspx" querystring="flag=$1^id=$2" path="/search/picture-{0}-{1}.aspx" group="" />

    <rewrite name="quickbuy" page="/quickbuy.aspx" pattern="/quickbuy-([^\s]+)-([^\s]+)-(\d+)?-([^\s]+)-([^\s]+)-([^\s]+)-(\d+)??.aspx" querystring="title=$1^key=$2^num=$3^con=$4^linkman=$5^tel=$6^jinji=$7" path="/quickbuy-{0}-{1}-{2}-{3}-{4}-{5}-{6}.aspx" group="" />
    <!--亿家-->
    <rewrite name="sellersearch" page="/search/seller_search.aspx" pattern="/search/seller_search-([^\s]+)-([^\s]+)?-([\u0391-\uFFE5\w]*[,]{0,1}[\u0391-\uFFE5\w]*)?-(\d+)?-(\w+)?-(\d+)?-(\d+)?-(\w+)?-(\d+)?-(\d+)?.aspx" querystring="flag=$1^typeid=$2^keyword=$3^tradeid=$4^order=$5^areaid=$6^date=$7^showstyle=$8^pagesize=$9^pageindex=$10" path="/search/seller_search-{0}-{1}-{2}-{3}-{4}-{5}-{6}-{7}-{8}-{9}.aspx" group="" />
    <rewrite name="buysearch" page="/search/buy_search.aspx" pattern="/search/buy_search-([^\s]+)-(\d+)?-(\d+)?-(\d+)?-(\d+)?.aspx" querystring="keyword=$1^jinji=$2^data=$3^pagesize=$4^style=$5^pageindex=$6" path="/search/buy_search-{0}-{1}-{2}-{3}-{4}-{5}.aspx" group="" />
    <rewrite name="newssearch" page="/search/news_search.aspx" pattern="/search/news_search-(\d+)?-(\d+)?-([\u0391-\uFFE5\w]*[,]{0,1}[\u0391-\uFFE5\w]*)?-([/\w]+)?-([a-z]+)?-(\d+)?-(\d+)?-(\w+)?.aspx" querystring="type=$1^typeid=$2^keyword=$3^date=$4^showstyle=$5^pagesize=$6^pageindex=$7^custom=$8" path="/search/seller_search-{0}-{1}-{2}-{3}-{4}-{5}-{6}-{7}.aspx" group="" />
    <rewrite name="sell" page="/search/sell.aspx" pattern="/search/sell-([^\[\]\{\}\s]+)-(\d+)?.aspx" querystring="flag=$1^infoid=$2" path="/search/sell-{0}-{1}.aspx" group="" />
    <rewrite name="buy" page="/search/buy.aspx" pattern="/search/buy-([^\[\]\{\}\s]+)-(\d+)?.aspx" querystring="flag=$1^infoid=$2" path="/search/buy-{0}-{1}.aspx" group="" />
    <rewrite name="order" page="/search/orderadd.aspx" pattern="/search/orderadd-([^\[\]\{\}\s]+)-(\d+)?.aspx" querystring="flag=$1^infoid=$2" path="/search/orderadd-{0}-{1}.aspx" group="" />
    <rewrite name="keywordinfo" page="/keyword/info.aspx" pattern="/keyword/info-(\d+)?.aspx" querystring="ktid=$1" path="/keyword/info-{0}.aspx" group="" />
    <rewrite name="tbdetail" page="/teambuy/details.aspx" pattern="/teambuy/details-(\d+)?.aspx" querystring="tbId=$1" path="/teambuy/tbdetail-{0}.aspx" group="" />

    <rewrite name="shopjobinfo" page="/shop//job.aspx" pattern="/shop/([^\[\]\{\}\s]+)/job-(\d+)?.aspx" querystring="u_name=$1^id=$2" path="/shop/{0}/job-{1}.aspx" group="sp" />
    <rewrite name="shopindex" page="/shop//index.aspx" pattern="/shop/([^\[\]\{\}\s]+)/index.aspx" querystring="u_name=$1" path="/shop/{0}/index.aspx" group="sp" />
    <rewrite name="shopjoblist" page="/shop//joblist.aspx" pattern="/shop/([^\[\]\{\}\s]+)/joblist(-(\d+))?.aspx" querystring="u_name=$1^pageindex=$3" path="/shop/{0}/joblist.aspx" group="sp" />
    <rewrite name="shopintroduction" page="/shop//introduction.aspx" pattern="/shop/([^\[\]\{\}\s]+)/introduction.aspx" querystring="u_name=$1" path="/shop/{0}/introduction.aspx" group="sp" />
    <rewrite name="shopcontact" page="/shop//contact.aspx" pattern="/shop/([^\[\]\{\}\s]+)/contact.aspx" querystring="u_name=$1" path="/shop/{0}/contact.aspx" group="sp" />
    <rewrite name="shopnewslist" page="/shop//newslist.aspx" pattern="/shop/([^\[\]\{\}\s]+)/newslist(-(\d+))?.aspx" querystring="u_name=$1^pageindex=$3" path="/shop/{0}/newslist-{1}.aspx" group="sp" />
    <rewrite name="shopnewsinfo" page="/shop//newsinfo.aspx" pattern="/shop/([^\[\]\{\}\s]+)/newsinfo-(\d+)?.aspx" querystring="u_name=$1^id=$2" path="/shop/{0}/newsinfo-{1}.aspx" group="sp" />
    <rewrite name="shopbrandinfo" page="/shop//brandinfo.aspx" pattern="/shop/([^\[\]\{\}\s]+)/brandinfo-(\d+)?.aspx" querystring="u_name=$1^id=$2" path="/shop/{0}/brandinfo-{1}.aspx" group="sp" />
    <!--
    <rewrite name="shopmachining" page="/shop//machining.aspx" pattern="/shop/([^\[\]\{\}\s]+)/machining(-(\d+))?.aspx" querystring="u_name=$1^pageindex=$3" path="/shop/{0}/machining-{1}.aspx" group="sp" />
    -->
    <rewrite name="shopinvestment" page="/shop//investment.aspx" pattern="/shop/([^\[\]\{\}\s]+)/investment(-(\d+))?.aspx" querystring="u_name=$1^pageindex=$3" path="/shop/{0}/investment-{1}.aspx" group="sp" />
    <rewrite name="shopservice" page="/shop//service.aspx" pattern="/shop/([^\[\]\{\}\s]+)/service(-(\d+))?.aspx" querystring="u_name=$1^pageindex=$3" path="/shop/{0}/service-{1}.aspx" group="sp" />
    <rewrite name="shopproduct" page="/shop//product.aspx" pattern="/shop/([^\[\]\{\}\s]+)/product(-(\d+)?-([\u0391-\uFFE5\w]*[,]{0,1}[\u0391-\uFFE5\w]*)?-(\d+)?)?.aspx" querystring="u_name=$1^typeid=$3^keyword=$4^pageindex=$5" path="/shop/{0}/product-{1}-{2}-{3}.aspx" group="sp" />
    <rewrite name="shopcred" page="/shop//cred.aspx" pattern="/shop/([^\[\]\{\}\s]+)/cred.aspx" querystring="u_name=$1" path="/shop/{0}/cred.aspx" group="sp" />
    <rewrite name="shopcertificateinfo" page="/shop//certificateinfo.aspx" pattern="/shop/([^\[\]\{\}\s]+)/certificateinfo(-(\d+))?.aspx" querystring="u_name=$1^id=$3" path="/shop/{0}/certificateinfo-{1}.aspx" group="sp" />
    <!--add by botao 产品详细页-->
    <rewrite name="shopofferdetail" page="/shop//offerdetail.aspx" pattern="/shop/([^\[\]\{\}\s]+)/offerdetail(-(\d+))?.aspx" querystring="u_name=$1^infoid=$3" path="/shop/{0}/offerdetail-{1}.aspx" group="sp" />
    <rewrite name="shoptbdetail" page="/shop//tbdetail.aspx" pattern="/shop/([^\[\]\{\}\s]+)/tbdetail(-(\d+))?.aspx" querystring="u_name=$1^infoid=$3" path="/shop/{0}/tbdetail-{1}.aspx" group="sp" />
    <!--tbindex.aspx?keyword=&style=&pagesize=&pageindex= 商场用-->
    <rewrite name="shoptbindex" page="/shop//tbindex.aspx" pattern="/shop/([^\[\]\{\}\s]+)/tbindex-([\u0391-\uFFE5\w]*[,]{0,1}[\u0391-\uFFE5\w]*)?-(\w+)?-(\d+)?-(\d+)?.aspx" querystring="u_name=$1^keyword=$2^style=$3^pagesize=$4^pageindex=$5" path="/shop/{0}/tbindex-{1}-{2}-{3}-{4}.aspx" group="sp" />
    <!--tbindex.aspx?keyword=&style=&pagesize=&pageindex= 普通网店用-->
    <rewrite name="shoplist" page="/shop//list.aspx" pattern="/shop/([^\[\]\{\}\s]+)/list-([\u0391-\uFFE5\w]*[,]{0,1}[\u0391-\uFFE5\w]*)?-(\w+)?-(\d+)?-(\d+)?.aspx" querystring="u_name=$1^keyword=$2^style=$3^pagesize=$4^pageindex=$5" path="/shop/{0}/list-{1}-{2}-{3}-{4}.aspx" group="sp" />
    <!--购买记录页面-->
    <rewrite name="buyloglist" page="/shop//buyloglist.aspx" pattern="/shop/([^\[\]\{\}\s]+)/buyloglist(-(\d+))?(-(\d+))?.aspx" querystring="u_name=$1^infoid=$3^pageindex=$5" path="/shop/{0}/buyloglist-{1}-{2}.aspx" group="sp" />
    <!--评价页面-->
    <rewrite name="evaluationlist" page="/shop//evaluationlist.aspx" pattern="/shop/([^\[\]\{\}\s]+)/evaluationlist(-(\d+))?(-(\d+))?.aspx" querystring="u_name=$1^infoid=$3^pageindex=$5" path="/shop/{0}/evaluationlist-{1}-{2}.aspx" group="sp" />

    <rewrite name="shopcategory" page="/shop//category.aspx" pattern="/shop/([^\[\]\{\}\s]+)/category(-(\d+))?.aspx" querystring="u_name=$1^infoid=$3" path="/shop/{0}/category-{1}.aspx" group="sp" />
    <!--modiy by botao 产品列表页-->
    <rewrite name="shopofferlist" page="/shop//offerlist.aspx" pattern="/shop/([^\[\]\{\}\s]+)/offerlist-([\u0391-\uFFE5\w]*[,]{0,1}[\u0391-\uFFE5\w]*)?-(\d+)?-(\d+)?-(\d+)?-(\d+)?-(\d+)?-(\d+)?.aspx" querystring="u_name=$1^keyword=$2^typeid=$3^brandid=$4^orderby=$5^showstyle=$6^price=$7^pageindex=$8" path="/shop/{0}/offerlist-{1}-{2}-{3}-{4}-{5}-{6}-{7}.aspx" group="sp" />
    <!--add by fy 品牌页-->
    <rewrite name="shopbrand" page="/shop//brandlist.aspx" pattern="/shop/([^\[\]\{\}\s]+)/brandlist(-(\d+)?)?(-(\d+)?)?.aspx" querystring="u_name=$1^pid=$3^pageindex=$5" path="/shop/{0}/brandlist-{1}-{2}.aspx" group="sp" />
    <!--add by lihui 用户普通模板-->
    <rewrite name="shopoffer" page="/shop//offer.aspx" pattern="/shop/([^\[\]\{\}\s]+)/offer(-(\d+))?.aspx" querystring="u_name=$1^pageindex=$3" path="/shop/{0}/offer-{1}.aspx" group="sp" />
    <!--add by botao 融资列表及详细页-->
    <rewrite name="shopventurelist" page="/shop//venturelist.aspx" pattern="/shop/([^\[\]\{\}\s]+)/venturelist(-(\d+)?)?(-(\d+)?)?(-(\d+)?)?(-(\d+)?)?.aspx" querystring="u_name=$1^pageindex=$3^tradeId=$5^areaId=$7^typeId=$9" path="/shop/{0}/venturelist-{1}-{2}-{3}-{4}.aspx" group="sp" />
    <rewrite name="shopventure" page="/shop//venture.aspx" pattern="/shop/([^\[\]\{\}\s]+)/venture-(\d+).aspx" querystring="u_name=$1^infoid=$2" path="/shop/{0}/venture-{1}.aspx" group="sp" />
    <!--end 融资列表及详细页-->
    <rewrite name="dshopindex" page="/shop//index.aspx" pattern="([^\[\]\{\}\s]+).botao.com/index.aspx" querystring="u_name=$1" path="{0}.botao.com/index.aspx" group="shop" />
    <rewrite name="djobinfo" page="/shop//job.aspx" pattern="([^\[\]\{\}\s]+).botao.com/job-(\d+)?.aspx" querystring="u_name=$1^id=$2" path="{0}.botao.com/job-{1}.aspx" group="shop" />
    <rewrite name="djoblist" page="/shop//joblist.aspx" pattern="([^\[\]\{\}\s]+).botao.com/joblist.aspx" querystring="u_name=$1" path="{0}.botao.com/joblist.aspx" group="shop" />
    <rewrite name="dintroduction" page="/shop//introduction.aspx" pattern="([^\[\]\{\}\s]+).botao.com/introduction.aspx" querystring="u_name=$1" path="{0}.botao.com/introduction.aspx" group="shop" />
    <rewrite name="dcontact" page="/shop//contact.aspx" pattern="([^\[\]\{\}\s]+).botao.com/contact.aspx" querystring="u_name=$1" path="{0}.botao.com/contact.aspx" group="shop" />
    <rewrite name="dnewslist" page="/shop//newslist.aspx" pattern="([^\[\]\{\}\s]+).botao.com/newslist(-(\d+))?.aspx" querystring="u_name=$1^pageindex=$3" path="{0}.botao.com/newslist-{1}.aspx" group="shop" />
    <rewrite name="dnewsinfo" page="/shop//newsinfo.aspx" pattern="([^\[\]\{\}\s]+).botao.com/newsinfo-(\d+)?.aspx" querystring="u_name=$1^id=$2" path="{0}.botao.com/newsinfo-{1}.aspx" group="shop" />
    <rewrite name="dbrandlist" page="/shop//brandlist.aspx" pattern="([^\[\]\{\}\s]+).botao.com/brandlist(-(\d+)?)?(-(\d+)?)?.aspx" querystring="u_name=$1^pid=$3^pageindex=$5" path="{0}.botao.com/brandlist-{1}-{2}.aspx" group="shop" />
    <rewrite name="dbrandinfo" page="/shop//brandinfo.aspx" pattern="([^\[\]\{\}\s]+).botao.com/brandinfo-(\d+)?.aspx" querystring="u_name=$1^id=$2" path="{0}.botao.com/brandinfo.aspx" group="shop" />
    <rewrite name="doffer" page="/shop//offer.aspx" pattern="([^\[\]\{\}\s]+).botao.com/offer(-(\d+))?.aspx" querystring="u_name=$1^pageindex=$3" path="{0}.botao.com/offer-{1}.aspx" group="shop" />
    <rewrite name="dmachining" page="/shop//machining.aspx" pattern="([^\[\]\{\}\s]+).botao.com/machining(-(\d+))?.aspx" querystring="u_name=$1^pageindex=$3" path="{0}.botao.com/machining-{1}.aspx" group="shop" />
    <rewrite name="dinvestment" page="/shop//investment.aspx" pattern="([^\[\]\{\}\s]+).botao.com/investment(-(\d+))?.aspx" querystring="u_name=$1^pageindex=$3" path="{0}.botao.com/investment-{1}.aspx" group="shop" />
    <rewrite name="dservice" page="/shop//service.aspx" pattern="([^\[\]\{\}\s]+).botao.com/service(-(\d+))?.aspx" querystring="u_name=$1^pageindex=$3" path="{0}.botao.com/service-{1}.aspx" group="shop" />
    <rewrite name="dproduct" page="/shop//product.aspx" pattern="([^\[\]\{\}\s]+).botao.com/product(-(\d+)?-([\u0391-\uFFE5\w]*[,]{0,1}[\u0391-\uFFE5\w]*)?-(\d+)?)?.aspx" querystring="u_name=$1^typeid=$3^keyword=$4^pageindex=$5" path="{0}.botao.com/product-{1}-{2}-{3}.aspx" group="shop" />
    <rewrite name="dcred" page="/shop//cred.aspx" pattern="([^\[\]\{\}\s]+).botao.com/cred.aspx" querystring="u_name=$1" path="{0}.botao.com/cred.aspx" group="shop" />
    <rewrite name="dcertificateinfo" page="/shop//certificateinfo.aspx" pattern="([^\[\]\{\}\s]+).botao.com/certificateinfo(-(\d+))?.aspx" querystring="u_name=$1^id=$3" path="{0}.botao.com/certificateinfo-{1}.aspx" group="shop" />

    <rewrite name="topshopindex" page="/shop//index.aspx" pattern="([^\[\]\{\}\s]+)/index.aspx" querystring="udomain=$1" path="{0}/index.aspx" group="topshop" />
    <rewrite name="topjobinfo" page="/shop//job.aspx" pattern="([^\[\]\{\}\s]+)/job-(\d+)?.aspx" querystring="udomain=$1^id=$2" path="{0}/job-{1}.aspx" group="topshop" />
    <rewrite name="topjoblist" page="/shop//joblist.aspx" pattern="([^\[\]\{\}\s]+)/joblist.aspx" querystring="udomain=$1" path="{0}/joblist.aspx" group="topshop" />
    <rewrite name="topintroduction" page="/shop//introduction.aspx" pattern="([^\[\]\{\}\s]+)/introduction.aspx" querystring="udomain=$1" path="{0}/introduction.aspx" group="topshop" />
    <rewrite name="topcontact" page="/shop//contact.aspx" pattern="([^\[\]\{\}\s]+)/contact.aspx" querystring="udomain=$1" path="{0}/contact.aspx" group="topshop" />
    <rewrite name="topnewslist" page="/shop//newslist.aspx" pattern="([^\[\]\{\}\s]+)/newslist(-(\d+))?.aspx" querystring="udomain=$1^pageindex=$3" path="{0}/newslist-{1}.aspx" group="topshop" />
    <rewrite name="topnewsinfo" page="/shop//newsinfo.aspx" pattern="([^\[\]\{\}\s]+)/newsinfo-(\d+)?.aspx" querystring="udomain=$1^id=$2" path="{0}/newsinfo-{1}.aspx" group="topshop" />
    <rewrite name="topbrandlist" page="/shop//brandlist.aspx" pattern="([^\[\]\{\}\s]+)/brandlist(-(\d+)?)?(-(\d+)?)?.aspx" querystring="udomain=$1^pid=$3^pageindex=$5" path="{0}/brandlist-{1}-{2}.aspx" group="topshop" />
    <rewrite name="topbrandinfo" page="/shop//brandinfo.aspx" pattern="([^\[\]\{\}\s]+)/brandinfo-(\d+)?.aspx" querystring="udomain=$1^id=$2" path="{0}/brandinfo.aspx" group="topshop" />
    <rewrite name="topoffer" page="/shop//offer.aspx" pattern="([^\[\]\{\}\s]+)/offer(-(\d+))?.aspx" querystring="udomain=$1^pageindex=$3" path="{0}/offer-{1}.aspx" group="topshop" />
    <rewrite name="topmachining" page="/shop//machining.aspx" pattern="([^\[\]\{\}\s]+)/machining(-(\d+))?.aspx" querystring="udomain=$1^pageindex=$3" path="{0}/machining-{1}.aspx" group="topshop" />
    <rewrite name="topinvestment" page="/shop//investment.aspx" pattern="([^\[\]\{\}\s]+)/investment(-(\d+))?.aspx" querystring="udomain=$1^pageindex=$3" path="{0}/investment-{1}.aspx" group="topshop" />
    <rewrite name="topservice" page="/shop//service.aspx" pattern="([^\[\]\{\}\s]+)/service(-(\d+))?.aspx" querystring="udomain=$1^pageindex=$3" path="{0}/service-{1}.aspx" group="topshop" />
    <rewrite name="topproduct" page="/shop//product.aspx" pattern="([^\[\]\{\}\s]+)/product(-(\d+)?-([\u0391-\uFFE5\w]*[,]{0,1}[\u0391-\uFFE5\w]*)?-(\d+)?)?.aspx" querystring="udomain=$1^typeid=$3^keyword=$4^pageindex=$5" path="{0}/product-{1}-{2}-{3}.aspx" group="topshop" />
    <rewrite name="topcred" page="/shop//cred.aspx" pattern="([^\[\]\{\}\s]+)/cred.aspx" querystring="udomain=$1" path="{0}/cred.aspx" group="topshop" />
    <rewrite name="topcertificateinfo" page="/shop//certificateinfo.aspx" pattern="([^\[\]\{\}\s]+)/certificateinfo(-(\d+))?.aspx" querystring="udomain=$1^id=$3" path="{0}/certificateinfo-{1}.aspx" group="topshop" />
    <rewrite name="toptbindex" page="/shop//tbindex.aspx" pattern="([^\[\]\{\}\s]+)/tbindex-([\u0391-\uFFE5\w]*[,]{0,1}[\u0391-\uFFE5\w]*)?-(\w+)?-(\d+)?-(\d+)?.aspx" querystring="udomain=$1^keyword=$2^style=$3^pagesize=$4^pageindex=$5" path="{0}/tbindex-{1}-{2}-{3}-{4}.aspx" group="topshop" />
    <rewrite name="topofferlist" page="/shop//offerlist.aspx" pattern="([^\[\]\{\}\s]+)/offerlist-([\u0391-\uFFE5\w]*[,]{0,1}[\u0391-\uFFE5\w]*)?-(\d+)?-(\d+)?-(\d+)?-(\d+)?-(\d+)?-(\d+)?.aspx" querystring="udomain=$1^keyword=$2^typeid=$3^brandid=$4^orderby=$5^showstyle=$6^price=$7^pageindex=$8" path="{0}offerlist-{1}-{2}-{3}-{4}-{5}-{6}-{7}.aspx" group="topshop" />
    <rewrite name="topofferdetail" page="/shop//offerdetail.aspx" pattern="([^\[\]\{\}\s]+)/offerdetail(-(\d+))?.aspx" querystring="udomain=$1^infoid=$3" path="{0}/offerdetail-{1}.aspx" group="topshop" />
    <rewrite name="topcategory" page="/shop//category.aspx" pattern="([^\[\]\{\}\s]+)/category(-(\d+))?.aspx" querystring="udomain=$1^infoid=$3" path="{0}/category-{1}.aspx" group="topshop" />
    <rewrite name="topventurelist" page="/shop//venturelist.aspx" pattern="([^\[\]\{\}\s]+)/venturelist(-(\d+)?)?(-(\d+)?)?(-(\d+)?)?(-(\d+)?)?.aspx" querystring="udomain=$1^pageindex=$3^tradeId=$5^areaId=$7^typeId=$9" path="{0}/venturelist-{1}-{2}-{3}-{4}.aspx" group="topshop" />
    <!--
    百科开始
  -->
    <rewrite name="baikeedit" page="/baike/lemmaedit.aspx" pattern="/baike/lemmaedit-(\d+)?.aspx" querystring="lid=$1" path="/baike/lemmaedit-{0}.aspx" group="" />
    <rewrite name="baikeview" page="/baike/view.aspx" pattern="/baike/view-(\d+)?.aspx" querystring="lid=$1" path="/baike/view-{0}.aspx" group="" />
    <rewrite name="baiklist" page="/baike/list.aspx" pattern="/baike/list-(\d+)?-([\u0391-\uFFE5\w]*[,]{0,1}[\u0391-\uFFE5\w]*)?-(\d+)?.aspx" querystring="typeid=$1^keyword=$2^pageindex=$3" path="/baike/list-{0}-{1}-{2}.aspx" group="" />
    <!--
  百科结束
-->
</urls>
