<?xml version="1.0" encoding="utf-8"?>
<XYConfig>
  <!--==================基本信息开始==============================-->
  <!--网站名称-->
  <WebName>包青天债权管理网</WebName>
  <!--网站域名-->
  <WebDomain>http://www.baoqt.cn/</WebDomain>
  <!--Logo地址-->
  <WebLogo>http://www.baoqt.cn/common/images/logo.gif</WebLogo>
  <!--网站伪后缀名称-->
  <WebSuffix>aspx</WebSuffix>
  <!--启用伪静态-->
  <IsBogusStatic>True</IsBogusStatic>
  <!--静态页面后缀名-->
  <StaticPageSuffix>htm</StaticPageSuffix>
  <!--是否启用二级域名(true表启用,false表不启用)-->
  <IsDomain>True</IsDomain>
  <!--后台管理地址-->
  <AdminFolder>XYManage</AdminFolder>
  <!--==================基本信息结束==============================-->
  <!--==================基本参数开始==============================-->
  <!--网站货币名称-->
  <WebMoneyName>纵横币</WebMoneyName>
  <!--发布信息时默认给的时间-->
  <BusinessSetTime>4</BusinessSetTime>
  <!--允许上传的文件类型-->
  <UploadFileType>jpg;gif;png;swf</UploadFileType>
  <!--允许上传文件大小-->
  <UploadFileSize>2048</UploadFileSize>
  <!--上传文件大小，如果大于改文件则强制缩放到该尺寸-->
  <UploadImg>1000*1000</UploadImg>
  <!--缩略图的文件夹-->
  <UploadThumbnailImgFolder>Thumbnail</UploadThumbnailImgFolder>
  <!--缩略图1的尺寸-->
  <UploadThumbnailImg1>153*36</UploadThumbnailImg1>
  <!--缩略图2的尺寸-->
  <UploadThumbnailImg2>90*90</UploadThumbnailImg2>
  <!--缩略图3的尺寸-->
  <UploadThumbnailImg3>280*280</UploadThumbnailImg3>
  <!--上传附件类别-->
  <UploadAdjunctType>rar;zip;doc;pdf;xls</UploadAdjunctType>
  <!--上传附件大小-->
  <UploadAdjunctSize>2048</UploadAdjunctSize>
  <!--站长信箱-->
  <Email>baoqtcn@163.com</Email>
  <!--邮箱服务器名称-->
  <EmailServer>smtp.163.com</EmailServer>
  <!--邮箱服务器端口-->
  <EmailServerPort>25</EmailServerPort>
  <!--登陆邮箱名称-->
  <EmailLoginName>baoqtcn@163.com</EmailLoginName>
  <!--登陆邮箱密码-->
  <EmailPwd>baoqtcn318</EmailPwd>
  <!--是否启用水印(false，否,True启用)-->
  <IsWaterMark>False</IsWaterMark>
  <!--水印的方式(0为文字水印,1为图片水印)-->
  <WaterMarkType>1</WaterMarkType>
  <!--文字水印的内容-->
  <WaterMarkContent>纵横易商</WaterMarkContent>
  <!--文字水印的文字字体-->
  <WaterMarkFont>SimHei</WaterMarkFont>
  <!--文字水印的文字大小-->
  <WaterMarkFontSize>18</WaterMarkFontSize>
  <!--文字水印的位置-->
  <WaterMarkPlace>左上</WaterMarkPlace>
  <!--文字水印的颜色-->
  <WaterMarkColor>green</WaterMarkColor>
  <!--图片水印的图片地址-->
  <WaterMarkPicURL>/icon/WaterMarkCert.gif</WaterMarkPicURL>
  <!--图片水印放置的位置-->
  <WaterMarkPicPlace>左下</WaterMarkPicPlace>
  <!--图片水印的透明度-->
  <WaterMarkPicDiaphaneity>0.6</WaterMarkPicDiaphaneity>
  <!--图片水印的底色-->
  <WaterMarkPicBgColor>yellow</WaterMarkPicBgColor>
  <!--==================基本参数结束==============================-->
  <!--==================用户管理相关设置开始======================-->
  <!--是否允许注册-->
  <IsRegister>True</IsRegister>
  <!-- 用户注册模式 -->
  <RegisterMode>simple</RegisterMode>
  <!--用户注册审核方式,true表自动审核,false表人工审核-->
  <UserRegisterAuditingType>False</UserRegisterAuditingType>
  <!--默认注册用户等级-->
  <UserDefaultLevel>1</UserDefaultLevel>
  <!--禁止注册用户名-->
  <ForbidName>jiancai,huagong,wujin,shipin,tupian,gushu</ForbidName>
  <!--注册成功默认虚拟币个数-->
  <UserDefaultWebMoney>1</UserDefaultWebMoney>
  <!--注册是否启用邮件发送-->
  <IsRegisterEmail>False</IsRegisterEmail>
  <!--是否发送短信-->
  <IsRegisterMessage>True</IsRegisterMessage>
  <!--注册成功短信标题-->
  <RegisterMessageTitle>注册成功1</RegisterMessageTitle>
  <!--注册成功短信内容-->
  <RegisterMessageContent>注册成功1</RegisterMessageContent>
  <!--审核用户信息是否发送短信-->
  <IsAuditingUserMessage>False</IsAuditingUserMessage>
  <!--审核用户信息发送短信标题-->
  <AuditingUserMessageTitle>审核用户1</AuditingUserMessageTitle>
  <!--审核用户信息发送短信内容-->
  <AuditingUserMessageContent>审核用户1</AuditingUserMessageContent>
  <!--登陆增加积分-->
  <LoginAddScore>3</LoginAddScore>
  <!--登录奖励-->
  <LoginAddWebMoney>2</LoginAddWebMoney>
  <!--完成基本资料必填-->
  <BaseDatumPercent>15</BaseDatumPercent>
  <!--完成高级资料必填-->
  <AdvancedDatumPercent>15</AdvancedDatumPercent>
  <!--完成营业执照上传或传真-->
  <LicencePercent>15</LicencePercent>
  <!--完成任一其他资质上传或传真-->
  <CertificatePercent>3</CertificatePercent>
  <!--注册成功完善度增加值-->
  <RegisterPercent>10</RegisterPercent>
  <!--添加手机完善度增加值-->
  <MobilePercent>10</MobilePercent>
  <!--添加所在部门完善度增加值-->
  <DepartmentPercent>10</DepartmentPercent>
  <!--添加注册资本完善度增加值-->
  <CapitalPercent>10</CapitalPercent>
  <!--==================用户管理相关设置结束==============================-->
  <!--==================商业信息管理相关设置开始==========================-->
  <!--用户发布信息奖励-->
  <IssueInfoAddWebMoney>1</IssueInfoAddWebMoney>
  <!--修改商业信息审核方式(True表自动审核,false表人工审核)-->
  <EditInfoAuditingType>False</EditInfoAuditingType>
  <!--新增商业信息审核方式(True表自动审核,false表人工审核)-->
  <InsertInfoAuditingType>False</InsertInfoAuditingType>
  <!--刷新一次信息奖励-->
  <RefreshInfoAddWebMoney>2</RefreshInfoAddWebMoney>
  <!--商业信息设置中截至时间方式(true表时间段,false表时间点.默认时间段true)-->
  <InfoEndTimeType>True</InfoEndTimeType>
  <!--审核商业信息是否启用邮件发送(true表启用,false表不启用)-->
  <IsAuditingInfoEmail>False</IsAuditingInfoEmail>
  <!--审核商业信息是否启用站内短信(true表启用,false表不启用)-->
  <IsAuditingInfoMessage>True</IsAuditingInfoMessage>
  <!--审核商业信息启用站内短信信息标题-->
  <AuditingInfoMessageTitle>商业信息标题1</AuditingInfoMessageTitle>
  <!--审核商业信息启用站内短信信息内容-->
  <AuditingInfoMessageContent>商业信息内容</AuditingInfoMessageContent>
  <!--审核用户信息是否发送邮件(true表启用,false表不启用)-->
  <IsAuditingUserEmail>False</IsAuditingUserEmail>
  <!--不确定的-->
  <!--产品类别名称的数量-->
  <ProductNameNumber>5</ProductNameNumber>
  <!--用户选择新闻栏目的数量-->
  <NewsTypeNum>3</NewsTypeNum>
  <!--系统留言条数-->
  <SystemMessageNumber>4</SystemMessageNumber>
  <!--设置游客是否可以查看联系方式(true,可以，false，不可以)-->
  <IsGuestLookLinkInfo>False</IsGuestLookLinkInfo>
  <!--招聘求职是否发邮件-->
  <IsJobEmail>False</IsJobEmail>
  <!--充值是否发送邮件-->
  <IsAddMoneyEmail>False</IsAddMoneyEmail>
  <!--招聘求职信息短信提示-->
  <IsJobMessage>True</IsJobMessage>
  <!--招聘求职信息短信标题-->
  <JobMessageTitle>招聘求职短信标题1</JobMessageTitle>
  <!--招聘求职信息短信内容-->
  <JobMessageContent>招聘求职短信内容1</JobMessageContent>
  <!--竞价是否发送邮件-->
  <IsBidEmail>False</IsBidEmail>
  <!--竞价信息短信提示-->
  <IsBidMessage>True</IsBidMessage>
  <!--竞价信息短信标题-->
  <BidMessageTitle>竞价短信标题</BidMessageTitle>
  <!--竞价信息短信内容-->
  <BidMessageContent>竞价短信内容</BidMessageContent>
  <!--关键字竞价中预设搜索百分比基数值-->
  <BidKeyWordDefaultPercent>50</BidKeyWordDefaultPercent>
  <!--用户充值信息提示-->
  <IsAddMoneyMessage>True</IsAddMoneyMessage>
  <!--用户充值信息短信标题-->
  <AddMoneyMessageTitle>用户充值信息短信标题</AddMoneyMessageTitle>
  <!--用户充值信息短信内容-->
  <AddMoneyMessageContent>用户充值信息短信内容</AddMoneyMessageContent>
  <!--订单是否发送邮件-->
  <IsOrderEmail>False</IsOrderEmail>
  <!--订单是否留言(True,是,False,否)-->
  <IsOrderMessage>True</IsOrderMessage>
  <!--订单信息短信标题-->
  <OrderMessageTitle>订单短信标题</OrderMessageTitle>
  <!--订单信息短信内容-->
  <OrderMessageContent>订单短信内容</OrderMessageContent>
  <!--==================商业信息管理相关设置结束==========================-->
  <!--网站状态：true:开启,false:关闭-->
  <IsRun>True</IsRun>
  <!--网站关闭后的提示-->
  <SiteCloseTip>尊敬的访客你好，网站正在升级中......</SiteCloseTip>
  <!--相关产品读取条数-->
  <AboutInfoNum>6</AboutInfoNum>
  <!--相关新闻读取条数-->
  <AboutNewsNum>5</AboutNewsNum>
  <CookieDomain>
  </CookieDomain>
  <IsNewsDomain>False</IsNewsDomain>
  <IsTradeDomain>False</IsTradeDomain>
  <IsAreaDomain>False</IsAreaDomain>
  <IsTopicDomain>False</IsTopicDomain>
  <IsProTypeDomain>False</IsProTypeDomain>
  <IsAutoGatherSearchKey>True</IsAutoGatherSearchKey>
  <CanChooseTradeNumber>4</CanChooseTradeNumber>
</XYConfig>