html, body, span, a, table, form, h1, h2, h3, h4, h5, p, ul, li, label, img, dl, dt, dd {
	margin: 0;
	padding: 0;
	font-family: verdana, helvetica;
	border: 0;
	font-size:12px;
}

body{
	color:#1E1E1E;	
	overflow-x:hidden;
}

.hidden {
	height: 0;
	width: 0;
	overflow: hidden;
	font-size:1px;
}

input{
	font-family:verdana;
}

.clr {clear: both;}
.fleft {float: left;}
.fright {float: right;}
.red{color:#E40F01;}
.big{font-size:14px;}
.bold{font-weight:700;}
.spacer{line-height:0;font-size:0;overflow:hidden;}

ul{list-style:none;}
li{list-style:none;}

a{color:#075AAD;text-decoration:none;}
a:hover{color:#FF6633;text-decoration:underline;}

a.white{color:white;text-decoration:none;}
a.white:hover{color:white;text-decoration:underline;}

a.orange{color:#FF6600;}
a.orange:hover{color:black;}

a.black{color:#333;}
a.black:hover{color:#FF6600;}

a.gray{color:#9A9A9A;text-decoration:underline}
a.gray:hover{color:#FF6600;}

.orange{color:#FF6600;}
.orange:hover{color:black;}

#wrapper{
	width:980px;
	margin:0 auto;
	overflow:hidden;
}

#hd_info{
	background:#F3F3F3;
	height:28px;
	padding:0 6px;
	margin-bottom:6px;
}

#hd_info #cnts{
	margin:auto;
	padding-top:5px;
}

#site_cang{
	float:right;
}

#log_info{
	float:left; 
}

#log_info .com{
	width:80px;
	height:14px;
	border:1px solid #B3B3B3;
}
#uname{
	font-family:Verdana, Arial, Helvetica, sans-serif;  
	color:#f60;
	} 

#header{
	border:1px solid #CDE1F5;
	border-width:0 1px;
}

#local_channel{
	background:url(../images/bg_local_channel.gif) repeat-x;
	height:29px;
	line-height:29px;
	overflow:hidden;
	padding:0 6px;
	border-bottom:1px solid #CDE1F5;
}

#local_channel .fright a{
	background:url(../images/ico_arrow_down.gif) no-repeat right center;
	padding-right:16px;
}

#local_channel strong{
	background:url(../images/ico_country.gif) no-repeat left center;
	padding-left:18px;
}

#local_channel a{ color:#333; }
#local_channel a:hover{ color:#FF6633; }

#local_channel a.waiting{color:#888;}

#header #mains{
	padding:12px;
	background:url(../images/bg_hd_main.gif) repeat-x left bottom;
	border-bottom:1px solid #CDE1F5;
}

#header #mains #left{
	width:225px;
	float:left;
	overflow:hidden;
}

#header #mains #right{
	width:690px;
	float:right;
	overflow:hidden;
}

#site_tube{
	text-align:center;
	margin-top:10px;
	color:#9A9A9A;
}

#site_nav{
	border:1px solid #D2E2F0;
	border-left:0;
	float:left;
	width:505px;
}

#site_nav .c_name{
	width:23px;
	background:url(../images/bg_site_nav_cate.jpg) no-repeat;
	height:67px;
	text-align:center;
	line-height:15px;
	padding-top:6px;
	border-left:1px solid #C8DBF3;
	border-right:1px solid #C8DBF3;
	font-weight:700;
	float:left;
}

#site_nav .text{
	float:left;
	height:68px;
	width:207px;
	padding-top:5px;
	padding-left:18px;
	line-height:20px;
}

#site_nav .text ul{
	width:96%;
}

#site_nav .text ul li{
	float:left;
	margin-right:9px;
}

#hd_bnr{
	float:right;
}

.search {margin-top:5px;}
.sh_tab {height:31px; line-height:33px; overflow:hidden; background:url(../images/bg_search_tabs.gif) repeat-x 0 4px; padding:0 5px 0 20px;}
.sh_tab ul {overflow:hidden;}
.sh_tab li {float:left; margin:0 -2px 0 0;}
.sh_tab li a {padding:0 0 0 4px; text-decoration:none; color:#fff;}
.sh_tab li a span {padding:0 17px 0 15px; background:url(../images/shtabl.gif) no-repeat right center; font-size:14px; font-weight:700;}
.sh_tab a:hover {text-decoration:none; color:#ff9;}
.sh_tab .order {float:right; color:#ff9;}
.sh_tab .order a{color:#ff9;background:url(../images/ico_arrow_order.gif) no-repeat right center;padding-right:9px;}

.sh_tab .order:hover {color:white;}
.sh_tab a.tabactive {background:url(../images/shactl.gif) no-repeat; float:left;}
.sh_tab a.tabactive span {background:url(../images/shactr.gif) no-repeat right 0 #fff; display:block;color:#39c;}

.sh_cnt {
	background:url(../images/bg_search_cnt.gif) no-repeat;
	height:83px;
	position:relative;
}

.sh_cnt #main{
	padding:17px 0 0 26px;
	width:720px;
	float:left;
}

.sch_select{
	height:24px;
	width:90px;
}
.textsearch{
	height:23px;
	border:1px solid #408AC9; 
	width:320px; 
	background: white url(../images/ico_sou_bg.gif) no-repeat 3px 50%;
	padding-left:28px; 
	line-height:20px;
	float:left;
}

.soSelect{margin-left:6px;margin-right:8px;float:left;width:94px;height:25px;margin-right:4px;border:1px solid #408AC9;background:#fff;position:relative;cursor:pointer;}
.soSelect .option_current{padding-left:5px;float:left;width:60px;height:25px;overflow:hidden;line-height:25px;*line-height:27px;overflow:hidden;text-align:center;font-size:14px;}
.soSelect .option_arrow{cursor:pointer;float:right;width:23px;height:25px;overflow:hidden;border-left:1px solid #408AC9;background:#e6e6e6 url(../images/bg_sch_arrow.gif) repeat-x 0 0;}
.soSelect .option_arrow a{display:block;height:23px;text-align:center;border:1px solid #fff;}
.soSelect .option_arrow a:hover{background:#f4f4f4 url(../images/bg_sch_arrow.gif) repeat-x 0 -25px;}
.soSelect .option_arrow .arrow{display:block;height:20px;background:url(../images/bg_sch_arrow.gif) no-repeat -20px -50px;}
.soSelect .option_arrow .arrow span{display:none;display:block;}
.soSelect .options{position:absolute;left:0;top:25px;margin-top:0px;margin-left:-1px;z-index:10000;display:none;width:94px;background:#fff;border:1px solid #408AC9;}
.soSelect .options ul li{padding-left:15px;}
.soSelect .options li a{display:block;height:25px;line-height:25px;padding-left:6px;color:#000;text-decoration:none;}
.soSelect .options li a:hover{background:#348CCD;color:#fff;}

.btsearch {
	border:0; 
	width:61px;
	height:29px; 
	background:url(../images/btn_sch.gif) no-repeat;
	text-indent:-9999px;
	cursor:pointer;
}

#hot_schs{
	position:absolute;
	top:52px;
	left:20px;
}

#hot_schs li{float:left;line-height:20px;margin-right:4px;}
#hot_schs li strong{font-weight:700;color:#FF3300;}

#sch_bnr{
	float:right;
	width:200px;
	text-align:right;
	margin-right:5px;
}

#best_cmpy{
	margin-top:5px;
}

#best_cmpy ul{
	width:990px;
	overflow:hidden;
}

#best_cmpy ul li{
	float:left;
	margin-right:6px;
	height:67px;
}

#footer{
	background:url(../images/bg_footer.jpg) repeat-x;
	height:38px;
	line-height:32px;
	overflow:hidden;
	text-align:center;
	clear:both;
}

#copyright{
	text-align:center;
	margin-top:10px;
}

#copyright a{color:#333;}
#copyright a:hover{color:#FF6633;}


#copy_info{
	line-height:18px;
}

.copyright_i{
	width:530px;
	height:50px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 5px;
	padding-right: 0;
	padding-bottom: 10px;
	padding-left: 0;
}

.copyright_i .com{
	width:110px; height:40px; float:left; margin-right:10px; padding:5px 0 5px 10px; line-height:25px; border:1px solid #CCC;
}

.copyright_i1{ background:url(../images/police.gif) no-repeat 5px 3px;}
.copyright_i2{ background:url(../images/wa.jpg) no-repeat 5px 3px;}
.copyright_i3{ background:url(../images/315.gif) no-repeat 5px 3px;}
.copyright_i4{ background:url(../images/net.gif) no-repeat 5px 3px;}

#copyright .p{ width:64px; float:right; margin:0 5px 0 0; line-height:20px; text-align:center;}

.bnr{
	padding:5px 0 5px 0;
	clear:both;
}

.bnr img{display:block;}

.MTitle_01{height:24px;line-height:24px;overflow:hidden;border-width:1px;border-style:solid;background:url(../images/con_mj_001.gif) repeat-x 0 0;border-color:#d5e2f3;_overflow:hidden;}
.MTitle_01 .fright{margin-right:6px;}
.Mblk_01{border:1px solid #d1e3f4;border-top:0;background:#fff;margin-bottom:8px;}

.MTitle_01 h2{font-size:14px;padding:2px 10px 0 10px;line-height:22px;float:left; height:23px; _z-index:100; _position:relative;}
.MTitle_01 h2 a{font-weight:200;color:#333;}
.MTitle_01 h2 a:hover{font-weight:200;color:#FF3300;}
.MTitle_01 .selected{ background-color:#fff; border-right:#cbd8e8 solid 1px;}
.MTitle_01 #h202.selected{border-left:#cbd8e8 solid 1px;}


.top_login{background:url(../images/bt_login.gif) no-repeat 0 0px; border:0px; width:48px; overflow:hidden;height:20px;margin-bottom:-2px;}

.rank_compy{
	padding:5px;
}

.rank_compy ul{
	background:url(../images/a_num.gif) no-repeat 0 5px;
}

.rank_compy ul li{
	height:22px;
	line-height:22px;
	overflow:hidden;
	padding-left:30px;
}

.com_pages{
	padding:6px 6px 6px 12px;
}

.com_pages ul li{
	height:21px;
	line-height:21px;
	overflow:hidden;
	background:url(../images/con_mj_001.gif) no-repeat 0 -40px;
	padding-left:10px;
}

.com_pages2{
	padding:6px 6px 6px 12px;
}

.com_pages2 ul li{
	height:24px;
	line-height:24px;
	overflow:hidden;
	background:url(../images/con_mj_001.gif) no-repeat 0 -40px;
	padding-left:10px;
}

.com_pages2 ul li a{
	font-size:14px;	
}

.rank_pic{
	margin:0 auto;
	text-align:center;
	width:99%;
	margin-top:8px;
}


.area1{
	border:1px solid #DEEAF8;overflow:hidden;
}
.jobarea{
  width:700px;
}
.area1 .hd{
	margin:1px;
}

.area1 .tit{
	height:28px;
	line-height:28px;
	overflow:hidden;
	padding:0 6px;
	background:#EBF3FB url(../images/ico_cate.gif) no-repeat 10px center;
}

.area1 .tit h2{
	padding-left:26px;
	text-indent:-9999px;
	cursor:pointer;
}

.area1 .cnt{
	border-top:1px solid #DEEAF8;
	background:white;
	height:100%;
}

.pages_cut{
	margin:auto;
	text-align:center;
	margin-top:18px;
	margin-bottom:10px;
	width:100%;
	font-size:180%;
}

.pages_cut .com{
	margin-left:3px;
	margin-right:3px;
}

.pages_cut a.num{
	padding:2px 4px;
	border:1px solid #1A72D2;
	width:40px;
	height:19px;
	display:inline;
	text-decoration:none;
}

.pages_cut a.num:hover{
	background:#1A72D2;
	color:white;
}



/*职位搜索页面新增*/

.jobList{ width:98%; margin:0 auto;}
.jobList th{ font-size:14px; text-align:left;}
.jobList th,.jobList td{padding:8px; }

.jobList td{ border-top:1px dashed #ccc;}


.resumeInfo table{ font-size:14px; width:100%; border:solid 1px #ccc;}
.resumeInfo table td{ padding:8px;}


#sysMsgbox .msg{ font-family:"微软雅黑","宋体"; font-size:18px;}
#sysMsgbox{ font-size:14px; width:100%; text-align:center; background-color:#f2f2f2; height:100%;}
#sysMsgbox ul{ width:500px; margin:0 auto;margin-top:50px;  border:1px solid #ddd; background-color:#fff; padding:10px;}
#sysMsgbox ul li{ text-align:left; font-size:14px; padding:8px;}
#sysMsgbox ul li a{ font-size:14px;}

#syslogout .msg{ font-family:"微软雅黑","宋体"; font-size:18px;}
#syslogout{ font-size:14px; width:100%; text-align:center; background-color:#f2f2f2; height:100%;}
#syslogout ul{ width:500px; border:1px solid #ddd; background-color:#fff; padding:10px;
	margin:0 auto;margin-top:50px; 
	}
#syslogout ul li{ text-align:left; font-size:14px; padding:8px;}
#syslogout ul li a{ font-size:14px;}

/*分页样式*/
#Pages{ text-align:center; margin:10px 0; font-size:14px; font-weight:bolder; color:#001d4c; line-height:28px;}
#Pages span{ background:#FF9900; color:#FFFFFF; font-size:14px; font-weight:bolder; margin:0 3px; width:20px; padding:2px 5px; border:1px solid #FF6600;}
#Pages a{ font-size:14px; font-weight:bolder; text-decoration:underline; color:#001d4c; margin:0 3px; padding:2px 5px; border:1px solid #eee;}
#Pages a:hover{ font-size:14px; font-weight:bolder; color:#f60;padding:2px 5px; border:1px solid #FF6600;}



/*start 企业专栏样式*/
.part1_cls{ width:250px; border:1px solid #ccc; padding:3px; }
.part1_cls .part_top{ overflow:hidden; margin-bottom:5px;}
.part1_cls .part_top .part_top_left{ float:left; width:48%; font-weight:bold;}
.part1_cls .part_top .part_top_right a{font-weight:bold; font-size:12px;}
.part1_cls .part_top .part_top_right{ float:right; width:45%; line-height:130%;}
.part1_cls .part_top_left img{height:50px; width:130px;}

.part1_cls .part_infos{ line-height:150%;}
.part1_cls .part_infos li{width:100%; overflow:hidden; height:18px;}
.part1_cls .part_infos li a{margin-left:2px; }


.part2_cls{ width:345px; border:1px solid #ccc; padding:5px; overflow:hidden}
.part2_cls .part_top{ overflow:hidden; margin-bottom:5px;}
.part2_cls .part_top .part_top_left{ float:left; width:35%; font-weight:bold;}
.part2_cls .part_top .part_top_right a{font-weight:bold; font-size:12px;}
.part2_cls .part_top .part_top_right{ float:right; width:60%; line-height:130%;}
.part2_cls .part_top_left img{height:50px; width:130px;}

.part2_cls .part_infos{ line-height:150%;}
.part2_cls .part_infos .part_top_left{ float:left; width:65%; }
.part2_cls .part_infos .part_top_right{float:right; width:30%;}

.part2_cls .part_infos li{width:100%; overflow:hidden; height:16px; padding:0px; margin:0px;}
.part2_cls .part_infos li a{margin-left:2px; }
/*end企业专栏样式*/