<!--footer-->
<div class="indexHelp margin_top8">
    <div class="helpList">
        <ul>
            <li><a href="#">怎样购物</a></li>
            <li><a href="#">会员制度</a></li>
            <li><a href="#">积分政策</a></li>
            <li><a href="#">常见问题</a></li>
        </ul>
        <ul>
            <li><a href="#">配送政策</a></li>
            <li><a href="#">商品签收</a></li>
        </ul>
        <ul>
            <li><a href="#">货到付款</a></li>
            <li><a href="#">在线支付</a></li>
            <li><a href="#">银行电汇</a></li>
            <li><a href="#">发票制度</a></li>
        </ul>
        <ul>
            <li><a href="#">退换货政策</a></li>
            <li><a href="#">退货流程</a></li>
            <li><a href="#">换货流程</a></li>
            <li><a href="#">联系我们</a></li>
        </ul>
        <ul>
            <li><a href="#">订单中心</a></li>
            <li><a href="#">优惠券</a></li>
            <li><a href="#">找回密码</a></li>
        </ul>
        <div class="clear">
        </div>
    </div>
    <div class="indexEnsure">
        <img src="{config.WebURL}templates/_shop/store/images/public_ensure.gif" width="960"
            height="45">
    </div>
</div>
<div class="footer">
    <a href="#">首页</a> | <a href="#">关于我们</a> | <a href="#">批发团购</a> | <a href="#">服务条款</a>
    | <a href="#">安全说明</a> | <a href="#">隐私声明</a> | <a href="#">网站联盟</a> | <a href="#">友情链接</a>
    <br />
    联系电话：0531-83532658 传真：0531-83532658 E-mail：sdyjsw@163.com 地址：济南市二环东路3966号东环国际广场B座1301<br />
    版权所有 山东亿家商务服务有限公司 All Rights Reserved 鲁ICP备00000000号
</div>
<!--footer end-->
</body> </html>