<!--search start-->
<div class="search">
    <div class="s-bg">
        <img height="34" alt="" src="{config.WebURL}templates/_shop/store/images/search_29.jpg"
            width="4"></div>
    <div class="s-bg1">
        <ul class="fs">
            <li>
                <h3>
                    <a href="{shopuserinfo.domain}product.{config.suffix}" class="font12redA"
                        target="_blank">积分换购</a></h3>
            </li>
            <li>
                <h4>
                    <a href="#" class="font12redA" target="_blank">最新商品</a></h4>
            </li>
            <li>
                <h4>
                    <a class="font12redA" href="#" target="_blank">热卖商品</a></h4>
            </li>
            <li>
                <h4>
                    <a class="font12redA" href="#" target="_blank">商城公告</a></h4>
            </li>
        </ul>
        <div class="sous">
            <form action="" method="get">
            <div class="s1">
                <input name="keyword" id="txtkeyword" type="text" value="{keyword}" /></div>
            <div class="s2">
                <input type="button" src="{config.WebURL}templates/_shop/store/images/btn_35.jpg"
                    id="btnsearch" value="sousuo"></div>
            <a href="#" target="_blank">高级搜索</a>
            </form>
        </div>
    </div>
    <div class="s-bg">
        <img height="34" alt="" src="{config.WebURL}templates/_shop/store/images/search_32.jpg"
            width="6" /></div>
</div>
<!--search end-->
