<%Include _pagehead%>
<link rel="stylesheet" type="text/css" href="{config.WebURL}templates/_shop/store/css/content.css" />
<%Include _header%>
<!--main start-->
<div class="main">
    <!-- 导航条 -->
    <div id="daohang">
        <a href="./">首页</a> &gt; <a href="">童装/母婴</a> &gt; <a href="">儿童服装</a> &gt; 商品详情
    </div>
    <div id="main_left">
        <div id="spfl">
            <!-- 商品分类 -->
            <div id="spfl_top">
                <img src="{config.WebURL}templates/_shop/store/images/g_01.jpg" width="220" height="31"
                    border="0" />
            </div>
            <div id="spfl_box">
                <div class="spfl_title">
                    <strong>小商品</strong>
                    <div class="spfl_all">
                        <a href="{shopuserinfo.domain}category.{config.suffix}" class="red">所有分类</a>
                    </div>
                </div>
                <div class="spfl_list">
                    <div class="spfl_list_left2">
                        <a href="{shopuserinfo.domain}offerlist-------.{config.suffix}">工艺礼品</a>
                    </div>
                    <div class="detail d_hide">
                        <div class="d_list">
                            <div class="d_title">
                                <a href="{shopuserinfo.domain}offerlist-------.{config.suffix}" target="_blank">
                                    广告促销</a>
                            </div>
                            <div class="d_box">
                                <ul>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">广告杯</a></li>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">广告扇</a></li>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">广告伞</a></li>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">广告笔</a></li>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">礼品灯</a></li>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">礼品餐具</a></li>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">冰箱贴</a></li>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">开瓶器</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="d_line">
                        </div>
                        <div class="d_list">
                            <div class="d_title">
                                <a href="{shopuserinfo.domain}offerlist-------.{config.suffix}" target="_blank">
                                    冬季促销</a>
                            </div>
                            <div class="d_box">
                                <ul>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">礼品口杯</a></li>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">礼品冰杯</a></li>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">礼品水壶</a></li>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">礼品冰垫</a></li>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">pp扇子</a></li>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">宫扇</a></li>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">礼品化妆镜</a></li>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">usb电池</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="d_line">
                        </div>
                        <div class="d_list">
                            <div class="d_title">
                                <a href="{shopuserinfo.domain}offerlist-------.{config.suffix}" target="_blank">
                                    商务办公</a>
                            </div>
                            <div class="d_box">
                                <ul>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">商务套装</a></li>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">文化礼品</a></li>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">商务馈赠</a></li>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">会展礼品</a></li>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">礼品计算器</a></li>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">礼品相框</a></li>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">礼品笔</a></li>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">上海世贸商</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="d_line">
                        </div>
                        <div class="d_list">
                            <div class="d_title">
                                <a href="{shopuserinfo.domain}offerlist-------.{config.suffix}" target="_blank">
                                    节庆礼品</a>
                            </div>
                            <div class="d_box">
                                <ul>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">生日</a></li>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">婚庆</a></li>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">情侣</a></li>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">春节</a></li>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">助威道具</a></li>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">气球</a></li>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">旗帜</a></li>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">贺卡</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="d_line">
                        </div>
                        <div class="d_list">
                            <div class="d_title">
                                <a href="{shopuserinfo.domain}offerlist-------.{config.suffix}" target="_blank">
                                    传统工艺</a>
                            </div>
                            <div class="d_box">
                                <ul>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">珠宝玉器</a></li>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">艺术品</a></li>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">书画</a></li>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">收藏品</a></li>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">民间工艺</a></li>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">灯笼</a></li>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">中国结</a></li>
                                    <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}"
                                        target="_blank">古玩古董</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="spfl_xiao">
                    <ul>
                        <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}">节日用品</a></li>
                        <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}">婚庆</a></li>
                        <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}">创意杯子</a></li>
                        <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}">手表</a></li>
                        <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}">打火机</a></li>
                        <li><a href="{shopuserinfo.domain}offerlist-------.{config.suffix}">家用电器</a></li>
                    </ul>
                </div>
                <div id="spfl_gengduo">
                    <a href="{shopuserinfo.domain}category.{config.suffix}">查看更多分类</a>
                </div>
            </div>
        </div>
        <%Include _brand%>
        <div id="zjll">
            <!-- 最近浏览的商品 -->
            <div id="zjll_top">
                我最近浏览的商品
            </div>
            <div id="zjll_clear">
                <a href="">清除</a>
            </div>
            <div id="zjll_box">
            </div>
        </div>
    </div>
    <div id="main_right">
        <div class="rcon">
            <div class="rtit">
                {pageinfo.InfoListLink}
            </div>
            <div id="rtxt">
                <%loop (DataRow) info infolist%>
                <div class="rtxtq">
                    <%set str = GetProductUrl(info["InfoId"],info["HtmlPage"])%>
                    <%set str1 = GetInfoImgHref("offer",info["InfoId"])%>
                    <a href="{str}"><em>
                        <img src="{str1}" alt="{info[infoTitle]}" /></em> </a>
                    <ul>
                        <li class="bg"><span class="font14s"><a href="{str}">{info[infoTitle]}</a></span> (
                            发布时间：{info[addtime]} )</li>
                        <li class="border">
                            <%left(info[details],300)%></li>
                    </ul>
                </div>
                <%/loop%>
            </div>
            <div class="pg">
                当前是第 <span class="colorf00s">{pageinfo.PageIndex}</span> 页(共 {pageinfo.PageCount}
                页){pageinfo.FirstPage}&nbsp;{pageinfo.PreviousPage}&nbsp;{pageinfo.NextPage}&nbsp;{pageinfo.LastPage}</div>
        </div>
    </div>
    <div class="clear">
    </div>
</div>
<!--main end-->
<%Include _footer%>
