<!--foot-->

<div id="foot">

<input type ="hidden" id="type" value ="{infotype}" />
<input type ="hidden" id="ids" value ="{infoid}" />
<input type ="hidden" id="isshop" value ="{shopuserinfo.isshop}" />
<input type ="hidden" id="uids" value ="{shopuserinfo.userid}" />
<input type ="hidden" id ="linktype"  value ="{linktype}"/>
<input type ="hidden" id ="isaudited"  value ="{shopuserinfo.isaudited}"/>
<tr><td align="middle">{shopuserinfo.unitname}</td></tr><br/>
                                    <tr><td align="middle">公司地址：{shopuserinfo.address}</td></tr><br/>
                                    <tr>
                                    <td align="middle">
                                        <a href="{config.weburl}" target="_blank"> 中国营养联盟-提供平台支持</a> | 
                            <a href="{config.weburl}feedback.{config.suffix}" target="_blank">意见反馈</a> | 
                                        <a href="{config.weburl}login.{config.suffix}" target="_blank">管理网站</a>
      <br/>	
</div>
<!--foot end-->	


</body>
</html>