<%set str=GetLinkPrefix()%>
<div>
    <a href="{str}index.{config.Suffix}">网店首页</a></div>
<div>
    <a href="{str}introduction.{config.Suffix}">公司简介</a></div>
<div>
    <a href="{str}product.{config.Suffix}">产品展示</a></div>
<div>
    <a href="{str}venturelist.{config.Suffix}">投融资信息</a></div>
<div>
    <a href="{str}cred.{config.Suffix}">诚信档案</a></div>
<div>
    <a href="{str}brandlist.{config.Suffix}">品牌介绍</a></div>
<div>
    <a href="{str}newslist.{config.Suffix}">公司动态</a></div>
<div>
    <a href="{str}joblist.{config.Suffix}">人才招聘</a></div>
<div>
    <a href="{str}contact.{config.Suffix}">联系方式</a>
</div>
<div>
    <a href="{str}list----.{config.Suffix}">团购信息</a>
</div>