<div id="menu">
    <ul>
        <li class='m_li_a'><a href="#">首页</a></li>
        <li class="m_line">
            <img src="/Other/images/line1.gif" /></li>
        <li class='m_li' onmouseover='mover(2);' onmouseout='mout(2);'><a href="/shop/{shopuserinfo.LoginName}/Cred.aspx">诚信档案</a></li>
        <li class="m_line">
            <img src="/Other/images/line1.gif" /></li>
        <li class='m_li' onmouseover='mover(3);' onmouseout='mout(3);'><a href="#">在线互动</a></li>
        <li class="m_line">
            <img src="/Other/images/line1.gif" /></li>
        <li class='m_li' onmouseover='mover(4);' onmouseout='mout(4);'><a href="#">成功案例</a></li>
    </ul>
</div>
