<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>服务商个人主页</title>
    <link href="/Other/css/serverinfo.css" rel="stylesheet" type="text/css" />
    <script src="/Other/js/jquery.js" type="text/javascript"></script>
</head>
<body>
    <!--top start-->
    <%Include _top%>
    <!--top end-->
    <%Include _banner%>
    <!--menu start-->
    <%Include _menu%>
    <!--menu end-->
    <!--middle start-->
    <div id="middle">
        <!--left start-->
        <%Include _left%>
        <!--left end-->
        <!--right start-->
        <div id="right">
            <div id="uright">
                <div class="rcon pb15">
                    <h2>
                        诚信档案</h2>
                </div>
                <div class="rcon pb15">
                    <h2>
                        <span>证书信息</span></h2>
                    <div class="list_zs">
                        <ul class="bg">
                            <li>证书图片</li><li>证书名称</li><li>发证机构</li><li>生效日期</li><li>截至日期</li>
                        </ul>
                        <%set data = GetCertificate()%>
                        <%loop (DataRow) info data%>
                        <%set str = GetInfoImgHref(info["CE_ID"])%>
                        <ul class="c">
                            <li><a href="{str}">
                                <img src="{str}" alt="证书" /></a></li>
                            <li><a href="{str}">{info[CE_Name]}</a></li>
                            <li>{info[CE_Organ]}</li>
                            <li>
                                <%formatdatetime(info[CE_Begin],yyyy-MM-dd)%></li>
                            <li>
                                <%formatdatetime(info[CE_Upto],yyyy-MM-dd)%></li>
                        </ul>
                        <%/loop%>
                    </div>
                </div>
            </div>
        </div>
        <!--right end-->
    </div>
    <!--middle end-->
    <%Include _footer%>
</body>
</html>
