<%Include _head%>
	<div id="ubox">
<!--左边导航-->
<div id="uleftnav">
<%Include _left%>
</div>
<!--左边导航  end-->

<!--右边主要内容-->
<div id="uright">

	<!--推荐产品-->
	<div class="rcon topimg pb15">
	 <h2>最新产品</h2>
	    
	    <ul>
	    <%set data =  GetNewPro(10)%>
	    <%loop (DataRow) newdata data%>
            <%set str = GetInfoUrl("offer",newdata["InfoFlag"],newdata["InfoId"],newdata["htmlpage"])%>
            <%set str1 = GetInfoImgHref("offer",newdata["InfoId"])%>
                    
			<li>
           <a href="{str}"><em><img src="{str1}" alt="{newdata[infoTitle]}" width="120" height="120" /></em></a><br/>
           <a href="{str}" class="font12s">
            <%left(newdata[infoTitle],15)%>
			</a>
			</li>
			<%if newdata__loop__id%5==0%>
			</ul>
		    <ul>
		    <%/if%>
		<%/loop%>
		</ul>	
	</div>

	<!--公司介绍-->
	<div class="rcon">
	<h2>公司介绍</h2>
	<p class="font142"><%if shopuserinfo.imgurl!=""%><img alt="{shopuserinfo.unitname}" src="{shopuserinfo.imgurl}" /><%else%><img alt="{shopuserinfo.unitname}" src="{config.WebURL}templates/{config.TemplatePath}/images/WelcomeInfro_32.gif" /><%/if%>
{shopuserinfo.synopsis}</p>

<div class="txtlink"><%if config.IsDomain==true%>
<a href="introduction.{config.Suffix}">
<%else%>
<%if config.BogusStatic==true%>
<a href="{config.WebURL}shop/{shopuserinfo.loginname}/introduction.{config.Suffix}">
<%else%>
<a href="{config.WebURL}shop/introduction.{config.Suffix}?u_name={shopuserinfo.loginname}">
<%/if%>
<%/if%>查看详细介绍</a></div>
<table class="table_value">
<tr>
    <th class="line1">公司主页：</th>
    <td>
    <a href="{shopuserinfo.homepage}">{shopuserinfo.homepage}</a>
    </td>
	<th class="line1">公司性质：</th>
    <td>{shopuserinfo.character}</td>
  </tr>
   <tr>
    <th class="line1 colorFF7300">企业类型：</th>
    <td>{shopuserinfo.unittype}</td>
    <th class="line1 colorFF7300">联系人：</th>
        <td>{shopuserinfo.linkman}</td>
  </tr>
  <tr>
    <th class="line1">员工人数：</th>
    <td>{shopuserinfo.employeetotal}人</td>
	<th class="line1 colorFF7300">公司所在地：</th>
    <td>{shopuserinfo.regarea}</td>
  </tr>
</table>
	</div>
	
	<!--供应，求购，招商-->
	<div class="rcon">
	 <div class="rtit">
	 {pageinfo.InfoListLink}
	 </div>
        
	 <div id="rtxt">
	    <%set data =  GetShopIndexPro(10)%>
	    <%loop (DataRow) info data%>
            <%set str = GetInfoUrl("offer",info["InfoFlag"],info["InfoId"],info["htmlpage"])%>
            <%set str1 = GetInfoImgHref("offer",info["InfoId"])%>
            <div class="rtxtq">
        
           <a href="{str}"><em><img src="{str1}" alt="{info[InfoTitle]}" /></em>

	  </a>
	  <ul>
	  <li class="bg">
	  <span class="font14s"><a href="{str}"> <%left(info[InfoTitle],50)%></a></span>
	  ( 发布时间： {info[addtime]} )
	  </li>
	  <li class="border"><%left(info[details],200)%></li>
	  </ul>
	 </div>
	 <%/loop%>
	 </div>
	</div>
	
	<!--联系方式-->
	<div class="rcon">
	<h2>联系方式</h2>
	 <div id="linkmessage"></div>
     <div><em id="clicknum" style="display :none "></em><em id="msy" style="display :none "></em><em id="clicknum1" style="display :none "></em><em id="messnum" style="display :none "></em> </div>
</div>
</div>

<%Include _footer%>


<hr />
{XY_tbtest}