<%Include _head%>
<div id="ubox">
    <!--左边导航-->
    <div id="uleftnav">
        <%Include _left%>
    </div>
    <!--左边导航  end-->
    <!--右边主要内容-->
    <div id="uright">
        <!--推荐产品-->
        <div class="rcon pb15 topimg">
            <h2>
                产品展示</h2>
            <ul>
                <%loop (DataRow) info infolist%>
                <%set str = GetInfoUrl("offer",info["InfoFlag"],info["InfoId"],info["HtmlPage"])%>
                <%set str1 = GetInfoImgHref("offer",info["InfoId"])%>
                <li><a href="{str}"><em>
                    <img src="{str1}" alt="{info[InfoTitle]}" width="120" height="120" />
                </em></a>
                    <br />
                    <a href="{str}" class="font12s">
                        <%left(info[InfoTitle],10)%>
                    </a></li>
                <%if info__loop__id%5==0%>
            </ul>
            <ul>
                <%/if%>
                <%/loop%>
            </ul>
            <div class="pg">
                当前是第 <span class="colorf00s">{pageinfo.PageIndex}</span> 页(共 {pageinfo.PageCount}
                页){pageinfo.FirstPage}&nbsp;{pageinfo.PreviousPage}&nbsp;{pageinfo.NextPage}&nbsp;{pageinfo.LastPage}</div>
        </div>
        <!--供应，求购，招商-->
        <div>
            <em id="clicknum1" style="display: none"></em><em id="clicknum" style="display: none">
            </em><em id="linkmessage" style="display: none"></em><em id="msy" style="display: none">
            </em><em id="messnum" style="display: none"></em>
        </div>
    </div>
</div>
<%Include _footer%>