<%if pageinfo.PageError==1%>
    <%Include _msgbox%>
    <%end%>
<%/if%>
<title>{seo.Title}</title>
<meta name="description" content="{seo.Description}" />
<meta name="keywords" content="{seo.Keywords}" />
<meta name="robots" content="all" />
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" href="{config.WebURL}common/css/XYLib.css" type="text/css"
    media="screen" />
<link href="{config.WebURL}templates/{config.TemplatePath}/css/global.css" rel="stylesheet"
    type="text/css" />

<link href="{config.WebURL}templates/{config.TemplatePath}/css/baike.css" rel="stylesheet"
    type="text/css" />

<script type="text/javascript" src="{config.WebURL}common/js/base.js" language="javascript"></script>

<script type="text/javascript" src="{config.WebURL}templates/{config.TemplatePath}/js/login.js"
    language="javascript"></script>

<script type="text/javascript" src="{config.WebURL}templates/{config.TemplatePath}/js/validate.js"
    language="javascript"></script>

<script language="javascript" type="text/javascript" src="{config.WebURL}common/js/UploadControl.js"></script>

