<div class="bk_search">
    <div class="bk_sleft">
        <!--<form class="bk_form" action="{config.WebURL}baike/list.{config.Suffix}" method="get">
<font color="#0268cd" size="2"><b>百科搜索 </b></font> <input type="text" name="keyword" class="bk_input">
<input type="submit" value="搜索" class="form3-input2">
</form>-->
        <form class="form_search">
        <span class="bk_bt">百科搜索</span>
        <input type="hidden" id="" name="typeid" />
        百科类别：<span id="classcatogry"></span>
        
        <script type="text/javascript">
			    var cla = new ClassType("cla", 'baike', 'classcatogry', 'typeid',1);
                cla.Mode = "select";
                cla.Init();
        </script>

        <input type="text" class="inp" id="txtkeyword" />
        <input type="button" class="submit2" value="搜索" onclick="BaikeListSearch()" />
        </form>
    </div>
    <div class="bk_sright">
        <a href="{config.WebURL}baike/lemmaadd.{config.Suffix}">创建词条</a> <a href="{config.WebURL}register.{config.Suffix}">
            用户注册</a>
    </div>
</div>
