<div id="header">
    <div id="local_channel">
        <span class="fright"><a href="#" onclick="div_opennew('_xy_div_allarea',200,100);return false;">
            所有地区</a>
            <div id="_xy_div_allarea" style="display: none" onmouseover="div_mouseover('_xy_div_allarea')"
                onmouseout="div_mouseout('_xy_div_allarea');">
                <a href="">山东</a> <a href="">四川</a> <a href="">陕西</a> <a href="">广东</a>
            </div>
        </span><strong>地区频道：</strong>{XY_ASN_shandong} | <a href="#" class="waiting" title="暂未开通">
            河南农业网</a> | <a href="#" class="waiting" title="暂未开通">湖南农业网</a> | <a href="#" class="waiting"
                title="暂未开通">沈阳农业网</a> | <a href="#" class="waiting" title="暂未开通">广东农业网</a>
        | <a href="#" class="waiting" title="暂未开通">四川农业网</a>
    </div>
    <div class="clr">
    </div>
    <div id="mains">
        <div id="left">
            <div id="logo">
                <a href="/">
                    <img src="{config.WebURL}templates/{config.TemplatePath}/images/logo.gif" width="219"
                        height="50" alt="" border="0" /></a></div>
            <div id="site_tube">
                [ &nbsp;&nbsp;<a href="" class="orange">中国农业网主站</a> &nbsp; <a href="#" onclick="div_opennew('_xy_div_alltrade',200,100);return false;"
                    class="gray">切换其它站点</a> <a href="#" onclick="div_opennew('_xy_div_alltrade',200,100);return false;">
                        <img src="{config.WebURL}templates/{config.TemplatePath}/images/ico_site_chg.gif"
                            width="11" height="11" alt="" align="absmiddle" /></a>&nbsp;&nbsp; ]
                <div id="_xy_div_alltrade" style="display: none" onmouseover="div_mouseover('_xy_div_alltrade')"
                    onmouseout="div_mouseout('_xy_div_alltrade');">
                    <a href="">分站1</a> <a href="">分站2</a> <a href="">分站3</a> <a href="">分站4</a>
                </div>
            </div>
        </div>
        <div id="right">
            <div id="site_nav">
                <div class="c_name">
                    行业频道</div>
                <div class="text">
                    <ul>
                        <li><a href="">天气</a></li>
                        <li><a href="">男人</a></li>
                        <li><a href="">女人</a></li>
                        <li><a href="">新娘</a></li>
                        <li><a href="">母婴</a></li>
                        <li><a href="">健康</a></li>
                        <li><a href="">吃喝</a></li>
                        <li><a href="">旅游</a></li>
                        <li><a href="">出国</a></li>
                        <li><a href="">教育</a></li>
                        <li><a href="">留学</a></li>
                        <li><a href="">读书</a></li>
                        <li><a href="">教育</a></li>
                        <li><a href="">原创</a></li>
                        <li><a href="">财经</a></li>
                        <li><a href="">留学</a></li>
                        <li><a href="">财经</a></li>
                        <li><a href="">留学</a></li>
                    </ul>
                </div>
                <div class="c_name">
                    新闻资讯</div>
                <div class="text">
                    <ul>
                        <li><a href="">天气</a></li>
                        <li><a href="">男人</a></li>
                        <li><a href="">女人</a></li>
                        <li><a href="">新娘</a></li>
                        <li><a href="">母婴</a></li>
                        <li><a href="">健康</a></li>
                        <li><a href="">吃喝</a></li>
                        <li><a href="">旅游</a></li>
                        <li><a href="">出国</a></li>
                        <li><a href="">教育</a></li>
                        <li><a href="">留学</a></li>
                        <li><a href="">读书</a></li>
                        <li><a href="">教育</a></li>
                        <li><a href="">原创</a></li>
                        <li><a href="">财经</a></li>
                        <li><a href="">留学</a></li>
                        <li><a href="">财经</a></li>
                        <li><a href="">留学</a></li>
                    </ul>
                </div>
            </div>
            <div id="hd_bnr">
                <a href="">
                    <img src="{config.WebURL}templates/{config.TemplatePath}/images/temp_bnr_1.gif" width="163"
                        height="76" alt="" /></a>
            </div>
        </div>
        <div class="clr">
        </div>
    </div>
    <div class="clr">
    </div>
</div>
<div class="clr">
</div>
