<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" id="html">
<head>
<%Include _head%>

</head>
<body onload="{pageinfo.OnLoadEvents}">
<div id="wrap">
<!--ad start -->
        <%include _login_bar%>
        <%Include _top%>
        <%Include _search%>
<div id="left">

<div id="bkfl" class="columns">
	<h2 class="col-h2">百科分类</h2>
	<div class="bor-white-t"></div>
	{XY_CLS_bk_class}
    	<dl>
	  <dt><a href="#" >娱乐休闲</a></dt>
        		<dd class="link_gray">
      		 	 <a href="#" >电影视频</a>
         	 	 <a href="#" >音乐</a>
         	 	 <a href="#" >游戏</a>
         	 	 <a href="#" >小说</a>
         	 	 <a href="#" >门户论坛</a>
         	 	 <a href="#" >星座</a>
         	 	 <a href="#" >体育</a>
         	 	 <a href="#" >军事</a>
         	 	 <a href="#" >社区交友</a>
         	 	 <a href="#" >新闻</a>
         	 	 <a href="#" >图片</a>
         	 	 <a href="#" >明星</a>
         		 </dd>
         	</dl>
    	<dl>
	  <dt><a href="#" >地方网站</a></dt>
        		<dd class="link_gray">
      		 	 <a href="#" >北京</a>
         	 	 <a href="#" >浙江</a>
         	 	 <a href="#" >江苏</a>
         	 	 <a href="#" >广东</a>
         	 	 <a href="#" >广西</a>
         	 	 <a href="#" >上海</a>
         	 	 <a href="#" >湖南</a>
         	 	 <a href="#" >湖北</a>
         	 	 <a href="#" >山东</a>
         	 	 <a href="#" >山西</a>
         	 	 <a href="#" >天津</a>
         	 	 <a href="#" >河南</a>
         	 	 <a href="#" >河北</a>
         	 	 <a href="#" >福建</a>
         	 	 <a href="#" >安徽</a>
         	 	 <a href="#" >重庆</a>
         	 	 <a href="#" >四川</a>
         	 	 <a href="#" >江西</a>
         	 	 <a href="#" >贵州</a>
         	 	 <a href="#" >云南</a>
         	 	 <a href="#" >内蒙</a>
         	 	 <a href="#" >宁夏</a>
         	 	 <a href="#" >新疆</a>
         	 	 <a href="#" >西藏</a>
         	 	 <a href="#" >青海</a>
         	 	 <a href="#" >台湾</a>
         	 	 <a href="#" >香港</a>
         	 	 <a href="#" >澳门</a>
         	 	 <a href="#" >海南</a>
         	 	 <a href="#" >甘肃</a>
         	 	 <a href="#" >陕西</a>
         	 	 <a href="#" >吉林</a>
         	 	 <a href="#" >辽宁</a>
         	 	 <a href="#" >黑龙江</a>
         		 </dd>
         	</dl>
    	<dl>
	  <dt><a href="#" >电脑网络</a></dt>
        		<dd class="link_gray">
      		 	 <a href="#" >个人博客</a>
         	 	 <a href="#" >邮件网盘</a>
         	 	 <a href="#" >软件下载</a>
         	 	 <a href="#" >域名空间</a>
         	 	 <a href="#" >开源代码</a>
         	 	 <a href="#" >导航链接</a>
         		 </dd>
         	</dl>
    	<dl>
	  <dt><a href="#" >其他分类</a></dt>
        	</dl>
    </div>



<div id="zxpl" class="columns">
   <h2 class="col-h2">最近评论</h2>
   <ul class="col-ul a-c mar-t8">
      </ul>
</div>

</div>

<div id="mid">

<div id="tjct"  class="columns">
	<h2 class="col-h2 link_black"><span class="l">推荐词条</span><a href="#"  class="r font12">更多&gt;&gt;</a></h2>
		{XY_Wikipediaindex}
	<div id="other-word">
			</div>
	</div>

<!--ad start -->


<!--ad end -->


<div id="zjgx" class="columns">
	<h2 class="col-h2 link_black"><span class="l til-fl">最近更新</span><a href="#"  class="r font12">更多&gt;&gt;</a></h2>
   <ul class="col-ul a-c">
         		<li><a href="#"  class="l til-fl">[电影视频] </a><a href="#"  class="ctm" title="">奇艺网</a><a href="#"  class="name">admin</a><span class="r">创建于 04-22 22:25 </span></li>
         		<li><a href="#"  class="l til-fl">[社区交友] </a><a href="#"  class="ctm" title="">淘男网</a><a href="#"  class="name">admin</a><span class="r">创建于 03-25 09:14 </span></li>
         		<li><a href="#"  class="l til-fl">[电脑网络] </a><a href="#"  class="ctm" title="">35互联</a><a href="#"  class="name">admin</a><span class="r">创建于 03-17 20:22 </span></li>
         		<li><a href="#"  class="l til-fl">[湖南] </a><a href="#"  class="ctm" title="">湘潭人才网</a><a href="#"  class="name">czj88888</a><span class="r">创建于 02-24 20:36 </span></li>
         		<li><a href="#"  class="l til-fl">[湖南] </a><a href="#"  class="ctm" title="">株洲人才网</a><a href="#"  class="name">czj88888</a><span class="r">创建于 02-24 12:18 </span></li>
         		<li><a href="#"  class="l til-fl">[湖南] </a><a href="#"  class="ctm" title="">湖南人才网</a><a href="#"  class="name">czj88888</a><span class="r">创建于 02-24 12:15 </span></li>
         		<li><a href="#"  class="l til-fl">[大学教育] </a><a href="#"  class="ctm" title="">外航投资移民</a><a href="#"  class="name">aa282668989</a><span class="r">创建于 02-23 13:30 </span></li>
         		<li><a href="#"  class="l til-fl">[个人博客] </a><a href="#"  class="ctm" title="">嘀咕网</a><a href="#"  class="name">微博</a><span class="r">编辑于 02-03 22:00 </span></li>
         		<li><a href="#"  class="l til-fl">[小说] </a><a href="#"  class="ctm" title="">逐浪小说网</a><a href="#"  class="name">小说爱好者</a><span class="r">创建于 01-30 16:50 </span></li>
         		<li><a href="#"  class="l til-fl">[导航链接] </a><a href="#"  class="ctm" title="">265导航网址之家</a><a href="#"  class="name">admin</a><span class="r">编辑于 01-30 16:16 </span></li>
         		<li><a href="#"  class="l til-fl">[小说] </a><a href="#"  class="ctm" title="">起点中文网</a><a href="#"  class="name">小说爱好者</a><span class="r">创建于 01-29 22:49 </span></li>
         		<li><a href="#"  class="l til-fl">[电脑网络] </a><a href="#"  class="ctm" title="">中介网</a><a href="#"  class="name">中介网</a><span class="r">创建于 01-29 15:07 </span></li>
         		<li><a href="#"  class="l til-fl">[软件下载] </a><a href="#"  class="ctm" title="">丁香鱼工作室</a><a href="#"  class="name">好人</a><span class="r">编辑于 01-29 11:03 </span></li>
         		<li><a href="#"  class="l til-fl">[网上购物] </a><a href="#"  class="ctm" title="">买麦网</a><a href="#"  class="name">好人</a><span class="r">创建于 01-25 14:54 </span></li>
         		<li><a href="#"  class="l til-fl">[其他分类] </a><a href="#"  class="ctm" title="">Technorati</a><a href="#"  class="name">好人</a><span class="r">创建于 01-25 14:27 </span></li>		
      </ul>
</div>

</div>

<div id="right" class="default-r">
<div id="notice" class="columns">
	<h2 class="col-h2 link_black"><span class="l">站内公告</span></h2>
	<p class="mar-lr8 mar-t8">本站是由<span style="color:#FF0000">1</span>位网民共同撰写的百科全书，目前已收录词条<span style="color:#FF0000"> 0</span>个</p>
</div>
<div id="yzwkb" class="columns">
	<h2 class="col-h2 link_black"><span class="l">排行榜</span></h2>

	<ul id="topuser" class="col-ul a-c ">
				<li><span class="ranking">1</span><a href="#" class="l" target="_blank">admin</a> <span class="r1">91</span></li>
				<li><span class="ranking">2</span><a href="#" class="l" target="_blank">好人</a> <span class="r1">50</span></li>
				<li><span class="ranking">3</span><a href="#" class="l" target="_blank">czj88888</a> <span class="r1">36</span></li>
				<li><span class="ranking">4</span><a href="#" class="l" target="_blank">小说爱好者</a> <span class="r1">30</span></li>
				<li><span class="ranking">5</span><a href="#" class="l" target="_blank">aa282668989</a> <span class="r1">25</span></li>
				<li><span class="ranking">6</span><a href="#" class="l" target="_blank">微博</a> <span class="r1">25</span></li>
				<li><span class="ranking">7</span><a href="#" class="l" target="_blank">中介网</a> <span class="r1">25</span></li>
				<li><span class="ranking">8</span><a href="#" class="l" target="_blank">danglijie</a> <span class="r1">20</span></li>
				<li><span class="ranking">9</span><a href="#" class="l" target="_blank">bcgzll</a> <span class="r1">20</span></li>
				<li><span class="ranking">10</span><a href="#" class="l" target="_blank">fm234</a> <span class="r1">20</span></li>
				<li><a href="#" class="r bg_no">更多&gt;&gt;</a></li>
	</ul>
	
</div>

<div id="rmbq" class="columns">
	<h2 class="col-h2 link_black"><span class="l">热门标签</span></h2>
	<ul class="col-ul a-c">
    	</ul>
</div>

</div>

<div class="clear"></div>
<%Include _footer%>
</div>
</body>
</html>
