</div>
<div>
    <img src="{config.WebURL}templates/{config.TemplatePath}/user/images/p2.jpg"></div>
<br style="font: 0px/0 arial" clear="all" />
<div class="foot">
    针对{config.webname}商务中心您有任何使用问题和建议 您可以 <a href="">联系个人中心管理员</a> 或 <a href="">查看帮助</a>
    <br>
    <a href="http://www.xyecom.com">XYECOM 简介</a> | <a href="">用户注册</a> | <a class="lan12i"
        href="" target="_top">广告服务</a> | <a class="lan12i" href="" target="_top">招聘</a>
    | <a class="lan12i" href="" target="_top">站点地图</a> | <a class="lan12i" href="" target="_top">
        联系方式</a> | <a class="lan12i" href="" target="_top">欢迎投稿 </a>| <a href="">图库
    </a>| <a class="lan12i" href="" target="_top">RSS订阅</a>
    <br>
    Copyright &copy; 2005 - 2009 XYECOM. All rights reserved. {config.webname} 版权所有.
</div>
<br style="clear: both">
</div> </div> </body> </html> 