<!--
    添加链接时，请链接一定需写成 ****绝对路径****
    -->
<div class="Al">
    <div class="Al_1">
        会员服务列表:</div>
    <div class="Al_2">
        <dl>
            <dt><a style="padding-right: 10px" id="a_1" onclick="javascript:switchShow('1')"
                href="javascript:void(0);">
                <img src="/user/image/a9.gif">
                我的商业信息 </a></dt>
            <dd style="display: block" id="div_1">
                <a href="/user/infoselect.aspx">发布商业信息</a><br />
                <a href="/user/adv_postbuy.aspx">发布求购信息</a><br />
                <a href="/user/supplybuy.aspx">管理求购信息</a><br />
                <a href="/user/SupplyPubList.aspx">管理供应信息</a><br />
                <a href="/user/teambuy/TeamBuyPublishList.aspx">管理团购信息</a><br />
                <a href="/user/ContractSupplyPubList.aspx">管理合同担保交易</a><br />
                <a href="/user/Venture/FinancingList.aspx">管理融资信息</a><br />
                <a href="/user/Venture/InvestmentList.aspx">管理投资信息</a><br />
                <a href="/user/ReceiveAddressList.aspx">收货人信息管理</a><br />
                <a href="/user/DepotList.aspx">库房信息管理</a><br />
                <a href="/user/businesslist.aspx?ename=investment">管理招商代理</a><br />
                <a href="/user/surrogatelist.aspx?ename=service">管理服务信息</a><br />
                <a href="/user/userbrandlist.aspx">管理品牌信息</a><br />
                <a href="/user/SupplyTypeList.aspx">自定义分类管理</a><br />
            </dd>
        </dl>
        <dl>
            <dt><a style="padding-right: 10px" id="a_2" onclick="javascript:switchShow('2')"
                href="javascript:void(0);">
                <img src="/user/image/1.gif">
                关键词排名 </a></dt>
            <dd style="display: none" id="div_2">
                <a href="/user/searchkeyword.aspx">搜索关键字</a><br />
                <a href="/user/curranking.aspx">正在参与的关键字</a><br />
                <a href="/user/historyranking.aspx">排名历史记录</a><br />
            </dd>
        </dl>
        <dl>
            <dt><a style="padding-right: 10px" id="a_3" onclick="javascript:switchShow('3')"
                href="javascript:void(0);">
                <img src="/user/image/5.gif">
                我的商铺设置 </a></dt>
            <dd style="display: none" id="div_3">
                <a href="/user/selectshoptemp.aspx">选择商铺模板</a><br />
                <a href="/user/uploadlogo.aspx">上传商铺图片</a><br />
                <a href="/user/UploadVideo.aspx">上传形象视频</a><br />
                <a href="/user/SlidesInfoList.aspx">幻灯片管理</a><br />
                <a href="/user/bindingdomain.aspx">绑定顶级域名</a><br />
                <a href="/user/userfirendlink.aspx">友情链接管理</a><br />
                <a href="/user/userannounce.aspx">商铺公告管理</a><br />
                <a href="/user/newlist.aspx">企业资讯管理</a><br />
                <a href="/user/engagelist.aspx">招聘信息管理</a><br />
                <a href="/user/certificatelist.aspx">企业证书管理</a><br />
                <a href="/user/partlist.aspx">企业专栏管理</a><br />
                <a href="/user/usertitleinfolist.aspx">资讯栏目管理</a><br />
                <a href="/user/newlist.aspx">资讯信息管理</a><br />
                <a href="/user/SEO.aspx">网店SEO设置</a><br />
            </dd>
        </dl>
        <dl>
            <dt><a style="padding-right: 10px" id="a_8" onclick="javascript:switchShow('8')"
                href="javascript:void(0);">
                <img src="/user/image/3.gif">
                我的交易信息 </a></dt>
            <dd style="display: none" id="div_8">
                <a href="/user/BuyerOrderList.aspx">采购管理</a><br />
                <a href="/user/SellerOrderList.aspx">销售管理</a><br />
                <a href="/user/Contract/ListBuyerContract.aspx">作为买家的合同</a><br />
                <a href="/user/Contract/ListSellerContract.aspx">作为卖家的合同</a><br />
                <a href="/user/TeamBuy/TeamSellerOrderList.aspx">卖家的团购订单</a><br />
                <a href="/user/TeamBuy/TeamBuyerOrderList.aspx">买家的团购订单</a><br />
            </dd>
        </dl>
        <dl>
            <dt><a style="padding-right: 10px" id="a_4" onclick="javascript:switchShow('4')"
                href="javascript:void(0);">
                <img src="/user/image/a9.gif" alt="" />
                分类广告位 </a></dt>
            <dd style="display: none" id="div_4">
                <a href="/user/buyclassads.aspx">购买分类广告</a><br />
                <a href="/user/curclassads.aspx">正在参与的广告</a><br />
                <a href="/user/hisclassads.aspx">历史参与的广告</a><br />
            </dd>
        </dl>
        <dl>
            <dt><a style="padding-right: 10px" id="a_5" onclick="javascript:switchShow('5')"
                href="javascript:void(0);">
                <img src="/user/image/a10.gif" alt="" />
                我的财务信息 </a></dt>
            <dd style="display: none" id="div_5">
                <a href="/user/cashacount.aspx">现金消费明细</a><br />
                <a href="/user/ContractMargin/SupplementConMargin.aspx">充值合同保证金</a><br />
                <a href="/user/inputmoney.aspx">充值明细</a><br />
                <a href="/user/invoicelist.aspx">发票列表</a><br />
                <a href="/user/invoice.aspx">申请发票</a><br />
                <a href="/user/remit.aspx">汇款确认</a><br />
                <a href="/user/FictitiouConsumptionInfo.aspx">网站币消费明细</a><br />
            </dd>
        </dl>
        <dl>
            <dt><a style="padding-right: 10px" id="a_9" onclick="javascript:switchShow('9')"
                href="javascript:void(0);">
                <img src="/user/image/a9.gif">
                礼品兑换 </a></dt>
            <dd style="display: none" id="div_9">
                <a href="/user/getgift.aspx">礼品列表</a><br />
                <a href="/user/mygift.aspx">我的礼品</a><br />
            </dd>
        </dl>
        <dl>
            <dt><a style="padding-right: 10px" id="a_7" onclick="javascript:switchShow('7')"
                href="javascript:void(0);">
                <img src="/user/image/buyer.gif">
                我收藏的信息 </a></dt>
            <dd style="display: none" id="div_7">
                <a href="/user/companys.aspx">收藏企业管理</a><br />
                <a href="/user/favoritelist.aspx">收藏的商业信息</a><br />
            </dd>
        </dl>
        <dl>
            <dt><a style="padding-right: 10px" id="a_6" onclick="javascript:switchShow('6')"
                href="javascript:void(0);">
                <img src="/user/image/a6.gif">
                我的账户信息 </a></dt>
            <dd style="display: none" id="div_6">
                <a href="/user/registerinfo.aspx">查看注册信息</a><br />
                <a href="/user/edituserinfo.aspx">修改注册信息</a><br />
                <a href="/user/edituserinfomore.aspx">补充企业资料</a><br />
                <a href="/user/edituserpassword.aspx">修改登陆密码</a><br />
                <a href="/user/editpaypassword.aspx">修改支付密码</a><br />
            </dd>
        </dl>
    </div>
    <script type="text/javascript">
        xy_Sel_CurLeftMenu();
    </script>
</div>
