
<%Include _head%>

<div class="location fia"><a href="index.{config.Suffix}">商务中心</a> &gt;  <a href="{config.WebURL}user/edituserinfo.{config.Suffix}">基本设置</a> &gt;  发布企业动态</div>
<%Include _menu%>

<div id="right">
    <form method ="post" action="{config.WebURL}user/addnews.{config.Suffix}" >
         <table class="contentl">
             <caption>发布资讯<span>(*为必填项)</span> </caption>
             <tr>
                 <th>标题：<em class="red">*</em></th>
                 <td>
                 <input  name="title"  type ="text" id="title" maxlength="100" size="50" /> </td>
             </tr>
             <tr>
                 <th>副标题：<em class="red"></em></th>
                 <td>
                 <input  name="txtTowTitle"  type ="text" id="txtTowTitle" maxlength="100" size="50" /> </td>
             </tr>
             <tr>
             <th>选择栏目：<em class="red">*</em></th>
             <td>
             <div id="customerType">
                </div>
                <input id="selectId" name="selectId" type="hidden" value="" />
                <input id="flag" type="hidden" value="usertitleinfo" />
                <script type="text/javascript">
                    var cla = new ClassType("cla", 'flag', 'customerType', 'selectId', 999, 'xy001', 'uid:{userinfo.userid}');
                    cla.Mode = "select";
                    cla.Init();
                </script>
             </td>
             </tr>
             <input type="hidden" id="hidTypeId"  name="hidTypeId"/>
             <tr>
                 <th>关键字：<em class="red"></em></th>
                 <td>
                 <input  name="txtKeyWord"  type ="text" id="txtKeyWord" maxlength="100" size="50" />多个请以“，”隔开</td>
             </tr>
             <tr>
                 <th>资讯作者：<em class="red">*</em></th>
                 <td>
                 <input  name="txtAuthor"  type ="text" id="txtAuthor" maxlength="100" size="20" /></td>
             </tr>
              <tr>
                 <th>资讯来源：<em class="red">*</em></th>
                 <td>
                 <input  name="txtOrigin"  type ="text" id="txtOrigin" maxlength="100" size="20" /></td>
             </tr>
              <tr>
                 <th>资讯导读：<em class="red"></em></th>
                 <td>
                 <textarea name="txtLess" rows="5" cols="80" id="txtLess" class="input"></textarea></td>
             </tr>
          <tr>
             <th>内容：<em class="red">*</em></th>
             <td>
            <script language ="javascript" type="text/javascript"  src="{config.WebURL}common/fckeditor/fckeditor.js"></script>
                <script language="javascript" type="text/javascript">
            var newsEditor = new FCKeditor('xyecom') ;
            newsEditor.BasePath = '/Common/fckeditor/' ;
            newsEditor.ToolbarSet = 'Basic' ;
            newsEditor.Width = '100%' ;
            newsEditor.Height = '400' ;
            newsEditor.Value = '';
            newsEditor.Create() ;
             </script>
                          
             </td>
             </tr>
         </table> 
         <div class="content_action">
            <input name="" type ="submit" value=" 确定" onclick ="return getnews();" class ="button" />
            <input name="but02" type="button" value="取消" onclick ="window.location.href='{config.WebURL}user/newlist.{config.Suffix}';"  class ="button"/>
        </div>
    </form>
</div>

<%Include _footer%>




