<%Include _head%>
<div class="location fia">
    <a href="index.{config.suffix}">会员中心</a> &gt; 百科收藏</div>
<%Include _menu%>
<div id="right">
    <form method="post" id="news">
    <h2>
        我百科收藏</h2>
    <div class="ly_100">
        <div class="ly_tit3">
            <ul>
                <li class="on">所有收藏</li>
            </ul>
        </div>
    </div>
    <table class="ly_tab2 ly_w1">
        <thead>
            <tr>
                <td>
                </td>
                <td>                    
                    词条名称
                </td>
                <td>
                    添加时间
                </td>
            </tr>
        </thead>
        <tbody>
            <%loop (DataRow)  s infolist%>
            <tr>
                <td>
                    <input id="sd_id" name="sd_id" type="checkbox" value="{s[FavId]}" />
                </td>
                <td>
                    <a href="{config.WebURL}baike/view.{config.suffix}?lid={s[LemmaId]}">{s[LemmaName]}</a>
                </td>
                <td>
                {s[AddTime]}
                </td>
            </tr>
            <%/loop%>
        </tbody>
    </table>
    <div class="gq_quanx">
        <input id="Checkbox1" name="chkAll" type="checkbox" value="" onclick="CheckedAll();" />全选<input
            name="message" class="button" type="submit" value="删除" onclick="return bntDelete()" /></div>
    <div class="page">
        当前是第 <span>{pageinfo.PageIndex}</span> 页 &nbsp;（共 <span>{pageinfo.PageCount}</span>
        页）&nbsp;{pageinfo.FirstPage}&nbsp;{pageinfo.PreviousPage}&nbsp;{pageinfo.NextPage}&nbsp;{pageinfo.LastPage}</div>
    <input type="hidden" id="isDelete" name="isDelete" value="" />
    </form>
</div>
<%Include _footer%>