
<%Include _head%>
<div class="location fia"><a href="index.{config.Suffix}">商务中心</a> &gt;绑定顶级域名</div>
<%Include _menu%>

 <!--右边区域-->
 <div id="right">
    <form action="#" id="" method="post"> 
        <table class="contentl">
            <caption>绑定顶级域名</caption>
            <thead> </thead>
            <tbody>
            <tr>
                <td>
                    您可以将域名绑定到你的网店上，操作注意事项如下:<br/><br/>
                    
                    1.域名绑定完全免费，但必须提供正确的ICP备案信息.<br/>
                    2.涉及违反国家相关法律法规内容的域名不予通过.<br/>
                    3.申请提交后三个工作日之内进行审核,在这过程中网店能正常通过原路径访问.<br/><br/>
                    
                    由于信息产业部网站查询备案信息可能会出错，所以请您先登录信息产业部网站确保能查询到正确的备案信息.
                    <br/><br/>
                    <%if state!=""%>
                    <div class="gq_succe">
                    <span>{state}</span>
                    </div>
                    <%/if%>
                </td>
            </tr>
            <tr>
                <td>
                第一步：请将你的域名解析到网址：<font color="red">www.xyecs.cn</font><br/><br/>
                &nbsp;&nbsp;&nbsp;注意：一定要使用CNAME（别名）方式做指向，不能使用A记录、MX记录，url转发
                </td>
            </tr>
            <tr>
                <td>
                 第二步：请填写正确的信息：
                 <table width="100%">
                    <tr>
                        <th>您的域名：</th>
                        <td><input type="text" name="userdomain" value="{userdomain}"/> 如：www.xyecs.cn</td>
                    </tr>
                    <tr>
                        <th>ICP备案号：</th>
                        <td><input type="text" name="icpinfo" value="{icpinfo}"/> 如：京ICP备8888888号</td>
                    </tr>
                 </table>
                </td>
            </tr>
          </tbody>
        </table>    
        
        <div class="content_action">
            <input name="submit"  type="submit" class="button" value="确认" onclick="javascript:return Announceinfo()"/> 
        </div>
    </form>
  </div>
<%Include _footer%>