
<%Include _head%>
<div class="location fia"><a href="index.{config.Suffix}">商务中心</a> &gt;  <a href="{config.WebURL}user/supplylist.{config.Suffix}">商业信息</a> &gt;  修改品牌信息</div>

<%Include _menu%>
<div id="right">
    <form method ="post">
          <table class="contentl">
               <caption>修改品牌信息 <span>(*为必填项)</span></caption>
               <tr>
                <th>品牌名称：<em class="red">*</em></th>
                <td>
                 <input  name="txtname"  type ="text" id="txtname" maxlength="100" size="50" value="{brandinfo.Title}" /> </td>
               </tr>
               <tr>
                <th>品牌类别：<em class="red">*</em></th>
                <td>
                <input type ="hidden" id="supplyid"  name="supplyid" value="{brandinfo.SortID}" /> <input type ="hidden" id="ptype"  name="ptype" value="1"/>
                                       <div id="classType"></div>
                                    <script type="text/javascript">
                                    var cla = new ClassType("cla",'brand','classType','supplyid');
                                    cla.Mode = "select";
                                    cla.Init();
                                    </script>
                </td>
               </tr>
                <tr>
                <th>发布时间：<em class="red">*</em></th>
                <td>
                 <input  name="addtime"  type ="text" id="addtime"  size="30" value="{brandinfo.PublishTime}" disabled="disabled" /> </td>
              </tr>
            <tr><th>品牌大图：<em class="red">*</em></th><td><%Include _UploadControl%><br/></td></tr>
             <tr>
             <th>品牌介绍：<em class="red">*</em></th>
             <td>
            <!--Editer Start-->
            <textarea id="_content_body" style="display:none;" cols="0" rows="0">{brandinfo.InfoContent}</textarea>
                <script language ="javascript" type="text/javascript"  src="{config.WebURL}common/fckeditor/fckeditor.js"></script>
                  <script language="javascript" type="text/javascript">
                var oFCKeditor = new FCKeditor('txtsm') ;
                oFCKeditor.BasePath = '/Common/fckeditor/' ;
                oFCKeditor.ToolbarSet = 'Basic' ;
                oFCKeditor.Width = '100%' ;
                oFCKeditor.Height = '400' ;
                oFCKeditor.Value = document.getElementById("_content_body").value;
                oFCKeditor.Create() ;
                </script>
            <!--Editer End-->
             </td>
             </tr>
          </table>
        <div class="content_action"><input name="" type ="submit" value=" 确定" onclick ="return getbrand();" class ="button" />
        <input name="but02" type="button" value="取消" onclick ="window.location.href='{config.WebURL}user/brandlist.{config.Suffix}';"  class ="button"/>
        </div>
    </form>
</div>

<%Include _footer%>

