
<%Include _head%>
<div class="location fia"><a href="index.{config.Suffix}">商务中心</a> &gt;  <a href="{config.WebURL}user/supplylist.{config.Suffix}">商业信息</a> &gt;  添加品牌信息</div>
<%Include _menu%>

<div id="right">
    <form method ="post">
          <table class="contentl" >
               <caption>添加品牌信息<span>(*为必填项)</span> </caption>
               <tr>
                    <th>品牌名称：<em class="red">*</em>
					
					</th>
                    <td>
                    <input   name="txtname"  type ="text" id="txtname"  maxlength="100" size="40" />
                    <em>名称请限定在10个汉字内（20个字符）</em>
                    </td>
               </tr>  
                <tr>
                    <th>品牌类别：<em class="red">*</em>
					</th>
                    <td>
                    <input type ="hidden" id="supplyid"  name="supplyid"/>
                    <input type ="hidden" id="hidmid"  name="ptype" value="1"/>
                       <div id="classType"></div>
                        <script type="text/javascript">
                        var cla = new ClassType("cla",'brand','classType','supplyid');
                        cla.Mode = "select";
                        cla.Init();
                        </script>
                        <em>正确的品牌类型使您的信息能被更容易的搜索到！</em>
                    </td>
               </tr>
               <tr>
                    <th>品牌图片：<em class="red">*</em>
					</th>
                    <td>
                    <%Include _UploadControl%>

                     </td>
               </tr>
     <tr>
      <th>品牌介绍：</th>
    <td>
     <script language ="javascript" type="text/javascript"  src="{config.WebURL}common/fckeditor/fckeditor.js"></script>
      <script language="javascript" type="text/javascript">
        var oFCKeditor = new FCKeditor('txtsm') ;
        oFCKeditor.BasePath = '/Common/fckeditor/' ;
        oFCKeditor.ToolbarSet = 'Basic' ;
        oFCKeditor.Width = '100%' ;
        oFCKeditor.Height = '400' ;
        oFCKeditor.Value = '';
        oFCKeditor.Create() ;
     </script>
 </td>
     </tr>
     </table>	
          <div class="content_action">
               <input name="" type ="submit" value=" 确定" onclick ="return getbrand();" class ="button" />
               <input name="but02" type="button" value="取消" onclick ="window.location.href='{config.WebURL}user/brandlist.{config.Suffix}';"  class ="button"/>
          </div>
    </form>
</div>

<%Include _footer%>
