
<%Include _head%>
<div class="location fia"><a href="index.{config.Suffix}">商务中心</a> &gt;  <a href="{config.WebURL}user/businesslist.{config.Suffix}?ename={pageinfo.ModuleFlag}">商业信息</a> &gt;  {module.CName}管理</div>

<%Include _menu%>

<div id="right"> 
    <form   method="post">                    
       <h2><span><input type="button" class="button" value="发布新的{module.CName}"  onclick ="window.location.href='{config.WebURL}user/dis_post_step.{config.Suffix}?ename={pageinfo.ModuleFlag}'"/></span>管理{module.CName}</h2>
        <div class="ly_100">
            <div class="ly_tit3">
         <ul>
         <li class="out"><a href ="{config.WebURL}user/businesslist.{config.Suffix}?ename={pageinfo.ModuleFlag}">已发布上网({auditedcount})</a></li>
         <li class="out"><a href ="{config.WebURL}user/businessisauditinglist.{config.Suffix}?ename={pageinfo.ModuleFlag}">审核中({auditingcount})</a></li>
         <li class="on"><a href ="{config.WebURL}user/businessnotaudtiinglist.{config.Suffix}?ename={pageinfo.ModuleFlag}">审核未通过({notauditedcount})</a></li>
         <li class="out"><a href ="{config.WebURL}user/businessdated.{config.Suffix}?ename={pageinfo.ModuleFlag}">已过期({datedcount})</a></li>
         </ul>
        </div>
            <div class="ly_tit32">
        关键字：<input type="text" id="key" maxlength="50"  name ="key" value="{key}"/>
        <select  id="infotype" name ="infotype" >
         <option value="all">所有信息</option>
        <%loop (ModuleItemInfo) item1 module.Item%>
            <%if infotype==item1.ID.ToString()%>
            <option value="{item1.ID.ToString()}" selected>{item1.Prefix}{item1.Postfix}信息</option>
            <%else%>
            <option value="{item1.ID.ToString()}">{item1.Prefix}{item1.Postfix}信息</option>
            <%/if%>
        <%/loop%>
        </select>
        <input type="submit" name="submit_search" class ="button" value="查询"/>
        </div>
        </div> 
    <table class="ly_tab2 ly_w1">
    <thead><tr>
	          <td>选择</td>	
	           <td>图片</td>      
		      <td>标 题</td>
		      <td>发布日期</td>
		      <td>状态</td>
		      <td>浏览次数</td>
		     <td>留言</td> 
		      <td>修改</td>
    </tr></thead>
    <tbody>
      <%loop (DataRow) eiby infolist%>
      <tr>
        <td ><input  name="sd_id" id="sd_id" type="checkbox" value="{eiby[IBI_ID]}" /></td>
        <td >
            <%set infoimg = GetInfoImgHref(eiby["IBI_ID"].ToString())%>
            
            <%if infoimg==""%>
                <img src="/common/images/DefaultImg.gif" alt="{eiby[IBI_Title]}" width="60" height="60" />
            <%else%>
                <img src="{infoimg}" alt="{eiby[IBI_Title]}" width="60" height="60" />
            <%/if%> 
        </td>
        <td class="infoTitle"> <%left(eiby[IBI_Title],20)%></td>
        <td class="wbg_setTime">{eiby[IBI_PublishDate]}</td>  
        <td style="text-align:center;"><%if {eiby[IBI_Pause]}=="False"%><span style="color:#f60;;">暂停</span><%else%><span style="color:#336600;">正常</span><%/if%></td>
        <td class="wbg_clicknum">{eiby[IBI_ClickNum]}</td>
        <td ><a href="{config.WebURL}user/receivemessagelist.{config.Suffix}?type='investment'&InfoID={eiby[IBI_ID]}"><em class="wbg_messageNum">{summessage}</em></a> 条&nbsp;</td>
       <td><input type ="button" class ="button"  value ="修改" onclick ="location.href='{config.WebURL}user/adv_post.{config.Suffix}?ename={pageinfo.ModuleFlag}&flag={eiby[IBI_Sign]}&info_ID={eiby[IBI_ID]}'"/></td>
        </tr>
      <%/loop%>
      </tbody>
    </table>
            <table class="content_action">
                <tr>
                    <td>
                        <input id="chkAll" name="chkAll" type="checkbox" value="" onclick="CheckedAll();" />全选
                        <input name="business"  class="button" type="submit" value="删除" onclick="return bntDelete();"/>
                    </td>
                </tr>
            </table>
        <div class="page">当前是第 <span>{pageinfo.PageIndex}</span> 页 &nbsp;（共 <span>{pageinfo.PageCount}</span> 页）&nbsp;{pageinfo.FirstPage}&nbsp;{pageinfo.PreviousPage}&nbsp;{pageinfo.NextPage}&nbsp;{pageinfo.LastPage}</div>
    </form>
</div>


<%Include _footer%>