<%Include _head%>

<div class="location fia"><a href="index.{config.Suffix}">商务中心</a> &gt;   <a href="{config.WebURL}user/searchkeyword.{config.Suffix}">搜索关键词</a> &gt;  购买关键词</div>

<%Include _menu%>


<div id="right">
  <form   method="post" action="">
    <!--返回结果-->
    <%if pageinfo.PageState=="ok"%>
    <div>
        <div><b>购买成功！</b></div>
        <div>{pageinfo.MsgboxText}</div>
    </div>
    <%/if%>

    <%if pageinfo.PageState=="error"%>
    <div>
        <div><b>购买失败！</b></div>
        <div>{pageinfo.MsgboxText}</div>
    </div>
    <%/if%>
    </form>
</div>

<%Include _footer%>

