<%Include _head%>
<div class="location fia">
    <a href="index.{config.Suffix}">商务中心</a> &gt; <a href="{config.WebURL}user/searchkeyword.{config.Suffix}">
        搜索关键词</a> &gt; 购买关键词</div>
<%Include _menu%>
<div id="right">
    <form method="post" action="">
    <!--返回结果-->
    <div class="gq_succe">
        <span><b>
            <%if pageinfo.PageState=="ok"%>
            购买成功！
            <%/if%>
            <%if pageinfo.PageState=="error"%>
            购买失败！
            <%/if%>
        </b></span>
        <br />
        {pageinfo.MsgboxText}
        <br />
        <span><a href="searchkeyword.{config.suffix}">搜索关键词</a> | <a href="curranking.{config.suffix}">
            当前参与的排名</a> </span>
    </div>
    </form>
</div>
<%Include _footer%>