<%Include _head%>

<div class="location fia"><a href="index.{config.Suffix}">商务中心</a> &gt;   <a href="{config.WebURL}user/searchkeyword.{config.Suffix}">搜索关键词</a> &gt;  购买关键词</div>

<%Include _menu%>

<div id="right">
<form   method="post" action="buy_key_2.{config.suffix}">
    <input type="hidden" name="keyId" value="{keyid}" />
    <input type="hidden" name="rank" value="{rank}" />
    <table class="contentl">
      <caption>购买关键词<span>(指定要购买的时间)</span></caption>
      <tr>
        <th>关键词：</th>
        <td>{keyword}</td>
      </tr>
       <tr>
        <th>名次：</th>
        <td>{rank}</td>
      </tr>
      <tr>
        <th>价格：</th>
        <td><span id="price">{price}</span>{moneyname}/{timeunits}</td>
      </tr>
      <tr>
        <th>购买时间：<em class="red">*</em></th>
        <td><input name="timecycle" type="text" value="1" id="timecycle" maxlength="2" size="2" onblur="_xy_BuyKey_RecalculatedPrice()"/> {timeunits}</td>
      </tr>  
      <tr>
        <th>支付总额：</th>
        <td id="amount">{amount}</td>
      </tr>
      </table>
      
      <table class="contentl">
          <caption>信息匹配结果<span>(从匹配结果中选择要展示的信息)</span></caption>
          
        <%loop (XYECOM.Configuration.ModuleInfo) item moduleItems%>
        <tr>
            <th>{item.CName}：</th>
            <td>
                <select name="{item.EName}" style="width:350px;">
                    <%set data = GetMatchData(item.CName)%>
                    <%if data.Rows.Count>0%>
                        <%loop (DataRow) mdata data%>
                            <option value="{mdata[infoid]}">{mdata[infotitle]}</option>
                        <%/loop%>
                    <%else%>
                        <option value="0">没有匹配信息，请在完成购买后发布相关信息，并重新匹配</option>
                    <%/if%>
                </select>
            </td>
        </tr>
        <%/loop%>
      </table>
      
        <div class="content_action">
            <input name="" type ="submit" value=" 确定" class ="button" />
            <input name="but02" type="button" value="取消" onclick ="window.location.href='{config.WebURL}user/searchkeyword.{config.Suffix}'" class ="button" />
        </div>
    </form>
</div>

<%Include _footer%>


