<%Include _head%>

<div class="location fia"><a href="index.{config.Suffix}">商务中心</a> &gt;  <a href="{config.WebURL}user/buyclassads.{config.Suffix}">分类广告位</a> &gt;  购买分类广告</div>

<%Include _menu%>
<div id="right">
    <form   method="post" action="">
    
    <table class="contentl">
         <caption> 购买分类广告</caption>
        <tr>
            <td>
                <table class="clsAd_table">
                <tr>
                    <td>
                        <div class="div"> {classadtree} </div>
                    </td>
                <td  valign="top" class="tdle">
                <div class="div-table">
                <table class="ly_tab2 ly_w1">
                      <thead>
                        <tr>
                            <td>类别名称</td>
                            <td>相关信息</td>
                        </tr>
                      </thead>
                    <tr>
                        <td>{classname}</td>
                        <td>
                        <%if classid!=0%>
                            <%if tbclassad.Rows.Count>=number%>
                            <table width="100%">
                                        <tr>
                                            <th>位置</th>
                                            <th>到期时间</th>
                                        </tr>
                                        <%loop (DataRow) rdata tbclassad%>
                                        <tr>
                                            <td>位置</td>
                                            <td>
                                                <%set str=GetTime(rdata["EndTime"])%>
                                                {str}
                                            </td>
                                        </tr>
                                        <%/loop%>
                            </table>
                            <%/if%>
                        <%/if%>
                        
                        <%if tbclassad.Rows.Count<number%>
                            {shifoushouchu}<a href="buy_classad_1.aspx?classid={classid}">{onclickurl}</a>
                        <%/if%>
                        </td>
                    </tr>
                 </table>
                 </div>
                </td>
                </tr>
                </table>
            </td>
        </tr>
    </table>

   <br/>

    </form>
    
</div>

<%Include _footer%>