<%Include _head%>
<div class="location fia">
    <a href="index.{config.Suffix}">商务中心</a> &gt; <a href="{config.WebURL}user/edituserinfo.{config.Suffix}">
        基本设置</a> &gt; 公司动态管理</div>
<%Include _menu%>
<div id="right">
    <form method="post" id="news">
    <h2>
        <span>
            <input name="but02" type="button" value="投稿" onclick="window.open('{config.WebURL}contributor.{config.Suffix}');"
                class="button" />&nbsp;
            <input name="new" class="button" type="button" value="发布企业资讯" onclick="window.location.href='{config.WebURL}user/addnews.{config.Suffix}'" />
        </span>投稿管理</h2>
    <table class="content">
        <div class="ly_tit3">
            <ul>
                <li class="out"><a href="{config.WebURL}user/newlist.{config.Suffix}">商铺资讯</a> </li>
                <li class="on"><a href="{config.WebURL}user/contributenewslist.{config.Suffix}">投稿资讯</a></li>
            </ul>
        </div>
        <div class="ly_tit32">
            标题关键字：<input type="text" id="key" name="key" value="{key}" />
            <input type="submit" name="submit_search" value="查询" class="button" />
        </div>
        <thead>
            <tr>
                <th width="8%">
                    选择
                </th>
                <th width="57%">
                    标 题
                </th>
                <th width="20%">
                    发布时间
                </th>
                <th width="15%">
                    修改
                </th>
            </tr>
        </thead>
        <tbody>
            <%loop (DataRow) n infolist%>
            <tr>
                <td>
                    <input id="sd_id" name="sd_id" type="checkbox" value="{n[NS_ID]}" />
                </td>
                <td>
                    <%left(n[NS_NewsName],40)%>
                </td>
                <td>
                    {n[NS_AddTime]}
                </td>
                <td>
                    <a href="{config.WebURL}user/editnew.{config.Suffix}?NS_ID={n[NS_ID]}&isflag=1">修改</a>
                </td>
            </tr>
            <%/loop%>
        </tbody>
    </table>
    <table class="content_action">
        <tr>
            <td>
                <input id="chkAll" name="chkAll" type="checkbox" value="" onclick="CheckedAll();" />全选
                <input name="new" class="button" type="submit" value="删除" onclick="return bntDelete()" />
            </td>
        </tr>
    </table>
    <div class="page">
        当前是第 <span>{pageinfo.PageIndex}</span> 页 &nbsp;（共 <span>{pageinfo.PageCount}</span>
        页）&nbsp;{pageinfo.FirstPage}&nbsp;{pageinfo.PreviousPage}&nbsp;{pageinfo.NextPage}&nbsp;{pageinfo.LastPage}</div>
    <input type="hidden" id="isDelete" name="isDelete" value="" />
    </form>
</div>
<%Include _footer%>