
<%Include _head%>

<div class="location fia"><a href="index.{config.Suffix}">商务中心</a> &gt; 我参与的关键词排名</div>

<%Include _menu%>


  <div id="right">
   <form method="post">
   
    <h3>当前参与的排名</h3>    
    


    <table class="content">
     <thead>
      <tr>
        <th width="30%">类别名称</th>
       
        <th width="15%">开始时间</th>
        <th width="15%">结束时间</th>
      
         <th width="19%">审核状态</th>
    
         <th width="19%">是否已开始</th>
        
      </tr>
     </thead>
     
     <tbody>
     <%if infolist.Rows.Count>0%>
      <%loop (DataRow) rank infolist%>
      <tr>        
         <td>   <%set str = GetAllClassNameForClassAds(rank["ClassId"].ToString())%>
            {str}
            </td>

        <td>
        <%set str=GetTime(rank["BeginTime"]) %>
        {str}
        </td>
        <td>
        <%set str=GetTime(rank["EndTime"]) %>
        {str}
       
       
        </td>
        
        <td>
        <%set str = GetAllAuditingState(rank["AuditingState"].ToString()) %>
        {str}
        </td>
        <td>
        <%set str=GetIsNoBegin(rank["BeginTime"],rank["EndTime"]) %>
        {str}
        </td>
       
      </tr>
      <%/loop%>
      <%/if%>
     </tbody>
    </table>
    
<div class="page">当前是第 <span>{pageinfo.PageIndex}</span> 页 &nbsp;（共 <span>{pageinfo.PageCount}</span> 页）&nbsp;{pageinfo.FirstPage}&nbsp;{pageinfo.PreviousPage}&nbsp;{pageinfo.NextPage}&nbsp;{pageinfo.LastPage}</div>

     </form>
   </div>

<%Include _footer%>  