<%Include _head%>
<div class="location fia">
    <a href="index.{config.Suffix}">商务中心</a> &gt; 我参与的关键词排名</div>
<%Include _menu%>
<div id="right">
    <form method="post">
    <h3>
        当前参与的排名</h3>
    <table class="content">
        <thead>
            <tr>
                <th width="15%">
                    关键词
                </th>
                <th width="10%">
                    名次
                </th>
                <th width="10%">
                    开始时间
                </th>
                <th width="10%">
                    结束时间
                </th>
                <th width="40%">
                    相关信息
                </th>
                <th width="15%">
                    重新匹配
                </th>
            </tr>
        </thead>
        <tbody>
            <%if infolist.Rows.Count>0%>
            <%loop (DataRow) rank infolist%>
            <tr>
                <td>
                    {rank[keyword]}
                </td>
                <td>
                    {rank[rank]}
                </td>
                <td>
                    <%formatdatetime(rank[begintime],yyyy-MM-dd)%>
                </td>
                <td>
                    <%formatdatetime(rank[endtime],yyyy-MM-dd)%>
                </td>
                <td>
                    <%set str = GetAboutInfo(rank["infoIds"].ToString())%>
                    {str}
                </td>
                <td>
                     <a href="{config.WebURL}user/rematching.{config.Suffix}?rid={rank[rid]}&rank={rank[rank]}">重新匹配/自定义</a>
                </td>
            </tr>
            <%/loop%>
            <%/if%>
        </tbody>
    </table>
    </form>
</div>
<%Include _footer%>
