
<%Include _head%>

<div class="location fia"><a href="index.{config.Suffix}">商务中心</a> &gt; 我参与的关键词排名</div>
<%Include _menu%>
<div id="right">
    <form method ="post" action="">
         <table class="contentl">
             <caption> 自定义排名信息<span>(*为必填项)</span> </caption>
             <tr>
                <th>基本信息：</th>
                <td>
                    <table>
                        <tr>
                            <td>所属模块：</td>
                            <td>{moduleName}</td>
                        </tr>
                        <tr>
                            <td>关键词：</td>
                            <td>{key}</td>
                        </tr>
                        <tr>
                            <td>名次：</td>
                            <td>{rank}</td>
                        </tr>
                    </table>
                </td>
             </tr>
             <tr>
                 <th>信息标题：<em class="red">*</em></th>
                 <td>
                 <input  name="title"  type ="text" id="title" maxlength="100" size="50" value="{title}"/> 
                 <br/>
                 <span>标题尽量简洁，并包含相应关键词</span>
                 </td>
             </tr>
             <tr>
                 <th>链接地址：<em class="red">*</em></th>
                 <td>
                 <input  name="txtURL"  type ="text" id="link" maxlength="100" size="50" value="{link}"/> 
                 <br/>
                 <span>请填写网站完整URL地址，如http://www.xyecom.com</span>
                 </td>
             </tr>
          <tr>
             <th>详细内容：</th>
             <td>
            <textarea name="desc" id="desc" rows="7" cols="80">{desc}</textarea>
             <br/>
            <span>100汉字以内</span>
             </td>
            
             </tr>

             <tr>
                <th>信息图片：</th>
                <td>
                    <span>
                        <font color="red">温馨提示:</font>指定图片Url地址或上传图片,优先读取指定URL的图片
                    </span>
                    <br/><br/>
                    <div id="divImgUrl" style="width:100%; margin-bottom:20px;">
                        <input  name="ImageUrl"  type ="text" id="ImageUrl" maxlength="100" size="50" value="{imageurl}"/> 请输入图片URL
                    </div>
                    <div id="divUploadImg">
                        <%include _UploadControl%>
                    </div>
                </td>
             </tr>
           </table> 
         <div class="content_action">
            <input name="btnOK" type ="submit"   value="确定" onclick ="return _xy_part_checkUserDefined();" class ="button" id="Submit1" />
            <input name="but02" type="button" value="取消" onclick ="window.location.href='{config.WebURL}user/rematching.{config.Suffix}?rid={rankingId}&rank={rank}';"  class ="button"/>
        </div>
    </form>
</div>

<%Include _footer%>




