
<%include _head%>

<div class="location fia"><a href="index.{config.Suffix}">商务中心</a> &gt;  发布商业信息</div>

<%include _menu%>

 <div id="right">
  <form  action="#" method="post">
  <h3>发布{infoname}</h3>
  
 
 <table  class="contentl">
    <tr>
        <th>信息类型：<em>*</em></th>
        <td>
        <%loop (ModuleItemInfo) item module.Item%>
            <%if item__loop__id==1%>
                
                <%set initvalue=item.Prefix%>
                <%set infotypestr = item.InfoTypeStr%>
                
                <input type="radio" name="items" value="{item.ID}"  checked ="checked" onclick="SetElementValue('infotitle,hidInfoType','{item.Prefix}');InitInfoAddPageForm('{module.EName}','{module.PEName}','{item.InfoTypeStr}');"/>{item.Prefix}{item.Postfix}
            <%else%>
                <input type="radio" name="items" value="{item.ID}" onclick="SetElementValue('infotitle,hidInfoType','{item.Prefix}');InitInfoAddPageForm('{module.EName}','{module.PEName}','{item.InfoTypeStr}');"/>{item.Prefix}{item.Postfix}
            <%/if%>
        <%/loop%>
        </td>
    </tr>   
  <tr id="ptname">
   <th>信息名称：<em>*</em></th>
   <td  class="two"><input id="infotitle" name="infotitle" type="text" size="35"  maxlength="40" value="{initvalue}"/>
   <em id="txt0" class="three">信息标题中请勿出现特殊字符。</em>
   </td>
  </tr>
 <%if module.EName=="offer"||module.PEName=="offer"%>
    <%if userinfo.iscompanyprotype==true%> 
    <tr>
    <th>自定义产品分类：</th>
    <td  class="two">
         <div id="customerType">
                </div>
                <input id="upt" name="upt" type="hidden" value="" />
                <input id="flag" type="hidden" value="companytype" />
                <script type="text/javascript">
                    var cla2 = new ClassType("cla2", 'flag', 'customerType', 'upt', 999, 'xy001', 'uid:<%=userinfo.userid %>');
                    cla2.Mode = "select";
                    cla2.Init();
                </script>
    <em id="Em1" class="three">选择自定义产品分类。</em>
    </td></tr>
    <%/if%>
    <%/if%>
  <tr id="prodpt">
    
  <input type="hidden" id="hidInfoTypeStr" value="{infotypestr}" />
  <input type="hidden" id="hidInfoType" value="{initvalue}" />
  <input type="hidden" id="hidModuleName" value="{module.EName}" />
  <input type="hidden" id="hidTypeId"  name="hidTypeId"/>
  
   <th>选择信息类别：<em>*</em></th>
   <td>
   <div id="classType"></div>
    <script type="text/javascript">
    var cla = new ClassType("cla",'hidModuleName','classType','hidTypeId',null,null,"tradeids:{userinfo.tradeids}");
    cla.Mode = "select";
    cla.OnChange = GetFieldInnerHTML;
    cla.Init();
    </script>
   </td>
  </tr>
  
  <tr>
<th> 信息属性：<em>*</em></th>
<td id="tabFieldBody">

</td>
</tr>
 <tr>
 <th>详细说明：<em>*</em></th>
 <td>
<script language ="javascript" type="text/javascript"  src="{config.WebURL}common/fckeditor/fckeditor.js"></script>
  <script language="javascript" type="text/javascript">
var oFCKeditor = new FCKeditor('xyecom');
oFCKeditor.BasePath = '/Common/fckeditor/';
oFCKeditor.ToolbarSet = 'BaiKe';
oFCKeditor.Width = "100%";
oFCKeditor.Height = "400";
oFCKeditor.Value = '';
oFCKeditor.Create();
 </script>
 </td>
 </tr>
<tr>
<th>上传图片：</th>
<td ><%include _UploadControl%></td>
</tr>
<%if config.DateType==false%>
<tr>
<th>信息有效期：<em class="red">*</em></th>
<td > 
<input onclick="getDateString(this);" id="EndDate" maxlength="15" readonly="readonly" name ="EndDate"/>
</td>
</tr>
<%else%>
<tr>
<th>信息有效期：<em class="red">*</em></th>
<td ><input  type ="radio"  value ="10" name ="rad"/>10天
<input  type ="radio"   value ="20"  name ="rad"/>20天
<input  type ="radio"  value ="30"  name ="rad"/>1个月
<input  type ="radio"  value ="90"  name ="rad"/>3个月
<input  type ="radio"  value ="180"  name ="rad" checked ="checked"/>6个月
<input id="EndDate"  readonly="readonly" style="display:none;" />
</td>
</tr>
<%/if%>
</table>
<input id="datetype"  type="hidden" value="{config.DateType}" />

<%if module.EName=="offer"||module.PEName=="offer"%>
<table class="contentl mt8">
<tr>
<th >单价：</th>
<td><input maxlength="10"  name ="txtsprice" id="txtsprice" value="0"/>元<em>注：（0位面议，只能填数字）</em></td>
</tr>
<tr>
<th >计量单位：</th>
<td><input maxlength="10"  name ="txtsunit"/></td>
</tr>
<tr>
<th >最小起定量：</th>
<td><input maxlength="6"  name ="txtssmallnum" value="1"/><em>注：（0为无限量，只能填数字）</em></td>
</tr>
<tr>
<th >货物总量：</th>
<td><input maxlength="6"  name ="txtscountnum" value="0"/><em>注：（0为无限量，只能填数字）</em></td>
</tr>
<%if ispayment==true%>
<tr>
<th >是否支持在线交易：<em class="red">*</em></th>
<td><input type="radio" value="1" name="rbIsPayMent" />支持<input type="radio" value="0" name="rbIsPayMent" checked="checked" />不支持</td>
</tr>
<%/if%>
</table>
<%/if%>
<%if module.EName=="venture"||module.PEName=="venture"%>
<table class="contentl mt8">
<tr>
<th >单价：<em class="red">*</em></th>
<td><input maxlength="10" id="txtcprice"  name ="txtcprice" value="0"/>元<em>注：（0为面议，只能填数字）</em></td>
</tr>
<tr>
<th >计量单位：<em class="red">*</em></th>
<td><input maxlength="10"  name ="txtcunit"/></td>
</tr>
<tr>
<th >最小起定量：<em class="red">*</em></th>
<td><input maxlength="6"  id ="txtcsmallnum" name ="txtcsmallnum" value="1"/><em>注：（0为无限量，只能填数字）</em></td>
</tr>
<tr>
<th >货物总量：<em class="red">*</em></th>
<td><input maxlength="6"  id ="txtccountnum" name ="txtccountnum" value="0"/><em>注：（0为无限量，只能填数字）</em></td>
</tr>
</table>
<%/if%>
<%if module.EName=="investment"||module.PEName=="investment"%>

<table class="contentl mt8">
    <tr>
        <th>准备代理(招商)的地区：</th>
        <td>
            <input  type="radio"  id="citys" name ="rbcity" onclick ="showcityname(1);" checked="checked" value ="全国"/>全国
            <input id="cityl" type="radio" name="rbcity"  onclick ="showcityname(2);" value=""/> 其它
        </td>
    </tr>
    <tr style="display:none" id="cityls">
        <th>&nbsp;</th>
        <td id="divarea"><input type ="hidden" id="city"  name="city"/></td>
    </tr>
</table>
<script type="text/javascript">
    var claarea = new ClassTypes("claarea",'area','divarea','city');
    claarea.Init();
</script>
<table  class="contentl" id="tabInvestmentSell" style="display:none; border-top:0px;">
    <tr>
        <th >招商支持：</th>
        <td><textarea id="txtsupport" name ="txtsupport" cols="80" rows="7"></textarea></td>
    </tr>
    <tr>
        <th >招商要求：</th>
        <td> <textarea id="txtdemand" name ="txtdemand" cols="80" rows="7"></textarea></td>
    </tr>
    <tr>
        <th >展示网址：</th>
        <td><input maxlength="95"  name ="pageurl" id="pageurl"/></td>
    </tr>
</table>


<table class="contentl" id="tabInvestmentBuy" style="display:none;border-top:0px;">
    <tr>
        <th >代理过的品牌：</th>
        <td><input type="text"  name ="txtbrand" style="width: 255px" id="txtbrand"/></td>
    </tr>
</table>
<%/if%>

<input type ="hidden" id="title" />
 <div class="content_action">
<input  type="submit" value="同意服务条款，我要发布"   class ="button" onclick ="return CheckInfoEditFrom('{module.EName}','{module.PEName}');" />

</div>

<br/>

<table class="contentl top5">
<caption>
    <i><img src="/templates/{config.TemplatePath}/user/images/indexpoint.gif" /> <a href="/user/edituserinfo.{config.Suffix}" target="_blank">点此修改</a></i>  
    联系方式的确认与修改  <span>若有误，您发布的信息将无法通过审核！</span>
    
</caption>
<tr>
<th>姓名：</th>
<td>{userinfo.linkman}</td>
</tr>

<tr>
<th>公司名称：</th>
<td>{userinfo.unitname}</td>
</tr>

<tr>
<th>电话：</th>
<td>{userinfo.telephone}</td>
</tr>

<tr>
<th>传真：</th>
<td>{userinfo.fax}</td>
</tr>

<tr>
<th>电子邮件：</th>
<td>{userinfo.email}</td>
</tr>
</table>
 </form>
</div> 

 
 <!--很重要，不能删除-->
 <script language="javascript" type="text/javascript">
    InitInfoAddPageForm('{module.EName}','{module.PEName}','{infotypestr}');
 </script>

<%Include _footer%>