
<%Include _head%>
 <div class="location fia"><a href="index.{config.Suffix}">商务中心</a> &gt;  发布供求信息 </div>
<%Include _menu%>


 <div id="right">
<form  action=""  method="post">
 {strmsg} 
 <div class="gq_other">最近发布的 <strong>{supplycount}</strong> 条供求信息</div>
 <table class="ly_tab2 ly_w1">
    <thead>
        <tr>
            <td>已发布求购信息</td>
            <td>发布时间</td> 
        </tr>
    </thead>
    <tbody>
    <%loop (DataRow) SD infolist%>
        <tr>
            <td><%left(SD[SD_Title],20)%></td>
            <td>{SD[SD_PublishDate]}</td>
        </tr>
    <%/loop%>
    </tbody>
 </table>
 </form>
</div>

<%Include _footer%>