<%Include _head%>

<div class="location fia"><a href="index.{config.Suffix}">商务中心</a> &gt;  <a href="{config.WebURL}user/edituserinfo.{config.Suffix}">基本设置</a> &gt;  修改信息</div>

<%Include _menu%>

 <!--右边区域-->
<div id="right">
   <form method ="post">
  <table  class="contentl">
  <caption>联系人信息<span>（*为必填项）</span></caption>
  <tr>
    <th>用户名：<em class="red">*</em></th>
    <td>
	<input  name="username" type="text" value="{userinfo.loginname}" id="username" maxlength="50" size="30" disabled="disabled" /><em>用户名是唯一不可修改的</em>	</td>
  </tr>
   <tr>
    <th>真实姓名：<em class="red">*</em><span></span></th>
    <td>
	<input  name="linkman" type="text" id="linkman" maxlength="40" size="30"  value="{userinfo.linkman}"/><input id="sexy" name="sex" type="radio" value="1" onclick ="shousex(1);" checked="checked"/>先生<input id="sexn" name="sex" type="radio" value ="0"  onclick ="shousex(0);"/>女士
        <input type ="hidden" id="sext"  name="sext" value="1"/>	
    </td>
  </tr>
   <tr>
    <th>Email：<em class="red">*</em></th>
    <td>
     <input  name="email" type="text" value="{userinfo.email}" id="email" maxlength="40" size="40" readonly="readonly"  onchange="validateemail(this);" />
   <em>Email修改需要重新激活</em>     
	 </td>
  </tr>
  <tr>
    <th >
        固定电话：<em class="red">*</em></th>
    <td>
<input id="telephone" maxlength="50" name="telephone" size="50" type="text"  value="{userinfo.telephone}"/>
<em>格式:010-88888888或400-888-8888,多个号码之间用','(逗号)号分开</em>
<!--正确格式：国别号-区号-电话号码-分机，分机可为空-->
</td>
  </tr>
  <tr>
    <th >传真：</th>
  <td>
<input id="fax" maxlength="50" name="fax" size="50" type="text" value="{userinfo.fax}"/>
      <input type ="checkbox" id="getphone" onclick ="phone();"  name ="getphone"/>同上
      <em>格式:010-88888888,多个号码之间用','(逗号)号分开</em></td>
  </tr>

   <tr>
    <th>手机：</th>
    <td>
     <input  name="lbMobile" type="text" value="{userinfo.mobile}" id="lbMobile" maxlength="50" size="50"  />
     <em>格式:13888888888,多个号码之间用','(逗号)号分开</em>
    </td>
  </tr>   
 <%if isenabledim==true%>
    <tr>
   <th>{imtoolname}：</th>
    <td>
     <input id="txtIM" maxlength="30" size="30" type="text" value="{userinfo.im}" name ="txtIM"/>
     </td>
  </tr>
  <%/if%> 

  </tr>
    <tr>
    <th>所在部门：<span></span></th>
    <td>
	<input  name="section" type="text"  id="section" maxlength="80" size="30" value="{userinfo.department}"/></td>
  </tr>
   <tr>
    <th>您的职位：<span></span></th>
    <td>
	<input  name="post" type="text"  id="post" maxlength="80" size="30" value="{userinfo.post}"/>	</td>
  </tr>
  



    

  </table>
   <table  class="contentl">
  <caption>公司基本信息<span>（*为必填项）</span></caption>
   <tr>
        <th>
            贵公司名称：<em class="red">*</em>
        </th>
        <td>
	        <input  name="companyname" type="text"  id="companyname" maxlength="60" size="60" value="{userinfo.unitname}" /><em>个体经营者请填写执照上的姓名，并标注个体经营。如张三（个体经营）。</em>
	    </td>
  </tr>
  <tr>
    <th>企业性质：<em class="red">*</em><span></span></th>
    <td>
	 <input  id ="rb1" type="radio" value ="企业单位"  name ="utype" checked ="checked"/>企业单位
        <input   id="rb2" type="radio"  value ="个体经营" name ="utype"/>个体经营
        <input  id="rb3" type="radio"  value ="事业单位或社会团体" name ="utype"/>事业单位或社会团体
    </td>
  </tr>
  
      <tr>
        <th>所在行业：<em class="red">*</em><span></span></th>
        <td>
            <div id="divTrade"></div>
            <input type ="hidden" id="tradeid"  name="tradeid" value="{userinfo.tradeids}"/>
            <script type="text/javascript">
            var trade = new ClassTypes("trade",'trade','divTrade','tradeid',"tradeid",{config.CanChooseTradeNumber});
            trade.Init();
            </script>           
        </td>
    </tr>
    

    <tr>
        <th>企业类别：<em class="red">*</em><span></span></th>
        <td>
            <div id="classTypecompany"></div>
            <input type ="hidden" id="companyid"  name="companyid" value="{userinfo.unittypeid}"/>
            <script type="text/javascript">
            var clacompany = new ClassType("clacompany",'company','classTypecompany','companyid');
            clacompany.Mode = "select";
            clacompany.Init();
            </script>           
        </td>
    </tr>
  
    <tr>
    <th>
        所在地区：<em class="red">*</em></th>
    <td>
    <div id="classType"></div>
    <input type ="hidden" id="citytypeid"  name="citytypeid"/> 
    <input type ="hidden" id="provinceid"  name="provinceid" /> 
    <input type ="hidden" id="areatypeid"  name="areatypeid" value="{userinfo.areaid}" />
    <script type="text/javascript">
    var cla = new ClassType("cla",'area','classType','areatypeid');
    cla.Mode = "select";
    cla.Init();
    </script>
    </td>
    </tr>  
<tr>
   <th>邮编：</th>
    <td>
     <input id="txtpostcard" maxlength="6" size="11" type="text" value="{userinfo.zipcode}" name ="txtpostcard"/>
     </td>
  </tr>

  <tr>
    <th>
        联系地址：<em class="red">*</em></th>
    <td>
     <input  name="txtarea" type="text" value="{userinfo.address}" id="txtarea" maxlength="60" size="60" /></td>
  </tr>
 
   <tr>
   <th>公司网址：</th>
    <td>
     <input id="homepage" maxlength="60" type="text" value="{userinfo.homepage}" name ="homepage" size="60"/>
     <em>请输入完整地址,如:http://www.xyecom.com</em>  
     </td>
  </tr>
  
     <tr>
    <th>主营方向：<em class="red">*</em><span></span></th>
    <td>
        <input id="supplyorbuy-1" type="radio" checked ="checked" name="supplyorbuy" value="1"/> 供方
        <input id="supplyorbuy-2" type="radio" name="supplyorbuy"  value="2"/> 求方
        <input id="supplyorbuy-3" type="radio" name="supplyorbuy"  value="3"/>两者都有
        </td> 
  </tr>
     <tr>
    <th>供应的产品和服务：<span></span></th>
    <td>
    <textarea name="supplyproduct" rows="2" cols="60" id="supplyproduct">{userinfo.supplypro}</textarea>
	<em>多个用“,”号隔开</em></map></td>
  </tr>
     <tr>
    <th>需求的产品和服务：</th>
    <td>
    <textarea name="buyproduct" rows="2" cols="60" id="buyproduct">{userinfo.buypro}</textarea>
    </td>
  </tr>
  </table>
 <input type="hidden" id="oldEmail" value="{userinfo.email}" name="oldEmail" />
<div class="content_action"><input name="but01" type ="submit" value=" 确定" onclick ="return edituserinfo();" class ="button" />
<input name="but02" type="button" value="取消" onclick ="window.location.href='{config.WebURL}user/index.{config.Suffix}'"  class ="button"/>
</div>
</form>
</div> 

<%Include _footer%>


