<%Include _head%>

<div class="location fia"><a href="index.{config.Suffix}">商务中心</a> &gt;   <a href="{config.WebURL}user/searchkeyword.{config.Suffix}">分类广告</a> &gt;分类广告详细信息</div>

<%Include _menu%>

<div id="right">
<form   method="post" action="">
    
        <input type="hidden" name="classid" value="{classid}" />
        <input type="hidden" name="classname" value="{classname}" />
    
        <table class="contentl">
          <caption>广告分类与价格<span>(指定要购买的时间)</span></caption>
          <tr>
            <th>类别名称：</th>
            <td>
            <%set str=GetAllClassNameForClassAds() %>
            {str}
            </td>
          </tr>
         
          <tr>
            <th>价格：</th>
            <td><span id="price">{price}</span>{moneyname}/{timeunits}</td>
          </tr>
          <tr>
            <th>购买时间：<em class="red">*</em></th>                                                       
            <td><input name="timecycle" readonly="readonly" type="text" value="1" id="timecycle" maxlength="2" size="2" onblur="_xy_BuyKey_RecalculatedPrice()"/> {timeunits}</td>
          </tr>  
          <tr>
            <th>支付总额：</th>
            <td id="amount">{amount}</td>
          </tr>
          
          </table>
          <table  class="contentl">
          <caption>广告详细信息</caption>
          <tr>
          <td  colspan="2">

          </td>
          
          
          </tr>
           <tr style="height:100px;">
            <th>上传图片：</th>
             <td ><%include _UploadControl%></td>
          </tr> 
         <tr>
          <th>图片地址：</th>
          <td>
              <input id="txtImageUrl" value="{ImageUrl}"  name="txtImageUrl" size="45" type="text" /><font color="red">上传图片和填写图片地址只能选择一项</font></td>
          </tr>
          <tr>
          <th>广告链接地址：</th>
              <td>
              <input id="txtLink" name="txtLink" value="{Link}" size="45" type="text" />
     
              </td>
          </tr>
          <tr>
          <th>广告描述：</th>
          <td>
             <textarea id="txtDesc" name="txtDesc" cols="45" rows="5">{Desc}</textarea>
          </td>
           </tr>
         
          
          </table>
      
     
      
        <div class="content_action">
            <input name="" type ="submit" value="修改" onclick="return buy_classad_1_Check();" class ="button" />
           
            <input name="but02" type="button" value="取消" onclick ="window.location.href='{config.WebURL}user/curclassads.{config.Suffix}'" class ="button" />
        </div>

    </form>
</div>

<%Include _footer%>


