
<%Include _head%>

<div class="location fia"><a href="index.{config.Suffix}">商务中心</a> &gt;  <a href="{config.WebURL}user/engagelist.{config.Suffix}">招聘管理</a> &gt;  招聘详细信息</div>

<!--左边导航-->
<%Include _menu%>
 <!--右边区域-->

<div id="right">
<form action="#" id="" method="post"> 
 <table class="contentl">
  <caption>招聘详细信息</caption>
  <tr>
    <th>拟招聘岗位：</th>
    <td>	{ei.PostName}   </td>
  </tr>
  <tr>
    <th>具体职位名称：</th>
    <td class="orange">{ei.JobTitle}</td>
  </tr>
  <tr>
    <th>招聘类型：</th>
    <td>   {ei.JobType}</td>
  </tr>
  <tr>
   <th>招聘人数：</th>
    <td>{ei.Number}</td>
  </tr>
  <tr>
    <th>招聘部门：</th>
    <td>
        {ei.JobBranch}</td>
  </tr>
   <tr>
    <th>截至日期：</th>
    <td>{ei.EndDate.ToShortDateString()}</td>
  </tr>
  <tr>
    <th>工作地区：</th>
    <td>	{ei.WorkAreaInfo.FullName}
	</td>
  </tr>
  <tr>
    <th>具体要求：</th>
    <td>{ei.Request}	</td>
  </tr>
  <tr>
    <th>薪资福利：</th>
    <td colspan="3" class="notdhs">{ei.Pay}元<span>（0位面议，只能填数字）</span>	</td>
  </tr>
  </table>
  
   <table id="Table1" class="contentl">
  <caption> 应聘条件 </caption>
  <tr>
    <th>学历：</th>
    <td>    {ei.Education}以上</td>
  </tr>
  <tr>
    <th>年龄：</th>
    <td>{ei.Age}岁</td>
  </tr>
  <tr>
    <th>性别：</th>
    <td >{ei.Sex}</td>   
  </tr>
  <tr> 
	<th>工作经验：</th>
    <td> {ei.Experience}年以上
	</td>
  </tr>
  <tr>
    <th>户口所在地：</th>
    <td>{ei.Nationality}
  </tr>
</table>
<br/>
<!--检查联系信息-->
<table class="contentl">
<caption>
联系方式 <span>(本次招聘的联系方式是系统默认单位的联系方式)</span>
</caption>
  <tr>
    <th>联系人：</th>
    <td> {userinfo.linkman}</td>
  </tr>
  <tr>
    <th>公司名称：</th>
    <td> {userinfo.unitname}</td>
  </tr>
  <tr>
    <th>手机：</th>
    <td> {userinfo.mobile}</td>
  </tr>
  <tr>
    <th>电话：</th>
    <td> {userinfo.telephone}</td>
  </tr>
  <tr>
    <th>传真：</th>
    <td>{userinfo.fax}</td>
  </tr>
  <tr>
    <th>电子邮件：</th>
    <td>{userinfo.email}</td>
  </tr>
  </table>
<div class="content_action">
<input name="submit" type="button" value="返回" id="btnAdd" onclick="window.location.href='{config.WebURL}user/engagelist.{config.Suffix}'" class ="button" />    
 </div>
 </form>
 </div>

<%Include _footer%>

