
<%Include _head%>

<div class="location fia"><a href="index.{config.Suffix}">商务中心</a> &gt;  <a href="{config.WebURL}user/engagelist.{config.Suffix}">招聘管理</a> &gt;  招聘信息管理</div>

<%Include _menu%>
 <!--右边区域-->

<div id="right">
  <h3>招聘信息管理</h3>
     <form action="#" id="" method="post">
     <table  class="content">
  <thead>
	  <tr>
	  	  <th width="8%">选择</th>
	      <th width="10%">招聘部门</th>
		  <th width="17%">招聘职位</th>
		   <th width="10%">招聘状态</th>
		  <th width="10%">浏览次数</th>
		   <th width="12%">审核状态</th>
		  <th width="14%">发布日期</th>
		  <th width="8%">修改</th>
		  <th width="10%">查看</th>
	  </tr>
  </thead>
  <tbody>
  
  <%loop (DataRow)  ei infolist%>
  <tr>
  <td><input id="sd_id" name="sd_id" type="checkbox" value="{ei[EI_ID]}" /></td>
   <td>{ei[EI_Branch]}</td>
   <td>{ei[EI_Job]}</td>  
   <td  class="orange">
   <%if {ei[EI_Puach]}=="False"%>
   暂停
   <%else%>
   招聘中
   <%/if%>
   </td>
   <td>{ei[EI_ClickNum]}次</td>
   <td class="orange">
    <%if {ei[AuditingState]}==""%>
     未审核
    <%/if%>
    <%if {ei[AuditingState]}=="0"%>
    审核未通过
    <%/if%>
    <%if {ei[AuditingState]}=="1"%>
    已审核
    <%/if%>
    </td>
   <td><%formatdatetime(ei[EI_AddDate],yyyy-MM-dd)%></td>
   <td><a href="{config.WebURL}user/engageedit.{config.Suffix}?ei_id={ei[EI_ID]}">修改</a></td>
   <td><a href="{config.WebURL}user/engageinfo.{config.Suffix}?ei_id={ei[EI_ID]}">查看</a>/<a href="{config.WebURL}user/resumelist.{config.Suffix}?ei_id={ei[EI_ID]}">简历</a></td>
    </tr>
  <input type="hidden" id="audting" name="audting" value="{ei[AuditingState]}" />
  <%/loop%>
  </tbody>
</table>
<table class="content_action">
<tr>
<td><input id="chkAll" name="chkAll" type="checkbox" value="" onclick="CheckedAll();"/>全选 
<input name="engage"  type="submit" class="button" value="启用" onclick ="return resh(3);" />
<input name="engage"  type="submit" class="button" value="暂停"  onclick ="return resh(2);"/>
<input name="engage"  class="button" type="submit" value="删除" onclick="return bntDelete();"/>
<input name="refurbish"  class="button" type="submit" value="刷新" onclick="return resh(1);"/>
<input name="engage"  class="button" type="button" value="发布" onclick="window.location.href='{config.WebURL}user/engageadd.{config.Suffix}';"/>
</td>
<td>
</td>
</tr>
</table>
<div class="page">当前是第 <span>{pageinfo.PageIndex}</span> 页 &nbsp;（共 <span>{pageinfo.PageCount}</span> 页）&nbsp;{pageinfo.FirstPage}&nbsp;{pageinfo.PreviousPage}&nbsp;{pageinfo.NextPage}&nbsp;{pageinfo.LastPage}</div>

</form>
</div>


<%Include _footer%>
