
<%Include _head%>

 <div class="location fia"><a href="index.{config.Suffix}">商务中心</a> &gt;  <a href="{config.WebURL}user/cashacount.{config.Suffix}">财务管理</a> &gt;  网站币帐号管理</div>

<%Include _menu%>

  <div id="right">
    <h3>网站币消费列表 </h3>
    <form id="Consumption" action="#" method="post">
  <table  class="content">
    <thead>
   <tr>
    <th>消费编号</th>
     <th>用户名</th>
     <th>消费金额</th>
     <th>消费时间</th>
     <th>消费说明</th>    
   </tr>
   </thead>
   <tbody>
     <%loop (DataRow)  uc infolist%>
     <tr>
       <td>{uc[FC_ID]}</td>
      <td>{uc[U_Name]}</td>
      <td>{uc[FC_Count]}</td>
      <td>{uc[FC_Time]}</td>
	   <td><%left(uc[FC_Explain],40)%></td>
     </tr>
     <%/loop%>
   </tbody>
  </table>
  <div class="page">
  当前是第 <span >{pageinfo.PageIndex}</span> 页 &nbsp;（共 <span >{pageinfo.PageCount}</span> 页） &nbsp;{pageinfo.FirstPage} &nbsp;{pageinfo.PreviousPage} &nbsp;{pageinfo.NextPage} &nbsp;{pageinfo.LastPage}
 </div>
  </form>
  </div>

<%Include _footer%>