
<%Include _head%>
<div class="location fia"><a href="index.{config.Suffix}">商务中心</a> &gt;  <a href="{config.WebURL}user/historyranking.{config.Suffix}"> 历史排名信息</a></div>
<%Include _menu%>

 
  <div id="right">
  <form   method="post">
   
     <h3>历史排名信息</h3>  
     
 
     <table class="content">
     
     <thead>
      <tr>
    
        <th width="50%">类别名称</th>
        <th width="25%">开始时间</th>
        <th width="25%">结束时间</th> 
      </tr>
     </thead>
     
     <tbody>
      <%loop (DataRow) log infolist%>
      <tr>
 
        <td>   <%set str = GetAllClassNameForHisClassAds(log["ClassId"].ToString())%>
            {str}
            </td>
      
     
        <td><%formatdatetime(log[BeginTime],yyyy-MM-dd)%></td>
        <td><%formatdatetime(log[EndTime],yyyy-MM-dd)%></td>
      </tr>
      <%/loop%>
     </tbody>
    </table>
    
    <div class="page">当前是第 <span>{pageinfo.PageIndex}</span> 页 &nbsp;（共 <span>{pageinfo.PageCount}</span> 页）&nbsp;{pageinfo.FirstPage}&nbsp;{pageinfo.PreviousPage}&nbsp;{pageinfo.NextPage}&nbsp;{pageinfo.LastPage}</div>
    </form>
   </div>

<%Include _footer%> 