<%include _head%>
<div class="location fia">
    <a href="index.{config.suffix}">商务中心</a> &gt; 主页
</div>
<%include _menu%>
<div class="Am fia">
    <div class="Am_1">
        <div class="Am_11">
            <a href="" align="absMiddle"></a>
            <img src="{userinfo.logo}" alt="用户等级" width="100px" /></div>
        <a href="postadministratormessage.{config.Suffix}">马上升级</a>
    </div>
    <div class="Am_2">
        <div class="Am_21">
            <div style="padding-right: 10px; float: left">
                <span class="f14b">{userinfo.name}</span> <a class="fi" href="edituserinfo.{config.suffix}">
                    编辑&gt;&gt;</a>
            </div>
            <br clear="all">
            <div id="event1">
                <span class="hui912">{userinfo.gradename}</span> | 开通时间：<span style="font-family: Verdana, Arial, Helvetica, sans-serif;
                    color: #336600;">{starttime}</span>&nbsp;<%if days!=""%>离结束时间还有 <span style="font-family: Verdana, Arial, Helvetica, sans-serif;
                        color: #f60;">{days}</span>天<%/if%></div>
        </div>
        <div style="float: left; width: 260px">
            <dl class="hui612" style="width: 260px">
                <dt>姓名：</dt><dd><b>{userinfo.linkman}</b> ({userinfo.sex})</dd>
                <dt>登录名：</dt><dd><a href="{userinfo.shopindex}/cred.{config.suffix}" target="_blank"><img
                    src="{config.WebURL}templates/{config.TemplatePath}/user/images/cert2.gif" alt="诚信资料" /></a><b>&nbsp;{userinfo.loginname}</b>
                </dd>
                <dt>可用金额：</dt><dd><b><img src="{config.WebURL}templates/{config.TemplatePath}/user/images/money.gif" /><span
                    style="color: #f60;">&nbsp;{cash}</span> 元
                    <%if pageinfo.IsOnlinePayment%><a href="{config.WebURL}user/accountrecharge.{config.Suffix}?burl=/user/index.{config.Suffix}">在线充值</a><%/if%></b></dd>
                <dt>账户余额：</dt><dd><b><img src="{config.WebURL}templates/{config.TemplatePath}/user/images/money.gif" /><span
                    style="color: #f60;">&nbsp;{Balance}</span> 元</b>
                </dd>
                <dt>虚拟币：</dt><dd><b><img src="{config.WebURL}templates/{config.TemplatePath}/user/images/vm.png" /><span
                    style="color: #f60;">&nbsp;{dummymoney}</span> 个</b>({config.WebMoneyName})</dd>
            </dl>
        </div>
        <div>
            <div style="padding-right: 0px; margin-top: 50px; padding-left: 31px; background: url({config.WebURL}templates/{config.TemplatePath}/user/images/blog_bg.gif) no-repeat;
                float: left; padding-bottom: 0px; width: 109px; padding-top: 3px; height: 28px">
                <a style="color: red; text-decoration: none" href="{userinfo.shopindex}" target="_blank">
                    <font color="#cc0000">访问我的商铺</font></a>
            </div>
        </div>
        <div style="width: 388px; padding: 5px; border-top: 1px solid #ddd">
            <ul>
                <li>已冻结挂牌保证金: <b><span style="color: #f60;">&nbsp;{S_Margin}</span> 元 </b></li>
                <li>已冻结合同保证金: <b><span style="color: #f60;">&nbsp;{C_Margin}</span> 元</b></li>
                <li>可用合同保证金: <b>&nbsp;&nbsp;&nbsp;<span style="color: #f60;">&nbsp;{AC_Margin}</span>
                    元</b></li>
                <%if isConMargin%>
                    <b><span style="color: #f60;">可用合同保证金不足请<a href="/user/ContractMargin/SupplementConMargin.aspx">及时充值</a>，否则影响您的合同担保信息的交易</span>
                    </b>
                <%/if%>
            </ul>
        </div>
    </div>
    <%if userinfo.isaudited==false%>
    <div class="Am_6" style="background-image: url=({config.WebURL}templates/{config.TemplatePath}/user/images/forum_mini_icon.gif);
        text-align: left">
        <b>&nbsp;系统提示</b></div>
    <div class="Am_61">
        <div class="bbs_tj fia">
            您的帐户没有通过审核！<br />
            原因：{userinfo.reason}<br />
            意见：{userinfo.advice}<br />
        </div>
    </div>
    <%/if%>
    <!--forum start -->
    <div class="Am_6" style="text-align: left; background-image: url(http://icon.zol.com.cn/my/forum_mini_icon.gif)">
        <b>&nbsp;我的信息统计</b></div>
    <div class="Am_61">
        <div class="bbs_tj fia">
            <div class="bbs_ln">
                <em class="atv_icon2"></em>信息：<%set data = GetStatData()%>
                <%loop (DataRow) stat data%>
                {stat[moduleName]}:<a href="{stat[link]}"><span style="font-family: Verdana, Arial, Helvetica, sans-serif;">{stat[total]}</span></a>
                |
                <%/loop%>
            </div>
            <div class="bbs_ln">
                <em class="atv_icon1"></em>留言：普通短信 <a href="{config.WebURL}user/receivemessagelist.{config.Suffix}?nosee=0">
                    {userinfo.messagecount}</a> 条 系统留言 <a href="{config.WebURL}user/receiveinvestmentmessagelist.{config.Suffix}?nosee=0">
                        {userinfo.noseesysmsgcount}</a> 条 <a href="{config.WebURL}user/postadministratormessage.{config.Suffix}">
                            给管理员留言</a></div>
            <div class="bbs_ln">
                <em class="atv_icon3"></em>收藏：<a href="companys.{config.suffix}">收藏的企业信息</a> <span
                    class="hui912">|</span> <a href="favoritelist.{config.suffix}">收藏的商业信息</a>
            </div>
        </div>
    </div>
    <!--forum end  -->
    <!--个人信息 end-->
    <div class="Am_6">
        <strong>联系人信息</strong></div>
    <br clear="all">
    <div class="Am_61">
        <div class="bbs_tj fia">
            <div class="bbs_ln">
                电话：{userinfo.telephone}
            </div>
            <div class="bbs_ln">
                传真：{userinfo.fax}
            </div>
            <div class="bbs_ln">
                手机：{userinfo.mobile}
            </div>
            <div class="bbs_ln">
                所在地：{userinfo.areaname}
            </div>
            <div class="bbs_ln">
                地址：{userinfo.address}
            </div>
            <div class="bbs_ln">
                <a href="edituserinfo.{config.suffix}">我要修改&gt;&gt;</a></div>
        </div>
    </div>
</div>
<div class="Ar" style="background: #f2f2f2;">
    <div class="Ar_1 Ucpm">
        固定排名
    </div>
    <div class="Ar_4" style="line-height: 17px">
        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td align="middle" width="60" height="60">
                        <img src="{config.WebURL}templates/{config.TemplatePath}/user/images/fix_r3.gif">
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="hui912 mt8">
            信息将排在搜索结果的前三位，能够被买家第一时间就找到。</div>
        <br clear="all">
        <a class="fi" href="{config.WebURL}keyword/index.{config.Suffix}" target="_blank">
            <img src="{config.WebURL}templates/{config.TemplatePath}/user/images/invitef.gif" /></a>
    </div>
    <!--任务显示 end-->
    <!--谁来看过我 start-->
    <div class="Ar_1 Ucgg">
        网站公告</div>
    <br clear="all">
    <div class="Ar_4 ggtext">
        {XY_action_usercenter}
    </div>
    <div class="Ar_1 Ucdc">
        本期调查</div>
    <br class="all">
    <div class="Ar_4" style="line-height: 25px">
        {XY_POLL_wangdian}
    </div>
</div>
<br clear="all">
<%include _footer%>
