
<%Include _head%>

<div class="location fia"><a href="index.{config.Suffix}">商务中心</a> &gt;  <a href="/user/invoicelist.aspx">财务管理 </a> &gt;  发票信息列表</div>

<%Include _menu%>


  <div id="right">
    <h3>发票信息列表</h3>
   <form action="#" method="post">
  <table  class="content">
  <thead>
	  <tr>
		  <th width="35%" >姓名</th>
		  <th width="12%">邮编</th>
		  <th width="14%">金额</th>
		  <th width="12%">产品名称</th>
		  <th width="10%">状态</th>
	  </tr>
  </thead>
  <tbody>
<%loop (DataRow)  SDS infolist%>
  <tr> 
    <td>{SDS[I_Name]}</td>
    <td>{SDS[I_PostCode]}</td>
    <td>{SDS[I_Money]}</td>
    <td>{SDS[I_Product]}</td>
   <td class="orange">
   <%if {SDS[I_IsFlag]}=="1"%>
   审核中
    <%/if%>  
    <%if {SDS[I_IsFlag]}=="2"%>
   审核通过
    <%/if%>  
    <%if {SDS[I_IsFlag]}=="3"%>
   审核未通过
    <%/if%>  
   </td>
  </tr>
<%/loop%>
  </tbody>
</table>
</form>
</div>
<%Include _footer%>