
<%Include _head%>

 <div class="location fia"><a href="index.{config.Suffix}">商务中心</a> &gt;  <a href="{config.WebURL}user/cashacount.{config.Suffix}">财务管理</a> &gt;  申请发票</div>

<%Include _menu%>

<!--右边区域-->

<div id="right">
<form action="#" id="" method="post"> 
<table class="contentl">
<caption>申请发票<span>(*为必填项)</span></caption>
<tr>
<th>姓名：<em class="red">*</em></th>
<td ><input id="I_Name" name="I_Name" type="text"  size="30" maxlength="50" value="{linkman}" /></td>
</tr>
<tr>
<th>地址：<em class="red">*</em>
</th>
<td><input id="I_Address" name="I_Address" type="text" size="60" maxlength="90" value="{area}" />
<em>请填写详细的地址，以便能及时收到您的发票！</em>
</td>
</tr>
<tr>
<th>邮编：<em class="red">*</em></th>
<td><input id="I_PostCode" name="I_PostCode" type="text" size="30" maxlength="6" value="{post}"/></td>
</tr>
<tr>
<th>金额：<em class="red">*</em></th>
<td><input id="I_Money" name="I_Money" type="text"  size="20" maxlength="30" /></td>
</tr>
<tr>
<th>抬头：<em class="red">*</em></th>
<td><input id="I_Title" name="I_Title" type="text"  size="50" maxlength="180" /></td>
</tr>
<tr>
<th>产品名称：<em class="red">*</em></th>
<td><input id="I_Product" name="I_Product" type="text" size="50" maxlength="98" /></td>
</tr>
<tr>
<th>内容：<em class="red">*</em></th>
<td>
    <textarea id="I_Content" cols="50" rows="10" name="I_Content"></textarea></td>
</tr>
</table>
<div class="content_action"><input name="but01" type ="submit" value=" 确定" onclick ="return InvoiceAdd();" class ="button" />
<input name="but02" type="button" value="取消" onclick ="window.location.href='{config.WebURL}user/index.{config.Suffix}';"  class ="button"/>
</div>
</form>
</div>

<%Include _footer%>