
<%Include _head%>

<div class="location fia"><a href="index.{config.Suffix}">商务中心</a> &gt;  在线加盟</div>

<%Include _menu%>


<div id="right">
<form method ="post">
<h2>留言详情</h2>
<div id="ly_box1">
  <div class="titles"></div>
  <ul>
    <li>
	  <strong>代理过的品牌：{quondamproduct}</strong>	  
	</li>
    <li>
	  <strong>可代理地区：{areas}</strong>	  
	</li>
    <li class="xline">
	 <strong>主题：{title}</strong><br />
	 时间：{addtime}
    </li>
	<li>
	  <strong>主要内容：</strong>
	  <p>{content}</p>
	</li>
	<%if ismessage==1%>
	<li class="c">
	  <span>顺祝商祺!</span>
	  联系人：{linman} <br />
	  邮箱：{email} <br />
	  公司名称：{companyname}<br/>
	  电话：{linkphone} <br />
	  传真：{linkfax} <br />
	  手机：{moblie} <br />
	  地址：{address}<br/>	  
	</li>
	<%else%>
	<li class="red">您当前所在的用户组不能查看联系方式，请联系管理员升级！</li>
	<%/if%>
	</ul>
</div>
</form>
</div> 

<%Include _footer%>
