<%Include _head%>
<div class="location fia">
    <a href="index.{config.Suffix}">用户中心</a> &gt; 已兑换礼品</div>
<%Include _menu%>
<div id="right">
    <form method="post">
    <h3>
        已兑换礼品</h3>
    <table class="content">
        <thead>
            <tr>
                <th width="15%">
                    礼品图片
                </th>
                <th>
                    礼品名称
                </th>
                <th width="10%">
                    兑换数量
                </th>
                <th width="25%">
                    兑换时间
                </th>
                <th width="10%">
                    兑换状态
                </th>
            </tr>
        </thead>
        <tbody>
            <%if infolist.Rows.Count>0%>
            <%loop (DataRow) dr infolist%>
            <tr>
                <td>
                    <%set infoimg = GetInfoImgHref(dr["GId"].ToString())%>
                    <%if infoimg==""%>
                    <img src="/common/images/DefaultImg.gif" alt="{dr[Name]}" width="60" height="60" />
                    <%else%>
                    <a href="{infoimg}" target="_blank">
                        <img src="{infoimg}" alt="{dr[Name]}" width="60" height="60" />
                    </a>
                    <%/if%>
                </td>
                <td>
                    {dr[Name]}
                </td>
                <td>
                    {dr[Number]}
                </td>
                <td>
                    {dr[ExTime]}
                </td>
                <td>
                    <%if dr["State"].ToString()=="0"%>
                    正在处理中
                    <%else%>
                    已确认
                    <%/if%>
                </td>
            </tr>
            <%/loop%>
            <%/if%>
        </tbody>
    </table>
    <div class="page">
        当前是第 <span>{pageinfo.PageIndex}</span> 页 &nbsp;（共 <span>{pageinfo.PageCount}</span>
        页）&nbsp;{pageinfo.FirstPage}&nbsp;{pageinfo.PreviousPage}&nbsp;{pageinfo.NextPage}&nbsp;{pageinfo.LastPage}</div>
    </form>
</div>
<%Include _footer%>
