
<%Include _head%>
<div class="location fia"><a href="index.{config.Suffix}">商务中心</a> &gt;  <a href="{config.WebURL}user/edituserinfo.{config.Suffix}">基本设置</a> &gt;  企业资讯管理</div>
<%Include _menu%>

  <div  id="right">
     <form method="post" id="news">
	 
     <h2>
        <span>
            <!--<input name="but02" type="button" value="投稿" onclick ="window.open('{config.WebURL}contributor.{config.Suffix}');"  class ="button"/>&nbsp;-->
            <input name="new"  class="button" type="button" value="发布资讯" onclick="window.location.href='{config.WebURL}user/addnews.{config.Suffix}'"/>
        </span>
        资讯管理
     </h2>
    <table class="content">
  
        <div class="ly_tit3"> 
            <ul>
                <li class="on"><a href ="{config.WebURL}user/newlist.{config.Suffix}">资讯</a> </li>
                <!--<li class="out"><a href ="{config.WebURL}user/contributenewslist.{config.Suffix}"> 投稿资讯</a></li>-->
            </ul>
        </div>
        <div class="ly_tit32">
            标题关键字：<input type="text"  id="key" name ="key" value="{key}"/>
            <input type="submit" name="submit_search" value="查询" class ="button"/>
        </div>
  
          <thead>
	          <tr>
	          <th width="8%">选择</th>
	          <th width="20%">标 题</th>	  
	          <th width="20%">发布时间</th>
	          <th width="17%">审核状态</th>
               <th width="30%">状态</th> 
	          <th width="10%">修改</th> 
	          </tr>
          </thead>
    <tbody>
    <%loop (DataRow)  n infolist%>
      <tr> 
      <td><input id="sd_id" name="sd_id" type="checkbox" value="{n[N_ID]}" /></td>
       <td><%left(n[N_title],40)%></td>
       <td>{n[N_addtime]}</td>
        <%if {n[AuditingState]}=="1"%>
            <td>通过审核</td>
        <%else%>
            <td>审核未通过</td>
        <%/if%>
        
        <%if {n[State]}=="1"%>
        <td>
        未推荐 未置顶
        </td>
        <%/if%>
        <%if {n[State]}=="2"%>
        <td>
        已推荐 未置顶
        </td>
        <%/if%>
        <%if {n[State]}=="3"%>
        <td>
        未推荐 已置顶
        </td>
        <%/if%>
        <%if {n[State]}=="6"%>
        <td>
        已推荐 已置顶
        </td>
        <%/if%>
         <td>
        <a href="{config.WebURL}user/editnew.{config.Suffix}?N_ID={n[N_ID]}&isflag=0">修改</a>
        </td>
      </tr>
    <%/loop%>
  </tbody>
</table>

<table class="content_action">
<tr >
<td>
<input id="chkAll" name="chkAll" type="checkbox" value="" onclick="CheckedAll();"/>全选
<input name="new"  class="button" type="submit" value="删除"  onclick="return bntDelete()"/>
<input name="commend"  class="button" type="submit" value="推荐"  onclick="return IsSelectInfo()"/>
<input name="top"  class="button" type="submit" value="置顶"  onclick="return IsSelectInfo()"/>
<input name="uncommend"  class="button" type="submit" value="取消推荐"  onclick="return IsSelectInfo()"/>
<input name="untop"  class="button" type="submit" value="取消置顶"  onclick="return IsSelectInfo()"/>
</td>
</tr>
</table>
<div class="page">当前是第 <span>{pageinfo.PageIndex}</span> 页 &nbsp;（共 <span>{pageinfo.PageCount}</span> 页）&nbsp;{pageinfo.FirstPage}&nbsp;{pageinfo.PreviousPage}&nbsp;{pageinfo.NextPage}&nbsp;{pageinfo.LastPage}</div>
 <input type="hidden" id="isDelete" name="isDelete" value="" />
</form>
</div>

<%Include _footer%>