
<%Include _head%>
<div class="location fia"><a href="index.{config.Suffix}">商务中心</a> &gt;  <a href="{config.WebURL}user/orderformlist.{config.Suffix}">交易信息</a> &gt;  修改交易信息</div>
<%Include _menu%>


<div id="right">
<form action="#" id="edit" method="post">
<table class="contentl">
            <tbody>
              <tr>
				<td style="text-align:center; padding-left:23px; color:#FF8F17; font-weight:bold; font-size:14px;line-height:30px; height:30px;"  >					
                     订单编号：{euid.OF_Code} <input  name="OF_ID" id="OF_ID" type="hidden" value="{euid.OF_ID}" />          
			    </td>
              </tr>
              <tr>
				<td>
					<table class="contentl">
                        
                          <caption>卖家信息</caption>                          
                             <tbody>
							  <tr>
                              <th>公司名称：</th>
                              <td><a href="#" target="company">{euii.Name}</a></td>
                            </tr>
                           <tr>
                              <th> 联系人：</th>
                              <td>{euii.LinkMan}</td>
                            </tr>
                            <tr>
                              <th>联系电话：</th>
                              <td>{euii.Telephone}</td>
                            </tr>
                            <tr>
                              <th>手机：</th>
                              <td>{euii.Mobile}</td>
                            </tr>
                          </tbody>
                        </table>
				</td>
			 </tr>	
			  <tr>
			 <td>
              <table class="contentl"> 
              <caption>订单信息</caption>
                      <tbody>
                      <tr>
                          <th>货品名称：</th>
                          <td ><a href="{config.WebURL}supply/info.{config.Suffix}?sd_id={es.InfoID}" title="{es.Title}" target="_blank" >{es.Title}</a>
                          </td>
                        </tr>
                                          
                        <tr>
                          <th>货品单价：</th>
                          <td >
                                                        <em>{euid.OF_Price}</em>元/{es.Unit}<input  name="ProductPrice" id="ProductPrice" type="hidden" value="{euid.OF_Price}" />
                            						  &nbsp;</td>
                        </tr>
                        <tr>
                          <th>购买数量：</th>
                          <td ><input type="text" name="txtNumber" id="txtNumber"  onchange="getMoneybuy()" class="inputtext" value="{euid.OF_Number}" maxlength="10" size="9"/> &nbsp;{es.Unit}</td>
                        </tr>
                        <tr>
                          <th>货品总价：</th>
                           <td ><em id="Allgoods" style =" color:Red;"> {allgoods}</em> &nbsp;元
            										  </td>
                        </tr>
                        <tr>
                         <th>运费承担方：</th>
                          <td  >
                          {CBear}</td>
                        </tr>
                        <tr>
                          <th>运费收取方式：</th>
                          <td >{CBegin}</td>
                        </tr>
                        <tr>
                          <th>运费：</th>
                          <td >
							            					{euid.OF_Carriage}&nbsp; 元
            										  </td>
                        </tr>
                        <tr>
                          <th>优惠：</th>
                          <td >{euid.OF_Favorable}&nbsp;元 </td>
                        </tr>                       
                        <tr>
                          <th>交易开始时间：</th>
                          <td  >{euid.OF_BeginTime}</td>
                        </tr>
                        <tr>
                          <th>交易金额： </th>
                          <td >
    						<em id="OrderMoney" style =" color:Red;">{euid.OF_Money}</em>元</td>
                        </tr>
                      </tbody>
                    </table>
                    
                   
                </td>
              </tr>
              <tr><td> 
              <table class="contentl">
              <caption>买家信息</caption>
                          <tbody>
                                        
                            <tr>
                              <th >联系人：</th>
                              <td ><input type="text" name="txtLinkMan" id="txtLinkMan" value="{euid.LinkMan}"/></td>
                            </tr>
                            <tr>
                              <th>联系电话：</th>
                              <td><input id="txtlinkTel" maxlength="60"  size="60" name="txtlinkTel" type="text"  value="{euid.LinkTel}"/>     
                            </td>
                            </tr>
                            <tr>
                              <th>
                                  送货地址：</th>
                              <td> <input type="text" name="txtLinkAddress" id="txtLinkAddress" size="60" value="{euid.LinkAddress}" /> </td>
                            </tr>
                            <tr><th>买家要求：</th><td><textarea class="itextarea02" name="tbOF_remark" cols="70" rows="10" id="tbOF_remark">{euid.OF_remark}</textarea></td></tr>
                          </tbody>
                        </table>
                        </td></tr>
                        <tr><td>
                        <div class="content_action"><input name="submit" type="submit" value="确定" id="btnupdateof" onclick="javascript:return updateofbuy();" class ="button"/>
    <input type="button" class="button" id="Button1" value="取消" onclick="window.history.go(-1);" /></div>
                        
                        </td></tr>
            </tbody>
        </table>
           </form>
        </div>
     
<%Include _footer%>