
<%Include _head%>
<div class="location fia"><a href="index.{config.Suffix}">商务中心</a> &gt;  <a href="{config.WebURL}user/orderformlist.{config.Suffix}">交易信息</a> &gt;  修改交易信息</div>
<%Include _menu%>


<div id="right">
<form action="#" id="edit" method="post">

    <div class="sysTip">
        订单编号：<span class="red">{euid.OF_Code} </span>
        <input  name="OF_ID" id="OF_ID" type="hidden" value="{euid.OF_ID}" />  
    </div>
  	
  	<table class="contentl"> 
      <caption>订货信息</caption>
        <tbody >
        <tr>
            <th>订单当前状态：</th>
            <td  style=" font-weight:bold; font-size:16px;line-height:30px; height:30px;">{type}&nbsp;</td>
        </tr>
        <tr>
            <th>货品名称：</th>
            <td ><a href="{config.WebURL}supply/info.{config.Suffix}?sd_id={es.InfoID}" title="{es.Title}" target="_blank" > {es.Title} </a> </td>
        </tr>                    
        <tr>
            <th>货品单价：</th>
            <td><em><input  name="ProductPrice" id="ProductPrice" type="text" onchange="getMoney()" value="{euid.OF_Price}" /></em>元/{es.Unit}	&nbsp;</td>
        </tr>
        <tr>
            <th>购买数量：</th>
            <td ><input type="text" name="txtNumber" id="txtNumber"  onchange="getMoney()" class="inputtext" value="{euid.OF_Number}" maxlength="10" size="9"/> &nbsp;{es.Unit}</td>
        </tr>
        <tr>
            <th>货品总价：</th>
            <td><em id="Allgoods" style =" color:Red;">{allgoods}</em> &nbsp;元</td>
        </tr>
        <tr>
            <th>运费承担方：</th>
            <td>
                <input id="OF_CBeary"  name="OF_CBearm" type="radio" value="1" checked="checked" onclick="showDisplay('showTRFlag');radio(this,'OF_CBear');getMoney()" />买家承担
                <input id="OF_CBearn" name="OF_CBearm" type="radio" value="0"  onclick="hiddenDisplay('showTRFlag');radio(this,'OF_CBear');getMoney()"/>卖家承担<input type ="hidden" id="OF_CBear"  name="OF_CBear"/>
            </td>
        </tr>
        <tr id="showTRFlag" name="showTRFlag">
            <th>运费收取方式：</th>
            <td >
                <input id="CBeginy" name="CBegink" type="radio" value="1" onclick="radio(this,'OF_CBegin');" checked="checked"/>款到发货<input name="CBegink" id="CBeginn" type="radio" value="0" onclick="radio(this,'OF_CBegin');" />货到付款<input type ="hidden" id="OF_CBegin"  name="OF_CBegin"/>
            </td>
        </tr>
        <tr>
            <th>运费：</th>
            <td ><input   type="text" id="Carriage" name="Carriage" value="{euid.OF_Carriage}" onchange="getMoney()" />&nbsp; 元</td>
        </tr>
        <tr>
            <th>优惠：</th>
            <td ><input  type="text"  id="Favorable" name="Favorable" value="{euid.OF_Favorable}" onchange="getMoney()"/> &nbsp;元 </td>
        </tr>                          
        <tr>
            <th>交易开始时间：</th>
            <td  >{euid.OF_BeginTime}</td>
        </tr>
        <tr>
            <th>交易金额： </th>
            <td >
            <em id="OrderMoney" style="color:Red;">{euid.OF_Money}</em>元</td>
        </tr>
        </tbody>
    </table>
                    
    <table class="contentl">
      <caption> 送货地址</caption>
                  <tbody>
                                
                    <tr>
                      <th >联系人：</th>
                      <td >{euid.LinkMan}</td>
                    </tr>
                    <tr>
                      <th>联系电话：</th>
                      <td>{LinkTel}</td>
                    </tr>
                    <tr>
                      <th>
                          送货地址：</th>
                      <td> {euid.LinkAddress}</td>
                    </tr>
                    <tr><th>买家要求：</th><td>{euid.OF_remark}</td></tr>
                  </tbody>
                </table>
                        
    <div class="content_action">
               <input name="submit" type="submit" value="修改" id="btnupdateof" class ="button"/>
                <input type="button" class="button" id="Button1" value="取消" onclick="window.history.go(-1);" />
              </div>
                
</form>
</div>

<%Include _footer%>