
<%Include _head%>
<div class="location fia"><a href="index.{config.Suffix}">商务中心</a> &gt;  <a href="{config.WebURL}user/orderformlist.{config.Suffix}">交易信息</a> &gt;  查看交易信息</div>
<%Include _menu%>

<div id="right">
<form action="#" id="edit" method="post">
<div class="sysTip">
    订单编号：<span class="red">{euid.OF_Code} </span>
</div>

<table class="contentl">
    
      <caption>卖家信息</caption> 
	   <tbody>
        <tr>
          <th style="width: 88px">公司名称：</th>
              
          <td >   						  	  
					{euii.Name}
			
		 </td>
        </tr>
        <tr>
          <th style="width: 88px"> 联系人：</th>
          <td  >{euii.LinkMan}</td>
        </tr>
        <tr>
          <th style="width: 88px">联系电话：</th>
          <td>{euii.Telephone}</td>
        </tr>
        <tr>
          <th style="width: 88px">手机：</th>
          <td>{euii.Mobile}</td>
        </tr>
      </tbody>
    </table>

<table class="contentl"> 
<caption>订单信息</caption>
  <tbody>
  <tr>
      <th>订单当前状态：</th>
      <td  style="font-weight:bold; font-size:14px;line-height:30px; height:30px;"  >
                          {type} 
        						  &nbsp;</td>
    </tr>
    <tr>
      <th>货品名称：</th>
      <td >{es.Title}
      </td>
    </tr>
                      
    <tr>
      <th>货品单价：</th>
      <td >
                                   <font color="#FF0000"><strong>{euid.OF_Price}</strong> </font>元/{es.Unit}	
        						  &nbsp;</td>
    </tr>
    <tr>
      <th>购买数量：</th>
      <td >
		            				<font color="#FF0000"><strong>	{euid.OF_Number}</strong> </font>&nbsp;{es.Unit}
								  </td>
    </tr>
     <tr>
      <th>货品总价：</th>
      <td >{allgoods}&nbsp;元
								  </td>
    </tr>
    <tr  >
     <th>运费承担方：</th>
      <td  >
      {cbear}
	</td>
    </tr>
    <tr id="showTRFlag">
      <th>运费收取方式：</th>
      <td >{cbegin}</td>
    </tr>
    <tr>
      <th>运费：</th>
      <td >{euid.OF_Carriage}&nbsp; 元
		</td>
    </tr>
    <tr>
      <th>优惠：</th>
      <td >{euid.OF_Favorable}&nbsp;元 </td>
    </tr>
    <tr>
      <th>交易金额： </th>
      <td >
		<font color="#FF0000"><strong>{euid.OF_Money}</strong> </font>元</td>
    </tr>                      
    <tr>
      <th>
          订货时间：</th>
      <td  >{euid.OF_BeginTime}</td>
    </tr>                        
    <tr>
      <th style="height: 21px">买家汇款确认时间： </th>
      <td style="height: 21px" >
      {bmoneytime}                         
		</td>
    </tr>
    <tr>
      <th>卖家收款确认时间： </th>
      <td >{amoneytime}
		</td>
    </tr>
    <tr>
      <th>卖家发货确认时间： </th>
      <td >{bgoodstime}
		</td>
    </tr>
    <tr>
      <th>买家收货确认时间： </th>
      <td >{agoodstime}
		</td>
    </tr>
    <tr>
      <th>定单失效时间： </th>
      <td >{achieye}
		</td>
    </tr>
  </tbody>
</table>



<table class="contentl">
<caption>送货地址</caption>
      <tbody>
                    
        <tr>
          <th   >联系人：</th>
          <td    >{euid.LinkMan} </td>
        </tr>
        <tr>
          <th   >联系电话：</th>
          <td    >{linktel}</td>
        </tr>
        <tr>
          <th   >
              送货地址：</th>
          <td    >{euid.LinkAddress}</td>
        </tr>
        <tr><th>买家要求：</th><td>{euid.OF_remark}</td></tr>
      </tbody>
    </table>
   
                        <div class="content_action"><input type="button" class="button" id="updateof" value="返回" onclick="window.history.go(-1);" /></div>
 
 
        </form>
        </div>
        
        
<%Include _footer%>