
<%Include _head%>
<div class="location fia"><a href="index.{config.Suffix}">商务中心</a> &gt;  企业专栏管理</div>
<%Include _menu%>

  <div  id="right">
     <form method="post" id="news">
	 
    <table class="content">
  
        <div class="ly_tit3"> 
            <ul>
                <li class="on"><a href ="#}">企业专栏</a> </li>
            </ul>
        </div>
  
          <thead>
	          <tr>
	          <th width="15%">名称</th>	  
	          <th width="15%">格式</th>	  
	          <th width="15%">开始时间</th>
	          <th width="15%">结束时间</th>
	          <th width="15%">是否过期</th>  
	          <th width="15%">审核状态</th>  
	          <th width="10%">编辑</th>  
	          </tr>
          </thead>
    <tbody>
    <%loop (DataRow)  row infolist%>
    <tr> 
        <td>{row[PartName]}</td>
        <td>{row[Format]}</td>
        <td><%formatdatetime(row[BeginTime],yyyy-MM-dd)%></td>
        <td><%formatdatetime(row[EndTime],yyyy-MM-dd)%></td>
        <td>
           <%set str=IsExpired(row["EndTime"])%>
           {str}
        </td>
        <td>
           <%set str=GetAuditingState(row["AuditingState"])%>
           {str}                
        </td>
        <td> <a href="{config.WebURL}user/part.{config.Suffix}?partid={row[Partid]}">修改</a></td>
    </tr>
    <%/loop%>
  </tbody>
</table>
</form>
</div>

<%Include _footer%>