
<%Include _head%>

<div class="location fia"><a href="index.{config.Suffix}">商务中心</a> &gt;  企业专栏编辑</div>

<%Include _menu%>

<div id="right">
<form method ="post">
   

  <table class="contentl">
  <caption>编辑企业专栏<span>(*为必填项)</span></caption>
  <tr>
    <th>效果预览：<em class="red">*</em></th>
    <td>
        <div class="part_preview">
        &nbsp;{labelBody}
        </div>
    </td>
  </tr>
  <tr>
    <th>上传图片：<em class="red">*</em></th>
    <td>
        <%Include _UploadControl%>
    </td>
  </tr>
  <tr>
    <th width="15%">信息类型：<em class="red">*</em></th>
    <td width="85%">
    <%set data=GetAllModule()%>
    <%loop (DataRow) item data%>
        <%if item__loop__id==1%>
            <input name="modulename" type="radio" value="{item[key]}" checked="true" onclick="_xy_part_getUserData()"/>{item[ModuleName]}
        <%else%>
            <input name="modulename" type="radio" value="{item[key]}"  onclick="_xy_part_getUserData()"/>{item[ModuleName]}
        <%/if%>
    <%/loop%>
    </td>
  </tr>
  <tr>
    <td colspan="2">
    <table width="100%">
        <tr>
            <td width="43%">
                <div id="_all_info_box" class="partbox"></div>
            </td>
            <td width="14%">
                <input type="button" value=">> 加入 >>" onclick="_xy_part_addInfo();"/><br/><br/>
                <input type="button" value="<< 删除 <<" onclick="_xy_part_moveInfo();"/><br/><br/>
                <br/><br/>
                <input type="button" value="设为头条>>" onclick="_xy_part_setTop();"/>
            </td>
            <td width="43%">
                <div id="_select_info_box" class="partbox">
                </div>
                
                <input type="hidden" id="UserId" name="UserId" value="{userinfo.userid}" />
                <input type="hidden" id="_hidTopInfoId" name="_hidTopInfoId" value="" />
                <input type="hidden" id="_hidInfoIds" name="_hidInfoIds" value="" />
                <input type="hidden" id="_infoIds" name="_infoIds" value="{infoids}"/>
                <script>_xy_part_initPage();</script>
            </td>
        </tr>
    </table>
	</td>
  </tr>
  </table>
<div class="content_action">
    <input name="" type ="submit" value="确定发布" onclick ="return _xy_part_submit();" class ="button" />
    <input name="but02" type="button" value="返回" onclick ="window.location.href='{config.WebURL}user/partlist.{config.Suffix}'" class ="button" />
</div>
</form>
</div>
<script>_xy_part_getUserData();</script>
<%Include _footer%>




