<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>在线支付结果反馈</title>
    <link href="{config.WebURL}templates/{config.TemplatePath}/user/css/UserManage.css" type="text/css" rel="Stylesheet" />
</head>
<body>
    <div class="p_result">
    {result}<br/>
    </div>
    <div>    <input type="button" value="关闭页面" onclick="window.close();" /></div>
    <div class="p_footer">{config.webname} -- Powered by {XY_Copyright} </div>
</body>
</html>
