
<%Include _head%>
<div class="location fia"><a href="index.{config.Suffix}">商务中心</a> &gt;  <a href="{config.WebURL}user/receivemessagelist.aspx">留言收藏</a> &gt;  我收到的留言</div>
<%Include _menu%>


 <div id="right">
 <form method="post" id="news">
<h2>
<span><a href="{config.WebURL}user/receivemessagelist.{config.Suffix}?nosee=0"><img src="{config.WebURL}templates/{config.TemplatePath}/user/images/ly_img3.gif" />未读</a> | <a href="{config.WebURL}user/receivemessagelist.{config.Suffix}?nosee=1"><img src="{config.WebURL}templates/{config.TemplatePath}/user/images/ly_img2.gif" />已读</a></span>
我收到的留言
</h2>
<div class="ly_100">
<div class="ly_tit3">
 
 <ul>
 <li class="on"><a  href ="{config.WebURL}user/receivemessagelist.{config.Suffix}">所有留言</a></li>
 <li class="out"><a  href ="{config.WebURL}user/receiveoffermessagelist.{config.Suffix}">商业信息留言</a></li>
 <li class="out"><a  href ="{config.WebURL}user/receiveinvestmentmessagelist.{config.Suffix}">系统留言</a></li>
 </ul>
</div>
<div class="ly_tit32">
<select name="nokan" id="nokan">
  <option value="0">未读</option>
  <option value="1">已读</option>
</select>
<select name="datemes" id="datemes" >
  <option value="1">一个月内的留言</option>
<option value="2">二个月内的留言</option>
<option value="3">三个月内的留言</option>
</select>
<input type="submit" class ="button" name="msg" value="查询"/>
</div>
</div>
<table class="ly_tab2 ly_w1">
<thead><tr><td></td><td></td><td>标题</td><td>发自</td></tr></thead>
<tbody>
<%loop (DataRow)  s infolist%>
 <tr>
  <td><input name="sd_id" id="sd_id" type="checkbox" value="{s[M_ID]}"  name ="sd_id"/></td>
  <td valign="top">
  <%if {s[M_HasReply]}=="False"%>
  <img src="{config.WebURL}templates/{config.TemplatePath}/user/images/ly_img3.gif" />
  <%else%>
   <img src="{config.WebURL}templates/{config.TemplatePath}/user/images/ly_img2.gif" />
   <%/if%>
  </td>
  <td>
    <%if {s[type]}=="网站"%>
    <a href="{config.WebURL}user/receivemessageinfo.{config.Suffix}?m_id={s[M_ID]}">{s[M_Title]}</a><br />{s[M_AddTime]}
    <%else%>  
    <a href="{config.WebURL}user/receivemessageinfo.{config.Suffix}?m_id={s[M_ID]}">{s[M_Title]}</a><br />{s[M_AddTime]}
   <%/if%>
</td>
<td>
    <%if {s[U_ID]}=="-1"||{s[U_ID]}=="-2"%>
    <a href="{config.WebURL}user/receivemessageinfo.{config.Suffix}?m_id={s[M_ID]}"></a><em >(系统信息)</em>  <br />
     <%else%>  
   <%if {s[U_ID]}=="0"%>
    {s[M_UserName]}<em >(游客)</em> <br />{s[M_CompanyName]}
    <%else%>  
    {s[M_UserName]} {s[M_CompanyName]}
    <%/if%> 
   <%/if%> 
   </td>
 </tr>
 <%/loop%>
 </tbody> 
</table>
<table class="content_action">
<tr>
    <td>
    <input id="chkAll" name="chkAll" type="checkbox" value="" onclick="CheckedAll();"/>全选 <input name="message"  class="button" type="submit" value="删除"  onclick="return bntDelete()"/>
    </td>
</tr>
</table>
<div class="page">
当前是第 <span>{pageinfo.PageIndex}</span> 页 &nbsp;（共 <span>{pageinfo.PageCount}</span> 页） &nbsp;{pageinfo.FirstPage} &nbsp;{pageinfo.PreviousPage} &nbsp;{pageinfo.NextPage} &nbsp;{pageinfo.LastPage}
 </div>
<input type="hidden" id="isDelete" name="isDelete" value="" />
</form>
</div>


<%Include _footer%>