
<%Include _head%>
<div class="location fia"><a href="index.{config.Suffix}">商务中心</a> &gt;  <a href="{config.WebURL}user/receivemessagelist.aspx">留言收藏</a> &gt;  我收到的留言</div>
<%Include _menu%>


<div id="right">
<h3>我收到的留言</h3>
<form method ="post">
<div id="ly_box1">
    <ul>
        <li class="xline">
            <strong>主题：{title}</strong>
            <br /> 时间：{messagetime}
        </li>
        <li>
            <strong>主要内容：</strong>
            <p>{content}</p>
        </li>
        <%if systemmess!=1%>
        <li class="c">
            <span>顺祝商祺!</span>
            联系人：{linman} <br />
            邮箱：{email} <br />
            公司名称：{companyname}<br/>
            电话：{linkphone} <br />
            地址：{address}<br/>	  
        </li>
        <%/if%>
    </ul>
</div>
<%if nousermessinfo!="nosend"%>


<div class="remsgTitle">回复留言</div>

<table class="ly_tab" id="messlistinfo" name="messlistinfo">

 <tr>
  <th>发送给：</th>
  <td><a href="javascript:;">{linman}</a></td>
 </tr>
 <tr>
  <th>主题：</th>
  <td><input type="text" size="80"  id="rmesstitle" name="rmesstitle" value ="{rtitle}"  maxlength ="600"  disabled ="disabled"/></td>
 </tr>
 <tr>
  <th>正文：</th>
  <td><textarea name="rcontent" cols="80" rows="8" id="rcontent"></textarea>
  <br/>本留言系统不支持html代码，请不要在文本框中输入thml代码</td>
 </tr>
</table>
<table class="content_action">
    <tr>
        <td>
            <input type="submit" class ="button"  value="确定"  onclick ="return huifumessage();"/> <input type="button" class ="button" value="取消"  onclick ="window.location.href='{config.WebURL}user/receivemessagelist.aspx'"/>
        </td>
    </tr>
</table>

<%/if%>
<input type="hidden" id="ismessage" name="ismessage" value="{ismessage}"/>
<input type="hidden" id="messageinfotitle" name="messageinfotitle" value="{mesinfo}"/>
</form>
</div> 

<%Include _footer%>






