<%Include _head%>

<div class="location fia"><a href="index.{config.Suffix}">商务中心</a> &gt;  <a href="{config.WebURL}user/searchkeyword.{config.Suffix}">搜索关键词</a> &gt;  重新匹配排名信息</div>

<%Include _menu%>


<div id="right">
    <form   method="post" action="">
      
      <table class="contentl">
        <caption>自动匹配排名信息<span>(从匹配结果中选择要展示的信息并提交)</span></caption>
          
        <%loop (XYECOM.Configuration.ModuleInfo) item moduleItems%>

        <tr>
            <th>{item.CName}：</th>
            <td align="left">
                <select name="{item.EName}" style="width:350px;">
                    <%set data = GetMatchData(item.CName)%>
                    <%if data.Rows.Count>0%>
                        <%loop (DataRow) mdata data%>
                            <option value="{mdata[infoid]}">{mdata[infotitle]}</option>
                        <%/loop%>
                    <%else%>
                        <option value="0">没有匹配信息，请发布相关信息并重新匹配或自定义信息</option>
                    <%/if%>
                </select>
               
            </td>
        </tr>
        <%/loop%>
        </table>
        
              
        <div class="content_action">
            <input name="" type ="submit" value="提交" class ="button" />
        </div>
        
        <table class="contentl">
        <caption>自定义排名信息<span>(优先显示自定义信息)</span></caption>
        <%loop (XYECOM.Configuration.ModuleInfo) item1 moduleItems%>
        <tr>
            <th>{item1.CName}：</th>
            <td align="left">
                <%set str=GetCustomInfoTitle(item1.EName)%>
                {str}
            </td>
        </tr>
        <%/loop%>
        
      </table>
      
      <div class="content_action">
            <input name="but02" type="button" value="返回" onclick ="window.location.href='{config.WebURL}user/curranking.{config.Suffix}'" class ="button" />
        </div>

    </form>
</div>

<%Include _footer%>