
<%Include _head%>
<div class="location fia"><a href="index.{config.Suffix}">商务中心</a> &gt;  <a href="{config.WebURL}user/cashacount.{config.Suffix}">财务管理</a> &gt;  汇款确认</div>
<%Include _menu%>

<!--右边区域-->

<div id="right">
<form action="#" id="" method="post">   

<table class="contentl">
<caption>汇款确认<span>(*为必填项)</span></caption>
<tr>

<th>汇款人姓名：<em class="red">*</em></th>
<td><input id="R_Name" name="R_Name" type="text" size="30" maxlength="50" value="{linkman}" /></td>
</tr>
<tr>
<th>联系Email：<em class="red">*</em></th>
<td><input id="R_Email" name="R_Email" type="text" class="" size="30" maxlength="50" value="{mail}" /></td>
</tr>
<tr>
    <th>联系电话：<em class="red">*</em></th>
    <td>
       <input id="haoma" maxlength="200" name="haoma" type="text"  value="{LinkCard}"/></td>
  </tr>
<tr>
<th>汇款时间：<em class="red">*</em>
</th>
<td>
 <input id="Text1"  onclick="getDateString(this);" class="edline" name="R_Time" readonly="readonly"/></td>
</tr>
<tr>
<th>汇入银行：<em class="red">*</em></th>
<td><input id="R_Bank" name="R_Bank" type="text" class="" size="50" maxlength="50" /></td>
</tr>
<tr>
<th>汇入卡号：<em class="red">*</em></th>
<td><input id="R_Account" name="R_Account" type="text"  size="50" maxlength="20" /></td>
</tr>
<tr>
<th>收款人姓名：<em class="red">*</em></th>
<td><input id="R_CName" name="R_CName" type="text"  size="30" maxlength="50" /> </td>
</tr>
<tr>
<th >汇出卡号：</th>
<td><input id="R_CAccount" name="R_CAccount" type="text" size="50" maxlength="20" /></td>
</tr>
<tr>
<th>金额：<em class="red">*</em>
</th>
<td><input id="R_Money" name="R_Money" type="text"  size="20" maxlength="15" /> 元
<em>请在您转款金额后面填加小数点，（如：100.01）以便更快确认您的款项，为您操作入帐！</em>
</td>
</tr>
</table>
<div class="content_action"><input name="but01" type ="submit" value=" 确定" onclick ="return remitadd();" class ="button" />
<input name="but02" type="button" value="取消" onclick ="window.location.href='{config.WebURL}user/index.{config.Suffix}';"  class ="button"/></div> 
</form>
</div>

<%Include _footer%>