<%Include _head%>
<div class="location fia">
    <a href="index.{config.Suffix}">商务中心</a> &gt; <a href="{config.WebURL}user/engagelist.{config.Suffix}">
        招聘管理</a> &gt; 简历详细信息</div>
<%Include _menu%>
<div id="right">
    <form action="#" id="" method="post">
    <table class="contentl">
        <caption>
            基本信息</caption>
        <tr>
            <th>
                姓名：
            </th>
            <td>
                {name}
            </td>
        </tr>
        <tr>
            <th>
                照片：
            </th>
            <td>
                <img src="{imgurl}" width="130px" height="130px" />
            </td>
        </tr>
        <tr>
            <th>
                性别：
            </th>
            <td class="orange">
                {sex}
            </td>
        </tr>
        <tr>
            <th>
                户口所在地：
            </th>
            <td>
                {caname}
            </td>
        </tr>
        <tr>
            <th>
                居住地址：
            </th>
            <td>
                {address}
            </td>
        </tr>
        <tr>
            <th>
                邮编：
            </th>
            <td>
                {postcode}
            </td>
        </tr>
        <tr>
            <th>
                联系电话：
            </th>
            <td>
                {phone}
            </td>
        </tr>
        <tr>
            <th>
                手机：
            </th>
            <td>
                {mobil}
            </td>
        </tr>
        <tr>
            <th>
                身份证号码：
            </th>
            <td>
                {code}
            </td>
        </tr>
    </table>
    <table id="Table1" class="contentl">
        <caption>
            最高教育学历
        </caption>
        <tr>
            <th>
                学历：
            </th>
            <td>
                {age}
            </td>
        </tr>
        <tr>
            <th>
                学校：
            </th>
            <td>
                {re.RE_School}
            </td>
        </tr>
        <tr>
            <th>
                毕业时间：
            </th>
            <td>
                {gradyte}
            </td>
        </tr>
        <tr>
            <th>
                专业：
            </th>
            <td>
                {re.RE_Speciality}
            </td>
        </tr>
    </table>
    <table class="contentl">
        <caption>
            工作经验 /自我描述</caption>
        <tr>
            <th>
                期望职位
            </th>
            <td>
                {re.RE_Intentjob}
            </td>
        </tr>
        <tr>
            <th>
                期望工作所在城市
            </th>
            <td>
                {re.RE_Intentadd}
            </td>
        </tr>
        <tr>
            <th>
                期望工资待遇
            </th>
            <td>
                {re.RE_Intentpay}元
            </td>
        </tr>
        <tr>
            <th>
                工作年限：
            </th>
            <td>
                {yeas}
            </td>
        </tr>
        <tr>
            <th>
                工作经验：
            </th>
            <td>
                {re.RE_Experience}
            </td>
        </tr>
        <tr>
            <th>
                自我描述：
            </th>
            <td>
                {re.RE_Resume}
            </td>
        </tr>
    </table>    
    <div class="content_action">
    <input type="hidden" id="Type" name="type" />
        <input type="submit" class="button" value="同意面试" onclick="return setType('4');" />
        <input type="submit" class="button" value="拒绝面试" onclick="return setType('3');" />
        <input name="submit" type="button" value="返回" id="btnAdd" onclick="window.history.go(-1); "class="button" />
    </div>
    </form>
</div>
<%Include _footer%>
