
<%Include _head%>
<div class="location fia"><a href="index.{config.Suffix}">商务中心</a> &gt;<a href="{config.WebURL}user/userannounce.{config.Suffix}">网站公告管理</a></div>
<%Include _menu%>
 <!--右边区域-->
 <div id="right">
    <form action="#" id="" method="post"> 
        <table class="contentl">
          <caption>网店公告管理</caption>
            <thead>
            </thead>
            <tbody>
            <tr>
                <td align="center"><textarea name="Content" rows="8" cols="60" id="Content">{userinfo.shopannounce}</textarea></td>  
            </tr>
          </tbody>
        </table>    
        <div class="content_action">
         <input name="submit"  type="submit" class="button" value="确认" onclick="javascript:return Announceinfo()"/> 
         </div>
    </form>
  </div>
<%Include _footer%>

