<HR COLOR=red>
异常时间：2012-07-14 14:56:41,712 [16] <BR>
异常级别：ERROR  <BR>
异 常 类：Error [(null)] <BR>
 <BR>
 <HR Size=1>System.Net.Mail.SmtpException: 不允许使用邮箱名称。 服务器响应为: authentication is required,smtp11,D8CowEBZLEQlGAFQcCo2AA--.32990S2 1342248997
   在 System.Net.Mail.MailCommand.CheckResponse(SmtpStatusCode statusCode, String response)
   在 System.Net.Mail.MailCommand.Send(SmtpConnection conn, Byte[] command, String from)
   在 System.Net.Mail.SmtpTransport.SendMail(MailAddress sender, MailAddressCollection recipients, String deliveryNotify, SmtpFailedRecipientException& exception)
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   在 XYECOM.Core.Web.WebUtil.SendMail(String toMails, String body, String title, Boolean isHtml, Attachment attachment, MailServerInfo mailServerInfo) 位置 G:\王振\AMS\XYECOM.Core\Web\WebUtil.cs:行号 107
   在 XYECOM.Business.Utils.SendMail(String toMails, String title, String body, Boolean isHtml, Attachment attachment) 位置 G:\王振\AMS\XYECOM.Business\Common\Utils.cs:行号 67
<HR COLOR=red>
异常时间：2012-07-14 14:57:41,937 [16] <BR>
异常级别：ERROR  <BR>
异 常 类：Error [(null)] <BR>
 <BR>
 <HR Size=1>System.Net.Mail.SmtpException: 不允许使用邮箱名称。 服务器响应为: authentication is required,smtp11,D8CowEBZrURaGAFQpSs2AA--.31545S2 1342249050
   在 System.Net.Mail.MailCommand.CheckResponse(SmtpStatusCode statusCode, String response)
   在 System.Net.Mail.MailCommand.Send(SmtpConnection conn, Byte[] command, String from)
   在 System.Net.Mail.SmtpTransport.SendMail(MailAddress sender, MailAddressCollection recipients, String deliveryNotify, SmtpFailedRecipientException& exception)
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   在 XYECOM.Core.Web.WebUtil.SendMail(String toMails, String body, String title, Boolean isHtml, Attachment attachment, MailServerInfo mailServerInfo) 位置 G:\王振\AMS\XYECOM.Core\Web\WebUtil.cs:行号 107
   在 XYECOM.Business.Utils.SendMail(String toMails, String title, String body, Boolean isHtml, Attachment attachment) 位置 G:\王振\AMS\XYECOM.Business\Common\Utils.cs:行号 67
<HR COLOR=red>
异常时间：2012-07-14 14:58:59,007 [16] <BR>
异常级别：ERROR  <BR>
异 常 类：Error [(null)] <BR>
 <BR>
 <HR Size=1>System.Net.Mail.SmtpException: 不允许使用邮箱名称。 服务器响应为: authentication is required,smtp11,D8CowEDZfEGuGAFQuC02AA--.34460S2 1342249134
   在 System.Net.Mail.MailCommand.CheckResponse(SmtpStatusCode statusCode, String response)
   在 System.Net.Mail.MailCommand.Send(SmtpConnection conn, Byte[] command, String from)
   在 System.Net.Mail.SmtpTransport.SendMail(MailAddress sender, MailAddressCollection recipients, String deliveryNotify, SmtpFailedRecipientException& exception)
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   在 XYECOM.Core.Web.WebUtil.SendMail(String toMails, String body, String title, Boolean isHtml, Attachment attachment, MailServerInfo mailServerInfo) 位置 G:\王振\AMS\XYECOM.Core\Web\WebUtil.cs:行号 107
   在 XYECOM.Business.Utils.SendMail(String toMails, String title, String body, Boolean isHtml, Attachment attachment) 位置 G:\王振\AMS\XYECOM.Business\Common\Utils.cs:行号 67
