
/*search*/
#search {
	width: 980px; height: 34px; text-align: left;
}
.s_bg0 {
	float: left; width: 4px; height: 34px;
}
#s_bg {
	float: left; padding: 0; width: 972px; height: 34px; background: url(../images/i_04.jpg) repeat-x;
}
#fs{
	float: left; padding: 11px 0 0 15px; width: 615px; height: 23px;
}
#fs li {
	float: left; padding: 0 20px 0 10px;
	background: url(../images/i_06.jpg) no-repeat left 2px;
}
#fs li a:link {color: #ae0106; text-decoration: none;}
#fs li a:visited {color: #ae0106; text-decoration: none;}
#fs li a:hover {color: #ae0106; text-decoration: underline;}
/*  */
#sous {
	float: right; padding: 4px 0 7px 20px; width: 215px; height: 23px;
	background: url(../images/i_07.jpg) no-repeat left center;
}
#sous .s_input {
	padding: 3px; width: 106px; height: 15px; border: 1px solid #c6c1be; 
}
#sous input { vertical-align: middle;}
/*  */
#daohang {
	padding: 10px 0 0 20px; width: 960px; height: 22px; background: url(../images/comm_04.gif) no-repeat 2px center; text-align: left;
}
/* main */
#main {
	width: 980px; text-align: left;
}
/* ŹƷչʾ */
#tgsp {
	width: 978px; height: 568px; border: 1px solid #dddddd;
}
#tgsp_l {
	float: left; padding: 4px 0 4px 8px; width: 270px; height: 560px;
}
.tgsp_list {
	padding: 5px 0; width: 270px; height: 130px; background: url(../images/t_02.gif) no-repeat left 5px; cursor: pointer;
}
.tgsp_lt {
	float: left; padding: 15px 3px 0 3px; width: 26px; height: 115px; color: #fff; font-size: 14px; font-weight: bold; line-height: 24px; text-align: center;
}
.tgsp_li {
	float: left; padding: 11px 0 11px 10px; width: 83px; height: 108px;
}
.tgsp_li img { border: 1px solid #b7b7b7; width: 81px; height: 106px;}
.tgsp_lf {
	float: left; padding: 10px 0 10px 12px; width: 115px; height: 110px; line-height: 21px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}
.tgsp_lf strike {color: #999999;}
.tgsp_lf span {color: #a71f24;}
.tgsp_list .tg_zk {font-size: 16px;}
.tgsp_this { background: url(../images/t_01.gif) no-repeat left 5px;}
.tgsp_this .tg_zk {color: #ffff00;}
.tgsp_r {
	float: right; padding: 48px 0 0 0; width: 675px; height: 520px;
}
.tgsp_rl {
	float: left; width: 300px; height: 520px;
}
.sp_img { width: 300px; height: 390px;}
.sp_img img { width: 300px; height: 390px;}
.sp_box { padding: 15px 2px 0 2px; width: 296px; height: 70px;}
.sp_list {
	float: left; padding: 0 11px; width: 50px; height: 65px; cursor: pointer;
}
.sp_list img { width: 50px; height: 65px; border: 1px solid #dddddd;}
.sp_this img { border: 1px solid #ff6699;}
.tgsp_rr {
	float: left; position: relative; padding: 0 0 0 16px; width: 345px; height: 520px;
}
.sp_zhek {
	position: absolute; top: 40px; right: -10px; padding: 0 30px 0 64px; width: 93px; height: 64px; 
	background: url(../images/t_03.jpg) no-repeat; font-size: 45px; font-weight: bold; color: #ffff00; text-align: center;
}
.sp_title { padding: 5px 0; width: 345px; font-size: 14px; font-weight: bold; line-height: 22px;}
.sp_text { padding: 5px 0; line-height: 25px;}
.sp_text strike { color: #999999;}
.sp_text span { font-size: 14px; font-weight: bold;}
#tgsp .red { color: #a71f24;}
#tgsp .orange { color: #ff6600;}
#tgsp .green { color: #339900;}
.sp_info {
	padding: 5px 10px; width: 323px; border: 1px solid #ffcfcf; background: #fff7f7;
}
.sp_if{ line-height: 27px;}
.sp_color { display: inline-block; margin: 2px 5px 4px 1px; padding: 1px; border: 1px solid #a7a6aa; width: 20px; height: 20px; cursor: pointer;}
.sp_color img { width: 20px; height: 20px; border: 0;}
.sp_c_this { margin: 1px 4px 3px 0; border: 2px solid #ff6600;}
.sp_size { display: inline-block; margin: 2px 5px 4px 1px; padding: 0 7px; border: 1px solid #a7a6aa; line-height: 20px; cursor: pointer; }
.sp_s_this { margin: 1px 4px 3px 0; border: 2px solid #ff6600;}
.sp_if input { padding: 4px 2px; vertical-align: middle; width: 45px; height: 13px; border: 1px solid #a7a6aa; }
.sp_sub { padding: 5px 0; width: 169px; height: 42px;}
/* ؼƷ */
#tjsp {
	padding: 1px; width: 976px; border: 1px solid #dddddd;
}
#tjsp_top {
	width: 976px; height: 50px; background: url(../images/t_06.gif);
}
#tjsp_tl {
	float: left; padding: 16px 0 0 30px; width: 385px; font-size: 20px; color: #ffffff;
}
#tjsp_tr {
	float: right; padding: 15px 0 0 0; width: 560px; height: 35px;
}
.tj_list {
	float: left; padding: 11px 6px 0 6px; width: 85px; height: 24px;
	background: url(../images/t_07.gif) no-repeat 6px center; font-size: 14px; font-weight: bold; color: #fff; text-align: center;
}
.tj_this { background: url(../images/t_08.gif) no-repeat 6px center; color: #990000;}
.tjsp_box { padding: 15px 34px 5px 34px; width: 908px;}
.tj_li {
	float: left; padding: 0 25px; width: 177px; height: 320px;
}
.tj_img { padding: 5px 0 5px 0; width: 177px; height: 230px;}
.tj_img a img:link, .tj_img a img:visited { border: 1px solid #dddddd;}
.tj_img a img:hover, .tj_img a img:active { border: 1px solid #bc0301;}
.tj_img img { width: 175px; height: 228px; border: 0; border: 1px solid #dddddd;}
.tj_text {text-align: left; line-height: 20px;
}
.tj_text a:link {line-height: 16px; color: #666666;}
.tj_text a:visited {line-height: 16px; color: #666666;}
.tj_text a:hover {line-height: 16px; color: #ff6600;}
.tj_text strike {color: #999999;}
.tj_text .red {color: #cc0000;}
.tj_text .orange {color: #ff6600;}

