<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%Include _head%>
</head>

<body>
     <%Include _top%>
     
    <div class=layout950_100 style="BACKGROUND-IMAGE: url({config.WebURL}templates/_shop/skins_2009/{shopuserinfo.template}/images/stylebg1.jpg)">

<%Include _banner%>

<div class="clr"></div>
<div class=layout950>

    <%Include _menu%>
    
<div class="clr"></div>

<div class=where>你现在的位置：首页 &gt; 供应信息</div>

<%Include _left%>

    <!--供应信息-->
    <div id=bodyright>
        <div class=leftkuang>
            <div class=righttitle>
                <ul>
                    <li>
                        荣誉资质 <!--		<li class="more">更多>></li>-->
                    </li>
                </ul>
            </div>
            <div class=newslist>
                <table class=mainTextColor style="PADDING-BOTTOM: 10px; PADDING-TOP: 10px" cellSpacing=1 cellPadding=0 width="95%" align=center bgColor=#efefef border=0>
                    <Tbody>
                    </Tbody>
                </table>
            </div>
            <div class="clr"></div>
            <div class=page>
                共1页 首页 上一页 <font color=#ff0000>1</font> 下一页 末页 
            </div>
            <div class="clr"></div>
        </div>
    </div>
    <!--供应信息结束-->
    
    
    <div class="clr"></div>
    </div>
    
            <%Include _footer%>
    
        </div>
    </body>
</html>
