<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <%Include _head%>
</head>

<body onload="{pageinfo.OnLoadEvents}">
     <%Include _top%>
        <div class=layout950_100 style="BACKGROUND-IMAGE: url({config.WebURL}templates/_shop/skins_2009/{shopuserinfo.template}/images/stylebg1.jpg)">
    
    <%Include _banner%>

    <div class="clr"></div>

    <div class=layout950>
    
    <%Include _menu%>
    
    <div class="clr"></div>
    <div class=where>你现在的位置：首页 &gt; 供应信息</div>

    <%Include _left%>

    <!--供应信息-->
    <div id=bodyright>
        <div class=leftkuang>
            <div class=righttitle>
                <ul>
                    <li>招聘中心 </li>
                </ul>
            </div>
            <div class=newslist>
                <table class=mainTextColor width="95%" align=center>
                    <tbody>
                    <tr>
                        <th width="21%">职位名称</th>
                        <th width="41%">工作性质</th>
                        <th width="20%">招聘人数</th>
                        <th width="20%">有效日期</th>
                    </tr>
                    <%loop (DataRow) info infolist%>
                    <%set infourl = GetInfoUrl("job",info["EI_ID"],info["EI_HTMLPage"])%>
                        <tr>
                            <td  height="25"><a target="_blank" href='{infourl}'>{info[EI_Job]}</a></td>
                            <td>{info[EI_Type]}</td>
                            <td>{info[EI_Number]}人</td>
                            <td><%formatdatetime(info[EI_EndDate],yyyy-MM-dd)%></td>
                        </tr>
                    <%/loop%>
                    </tbody>
                </table>
            </div>
            <div class="clr"></div>
            <div class=page>
                共{pageinfo.PageCount}页 {pageinfo.FirstPage}&nbsp;{pageinfo.PreviousPage}&nbsp;{pageinfo.NextPage}&nbsp;{pageinfo.LastPage}
            </div>
        <div class="clr"></div>
        </div>
    </div>
    <!--供应信息结束-->
    <div class="clr"></div>
    </div>
        <%Include _footer%>
    </div>
</body>
</html>
