<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%include _head%>
    <link rel="stylesheet" type="text/css" href="{config.WebURL}templates/_shop/store/css/tuangou.css" />
</head>
<script type="text/javascript" src="{config.WebURL}templates/_shop/store/js/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        <%if tbinfo.SupplyCount>tbinfo.SellCount%>
        var endtime = new Date('{enddate}'); // 结束日期  
        var thisTime = new Date('{now}'); // 当前服务器时间 
        var nowtime = thisTime.getTime(); // 服务器当前时间总的秒数  
        var leftsecond = 0;
        var sh;
        function _fresh() {
            nowtime = nowtime + 1000; //间隔1秒，毫秒加1000  
            leftsecond = parseInt((endtime.getTime() - nowtime) / 1000);
            __d = parseInt(leftsecond / 3600 / 24) <= 9 ? +"0" + parseInt(leftsecond / 3600 / 24).toString() : parseInt(leftsecond / 3600 / 24);
            __h = parseInt((leftsecond / 3600) % 24) <= 9 ? +"0" + parseInt((leftsecond / 3600) % 24).toString() : parseInt((leftsecond / 3600) % 24);
            __m = parseInt((leftsecond / 60) % 60) <= 9 ? +"0" + parseInt((leftsecond / 60) % 60).toString() : parseInt((leftsecond / 60) % 60);
            __s = parseInt(leftsecond % 60) <= 9 ? +"0" + parseInt(leftsecond % 60).toString() : parseInt(leftsecond % 60);
            $("#clearInterval").html("" + __d + "天" + __h + "时" + __m + "分" + __s + "秒");
            if (leftsecond <= 0) {
                $("#clearInterval").html("特价已结束");
                $("#orderbuy").html("特价已结束");
                clearInterval(sh);
            }
        }
        _fresh()
        sh = setInterval(_fresh, 1000);
        <%else%>
            $("#orderbuy").html("賣光了");
            $("#clearInterval").html("特价已结束");                
        <%/if%>
    });
</script>
</script>
<body>
    <div id="wrapper">
        <%Include _login_bar%>
        <%Include _top%>
        <%Include _search%>
        <div id="main">
            <!--left start-->
            <div class="i_fl">
                <!-- 商品主介绍 -->
                <div class="main">
                    <h2>
                        <span class="c2">济南团购：</span>{tbinfo.Title}</h2>
                    <div class="mmain">
                        <div class="lmain">
                            <table class="discount" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr>
                                        <th>
                                            原价
                                        </th>
                                        <th>
                                            折扣
                                        </th>
                                        <th>
                                            节省
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>
                                            ￥{tbinfo.MarketPrice}
                                        </td>
                                        <td>
                                            {tbinfo.Discount}
                                        </td>
                                        <td>
                                            <span class="c2">￥{tbinfo.Saved}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="buyinfo">
                                <p class="buynum">
                                    <span class="c2">{tbinfo.CurrentJoin}</span>人已购买<br />
                                    数量有限，下单要快哟</p>
                                <p class="timeleft">
                                    距离本次团购结束还有：<br />
                                    <span id="clearInterval" class="showTime"></span>
                                </p>
                                <p class="waiting">
                                    成团人数：{tbinfo.SucPeopleNum},当前参与：{tbinfo.CurrentJoin}有效期至({tbinfo.EndDate})
                                </p>
                                <%if tbinfo.CurrentJoin>=tbinfo.SucPeopleNum%>
                                <p class="success">
                                    团购已成功，可继续购买</p>
                                <%else%>
                                <p class="failed">
                                    人数不足，不能成团</p>
                                <%/if%>
                                <p class="failed" style="display: none;">
                                    卖光了</p>
                            </div>
                            <div class="order buy" id="orderbuy">
                                <a href="{config.WebURL}MyTeamOrder.{config.suffix}?teamId={tbinfo.Id}">抢购</a><em>￥{tbinfo.CurrentPrice}</em></div>
                            <input type="hidden" name="IsOverflag" value='{flag}' />
                        </div>
                        <div class="rmain">
                            <img src="{tbinfo.ImagePath}" width="440" height="267" alt="" />
                            <div class="buytips">
                                <div class="quote">
                                    <span style="color: #333333">★ 多种款式，五种样式任选<br />
                                        ★ 麦斯特蛋糕，儿童之首选<br />
                                        ★ 市区二环以内免费送货</span></div>
                            </div>
                        </div>
                        <div class="clear">
                        </div>
                    </div>
                </div>
                <!-- 商品主介绍 end -->
                <!-- 商品详情 -->
                <div class="xq">
                    <ul class="xqlist c3">
                        <li class="cur"><a>商品详情</a></li></ul>
                    <div class="details">
                        {tbinfo.Description}
                    </div>
                    <div class="buy-bottom">
                        <dl class="item-prices">
                            <dt class="price">原 价</dt>
                            <dt class="juprice">折 扣</dt>
                            <dt class="save">节 省</dt>
                            <dd class="price">
                                <del>￥{tbinfo.MarketPrice}</del></dd>
                            <dd class="juprice">
                                {tbinfo.Discount}</dd>
                            <dd class="save">
                                ￥{tbinfo.Saved}</dd>
                        </dl>
                        <!-- 购买按钮 -->
                        <div class="item-buy avil">
                            价格：<span>{tbinfo.CurrentPrice}</span> <strong class="J_juPrices"><b>￥</b>{tbinfo.CurrentPrice}</strong>
                            <form id="frmjointeam" method="post" action="/common/initcart.{config.suffix}">
                            <input type="hidden" name="count" value="1" />
                            <input value="{tbinfo.ProductId}" type="hidden" name="pid" />
                            <input value="{tbinfo.Id}" type="hidden" name="teamid" />
                            <input type="image" class="buy" title="参团" />
                            </form>
                        </div>
                    </div>
                </div>
                <!-- 商品详情 end -->
            </div>
            <!--left end-->
            <!--right start-->
            <div class="i_fr">
                <div id="plist" class="rbox">
                    <h3>
                        今日其它团购</h3>
                    <ul>
                        <li>
                            <h2>
                                <a title="仅12元！原价50元麦幼优儿童乐园门票1张（1位宝宝+1位陪同家长），5店通用" href="#">
                                    <img alt="" src="/templates/_shop/store/images/n_11377854508036.jpg" width="210"
                                        height="142">仅12元！原价50元麦幼优儿童乐园门票1张（1位宝宝+1位陪同家长），5店通用</a></h2>
                            <p>
                                <a href="#">去看看</a>团购价：<span>12</span></p>
                        </li>
                        <li>
                            <h2>
                                <a title="仅43元/75元/86元！原价90元/156元/178元稻香村3种口味粽子大礼盒" href="#">
                                    <img alt="" src="/templates/_shop/store/images/n_11160666832132.jpg" width="210"
                                        height="142">仅43元/75元/86元！原价90元/156元/178元稻香村3种口味粽子大礼盒</a></h2>
                            <p>
                                <a href="#">去看看</a>团购价：<span>43</span></p>
                        </li>
                        <li>
                            <h2>
                                <a title="仅29元！原价198元精装儿童图书（3套任选其1）赠送精美礼盒包装，仅限北京购买" href="#">
                                    <img alt="" src="/templates/_shop/store/images/n_11317794891524.jpg" width="210"
                                        height="142">仅29元！原价198元精装儿童图书（3套任选其1）赠送精美礼盒包装，仅限北京购买</a></h2>
                            <p>
                                <a href="#">去看看</a>团购价：<span>29</span></p>
                        </li>
                        <li>
                            <h2>
                                <a title="仅19元/5斤！原价50元/5斤狂飙乐园采摘杏优惠！第一波新鲜采摘，无需预约" href="#">
                                    <img alt="" src="/templates/_shop/store/images/n_11227208592388.jpg" width="210"
                                        height="142">仅19元/5斤！原价50元/5斤狂飙乐园采摘杏优惠！第一波新鲜采摘，无需预约</a></h2>
                            <p>
                                <a href="#">去看看</a>团购价：<span>19</span></p>
                        </li>
                        <li>
                            <h2>
                                <a title="仅9元！原价792元戴尔国际少儿英语庆双节无敌大礼包,5大学习中心通用" href="#">
                                    <img alt="" src="/templates/_shop/store/images/n_11297475728900.jpg" width="210"
                                        height="142">仅9元！原价792元戴尔国际少儿英语庆双节无敌大礼包,5大学习中心通用</a></h2>
                            <p>
                                <a href="#">去看看</a>团购价：<span>9</span></p>
                        </li>
                        <li>
                            <h2>
                                <a title="仅388元！原价755元美年健康体检套餐！三大分院通用！" href="#">
                                    <img alt="" src="/templates/_shop/store/images/n_11275221331972.jpg" width="210"
                                        height="142">仅388元！原价755元美年健康体检套餐！三大分院通用！</a></h2>
                            <p>
                                <a href="#">去看看</a>团购价：<span>388</span></p>
                        </li>
                        <li>
                            <h2>
                                <a title="仅499元！原价3680元奢华儿童摄影套餐，喜迎“六一”，3店通用！" href="#">
                                    <img alt="" src="/templates/_shop/store/images/n_11271905270788.jpg" width="210"
                                        height="142">仅499元！原价3680元奢华儿童摄影套餐，喜迎“六一”，3店通用！</a></h2>
                            <p>
                                <a href="#">去看看</a>团购价：<span>499</span></p>
                        </li>
                        <li>
                            <h2>
                                <a title="仅59元！原价99元向阳坊蛋糕咕咕鸡或乖乖牛（2选1），7店通用" href="#">
                                    <img alt="" src="/templates/_shop/store/images/n_11274815611908.jpg" width="210"
                                        height="142">仅59元！原价99元向阳坊蛋糕咕咕鸡或乖乖牛（2选1），7店通用</a></h2>
                            <p>
                                <a href="#">去看看</a>团购价：<span>59</span></p>
                        </li>
                    </ul>
                </div>
            </div>
            <!--right end-->
        </div>
        <%loop (XYECOM.Model.TeamBuyPriceRangeInfo) item tbinfo.TeamBuyPriceRanges%>
        <div class="jg_list">
            <div class="jg_num">
                <%if item.OrderUpNum!=-1%>
                {item.OrderNum}-{item.OrderUpNum}
                <%else%>
                >={item.OrderNum}
                <%/if%>
            </div>
            <div class="jg_price">
                <span>{item.Price}</span>
            </div>
        </div>
        <%/loop%>
    </div>
    <%include _footer%>
</body>
</html>
