<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%include _head%>
    <script type="text/javascript" src="/Common/js/forebase.js"></script>
    <link rel="stylesheet" href="/common/css/XYLib.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/common/js/jquery-1.4.2.js"></script>
     <script type="text/javascript" src="{config.WebURL}templates/{config.TemplatePath}/js/validate.js" language="javascript"></script>
     <script type="text/javascript" src="{config.WebURL}templates/{config.TemplatePath}/js/SupplyBuyValidate.js" language="javascript"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            var size = '{pagesize}'
            if (size == '0') {
                size = 20;
            }
            $("#txtpagesize").val(size);
            $("#txtText").val('{keyword}');
        });

        function bntSearch(style) {
            var url = config.WebURL + "teambuy/list";

            var keyword = $("#txtText").val();
            var pagesize = $("#txtpagesize").val();
            var pageindex = $("#cpage").val();
            if (config.BogusStatic) {
                if (keyword != '') {
                    url += "-" + keyword;
                } else {
                    url += "-";
                }

                if (style != '') {
                    url += "-" + style;
                } else {
                    url += "-{showstyle}";
                }
                if (pagesize != '') {
                    if (!IsNum(pagesize)) {
                        return alertmsg(false, '每页显示页数必须是数字！');
                    }
                    url += "-" + pagesize;
                } else {
                    url += "-{pagesize}";
                }
                if (pageindex != '') {
                    url += "-" + pageindex;
                } else {
                    url += "-{pageindex}";
                }
                window.location.href = url + "." + config.Suffix;
            } else {
                url += "." + config.Suffix + "?keyword=" + keyword;

                if (style != '') {
                    url += "&style=" + style;
                }
                if (pagesize != '') {
                    if (!IsNum(pagesize)) {
                        return alertmsg(false, '每页显示页数必须是数字！');
                    }
                    url += "&pagesize=" + pagesize;
                }
                if (pageindex != '') {
                    url += "&pageindex=" + pageindex;
                }
                window.location.href = url;
            }


        }
    </script>
</head>
<body>
    <div id="wrapper">
        <%Include _login_bar%>
        <%Include _top%>
        <%Include _search%>
        <div class="content">
            <div id="uright">
                <!--站点导航-->
                <div style="display: none;">
                    <em id="clicknum1" style="display: none"></em><em id="clicknum" style="display: none">
                    </em><em id="linkmessage" style="display: none"></em><em id="msy" style="display: none">
                    </em><em id="messnum" style="display: none"></em>
                </div>
                <!--公司介绍-->
                <div class="rcon">
                    <h2>
                        团购信息</h2>
                    <div class="newslist">
                        <div class="tabcon cur">
                            请输入团购关键字
                            <input id="txtText" type="text" />
                            每页显示条数<input id="txtpagesize" type="text" />
                            <input id="btnSearch" type="button" value="搜索" onclick="bntSearch('')" />
                            <br />
                            <input id="Text1" type="button" onclick="bntSearch('1')" value="样式1" />
                            <input id="Text2" type="button" onclick="bntSearch('2')" value="样式2" />
                            <input id="Text3" type="button" onclick="bntSearch('3')" value="样式3" />
                            <hr />
                            {XY_tbpagetest}
                            <hr />
                        </div>
                    </div>
                    <div class="pg">
                        <div id="splitPage">
                            {pageinfo.PreviousPage}{pageinfo.NumPage}{pageinfo.NextPage} &nbsp;&nbsp;&nbsp;
                            直接转到&nbsp;
                            <input name="pageformat" type="hidden" value=".html /">
                            <input name="page" id="cpage" size="3" maxlength="3" style="height: 13px;" value="{pageinfo.PageIndex}" />&nbsp;页&nbsp;
                            <input type="submit" value="确定>>" style="height: 20px;" onclick="xy_GoToPage(cpage.value);" />
                            <input type="hidden" id="totalPage" value="{pageinfo.PageCount}" />
                            <span style="font-size: 14px;">共 <strong class="orange">{pageinfo.TotalRecord}</strong>
                                条记录&nbsp;&nbsp;&nbsp;当前为第 <strong class="orange">{pageinfo.PageIndex}</strong> 页&nbsp;&nbsp;&nbsp;共
                                <strong class="orange">{pageinfo.PageCount}</strong> 页&nbsp;&nbsp;&nbsp;</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%include _footer%>
</body>
</html>
