<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{tradename}频道 - {config.webname}</title>
	<meta name="description" content="xyecom" />
	<meta name="keywords" content="xyecom" />
	<meta name="robots" content="all"  />
	<meta http-equiv="Content-Type" content="text/html; charset="gb2312" />
	<link href="{config.WebURL}templates/{config.TemplatePath}/css/global.css" rel="stylesheet" type="text/css" />
	<link href="{config.WebURL}templates/{config.TemplatePath}/css/channel.css" rel="stylesheet" type="text/css" />
    <link href="{config.WebURL}templates/{config.TemplatePath}/css/index.css" rel="stylesheet" type="text/css" />
    
    <script type="text/javascript" src="{config.WebURL}common/js/base.js" language="javascript"></script>
</head>
<body>


<div id="wrapper">

	
	 <%Include _login%>

	 <%Include _top%>
	 
	 <%Include _search%>
	
	<div id="best_cmpy">
		<ul>
			<li><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/temp_pic_1.jpg" width="191" height="62" alt="" /></a></li>
			<li><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/temp_pic_2.jpg" width="191" height="62" alt="" /></a></li>
			<li><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/temp_pic_3.jpg" width="191" height="62" alt="" /></a></li>
			<li><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/temp_pic_4.jpg" width="191" height="62" alt="" /></a></li>
			<li><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/temp_pic_3.jpg" width="191" height="62" alt="" /></a></li>
			<li><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/temp_pic_4.jpg" width="191" height="62" alt="" /></a></li>
			<li><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/temp_pic_1.jpg" width="191" height="62" alt="" /></a></li>
			<li><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/temp_pic_2.jpg" width="191" height="62" alt="" /></a></li>
			<li><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/temp_pic_1.jpg" width="191" height="62" alt="" /></a></li>
			<li><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/temp_pic_2.jpg" width="191" height="62" alt="" /></a></li>
		</ul>
	</div>

	<div id="idx_cnt1">
		<div id="mid" style="margin-left:0;">
			<a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/temp_bnr_2.jpg" width="360" height="194" alt="" /></a>
		</div>
		<div id="left" style="margin-left:6px;">
			<div class="top spacer"></div>
			<div class="main">
				<div class="tit"><h2><span>热点信息</span></h2></div>
				<ul class="hinfo-text">
					{XY_HangYe_HotMessage}
				</ul>
				<ul class="hinfo-img">
					{XY_HangYe_HotMessagePicture}
				</ul>
				<div class="clr"></div>
			</div>
			<div class="btm spacer"></div>
		</div>
		<div id="right">

			<div class="MTitle_01">
				<h2 id="y_tab1" class="" onmouseover="xy_selectBox(2,1,'y','selected');"><a target="_blank" href="#">名优企业</a></h2>
			    <h2 id="y_tab2" class="selected" onmouseout="xy_selectBox(2,2,'y','selected');"><a target="_blank" href="#">最新企业</a></h2>
			</div>
			<div id="y_box1" class="Mblk_01" style="display:none">
				<div class="rank_compy">
					<ul>
						{XY_HangYe_TopOffice}
					</ul>
				</div>
			</div>
			
			<div id="y_box2" class="Mblk_01">
				<div class="rank_compy">
					<ul>
						{XY_HangYe_NewOffice}
					</ul>
				</div>
			</div>




		</div>
		<div class="clr"></div>
	</div>
	<div class="clr"></div>

	<div id="idx_cnt2">
		<div id="left">

			<div id="offers" style="margin:0;">
				<div id="tit">
					<ul>
						<li class="current" onmouseover="document.getElementById('remcd_offer').style.display='none';document.getElementById('remcd_supply').style.display='block';document.getElementById('tab_supply').className='current';document.getElementById('tab_offer').className='';" id="tab_supply">推荐供应</li>
						<li onmouseover="document.getElementById('remcd_supply').style.display='none';document.getElementById('remcd_offer').style.display='block';document.getElementById('tab_supply').className='';document.getElementById('tab_offer').className='current';" id="tab_offer">推荐求购</li>
						<div class="clr"></div>
					</ul>
				</div>
				<div id="remcd_supply">
					<div id="pic_cnts">
						<ul>
							{XY_HangYe_GongYinPicture}
						</ul>
					</div>
					<div class="cnts">
						<ul>
						    {XY_HangYe_GongYin}
						</ul>
					</div>
					<div class="hasty_offer">
						<div class="h_lt">紧急供应：</div>
						<div class="h_rt">
							<ul>
								{XY_HangYe_GongYinJInJI}
							</ul>
						</div>
						<div class="clr"></div>
					</div>
				</div>


				<div id="remcd_offer" style="display:none;">
					<div id="pic_cnts">
						<ul>
							{XY_HangYe_QiuGouPicture}
						</ul>
					</div>
					<div class="cnts">
						<ul>
							{XY_HangYe_QiuGou}
						</ul>
					</div>
					<div class="hasty_offer">
						<div class="h_lt">紧急求购：</div>
						<div class="h_rt">
							<ul>
								
								{XY_HangYe_QiuGouJinJi}
							</ul>
						</div>
						<div class="clr"></div>
					</div>
				</div>

			</div>


			<div class="area1" style="margin-top:10px;margin-bottom:10px;">
				<div class="hd">
					<div class="tit">
						<span class="fright"><a href="" class="black">更多&raquo;</a></span>
						<a href="" class="h2_news"><h2>热点资讯</h2></a>
					</div>
				</div>
				<div class="cnt">
					<div class="info_lt">
						{XY_HangYe_HotZiXun}
						<ul>
							
							{XY_HangYe_HotZiXun1}
						</ul>
					</div>
					<div class="info_rt">

						<div class="Bm_1">
							{XY_HangYe_HotZiXun2}
						</div>
						<div class="Bm_11">
							{XY_HangYe_HotZiXun3}
							<ul class="Bm_12 fia">
								{XY_HangYe_HotZiXun4}
							</ul>
						</div>
						<div class="clr"></div>
						<div class="Bm_13 fia">
							<ul class="Bm_14">
								{XY_HangYe_HotZiXun5}
							</ul>
							<ul class="Bm_12">
								{XY_HangYe_HotZiXun6}
							</ul>
							<div class="clr"></div>
						</div>
					</div>
					<div class="clr"></div>
				</div>
			</div>


			<div class="area1" id="zs_area3">
				<div class="hd">
					<div class="tit">
						<span class="fright"><a href="" class="black">更多&raquo;</a></span>
						<a href="" class="h2_zs"><h2>推荐招商</h2></a>
					</div>
				</div>
				<div class="cnt">
					<div class="g_item">
						<div class="gq_pics">
							<ul>
								
								{XY_HangYe_ZhanShangPicture}
							</ul>
						</div>

						<ul class="clr">
							{XY_HangYe_ZhanShang}
						</ul>
					</div>
				</div>
			</div>

			<div class="area1" id="zs_area4">
				<div class="hd">
					<div class="tit">
						<span class="fright"><a href="" class="black">更多&raquo;</a></span>
						<a href="" class="h2_jm"><h2>推荐加盟</h2></a>
					</div>
				</div>
				<div class="cnt">
					<div class="g_item">
						<div class="gq_pics">
							<ul>
								{XY_HangYe_JiaMengPicture}
							</ul>
						</div>

						<ul class="clr">
							{XY_HangYe_JiaMeng}
						</ul>
					</div>
				</div>
			</div>
			<div class="clr"></div>


			<div class="area1" id="zs_area3">
				<div class="hd">
					<div class="tit">
						<span class="fright"><a href="" class="black">更多&raquo;</a></span>
						<a href="" class="h2_zs"><h2>推荐招商</h2></a>
					</div>
				</div>
				<div class="cnt">
					<div class="g_item">
						<div class="gq_pics">
							<ul>
								{XY_HangYe_ZhanShangPicture}
							</ul>
						</div>

						<ul class="clr">
							{XY_HangYe_ZhanShang}
						</ul>
					</div>
				</div>
			</div>

			<div class="area1" id="zs_area4">
				<div class="hd">
					<div class="tit">
						<span class="fright"><a href="" class="black">更多&raquo;</a></span>
						<a href="" class="h2_jm"><h2>推荐加盟</h2></a>
					</div>
				</div>
				<div class="cnt">
					<div class="g_item">
						<div class="gq_pics">
							<ul>
								{XY_HangYe_JiaMengPicture}
								</ul>
						</div>

						<ul class="clr">
							{XY_HangYe_ZhanShang}
						</ul>
					</div>
				</div>
			</div>

			<div class="clr"></div>
		</div>
		<div id="right">


			<div class="MTitle_01">
				<h2 id="h201" class=""><a target="_blank" href="#"><strong>产品分类：</strong></a></h2>
			</div>
			<div id="con01" class="Mblk_01" style="width:268px;overflow:hidden;">
				<div class="cnt" id="price">
					<dl>
						<dt><h4><a href="">笔记本电脑</a></h4></dt>
						<dd>
							<ul>
								<li>联想</li>
								<li>惠普</li>
								<li>华硕</li>
								<li>东芝</li>
								<li>惠普</li>
								<li>华硕</li>
								<li>东芝</li>
								<li>IBM</li>
								<li>戴尔</li>
							</ul>
						</dd>
					</dl>
					<dl>
						<dt><h4><a href="">笔记本电脑</a></h4></dt>
						<dd>
							<ul>
								<li>联想</li>
								<li>惠普</li>
								<li>华硕</li>
								<li>东芝</li>
								<li>IBM</li>
								<li>戴尔</li>
							</ul>
						</dd>
					</dl>
					<dl>
						<dt><h4><a href="">笔记本电脑</a></h4></dt>
						<dd>
							<ul>
								<li>联想</li>
								<li>惠普</li>
								<li>华硕</li>
								<li>东芝</li>
								<li>IBM</li>
								<li>戴尔</li>
							</ul>
						</dd>
					</dl>
					<dl>
						<dt><h4><a href="">笔记本电脑</a></h4></dt>
						<dd>
							<ul>
								<li>联想</li>
								<li>惠普</li>
								<li>华硕</li>
								<li>东芝</li>
								<li>惠普</li>
								<li>华硕</li>
								<li>东芝</li>
								<li>IBM</li>
								<li>戴尔</li>
							</ul>
						</dd>
					</dl>
				</div>
			</div>


			<div class="bnr_b1"><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/temp_pic_10.jpg" width="270" height="75" alt="" /></a></div>
			<div id="gold_user">
				<div class="top">
					<div class="tit"><span class="fright">更多></span><h2>金牌商家展示</h2></div>
					<div class="slogan"><a href="" class="red big"><strong>马上入住金牌商家，商机无限>></strong></a></div>
				</div>
				<div id="slidetexts" class="mid">
					<ul>
						
					{XY_Index_JinPaiShangJiaZhanShi}

					</ul>
				</div>
				<script type="text/javascript">
				<!--
					try{
					 slideLine('slidetexts', 3000, 5, 40);
					}catch(e) {}
				//-->
				</script>
				<div class="btm spacer"></div>
			</div>


			<div class="MTitle_01" style="margin-top:8px;">
				<h2 id="x_tab1" class="" onmouseover="xy_selectBox(2,1,'x','selected');"><a target="_blank" href="#">名优企业</a></h2>
		    	<h2 id="x_tab2" class="selected" onmouseout="xy_selectBox(2,2,'x','selected');"><a target="_blank" href="#">最新企业</a></h2>
			</div>
			<div id="x_box1" class="Mblk_01" style="display:none">
				<div class="rank_compy">
					<ul>
					{XY_HangYe_TopOffice}
					</ul>
				</div>
			</div>
			

	        <div id="x_box2" class="Mblk_01">
				<div class="rank_compy">
					<ul>
						{XY_HangYe_NewOffice}
					</ul>
				</div>
			</div>

		</div>
		<div class="clr"></div>
	</div>			
	<div class="hy_brand clr">
		<div class="tit">行业推荐品牌</div>
		<div class="brand_pic">
		    <ul>
		    {XY_Index_HangYePinPai}
		    </ul>
			<div class="clr"></div>
		</div>

	</div>

    <%include _footer%>

</div>

</body>
</html>