<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>服务商主页</title>
    <link href="/Other/css/sercss.css" rel="Stylesheet" type="text/css" />
</head>
<body>
    <!--top start-->
    <div id="top">
        <div id="top1">
            您好，欢迎&nbsp;&nbsp;<strong>华众物流</strong>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">修改资料</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                href="#">修改密码</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">网站首页</a></div>
        <div id="top2">
            <a href="#">【退出系统】</a></div>
    </div>
    <!--top end-->
    <!--header start-->
    <div id="header">
        <div class="logo">
        </div>
        <div class="loginmiddle">
            <h3>
                {areaname}</h3>
            [<a href="#">切换分站</a>]
        </div>
        <div class="logoright">
            <a href="#">设为首页</a>&nbsp; |&nbsp; <a href="#">加入收藏</a>&nbsp;&nbsp;
        </div>
        <div id="menu">
            <ul>
                <li class='m_li_a'><a href="#">网站首页</a></li>
                <li class="m_line">
                    <img src="/Other/images/line1.gif" /></li>
                <li class='m_li' onmouseover='mover(2);' onmouseout='mout(2);'><a href="#">债权资讯</a></li>
                <li class="m_line">
                    <img src="/Other/images/line1.gif" /></li>
                <li class='m_li' onmouseover='mover(3);' onmouseout='mout(3);'><a href="#">优质服务商</a></li>
                <li class="m_line">
                    <img src="/Other/images/line1.gif" /></li>
                <li class='m_li' onmouseover='mover(4);' onmouseout='mout(4);'><a href="#">抵债物品资讯</a></li>
                <li class="m_line">
                    <img src="/Other/images/line1.gif" /></li>
                <li class='m_li' onmouseover='mover(5);' onmouseout='mout(5);'><a href="#">在线服务</a></li>
            </ul>
        </div>
    </div>
    <!--header end-->
    <!--middle start-->
    <div id="middle">
        <!--left start-->
        <div id="left">
            <!--left1 start-->
            <div id="left1">
                <div id="vertmenu">
                    <h1>
                        基本设置</h1>
                    <ul>
                        <li><a href="#" tabindex="1">资料修改</a></li>
                        <li><a href="#" tabindex="2">密码修改</a></li>
                        <li><a href="#" tabindex="3">绑定手机</a></li>
                        <li><a href="#" tabindex="4">信用管理</a></li>
                        <li><a href="#" tabindex="5">认证管理</a></li>
                        <li><a href="#" tabindex="5">头像修改</a></li>
                    </ul>
                    <h1>
                        案件管理</h1>
                    <ul>
                        <li><a href="#">进行中案件</a></li>
                        <li><a href="#">已参与案件</a></li>
                        <h1>
                            案件资讯</h1>
                        <ul>
                            <li><a href="zqlist.htm">系统推荐</a></li>
                        </ul>
                </div>
            </div>
            <!--left1 end-->
            <!--left2 start-->
            <a href="#">
                <img src="/Other/images/ads1.jpg" width="158" style="border: 1px solid #ddd" /></a>
            <!--left2 end-->
        </div>
        <!--left end-->
        <!--right start-->
        <div id="right">
            <!--rightmsg start-->
            <div id="rightmsg">
                <div id="msgimg">
                    <img src="/Other/images/man.GIF" /><br />
                    <br />
                    <a href="#">修改头像</a>
                </div>
                <div id="line">
                </div>
                <div id="msgmain">
                    <p>
                        <font>尊敬的&nbsp; </font><strong>华众物流</strong><font>，欢迎您！</font> <span style="float: right;
                            padding-right: 10px; padding-bottom: 10px;">最近一次登录时间：2012-3-14 12:45</span></p>
                    <table id="msgtb">
                        <tr>
                            <td width="60">
                                账号状态
                            </td>
                            <td width="128">
                                <img src="/Other/images/zhzt.gif" />
                            </td>
                            <td width="100">
                                <a href="#">修改账户密码</a>
                            </td>
                            <td width="21">
                                <img src="/Other/images/sjyes.gif" />
                            </td>
                            <td width="83">
                                手机已绑定
                            </td>
                            <td width="21">
                                <img src="/Other/images/yxno.gif" />
                            </td>
                            <td width="113">
                                邮箱未验证
                            </td>
                        </tr>
                    </table>
                    <table id="msgtb2">
                        <tr>
                            <td>
                                已参与案件数：23条
                            </td>
                            <td>
                                已中标数量：23条
                            </td>
                        </tr>
                        <tr>
                            <td>
                                关注案件：23条
                            </td>
                            <td>
                                共投标案件数：56条
                            </td>
                        </tr>
                        <tr>
                            <td>
                                已收邮件数：24条
                            </td>
                            <td>
                                站内消息：通知/提醒（<a href="#"><font style="color: #f00">38</font></a>条）
                            </td>
                        </tr>
                    </table>
                    <p>
                        账号余额：￥454.00 <a href="#">提现</a></p>
                </div>
            </div>
            <!--rightmsg end-->
            <!--rightzqlist start-->
            <div id="rightzqlist">
                <h2>
                    正在进行中的案件</h2>
                <div class="rhr">
                </div>
                <!--列表 start-->
                <div id="list">
                    <table>
                        <tr id="trtop">
                            <td align="center" width="40%">
                                案件标题
                            </td>
                            <td align="center" width="20%">
                                发布时间
                            </td>
                            <td align="center" width="15%">
                                付款状态
                            </td>
                            <td align="center" width="25%">
                                操作菜单
                            </td>
                        </tr>
                        <tr id="trmidd" style="height: 28px; border-top: 1px solid #ccc" onmousemove="this.style.backgroundColor='#F7F7F7'"
                            onmouseout="this.style.backgroundColor='#ffffff'">
                            <td id="tdtitle">
                                <a href="#" title="与xxx企业的业务往来">与xxx企业的业务往来</a>
                            </td>
                            <td>
                                2012-02-12
                            </td>
                            <td>
                                【已付款】
                            </td>
                            <td>
                                <a href="#">详情</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">删除</a>
                            </td>
                        </tr>
                        <tr id="trmidd" style="height: 28px; border-top: 1px solid #ccc" onmousemove="this.style.backgroundColor='#F7F7F7'"
                            onmouseout="this.style.backgroundColor='#ffffff'">
                            <td id="tdtitle">
                                <a href="#" title="李长春视察珠海产业园：三一是具有国际影响力的品牌">李长春视察珠海产业园：三一是具有国际影响力的品牌</a>
                            </td>
                            <td>
                                2012-02-12
                            </td>
                            <td>
                                【已付款】
                            </td>
                            <td>
                                <a href="#">详情</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">删除</a>
                            </td>
                        </tr>
                        <tr id="trmidd" style="height: 28px; border-top: 1px solid #ccc" onmousemove="this.style.backgroundColor='#F7F7F7'"
                            onmouseout="this.style.backgroundColor='#ffffff'">
                            <td id="tdtitle">
                                <a href="#" title="梁稳根成中国双料“首富”">梁稳根成中国双料“首富”</a>
                            </td>
                            <td>
                                2012-02-12
                            </td>
                            <td>
                                【已付款】
                            </td>
                            <td>
                                <a href="#">详情</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">删除</a>
                            </td>
                        </tr>
                        <tr id="trmidd" style="height: 28px; border-top: 1px solid #ccc" onmousemove="this.style.backgroundColor='#F7F7F7'"
                            onmouseout="this.style.backgroundColor='#ffffff'">
                            <td id="tdtitle">
                                <a href="#" title="依托过渡基地 三一海洋重工加速跑 20余台大港机实现交付">依托过渡基地 三一海洋重工加速跑 20余台大港机··· </a>
                            </td>
                            <td>
                                2012-02-12
                            </td>
                            <td>
                                【已付款】
                            </td>
                            <td>
                                <a href="#">详情</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">删除</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--列表 end-->
            </div>
            <!--rightzqlist end-->
        </div>
        <!--right end-->
    </div>
    <!--middle end-->
    <!--bottom start-->
    <div id="bottom">
        <ul>
            <li><strong>新手上路</strong></li>
            <li><a href="#">了解本网</a></li>
            <li><a href="#">注册债权人</a></li>
            <li><a href="#">注册服务商</a></li>
            <li><a href="#">帮助中心</a></li>
        </ul>
        <ul>
            <li><strong>交易指南</strong></li>
            <li><a href="#">如何发布债权</a></li>
            <li><a href="#">如何获取佣金</a></li>
            <li><a href="#">交易安全</a></li>
            <li><a href="#">服务中心</a></li>
        </ul>
        <ul>
            <li><strong>交易保障</strong></li>
            <li><a href="#">担保交易</a></li>
            <li><a href="#">诚信保障服务</a></li>
            <li><a href="#">提供发票</a></li>
            <li><a href="#">全假信息识别</a></li>
        </ul>
        <ul>
            <li><strong>支付方式</strong></li>
            <li><a href="#">网银支付</a></li>
            <li><a href="#">银行柜台支付</a></li>
            <li><a href="#">支付宝担保交易</a></li>
            <li><a href="#">账户余额支付</a></li>
        </ul>
        <div style="height: 90px; margin: 20px 10px; width: 187px; float: left">
            <img src="/Other/images/tel.gif" />
            <strong style="font-size: 18px; color: #f00">400-100-1010</strong>
        </div>
    </div>
    <!--bottom end-->
    <!--footer start-->
    <div id="footer">
        <div style="height: 50px; text-align: center">
            <table>
                <tr>
                    <td>
                        <img src="/Other/images/11.gif" />
                    </td>
                    <td>
                        <h2>
                            不跨区·省时间</h2>
                    </td>
                    <td>
                        <img src="/Other/images/22.gif" />
                    </td>
                    <td>
                        <h2>
                            大商品·低价卖</h2>
                    </td>
                    <td>
                        <img src="/Other/images/33.gif" />
                    </td>
                    <td>
                        <h2>
                            多方案·优服务</h2>
                    </td>
                </tr>
            </table>
        </div>
        <p>
            <a href="">网站地图</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                href="">合作洽谈</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="">客户手册</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                    href="">客服中心</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="">加入我们</a></p>
        <p>
            网站24小时服务热线：400-100-1010 传真：029-12345678 地址：陕西省西安市高新园区一号大厦3楼</p>
        <p>
            Copyright 2005-2011 baoqt.cn 版权所有 <a href="#" target="_blank">陕ICP备10202274号</a></p>
    </div>
    <!--footer end-->
</body>
</html>
