<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	
	<%include _head%>
	
</head>
<body>


<div id="wrapper">

	 <%Include _login_bar%>

	 <%Include _top%>
	 
	 <%Include _search%>
	
	<div id="news_cnt1" style="margin-bottom:6px;">
		<div id="left">

			<div class="area1">
				<div class="hd">
					<div class="tit">
						<span class="fright"><a href="" class="black">更多&raquo;</a></span>
						<a href="" class="h2_compy1"><h2>热点资讯</h2></a>
					</div>
				</div>
				<div class="cnt">
					<div class="info_lt">
						<a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/temp_pic_8.jpg" width="220" height="110" alt="" /></a>
						<ul>
							{XY_CompanyIndex_GongSiZiXunLeft}
						</ul>
					</div>
					<div class="info_rt">

						<div class="Bm_1">
							{XY_CompanyIndex_GongSiZiXunRightIMG}
						</div>
						<div class="Bm_11">
							{XY_CompanyIndex_GongSiZiXuntop}
							<ul class="Bm_12 fia">
								{XY_CompanyIndex_GongSiZiXunCenter}
							</ul>
						</div>
						
					</div>
					<div class="clr"></div>
				</div>
			</div>

			<div class="spacer" style="height:6px;"></div>

			<div class="area1">
				<div class="hd">
					<div class="tit">
						<span class="fright"><a href="" class="black">更多&raquo;</a></span>
						<a href="" class="h2_compy2"><h2>按地区查找</h2></a>
					</div>
				</div>
				<div class="cnt">


					<div class="mapkuang">
						<div class="mapleft">
							<img src="http://www.glass.cn/glass/company/chinaditu.gif" width="350" height="294" border="0" usemap="#Map" />
							<map name="Map" id="Map">
								<area shape="rect" coords="47,90,85,108" href="company_p32_a1032.html" target="_blank"/>
								<area shape="rect" coords="233,97,266,112" href="company_p1_a1001.html" target="_blank"/>
								<area shape="rect" coords="280,37,331,52" href="company_p10_a1010.html" target="_blank"/>
								<area shape="rect" coords="266,115,300,129" href="company_p2_a1002.html" target="_blank"/>
								<area shape="rect" coords="285,167,318,182" href="company_p3_a1003.html" target="_blank"/>
								<area shape="rect" coords="174,186,207,201" href="company_p4_a1004.html" target="_blank"/>
								<area shape="rect" coords="231,113,264,128" href="company_p5_a1005.html" target="_blank"/>
								<area shape="rect" coords="209,129,242,144" href="company_p6_a1006.html" target="_blank"/>
								<area shape="rect" coords="293,222,325,237" href="company_p7_a1007.html" target="_blank" />
								<area shape="rect" coords="267,91,301,106" href="company_p8_a1008.html" target="_blank"/>
								<area shape="rect" coords="286,69,318,84" href="company_p9_a1009.html" target="_blank"/>
								<area shape="rect" coords="259,148,292,163" href="company_p11_a1011.html" target="_blank"/>
								<area shape="rect" coords="276,186,309,201" href="company_p12_a1012.html" target="_blank"/>
								<area shape="rect" coords="249,166,282,181" href="company_p13_a1013.html" target="_blank"/>
								<area shape="rect" coords="256,205,289,220" href="company_p14_a1014.html" target="_blank"/>
								<area shape="rect" coords="241,187,274,202" href="company_p15_a1015.html" target="_blank"/>
								<area shape="rect" coords="247,129,280,144" href="company_p16_a1016.html" target="_blank"/>
								<area shape="rect" coords="223,148,255,163" href="company_p17_a1017.html" target="_blank"/>
								<area shape="rect" coords="215,171,247,186" href="company_p18_a1018.html" target="_blank"/>
								<area shape="rect" coords="214,203,247,218" href="company_p19_a1019.html" target="_blank"/>
								<area shape="rect" coords="225,225,258,240" href="company_p20_a1020.html" target="_blank"/>
								<area shape="rect" coords="124,105,157,120" href="company_p21_a1021.html" target="_blank"/>
								<area shape="rect" coords="145,168,178,183" href="company_p22_a1022.html" target="_blank"/>
								<area shape="rect" coords="179,204,212,217" href="company_p24_a1024.html" target="_blank"/>
								<area shape="rect" coords="180,251,213,266" href="company_p25_a1025.html" target="_blank"/>
								<area shape="rect" coords="146,221,180,236" href="company_p26_a1026.html" target="_blank"/>
								<area shape="rect" coords="113,132,146,148" href="company_p27_a1027.html" target="_blank"/>
								<area shape="rect" coords="189,150,222,164" href="company_p28_a1028.html" target="_blank"/>
								<area shape="rect" coords="190,224,223,239" href="company_p29_a1029.html" target="_blank"/>
								<area shape="rect" coords="57,165,90,180" href="company_p30_a1030.html" target="_blank"/>
								<area shape="rect" coords="158,134,191,149" href="company_p31_a1031.html" target="_blank"/>
								<area shape="rect" coords="166,101,217,116" href="company_p33_a1033.html" target="_blank"/>
								<area shape="rect" coords="225,242,258,257" href="company_p34_a1034.html" target="_blank"/>
								<area shape="rect" coords="259,233,292,248" href="company_p35_a1035.html" target="_blank"/>
							</map>
						</div>
						<div class="maplisttitle">热门地区:</div>
						<div class="maplist">
							<ul>
								{XY_CLS_GuangDong}
								{XY_CLS_ZheJiang}
								{XY_CLS_JiangSu}
								{XY_CLS_OtherCity}
							</ul>
						</div>
						<div class="maplisttitle">最新加入企业:</div>
						<div class="maplist">
							<ul>
                                {XY_CompanyIndex_ZuiXinJoinQiYe}
							</ul>
						</div>
					</div>


				</div>
			</div>

			<div class="spacer" style="height:6px;"></div>

			<div class="area1">
				<div class="hd">
					<div class="tit">
						<span class="fright"><a href="" class="black">更多&raquo;</a></span>
						<a href="" class="h2_compy3"><h2>按行业查找</h2></a>
					</div>
				</div>
				<div class="cnt">

					<div class="chanye">
						<div class="chanyetitle12">
							<ul>
								<li class="left">
								供应商
								<li>
									<A href="sell.html"><img height="8" alt="更多" src="http://www.glass.cn/glass/company/arrow.gif" width="4"
											border="0"></A> <A href="companyca_a.html">更多</A>								</li>
							</ul>
						</div>
						<div class="chanyeleft_pic"><img src="http://www.glass.cn/glass/company/changye_1.gif"></div>
						<div class="chanyeleft">
							<ul>
							{XY_CompanyIndex_QiYeTypeGongYingShang}
							</ul>
						</div>
					</div>
					<div class="chanye">
						<div class="chanyetitle12">
							<ul>
								<li class="left">
								采购商
								<li>
									<A href="sell.html"><img height="8" alt="更多" src="http://www.glass.cn/glass/company/arrow.gif" width="4"
											border="0"></A> <A href="companyca_b.html">更多</A>								</li>
							</ul>
						</div>
						<div class="chanyeleft_pic"><img src="http://www.glass.cn/glass/company/changye_2.gif"></div>
						<div class="chanyeleft">
							<ul>
							    {XY_CompanyIndex_QiYeTypeCaiGouShang}
							</ul>
						</div>
					</div>
					<div class="chanye">
						<div class="chanyetitle12">
							<ul>
								<li class="left">
								零售商
								<li>
									<A href="sell.html"><img height="8" alt="更多" src="http://www.glass.cn/glass/company/arrow.gif" width="4"
											border="0"></A> <A href="companyca_c.html">更多</A>								</li>
							</ul>
						</div>
						<div class="chanyeleft_pic"><img src="http://www.glass.cn/glass/company/changye_3.gif"></div>
						<div class="chanyeleft">
							<ul>
                                {XY_CompanyIndex_QiYeTypeLingShouShang}
							</ul>
						</div>
					</div>

					<div class="chanye">
						<div class="chanyetitle12">
							<ul>
								<li class="left">
								其它
								<li>
									<A href="sell.html"><img height="8" alt="更多" src="http://www.glass.cn/glass/company/arrow.gif" width="4"
											border="0"></A> <A href="companyca_c.html">更多</A>								</li>
							</ul>
						</div>
						<div class="chanyeleft_pic"><img src="http://www.glass.cn/glass/company/changye_3.gif"></div>
						<div class="chanyeleft">
							<ul>
                                {XY_CompanyIndex_QiYeTypeOther}
						    </ul>
						</div>
					</div>

					<div class="clr"></div>

				</div>
			</div>

		</div>
		<div id="right">

			<div id="gold_user" style="margin-top:0;">
				<div class="top">
					<div class="tit"><span class="fright">更多></span><h2>金牌商家展示</h2></div>
					<div class="slogan"><a href="" class="red big"><strong>马上入住金牌商家，商机无限>></strong></a></div>
				</div>
				<div id="slidetexts" class="mid">
					<ul>
					    {XY_Index_JinPaiShangJiaZhanShi}
					</ul>
				</div>
				<script type="text/javascript">
				<!--
					try{
					 slideLine('slidetexts', 3000, 5, 40);
					}catch(e) {}
				//-->
				</script>
				<div class="btm spacer"></div>
			</div>

			<div id="compy_cates">
				<div class="tit">公司分类：</div>
				<h5 class="name">建筑外墙配套玻璃</h5>
				<div class="item">
					<ul>
						<li><a href="" target="_blank">建筑玻璃</a></li>
						<li><a href="" target="_blank">钢化玻璃</a></li>
						<li><a href="" target="_blank">中空玻璃</a></li>
						<li><a href="" target="_blank">夹层玻璃</a></li>
						<li><a href="" target="_blank">防弹玻璃</a></li>
						<li><a href="" target="_blank">建筑玻璃</a></li>
						<li><a href="" target="_blank">钢化玻璃</a></li>
						<li><a href="" target="_blank">建筑玻璃</a></li>
						<li><a href="" target="_blank">钢化玻璃</a></li>
						<li><a href="" target="_blank">中空玻璃</a></li>
						<li><a href="" target="_blank">夹层玻璃</a></li>
						<li><a href="" target="_blank">防弹玻璃</a></li>
						<div class="clr"></div>
					</ul>
				</div>
				<h5 class="name">建筑外墙配套玻璃</h5>
				<div class="item">
					<ul>
						<li><a href="" target="_blank">建筑玻璃</a></li>
						<li><a href="" target="_blank">钢化玻璃</a></li>
						<li><a href="" target="_blank">中空玻璃</a></li>
						<li><a href="" target="_blank">夹层玻璃</a></li>
						<li><a href="" target="_blank">防弹玻璃</a></li>
						<li><a href="" target="_blank">建筑玻璃</a></li>
						<li><a href="" target="_blank">钢化玻璃</a></li>
						<li><a href="" target="_blank">建筑玻璃</a></li>
						<li><a href="" target="_blank">钢化玻璃</a></li>
						<li><a href="" target="_blank">中空玻璃</a></li>
						<li><a href="" target="_blank">夹层玻璃</a></li>
						<li><a href="" target="_blank">防弹玻璃</a></li>
						<div class="clr"></div>
					</ul>
				</div>
				<h5 class="name">建筑外墙配套玻璃</h5>
				<div class="item">
					<ul>
						<li><a href="" target="_blank">建筑玻璃</a></li>
						<li><a href="" target="_blank">钢化玻璃</a></li>
						<li><a href="" target="_blank">中空玻璃</a></li>
						<li><a href="" target="_blank">夹层玻璃</a></li>
						<li><a href="" target="_blank">防弹玻璃</a></li>
						<li><a href="" target="_blank">建筑玻璃</a></li>
						<li><a href="" target="_blank">钢化玻璃</a></li>
						<li><a href="" target="_blank">建筑玻璃</a></li>
						<li><a href="" target="_blank">钢化玻璃</a></li>
						<li><a href="" target="_blank">中空玻璃</a></li>
						<li><a href="" target="_blank">夹层玻璃</a></li>
						<li><a href="" target="_blank">防弹玻璃</a></li>
						<div class="clr"></div>
					</ul>
				</div>
				<h5 class="name">建筑外墙配套玻璃</h5>
				<div class="item">
					<ul>
						<li><a href="" target="_blank">建筑玻璃</a></li>
						<li><a href="" target="_blank">钢化玻璃</a></li>
						<li><a href="" target="_blank">中空玻璃</a></li>
						<li><a href="" target="_blank">夹层玻璃</a></li>
						<li><a href="" target="_blank">防弹玻璃</a></li>
						<li><a href="" target="_blank">建筑玻璃</a></li>
						<li><a href="" target="_blank">钢化玻璃</a></li>
						<li><a href="" target="_blank">建筑玻璃</a></li>
						<li><a href="" target="_blank">钢化玻璃</a></li>
						<li><a href="" target="_blank">中空玻璃</a></li>
						<li><a href="" target="_blank">夹层玻璃</a></li>
						<li><a href="" target="_blank">防弹玻璃</a></li>
						<div class="clr"></div>
					</ul>
				</div>
			</div>
			<div class="spacer" style="height:7px;"></div>

			<div class="MTitle_01">
				<h2 id="y_tab1" class="" onmouseover="xy_selectBox(2,1,'y','selected');"><a target="_blank" href="#">名优企业</a></h2>
			    <h2 id="y_tab2" class="selected" onmouseout="xy_selectBox(2,2,'y','selected');"><a target="_blank" href="#">最新企业</a></h2>
			</div>
			
			<div id="y_box1" class="Mblk_01" style="display:none;">
				<div class="rank_compy">
					<ul>
						{XY_Index_MingYouQiYe}
					</ul>
					<div class="rank_pic">
						<a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/temp_pic_11.gif" width="238" height="50" alt="" /></a>
					</div>
				</div>
			</div>
			
			<div id="y_box2" class="Mblk_01" style="display:block;">
			<div class="rank_compy">
				<ul>
						{XY_Index_ZuiXinQiYe}
				</ul>
				<div class="rank_pic">
					<a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/temp_pic_11.gif" width="238" height="50" alt="" /></a>
				</div>
			</div>
		    </div>

        </div>
		</div>
		<div class="clr"></div>
	</div>


    <%include _footer%>

</div>

</body>
</html>