<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title> 固定排名-{config.webname}</title>
	<meta name="description" content="xyecom" />
	<meta name="keywords" content="xyecom" />
	<meta name="robots" content="all"  />
	<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
	<link href="{config.WebURL}templates/{config.TemplatePath}/css/global.css" rel="stylesheet" type="text/css" />
	<link href="{config.WebURL}templates/{config.TemplatePath}/css/rank.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="layoutHead">
	<div id="rank_header">
		<div id="logo"><a href=""><img src="{config.WebURL}templates/{config.TemplatePath}/images/logo_rank.gif" width="351" height="50" alt="" /></a></div>
		<div id="quick_link"><a href="">会员登录</a> <a href="">使用帮助</a></div>
	</div>

	<div id="rank_nav">
		<ul>
			<li><a href=""><span>首 页</span></a></li>
			<li><a href="" class="current"><span>查询排名情况</span></a></li>
			<li><a href=""><span>购买排名</span></a></li>
			<li><a href=""><span>帮助中心</span></a></li>
			<li><a href=""><span>联系我们</span></a></li>
			<li><a href="" class="current"><span>多长的字都可以哦</span></a></li>
		</ul>
	</div>

</div>


<div id="layoutBnner">
<div id="layoutBnnerT"><strong class="font14 whitefont">什么是固定排名？</strong><br /><br />

固定排名是{config.webname}推出的的信息排名服务，买家在{config.webname}查看或者搜索相关产品、企业信息时，固定排名企业的信息将排在搜索结果的前三位，能够被买家第一时间就找到。</div>
</div>

<!--主体部分-->
<div id="layoutMain">
  <div id="layoutMainL">
  <div id="Lsearch">
    <form id="form1" name="form1" method="post" action="" onsubmit="">
      <input type="text" id="keyword" name="keyword" class="keyclass" onload="if(this.value=='')this.value='请输入您所要查询的关键词';" onfocus="if(this.value=='请输入您所要查询的关键词') this.value = '';" value="{keyword}"/> 
      <input type="submit" name="Submit" value="  " class="keybut" />
    </form>

    </div>
     <%if keyData.Rows.Count>0%>
     <table class="rankTable" style="width:100%; float:left;">
            <thead>
                <tr class="title">
                    <td>关键词</td>
                    <td>相关信息</td>
                </tr>
            </thead>
            <%loop (DataRow) key keyData%>
            <tr>
                <td valign="top" class="k line" >{key[SK_Name]}</td>
                <td class="line">
                    <%set data = GetRankingData(key["SK_ID"].ToString())%>
                    <%if data.Rows.Count>0%>
                        <table width="100%" class="cTable">
                            <tr>
                                <th align="center">名次</th>
                                <th align="left">状态信息</th>
                                <th align="center">购买</th>
                            </tr>
                            <%loop (DataRow) rdata data%>
                            <tr>
                                <td align="center">{rdata[rank]}</td>
                                <td align="left">{rdata[state]}</td>
                                <td align="center">{rdata[link]}</td>
                            </tr>
                            <%/loop%>
                        </table>
                    <%/if%>
                </td>
            </tr>
            <%/loop%>
         </table>
    <%else%>

    <div id="Lfix_xg"></div>
    <div id="Lfix_xg1">
	    <div id="Lfix_xg1L"><img src="{config.WebURL}templates/{config.TemplatePath}/images/fix_show.gif" /></div>
	    <div id="Lfix_xg1R">
	      <p><strong class="redfont" style="font-size:14px;">固定排名的费用：</strong><br />
	        排名第一位：300元/月<br />
	        排名第二位：200元/月<br />

	        排名第三位：100元/月<br />
	        如有疑问，请与<a href="Contact.htm" target="_blank"><strong>联系我们</strong></a></p>
	    </div>
	    <div class="clr"></div>
	</div>
  <%/if%>	
	<div id="Lfix_xg2"></div>

	<div id="Lfix_show">
	<table class="tabHotKey">
	    <tr>
	        <th>热门关键词</th>
	    </tr>
	    <tr>
	        <td>
	        <%set data = GetHotKeyword(20)%>
	        <ul>
			<%loop (DataRow) hotkey data%>
			<li><a href="?keyword={hotkey[SK_Name]}" target="_self">{hotkey[SK_Name]}</a><span>({hotkey[SK_Count]})</span></li>
            <%/loop%>
            </ul>
	        </td>
	    </tr>
	</table>
    <div class="clr"></div>
    
 	<table class="tabHotKey">
	    <tr>
	        <th>最新关键词</th>
	    </tr>
	    <tr>
	        <td>
	        <%set data = GetNewKeyword(20)%>
	        <ul>
			<%loop (DataRow) newkey data%>
			<li><a href="?keyword={newkey[SK_Name]}" target="_self">{newkey[SK_Name]}</a><span>({newkey[SK_Count]})</span></li>
            <%/loop%>
            </ul>
	        </td>
	    </tr>
	</table>   
	</div>

</div>

  <div id="layoutMainR">
  	<div class="RightTopBg"></div>
	<div class="RightMidBg">
		<div class="rk_cate"><h2>为什么要购买固定排名？</h2></div>
		<div class="rk_item">
			<strong>1、提升品牌形象,迅速扩大客户群</strong><br />
			在这里，98％的买家通过搜索关键词去寻找合适的卖家，排名三甲在此醒目位置出现，其展现率及客户访问量可想而知！
		</div>
		<div class="rk_item">
			<strong>2、信息排前三，获得更多买家关注</strong><br />
			排名前列一直是商家必争之地！根据统计，90%的买家会优先查看排名前三的信息，因此在搜索结果中获得排名，优先于竞争对手出现，将领先于您的竞争对手！
		</div>
		<div class="rk_item">
			<strong>3、性价比高，物超所值</strong><br />
			价格极低，一次付费全年推广，并且还有超值的一年玻璃通服务赠送！
		</div>

		<br />
		<div class="rk_cate"><h2>如何购买排名三甲？</h2></div>
		<div class="rk_item">
			<strong>方法一：</strong><br />
			直接致电客户专员。<br />服务电话：010-6266 9815
		</div>
		<div class="rk_item">
			<strong>方法二：</strong><br />
			在线提交购买意向，客户专员将尽快联系您。
		</div>

	</div>
	<div class="RightEndBg"></div>

	  	<div class="RightTopBg" style="margin-top:10px;"></div>
		<div class="RightMidBg"><table width="96%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>

        <td width="200" height="21"><strong class="font14">有疑问请与我们联系</strong></td>
        </tr>
      <tr>

        <td height="55">010-6266 9815</td>
      </tr>
    </table>
		</div>
		<div class="RightEndBg"></div>
  </div>
  <div class="clr"></div>
</div>

<div id="layoutBottom">

<div id="Binfo"><a href="#">关于我们</a> │ <a href="#">联系我们</a> │ <a href="#" target="_blank">固定排名</a> │ <a href="#">法律声明</a> │ <a href="#">网站地图</a> │<a href="#">工作机会</a> │ <a href="#">帮助中心</a><br />

	  客服热线:010-6266 9815,400 6686 816 <br />
  <a href="http://www.miibeian.gov.cn/" target="_blank">增值电信业务经营许可证:京00-0000000</a> 版权所有 &copy; 2005-2009  <a href="{config.weburl}">{config.webname}</a></div>
</div>


</body>
</html>