<div class="copyright">
    <table width="100%">
        <tbody>
            <tr>
            <td align="middle" width="100%">
                <table width="100%">
                    <tbody>
                    <tr>
                            <td align="middle" width="54%">
                            <table width="100%">
                                <tbody>
                                    <tr><td align="middle">{shopuserinfo.unitname}</td></tr>
                                    <tr><td align="middle">单位地址：{shopuserinfo.address}</td></tr>
                                    <tr>
                                    <td align="middle">
                                        <a href="http://www.yylm.org" target="_blank">中国营养联盟：提供平台支持</a> | 
                                        <a href="{config.weburl}feedback.{config.suffix}" target="_blank">意见反馈</a> | 
                                        <a href="{config.weburl}login.{config.suffix}" target="_blank">管理网站</a>
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                       </tr>
                    </tbody>
                </table>
            </td>
            </tr>
        </tbody>
    </table>
</div>
