<title>{shopuserinfo.unitname}</title>
<meta content="{shopuserinfo.unitname}成立于{shopuserinfo.regyear}年,位于{shopuserinfo.areaname}" name="description"/>
<meta content="{shopuserinfo.unitname}" name="keywords"/>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">

<link rel="stylesheet" href="/common/css/XYLib.css" type="text/css" media="screen" />
<link href="{config.WebURL}templates/_shop/skins_2009/{shopuserinfo.template}/css/Style.css" type="text/css" rel="stylesheet">

<script type="text/javascript" src="/common/js/base.js" language="javascript"></script>
<script type="text/javascript" src="/templates/{config.TemplatePath}/js/login.js" language="javascript"></script>
<script type="text/javascript" src="/templates/{config.TemplatePath}/js/validate.js" language="javascript"></script>