<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <%Include _head%> 
    </head>
    <body>
     <%Include _top%>
     
        <div class=layout950_100 style="BACKGROUND-IMAGE: url({config.WebURL}templates/_shop/skins_2009/{shopuserinfo.template}/images/stylebg1.jpg)">
    
    <%Include _banner%>
    <div class="clr"></div>
    
    <div class=layout950>
    <%Include _menu%>
    <div class="clr"></div>


    <div class=where>
        你现在的位置：首页 &gt; 产品展示
    </div>


    <%Include _left%>


<!--供应信息-->
    <div id=bodyright>
        <div class=leftkuang>
            <div class=righttitle>
                <ul>
                    <li>供应信息 </li>
                </ul>
            </div>
            <div class=tuijian_product>
                <ul>
                  <li>
                    <div class=picBox>
                        <a href="http://zzpjtglass.glass.cn/tradeinfoc_2087i_39021.html" target=_blank><IMG alt=供应石英双重蒸馏器 src="images/633258371355781250.jpg"  border=0></a>
                    </div>
                    <div class=textBox>
                        <a href="http://zzpjtglass.glass.cn/tradeinfoc_2087i_39021.html" target=_blank>供应石英双重蒸馏器 </a>
                    </div>
                    <div class=jiageBox>
                        <SPAN>3500.00元/台 </SPAN>
                    </div>
                  </li>
                </ul>
            </div>
            <div class="clr"></div>
            <div class=page>共2页 首页 上一页 <FONT color=#ff0000>1</FONT>
                <a href="http://zzpjtglass.glass.cn/gold/tradem_2087p_2.html">2</a>
                <a href="http://zzpjtglass.glass.cn/gold/tradem_2087p_2.html">下一页</a> 
                <a href="http://zzpjtglass.glass.cn/gold/tradem_2087p_2.html">末页</a> 
            </div>
            <div class="clr"></div>
        </div>
    </div><!--供应信息结束-->
    <div class="clr"></div>
    </div>   
    
        <%Include _footer%>
        
    </div>
</BODY>
</html>
