/* 公用样式*/
* { padding:0; margin:0; }
html{ height:100%; }
body{ font-family:"宋体",Verdana, Arial, Helvetica, sans-serif;text-align:center; line-height:21px; font-size:12px; color:#333; height:100%;}
body,form,menu,dir,fieldset,blockquote,p,pre,ul,ol,dl,dd,h2,h3,h4,h5,h6 {padding:0;margin:0;}
ul,ol,dl {list-style:none;}
.clear{ clear:both; line-height:0px;}/*清除浮动*/
.red{color:#f00;}
.distance{ height:50px;}

/*默认的链接样式*/
a:link,a:visited{ color:#001D4C; text-decoration:none;}
a:hover{ color:#c00; text-decoration:underline;}


a.choiceButton:link,
a.choiceButton:visited,
a.choiceButton:hover { color: #454545;text-decoration: none;cursor: pointer;}


.choiceButton {
height: 27px;
display: block;
background: top right #FFF; /*背景定位- 保证右边圆角*/
text-align: center;
position: relative;
}
.choiceButton span {
padding: 0 5px 0 10px;
margin: 0 5px 0 0; /*距右边5个像素，使右边的圆角背景不被span的背景覆盖*/
background: top left #FFF; /*span的背景定位- 保证左边圆角*/ 
display: block;
height: 27px;
line-height:27px;
color: #454545;
}
a.choiceButton, 
a.choiceButton span {
background-image: 
url(bgimages/choiceButton.gif); /*背景图片*/
}


.w340{ width:130px;}/*背景的长度*/

.w120{ width:390px;}/*背景的长度*/
/*弹出提示信息*/

.showBox {
	z-index:99;
	position: absolute;
	left: 0px; top: 0px; 
	width: 100%; 
	height: 100%; 
	text-align: center;	
}

#alphaBox {
	z-index: 1000;
	background: #000;
	filter: alpha(opacity=25);
	opacity: 0.6; -moz-opacity: 0.6;
	position: absolute;
	top: 0px; 
	left: 0px; 
	width: 100%; 
	height: 100%;    
}


#cueContainer {
	z-index: 1002; 
	position:absolute;
	top:50%; 
	left:50%; 

}

.alertC{ width:421px; height:200px; margin:-120px 0 0 -210px;}
.adressC{ width:690px; height:100px; margin:-200px 0 0 -350px; }
.keywordsC{ width:600px; height:200px; margin:-120px 0 0 -300px; }


.title,.adressT,.keywordsT,.sortT{ 
    background-image:url(bgimages/cue_header.gif);
	background-repeat:no-repeat;
	text-align:left; 
	padding-left:25px;
	font-weight:bold;
	color:#f40; 
	height:27px;
	line-height:27px;
 }
 
.title{ background-position:left top;}
.adressT{ background-position:0 -27px;}
.keywordsT{ background-position:left bottom;}

 
 
 /*右上角关闭按钮*/
#cueContainer .close{ 
	float:right; 
	border:none;
	margin-right:10px;
	margin-top:8px;
} 
#cueContainer .close a{
	background:url(bgimages/cue_close_off.gif) no-repeat left top;
	display:block;
	width:8px;
	height:8px
}
#cueContainer  .close a:hover{
	background:url(bgimages/cue_close_on.gif) no-repeat left top;
}


   /*提示内容*/
#content,#alterContent{
	background: #FBFEFF;
	border-left:1px solid #8B9FAF;
	border-right:1px solid #8B9FAF;
	color: #06559B;
	padding-top:5px;
}

#alterContent h3 {
	font-size:14px; 
	text-align:center;
}

#alterContent p { 
	margin: 8px 0;
	line-height: 25px;
}

#alterContent a:link,
#alterContent a:visited {
	display:block;
	color: #06559B;
	text-decoration:underline;
}
#alterContent a:hover {
	color: #f40;
}


  /*确定按钮*/
#cueContainer .closebutton {
	background:url(bgimages/cue_close_bg.gif) #EEF2F6 repeat-x left top;
	height:20px;
	padding:5px 0;
	text-align:right;
	clear:both;
}
#cueContainer .button{ 
	background:url(bgimages/cue_button_bg.gif) no-repeat left top;
	border:0;
	width:66px;
	height:22px;
	line-height:22px;
	text-align:center;
	margin-right:10px;
}

   /*底部圆角*/
#bottom{ 
	background-image:url(bgimages/cue_footer.gif);
	background-repeat:no-repeat;
	height:6px;
	overflow:hidden;
	font-size:0;
 }
.bottom{ background-position:left top}
.adressB{  background-position:0 -6px;}
.keywordsB{ background-position:left bottom;}


/*---------------------------------------------------------------

  选择省市（二级选项）--------------------------------------------*/

.adressContent{ margin:10px 0; height:100%;}
.adressContent:after{ content:"."; height:0; clear:both; display:block; visibility:hidden; padding:0 1px;}
.adressContent li{
	 display:block; 
	 float:left; 
	 width:24%; 
	 text-align:center; 
	 background:url(bgimages/adress_bg.gif) no-repeat right center; 
  }

.adressContent li a:link,
.adressContent li a:visited{ color:#333; text-decoration:none;}
.adressContent li a:hover{ color:#f50; text-decoration:underline;}
.adressh4{ font-size:12px; color:#f50; font-weight:normal; text-align:left; padding-left:20px;}


/*---------------------------------------------------------------
  添加关键字 --------------------------------------------*/
  
.keyContent{ margin:10px 0; padding-left:20px;  text-align:left; color:#424242; }
.keyContent input{ margin-right:8px; margin-bottom:5px; margin-left:0; vertical-align:middle;}
.keyContent input{ padding: 3px 2px; background: #FDFFF5; }
.keyContent img{ margin-left:10px;}
.keyContent span.cueword{ margin-left:72px;}

.keyContent .inputlist{  width:530px; float:left;}
.keyContent .img{ width:30px; float:left;}
.keyContent img{ margin-top:5px;}
.keyContent .cue{ clear:both; text-align:left; }
.keyContent .red{ color:#f00; font-weight:bold; margin-left:30px;}

.keyLink{ width:80%; margin:0 auto; }




/*---------------------------------------------------------------

  类型选择(多项选择) --------------------------------------------*/
 

   /*左列分类列表*/

.list{
	float:left; 
	width:180px;
	text-align:left;
	background:#fff;
}

.listcontainer{
	width:100%;
	height:420px;
	overflow:auto;
}


.listcontainer .flow{

	padding:5px 10px;
	display: block;
}
.shrink{
   background: url(bgimages/bg_shrink.gif) no-repeat left 5px;
	padding-left: 15px;
}  /*收缩的样式*/
.spread{
	 background: url(bgimages/bg_spread.gif) no-repeat left 5px;
	 padding-left: 15px;
} /*展开的样式*/

.subset{
	padding-left:3px;
} /*子分类的样式*/

.list a:link,.list a:visited{ color:#166AA5; text-decoration:none; }
.list a:hover{ color:#f50; text-decoration:underline; }



/*右列详细信息*/
.listRight{
	float: left;
	width:490px;
	height:400px;
	overflow-x:hidden;
	overflow-y:auto;
	padding: 8px;
	text-align:left;
} 


.listRight p.sorttitle{
	font-weight:bold;
	padding-left:3px;
	color:#000;	
  }

   /*下级分类*/
.listSecondary{ 
	background:#E8F4FF; 
	padding:5px 8px; 
	border:1px solid #B2C4D0;
	line-height:25px;
	margin-bottom:20px;
}

.listSecondary a{ 
	padding:4px; 
	margin-right:7px;
	border:1px solid #E8F4FF;	
}
.listSecondary a:link,
.listSecondary a:visited{
	color:#166AA5;
}

.listSecondary a:hover{ 
	background:#fff; 
	color:#f60; 
	text-decoration:none;
}


   /*操作提示*/
   
.listCue{ padding:8px; color:#c00; margin:8px 0; line-height:20px;}


   /*选择结果*/
.listResult{ 
	background:#FBFECE; 
	border:1px solid #FB9933; 
	padding:5px 8px;
	line-height:25px;
	margin-bottom:20px;
 }

.listResult a{ 
	padding-right:7px; 
	margin-right:8px; 
	color:#166AA5;
	background-repeat:no-repeat;
	background-position:right top;
	text-decoration:none;
}
.listResult a:link,
.listResult a:visited{
	color:#166AA5;
	background-image: url(bgimages/choice_close_off.gif);
}
.listResult a:hover{  
	background-image: url(bgimages/choice_close_on.gif);
	color:#f50;
	text-decoration:none;
}

.listbutton{
	text-align: right;
	margin-top: 10px;
}
















